Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

Update README to streamline Quickstart instructions
  README.md
Due: none

Fix ruff errors
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputParameter/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
  src/lfx/src/lfx/graph/edge/base.py
Due: frontend

docs: fix warning syntax (#10159)
  docs/docs/Support/release-notes.mdx
Due: none

modify smoke tests paths
  .github/workflows/smoke-tests.yml
Due: none

Enhance README Quickstart section for clarity and completeness
  README.md
Due: none

fixed frontend tests
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/utils/mcp-test-server.ts
  src/lfx/src/lfx/base/mcp/util.py
Due: none

FEATURE RESTORATION: Azure OpenAI and KnowledgeHubSearch integration
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/knowledge_bases/knowledge_hub_search.py
  src/backend/base/langflow/initial_setup/starter_projects/AskAutoCorrespondance.json
  src/backend/base/langflow/initial_setup/starter_projects/Auth Guideline Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/BenefitCheckAgent.json
  src/backend/base/langflow/initial_setup/starter_projects/Clinical Summarization Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent copy.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend, Backend Components

changed http to streamable http
  src/frontend/src/modals/addMcpServerModal/index.tsx
Due: frontend

run lfx tests separately
  .github/workflows/smoke-tests.yml
Due: none

remove-unused
  docs/static/img/ds-lf-docs.png
  docs/static/img/ds-lf-zoom.png
  docs/static/img/hero.png
  docs/static/img/integrations.png
  docs/static/img/playground-response.png
Due: none

Restore Azure OpenAI and KnowledgeHubSearch functionality from develop branch
  src/backend/base/langflow/components/knowledge_bases/knowledge_hub_search.py
  src/backend/base/langflow/initial_setup/starter_projects/Auth Guideline Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/BenefitCheckAgent.json
  src/backend/base/langflow/initial_setup/starter_projects/Clinical Summarization Agent.json
Due: backend, Backend Components

fix test_conditional_router.py
  src/backend/tests/unit/components/logic/test_conditional_router.py
Due: none

feat: Add mcp_composer_version field with validation in Settings class
  src/lfx/src/lfx/services/settings/base.py
Due: none

feat: Integrate mcp_composer_version into MCP Composer command construction
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/lfx/src/lfx/services/mcp_composer/service.py
Due: backend

fixed mcp util test
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: none

Add comprehensive unit tests for Genesis modules
  src/backend/base/langflow/custom/genesis/spec/converter.py
  src/backend/test_genesis_direct.py
  src/backend/tests/data/genesis/sample_agent_specs.py
  src/backend/tests/data/genesis/test_fixtures.py
  src/backend/tests/unit/custom/genesis/README.md
  src/backend/tests/unit/custom/genesis/__init__.py
  src/backend/tests/unit/custom/genesis/components/__init__.py
  src/backend/tests/unit/custom/genesis/components/test_knowledge_hub_search.py
  src/backend/tests/unit/custom/genesis/services/__init__.py
  src/backend/tests/unit/custom/genesis/services/test_knowledge_service.py
  src/backend/tests/unit/custom/genesis/spec/__init__.py
  src/backend/tests/unit/custom/genesis/spec/test_converter.py
  src/backend/tests/unit/custom/genesis/spec/test_mapper.py
  src/backend/tests/unit/custom/genesis/spec/test_models.py
  src/backend/tests/unit/custom/genesis/spec/test_resolver.py
Due: backend

fixed test
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: none

Fix: Unable to use images with Ollama (#9949)
  src/lfx/src/lfx/base/models/model.py
  src/lfx/src/lfx/schema/message.py
  src/lfx/src/lfx/utils/image.py
Due: none

agent-examples
  docs/static/img/agent-component.png
  docs/static/img/agent-example-add-chat.png
  docs/static/img/agent-example-add-tools.png
  docs/static/img/agent-example-agent-as-tool.png
  docs/static/img/agent-example-run-flow-as-tool.png
Due: none

Updated LICENCE and README
  LICENSE
  README.md
Due: none

test: Add unit tests for mcp_composer_version validation in Settings
  src/lfx/tests/unit/services/settings/__init__.py
  src/lfx/tests/unit/services/settings/test_mcp_composer_version.py
Due: none

ruff fix
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: none

errors in logs will show
  src/lfx/src/lfx/graph/utils.py
  src/lfx/src/lfx/graph/vertex/base.py
Due: none

wait timeout on mcp server test
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: none

main-ui-screenshots
  docs/static/img/api-pane.png
  docs/static/img/my-projects.png
  docs/static/img/workspace-basic-prompting.png
  docs/static/img/workspace.png
Due: none

components-screenshots
  docs/static/img/component-astra-db-json-tool.png
  docs/static/img/component-data-operations-select-key.png
  docs/static/img/component-groq.png
  docs/static/img/component-ollama-embeddings-chromadb.png
  docs/static/img/component-ollama-model.png
  docs/static/img/prompt-component-with-multiple-inputs.png
  docs/static/img/prompt-component.png
Due: none

Updated LICENCE and README
  .cursor/rules/docs_development.mdc
  docs/docs/Get-Started/get-started-installation.mdx
  docs/sidebars.js
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/src/constants/constants.ts
Due: backend, frontend

refactor: move MustachePromptComponent to lfx
  src/lfx/src/lfx/components/processing/__init__.py
  src/lfx/src/lfx/components/processing/mustache_prompt.py
Due: none

combine-web-search-components
  docs/static/img/connect-data-components-to-agent.png
Due: none

Fix Genesis spec conversion by implementing lazy import for component template service
  src/backend/base/langflow/custom/genesis/spec/converter.py
Due: backend

feat: adds streamable http instead of sse on mcp client (#10157)
  package-lock.json
  package.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/components/data/test_mcp_component.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/components/agents/mcp_component.py
Due: backend, frontend

simple-agent-flow-in-playground
  docs/static/img/quickstart-simple-agent-flow.png
Due: none

Update loop-component.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
Due: none

refactor: update input variable extraction logic in validate_prompt
  src/lfx/src/lfx/base/prompts/api_utils.py
Due: none

refactor: enhance MustachePromptComponent with template validation and async updates
  src/lfx/src/lfx/components/processing/mustache_prompt.py
Due: none

refactor: enhance Message class template handling with format support
  src/lfx/src/lfx/schema/message.py
Due: none
