Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

deleted
  src/frontend/src/components/core/parameterRenderComponent/types/index.ts
Due: frontend

Edit save-file component
  src/backend/base/langflow/components/processing/save_file.py
Due: backend, Backend Components

Add model providers endpoint and refactor filtering
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/base/models/unified_models.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/tests/unit/test_unified_models.py
Due: backend

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: backend

Remove UnifiedEmbeddingModelComponent and update ModelInput
  src/backend/base/langflow/components/models/unified_embedding_model.py
  src/backend/base/langflow/inputs/inputs.py
Due: backend, Backend Components

feat: Support multiple providers in model filtering (#9403)
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/base/models/unified_models.py
  src/backend/base/langflow/components/models/unified_embedding_model.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/tests/unit/test_unified_models.py
Due: backend, Backend Components

doc: Add links to translated README versions
  README.md
Due: none

fix uv run langflow error
  src/backend/base/langflow/api/v1/packages.py
Due: backend

fix .env load on windows script
  scripts/windows/build_and_run.bat
  scripts/windows/build_and_run.ps1
Due: none

🐛 (dataframe_operations.py): Fix bug in DataFrameOperationsComponent where "not contains" filter option was missing, causing incorrect filtering behavior.
  src/backend/base/langflow/components/processing/dataframe_operations.py
Due: backend, Backend Components

Fallback to env var correctly when using tweaks
  src/backend/base/langflow/interface/initialize/loading.py
Due: backend

Add unit test
  src/backend/tests/unit/interface/__init__.py
  src/backend/tests/unit/interface/initialize/__init__.py
  src/backend/tests/unit/interface/initialize/test_loading.py
Due: none

Add flaky test detection script and documentation
  scripts/flaky_test_detection/README.md
  scripts/flaky_test_detection/test_flaky_detection.py
  scripts/flaky_test_detection/test_results.json
  src/backend/tests/unit/api/v1/test_api_schemas.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/base/tools/test_toolmodemixin.py
  src/backend/tests/unit/components/processing/test_structured_output_component.py
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/helpers/test_base_model_from_schema.py
  src/backend/tests/unit/inputs/test_inputs.py
  src/backend/tests/unit/mock_language_model.py
  src/backend/tests/unit/serialization/test_serialization.py
  src/backend/tests/unit/test_schema.py
  src/backend/tests/unit/test_template.py
Due: none

refactor: improve docstrings for parameter update tests
  src/backend/tests/unit/interface/initialize/test_loading.py
Due: none

fix: fallback to env var correctly when using tweaks (#9422)
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/tests/unit/interface/__init__.py
  src/backend/tests/unit/interface/initialize/__init__.py
  src/backend/tests/unit/interface/initialize/test_loading.py
Due: backend

chore: update schema version and format JSON structure in biome.json (#9289)
  src/frontend/biome.json
Due: frontend

fix: mask Component Secrets in trace logs (#8204)
  src/backend/base/langflow/services/tracing/service.py
Due: backend

docs: Correct the instructions for additional language models that aren't built-in to the primary Language Model component. (#9406)
  docs/docs/Components/components-embedding-models.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Support/release-notes.mdx
Due: none

Update src/backend/base/langflow/components/docling/__init__.py
  src/backend/base/langflow/components/docling/__init__.py
Due: none

docs: Update, refresh, and expand Vector Store and Processing component documentation (#9407)
  docs/docs/Components/components-agents.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-logic.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Components/components-vector-stores.mdx
  docs/docs/Concepts/data-types.mdx
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Support/troubleshooting.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/static/img/conditional-looping.png
Due: none

feat: improve transaction preparation by removing UUID conversion and adding error handling
  src/backend/base/langflow/graph/utils.py
Due: backend

feat: ensure queued transactions are flushed during shutdown and flow completion
  src/backend/base/langflow/graph/graph/base.py
Due: backend

refactor: reorganize imports and clean up ModelInputComponent
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
Due: frontend

feat(utils): add code hash generation and module name in Custom Components (#9107)
  src/backend/base/langflow/custom/utils.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/custom/test_utils_metadata.py
  src/backend/tests/unit/test_custom_component.py
Due: backend

feat: Enhance serve_command to support project exports
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/export_schemas.py
  src/lfx/src/lfx/cli/project_utils.py
  src/lfx/src/lfx/cli/serve_app.py
Due: none

feat: Implement project export functionality
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/tests/unit/api/v1/test_projects.py
Due: backend

feat: Add mcp dependency to project and lock files
  src/lfx/pyproject.toml
  uv.lock
Due: none

fix: Remove unnecessary import of sqlmodel and add it conditionally in get_flow_snake_case
  src/lfx/src/lfx/base/mcp/util.py
Due: none

feat: Update project export to include dynamic langflow version
  src/backend/base/langflow/api/v1/projects.py
Due: backend

feat: Add unit tests for MCP functionality and utilities
  src/lfx/tests/unit/mcp/__init__.py
  src/lfx/tests/unit/mcp/test_mcp_component.py
  src/lfx/tests/unit/mcp/test_mcp_utils.py
Due: none

fix: Correct error message in langflow installation check for tests
  src/lfx/tests/conftest.py
Due: none

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
