Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

feat: remove agent dual output (#9700)
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/agents/test_agent_component.py
Due: backend, Backend Components

bundle g, h, i, l
  docs/docs/Components/bundles-glean.mdx
  docs/docs/Components/bundles-google.mdx
  docs/docs/Components/bundles-groq.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Components/bundles-langchain.mdx
  docs/docs/Components/bundles-lmstudio.mdx
Due: none

bundles m, n, o
  docs/docs/Components/bundles-maritalk.mdx
  docs/docs/Components/bundles-mem0.mdx
  docs/docs/Components/bundles-mistralai.mdx
  docs/docs/Components/bundles-novita.mdx
  docs/docs/Components/bundles-nvidia.mdx
  docs/docs/Components/bundles-ollama.mdx
  docs/docs/Components/bundles-openai.mdx
  docs/docs/Components/bundles-openrouter.mdx
Due: none

rest of bundles
  docs/docs/Components/bundles-perplexity.mdx
  docs/docs/Components/bundles-redis.mdx
  docs/docs/Components/bundles-sambanova.mdx
  docs/docs/Components/bundles-searchapi.mdx
  docs/docs/Components/bundles-vertexai.mdx
  docs/docs/Components/bundles-wikipedia.mdx
  docs/docs/Components/bundles-xai.mdx
Due: none

port core component changes
  docs/docs/Components/components-agents.mdx
  docs/docs/Components/components-bundles.mdx
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-embedding-models.mdx
  docs/docs/Components/components-helpers.mdx
  docs/docs/Components/components-io.mdx
  docs/docs/Components/components-logic.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Components/mcp-client.mdx
Due: none

updates-from-testing
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/_partial-oauth-success.mdx
Due: none

concepts topics
  docs/docs/Concepts/concepts-components.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/mcp-server.mdx
Due: none

Apply suggestions from code review
  docs/docs/API-Reference/api-openai-responses.mdx
Due: none

concepts thru integrations
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Contributing/contributing-bundles.mdx
  docs/docs/Deployment/deployment-architecture.mdx
  docs/docs/Deployment/deployment-overview.mdx
  docs/docs/Deployment/deployment-public-server.mdx
  docs/docs/Develop/Clients/typescript-client.mdx
  docs/docs/Integrations/Cleanlab/integrations-cleanlab.mdx
  docs/docs/Integrations/Notion/notion-agent-conversational.mdx
  docs/docs/Integrations/Notion/notion-agent-meeting-notes.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-g-assist.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Integrations/integrations-langwatch.mdx
  docs/docs/Integrations/integrations-opik.mdx
  docs/docs/Integrations/mcp-component-astra.mdx
Due: none

tutorials and rn
  docs/docs/Support/release-notes.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/_partial-conditional-params.mdx
Due: none

sidebar fixes
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryDisclouse.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/featureTogglesComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchConfigTrigger.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchInput.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: frontend

Update model_input_constants.py
  src/backend/base/langflow/base/models/model_input_constants.py
Due: backend

fix frontend test
  src/frontend/tests/extended/regression/general-bugs-dropdown-select-not-in-list.spec.ts
Due: none

template updates
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

spaces, auth step
  docs/docs/Components/mcp-client.mdx
  docs/docs/Concepts/mcp-server.mdx
Due: none

template updates
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/components/agents/test_agent_component.py
Due: none

refactor: Agent component enhancements for release v1.6 (#9685)
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/inputs/inputs.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/types/components/index.ts
  src/frontend/tests/extended/regression/general-bugs-dropdown-select-not-in-list.spec.ts
Due: backend, frontend, Backend Components

coderabbit
  docs/docs/Components/bundles-baidu.mdx
  docs/docs/Components/bundles-cohere.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/bundles-mistralai.mdx
  docs/docs/Components/bundles-searchapi.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Components/components-vector-stores.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/data-types.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Integrations/Cleanlab/integrations-cleanlab.mdx
  docs/docs/Integrations/Notion/notion-agent-meeting-notes.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Integrations/integrations-assemblyai.mdx
Due: none

Ruff
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/auth/mcp_encryption.py
  src/backend/base/langflow/services/mcp_composer/service.py
Due: backend

test: ensure Message to Data has only 'text' key in data
  src/backend/tests/unit/components/processing/test_type_converter_component.py
Due: none

fix: ensure Message to Data conversion returns only 'text' key
  src/lfx/src/lfx/components/processing/converter.py
Due: none

test: ensure Message to DataFrame has only 'text' column
  src/backend/tests/unit/components/processing/test_type_converter_component.py
Due: none

fix: ensure Message to DataFrame conversion returns only 'text' column
  src/lfx/src/lfx/components/processing/converter.py
Due: none

lint
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: backend

Fix unit tests
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: backend

ruff
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: none

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: backend

feat: mcp composer integration (#9506)
  .env.example
  .gitignore
  src/backend/base/langflow/api/v1/auth_helpers.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/auth/mcp_encryption.py
  src/backend/base/langflow/services/mcp_composer/__init__.py
  src/backend/base/langflow/services/mcp_composer/factory.py
  src/backend/base/langflow/services/mcp_composer/service.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/feature_flags.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/frontend/src/controllers/API/queries/mcp/use-get-composer-url.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-flows-mcp.ts
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/customization/utils/custom-mcp-url.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/vite.config.mts
  uv.lock
Due: backend, frontend

Only reset inactive flows at end of execution
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/components/logic/conditional_router.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
Due: backend, Backend Components

update
  src/backend/base/langflow/components/agents/mcp_component.py
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
Due: backend, Backend Components

revert logic chang eto conditional router
  src/backend/base/langflow/components/logic/conditional_router.py
Due: backend, Backend Components

revert revert the reactivation logic -- try just moving it to later in the step
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/components/logic/conditional_router.py
Due: backend, Backend Components

test: add comprehensive conversion tests for structured data parsing
  src/backend/tests/unit/components/processing/test_type_converter_component.py
Due: none

feat: add structured data parsing for Message conversions
  src/lfx/src/lfx/components/processing/converter.py
Due: none

chore: update starter project
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
Due: backend

update templates
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

feat: The json fragment causes the ../validate/prompt interface to report an error
  src/lfx/src/lfx/interface/utils.py
Due: none

feat:The JSON snippet is causing an error in the workflow's prompt component.
  src/lfx/src/lfx/schema/message.py
Due: none

fix: update function calls after making auto_parse keyword-only
  src/backend/base/langflow/components/knowledge_bases/ingestion.py
Due: backend, Backend Components

fix(langwatch): prevent trace errors with proper API key validation
  src/backend/base/langflow/services/tracing/langwatch.py
Due: backend

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
