Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

chore: update langchain links in docs (#10050)
  docs/docs/Components/bundles-amazon.mdx
  docs/docs/Components/bundles-anthropic.mdx
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-elastic.mdx
  docs/docs/Components/bundles-groq.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Components/bundles-langchain.mdx
  docs/docs/Components/bundles-mongodb.mdx
  docs/docs/Components/bundles-pgvector.mdx
  docs/docs/Develop/data-types.mdx
  docs/docs/_partial-vector-store-instance.mdx
Due: none

fix: Remove outdated modules
  src/backend/base/langflow/components/agents.py
  src/backend/base/langflow/components/anthropic.py
  src/backend/base/langflow/components/data.py
  src/backend/base/langflow/components/helpers.py
  src/backend/base/langflow/components/openai.py
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/converter.py
Due: backend, Backend Components

mypy
  src/backend/base/langflow/api/v1/knowledge_bases.py
Due: backend

Try simplifying the runs-on
  .github/workflows/release.yml
Due: none

fix: add back news rss comps (#10069)
  src/backend/tests/unit/components/data/test_news_search.py
  src/backend/tests/unit/components/data/test_rss.py
  src/lfx/src/lfx/components/data/__init__.py
  src/lfx/src/lfx/components/data/news_search.py
  src/lfx/src/lfx/components/data/rss.py
Due: none

fix: Correct read_project pagination logic and improve test stability (nightly fix) (#10076)
  src/backend/base/langflow/api/v1/projects.py
  src/frontend/playwright.config.ts
  src/frontend/tests/core/integrations/starter-projects-shard1.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard2.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard3.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard4.spec.ts
Due: backend, frontend

Add withCounts option to MCP server queries
  src/frontend/src/components/core/parameterRenderComponent/components/mcpComponent/index.tsx
  src/frontend/src/controllers/API/queries/mcp/use-get-mcp-servers.ts
  src/frontend/src/pages/SettingsPage/pages/MCPServersPage/index.tsx
Due: frontend

re-add the init files for ocnverter
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/converter.py
Due: backend, Backend Components

Add the s3 helpers file
  src/lfx/src/lfx/utils/s3_helpers.py
Due: none

✨ (use-post-logout.test.ts): Add clear method to mockQueryClient to improve query cache handling ♻️ (use-post-logout.test.ts): Refactor function parameters in jest.fn calls for better type safety
  src/frontend/src/controllers/API/queries/auth/__tests__/use-post-logout.test.ts
Due: frontend

✅ (use-post-logout.test.ts): update test cases to use async/await for better handling of asynchronous operations
  src/frontend/src/controllers/API/queries/auth/__tests__/use-post-logout.test.ts
Due: frontend

abstractions, tests, etc
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/storage/service.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/base/data/utils.py
  src/lfx/src/lfx/components/data/file.py
  src/lfx/src/lfx/services/storage/local.py
  src/lfx/src/lfx/services/storage/s3.py
  src/lfx/src/lfx/services/storage/service.py
  src/lfx/src/lfx/utils/s3_helpers.py
  src/lfx/src/lfx/utils/storage_file_io.py
  src/lfx/tests/integration/__init__.py
  src/lfx/tests/integration/test_component_storage_integration.py
  src/lfx/tests/unit/services/__init__.py
  src/lfx/tests/unit/services/test_local_storage_service.py
  src/lfx/tests/unit/utils/__init__.py
  src/lfx/tests/unit/utils/test_storage_file_io.py
  src/lfx/tests/unit/utils/test_storage_file_io_real.py
Due: backend

docs: add jq and path selection to data operations (#10083)
  docs/docs/Components/components-processing.mdx
  docs/docs/Support/release-notes.mdx
Due: none

remove tests adding during merge
  src/frontend/tests/core/integrations/starter-projects-shard1.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard2.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard3.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard4.spec.ts
Due: none

Pass ref correctly in ci for testing
  .github/workflows/ci.yml
  .github/workflows/typescript_test.yml
Due: none

correct input name
  .github/workflows/release.yml
Due: none

fix: Proper support for VLM in Docling
  pyproject.toml
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/components/data/file.py
  uv.lock
Due: backend

skip lfx tests
  .github/workflows/python_test.yml
Due: none

Update file.py
  src/lfx/src/lfx/components/data/file.py
Due: none

fix: Standardize beta/experimental indicators to use consistent purple color scheme
  src/frontend/src/components/ui/badge.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/featureTogglesComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent.tsx
  src/frontend/src/style/applies.css
Due: frontend

fix: responses api add async loggers (#10078)
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/tests/integration/test_openai_responses_extended.py
  src/backend/tests/unit/components/data/test_news_search.py
  src/backend/tests/unit/components/data/test_rss.py
Due: backend

Update pyproject.toml
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

Fix project specs
  pyproject.toml
  src/lfx/src/lfx/components/data/file.py
Due: none

Add jpg as accepted file type
  src/lfx/src/lfx/components/data/file.py
Due: none

Update to DEFAULT_FOLDER_NAME env var
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/database/models/folder/constants.py
  src/backend/tests/unit/api/utils/test_config_utils.py
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/stores/__tests__/utilityStore.test.ts
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
Due: backend, frontend

fix: Clear React Query cache on auth events (#9919)
  src/frontend/src/controllers/API/queries/auth/__tests__/use-post-logout.test.ts
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/controllers/API/queries/auth/use-post-login-user.ts
  src/frontend/src/controllers/API/queries/auth/use-post-logout.ts
  src/frontend/src/hooks/use-sanitize-redirect-url.ts
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/AppInitPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
Due: frontend

add-mcp-auto-auth-as-default-behavior
  docs/docs/Agents/mcp-server.mdx
Due: none

Fail if version is already published
  .github/workflows/release.yml
Due: none

update base pyproject to 0.6.1
  src/backend/base/pyproject.toml
  uv.lock
Due: backend

Update dep structure
  pyproject.toml
  uv.lock
Due: none

test fix
  src/frontend/tests/core/unit/dropdownComponent.spec.ts
  src/frontend/tests/core/unit/keyPairListComponent.spec.ts
Due: none

One more attempt at getting this right
  pyproject.toml
  uv.lock
Due: none

And again
  pyproject.toml
  uv.lock
Due: none

update vlmrun icon and copy. Add unit tests
  src/backend/base/langflow/components/vlmrun/vlmrun_transcription.py
  src/backend/tests/unit/components/vlmrun/__init__.py
  src/backend/tests/unit/components/vlmrun/test_vlmrun_transcription.py
  src/frontend/src/icons/VLMRun/index.tsx
  src/frontend/src/icons/VLMRun/vlm-blue.svg
  src/frontend/src/icons/eagerIconImports.ts
Due: backend, frontend, Backend Components

fix: add vlmrun test to lfx structure and fix secret detection
  src/backend/src/lfx/tests/unit/components/vlmrun/__init__.py
  src/backend/src/lfx/tests/unit/components/vlmrun/test_vlmrun_transcription.py
Due: backend

fix: fix vlmrun test
  src/backend/tests/unit/components/vlmrun/test_vlmrun_transcription.py
Due: none

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
