Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

Fix UT test_timestamp_serialization
  src/lfx/tests/unit/schema/test_schema_message.py
Due: none

Reuse timestamp_to_str method
  src/lfx/src/lfx/schema/message.py
Due: none

Fix test location and import
  src/backend/tests/unit/components/data/test_save_file_component.py
Due: none

Update News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
Due: backend

clarify-log-format-behavior
  docs/docs/Develop/logging.mdx
Due: none

Fix save to file imports and read
  src/lfx/src/lfx/components/data/__init__.py
  src/lfx/src/lfx/components/data/file.py
  src/lfx/src/lfx/components/processing/__init__.py
Due: none

And update tests
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
Due: none

test
  .github/workflows/docker-build.yml
Due: none

Update starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: backend

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: backend

docs: clarify log format behavior (#9945)
  docs/docs/Develop/logging.mdx
Due: none

Try fixing qemu emulation issue
  docker/build_and_push_base.Dockerfile
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Add unstable reqwuest
  docker/build_and_push_base.Dockerfile
Due: none

Update cache option labels in MCPToolsComponent
  src/lfx/src/lfx/components/agents/mcp_component.py
Due: none

Try adding to backend env var? git push
  docker/build_and_push_base.Dockerfile
Due: none

docling-not-included-with-x86-arch
  docs/docs/Components/components-data.mdx
  docs/docs/Integrations/Docling/integrations-docling.mdx
  docs/docs/Support/release-notes.mdx
Due: none

Update mcp_component.py
  src/lfx/src/lfx/components/agents/mcp_component.py
Due: none

One more attempt
  pyproject.toml
  uv.lock
Due: none

Update Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
Due: backend

clarify-macos
  docs/docs/Integrations/Docling/integrations-docling.mdx
Due: none

feat: Filter examples based on ENABLE_KNOWLEDGE_BASES flag in GetStarted and TemplateContent components
  src/frontend/src/modals/templatesModal/components/GetStartedComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
Due: frontend

skip install?
  .github/workflows/docker-build.yml
  .github/workflows/release_nightly.yml
Due: none

create starter project mcp only if the server doesnt existis
  src/backend/base/langflow/api/utils/mcp/config_utils.py
Due: backend

removed defaul auth type
  src/backend/base/langflow/api/v1/projects.py
  src/lfx/src/lfx/services/settings/base.py
Due: backend

fix(parameterRenderComponent): update table schema handling in ParameterRenderComponent
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
Due: frontend

Refactor string concatenation in mock_data.py
  src/lfx/src/lfx/components/data/mock_data.py
Due: none

feat: Add Mock Data Generator Component (#9846)
  src/lfx/src/lfx/components/data/mock_data.py
Due: none

Update the markers for platforms
  pyproject.toml
  uv.lock
Due: none

Restore transformers
  pyproject.toml
  uv.lock
Due: none

Restore docling core
  pyproject.toml
  uv.lock
Due: none

fix: Disable Docling by default with macOS Intel (#9944)
  pyproject.toml
  uv.lock
Due: none

docling dependency exceptions
  docs/docs/Components/components-data.mdx
  docs/docs/Integrations/Docling/integrations-docling.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-dev-mode-windows.mdx
Due: none

log updates
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/lfx/src/lfx/components/agents/mcp_component.py
Due: backend

feat: Add cache toggle to MCPToolsComponent and tests (#9931)
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/tests/unit/components/agents/test_mcp_component_cache.py
  src/lfx/src/lfx/components/agents/mcp_component.py
Due: backend

Allow ollama to send images
  src/lfx/src/lfx/base/models/model.py
  src/lfx/src/lfx/schema/message.py
  src/lfx/src/lfx/utils/image.py
Due: none
