Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

refactor: Remove unnecessary blank line in KnowledgeBasesTab component
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
Due: frontend

refactor: Clean up and format code in ingestion.py
  src/backend/base/langflow/components/knowledge_bases/ingestion.py
Due: backend, Backend Components

Ruff, comments, cleanup
  Makefile
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/mcp_composer/service.py
Due: backend

Update logger.py
  src/backend/base/langflow/logging/logger.py
Due: backend

fix: deprecate claude 3 sonnet model (#9622)
  src/backend/base/langflow/base/models/anthropic_constants.py
Due: backend

Fix one line output
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
Due: backend, Backend Components

Consolidate the auth handling since its used in two endpoints
  src/backend/base/langflow/api/v1/auth_helpers.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
Due: backend

refactor: Improve code readability and organization in Knowledge Ingestion component
  src/backend/base/langflow/components/knowledge_bases/ingestion.py
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
Due: backend, frontend, Backend Components

fix: Remove extraneous flag from package-lock and update column configuration in knowledge base
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
Due: frontend

refactor: Update FlowToolbar and related components for improved API modal handling
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/flow-toolbar-options.tsx
  src/frontend/src/components/core/flowToolbarComponent/index.tsx
Due: frontend

refactor: Clean up imports and streamline knowledge base column configuration
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
Due: frontend

fix: Properly import Langchain ToolMessage for Message options (#9675)
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/schema/message.py
Due: backend, Backend Components

test composio steps
  docs/docs/Integrations/Composio/integrations-composio.mdx
Due: none

remove unnecessary import
  docs/docs/Integrations/Composio/integrations-composio.mdx
Due: none

refactor: improve code structure and add NodeDrawer component
  src/backend/base/langflow/components/agents/agent.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeDrawer/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: backend, frontend, Backend Components

refactor: simplify NodeDrawer component and enhance Dropdown integration
  src/frontend/src/CustomNodes/GenericNode/components/NodeDrawer/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

fix
  src/backend/base/langflow/components/agents/agent.py
Due: backend, Backend Components

refactor: enhance Dropdown and input components with externalOptions support
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/inputs/inputs.py
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/types/components/index.ts
Due: backend, frontend, Backend Components

fix: reorganize imports after cherry-pick resolution
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: enhance Dropdown component with loading state and source options
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: improve Dropdown component structure and styling
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: enhance Dropdown component functionality and logging
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: reorganize imports and adjust Dropdown component behavior
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: enhance Dropdown component with flow store integration
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: Update agent component to support custom model connections
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
Due: backend, Backend Components

refactor: Reorganize imports and enhance dropdown component logic
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: Enhance dropdown component functionality and clean up imports
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

small fix and revert
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: Clean up imports and improve dropdown component styling
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

style: format options_metadata in agent component
  src/backend/base/langflow/components/agents/agent.py
Due: backend, Backend Components

refactor: Update import statements in starter project JSON files and adjust proxy settings in frontend configuration
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/src/customization/config-constants.ts
  src/frontend/vite.config.mts
Due: frontend

KB comments
  docs/docs/Components/components-kb.mdx
  docs/docs/Concepts/knowledge.mdx
  docs/docs/Integrations/Cleanlab/integrations-cleanlab.mdx
  docs/docs/Support/release-notes.mdx
Due: none

revert and fix
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/src/CustomNodes/GenericNode/components/NodeDrawer/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/customization/config-constants.ts
  src/frontend/vite.config.mts
Due: frontend

Apply suggestions from code review
  docs/docs/Components/components-helpers.mdx
Due: none

docs: Language model component doesn't include built-in chat memory. If-Else component no longer has a Message parameter. (#9676)
  docs/docs/Components/bundles-datastax.mdx
  docs/docs/Components/components-helpers.mdx
  docs/docs/Components/components-logic.mdx
  docs/docs/Components/components-prompts.mdx
  docs/docs/Develop/memory.mdx
Due: none

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
