Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

feat: Refactor data_operations.py for clarity and updates
  src/lfx/src/lfx/components/processing/data_operations.py
Due: none

feat: Replace 'is blank' and 'is not blank' with 'is empty' and fix output
  src/lfx/src/lfx/components/logic/conditional_router.py
Due: none

fix: mypy error
  src/backend/base/langflow/components/input_output/chat_output.py
Due: backend, Backend Components

fix: adjust casing on Add MCP Server buttons (#9774)
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/SettingsPage/pages/MCPServersPage/index.tsx
Due: frontend

fixed sidebar footer buttons and test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: frontend

fix notes
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: none

Re-added padding
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
Due: frontend

Fixed sidebar segmented nav test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
Due: frontend

Remove clean data
  src/backend/base/langflow/components/input_output/chat_output.py
Due: backend, Backend Components

Fixed sidebar header test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
Due: frontend

fixed searchconfigtrigger
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/searchConfigTrigger.test.tsx
Due: frontend

fixed sidebar items list test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarItemsList.test.tsx
Due: frontend

io page
  docs/docs/Components/components-io.mdx
Due: none

starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

re-add clean data to chat output
  src/backend/base/langflow/components/input_output/chat_output.py
Due: backend, Backend Components

fix: update flow lock test to simplify locator usage and correct unlock icon visibility
  src/frontend/tests/core/features/flow-lock.spec.ts
Due: none

fix slug
  docs/docs/Agents/agents-tools.mdx
Due: none

fix: readd input clean_data
  src/backend/base/langflow/components/input_output/chat_output.py
Due: backend, Backend Components

refactor: Simplify import checks in re-export module tests and improve error handling
  src/backend/tests/unit/test_lfx_reexport_modules.py
Due: none

Fixed flow lock test
  src/frontend/tests/core/features/flow-lock.spec.ts
Due: none

fixed sticky notes test
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: none

feat: Enhance dynamic discovery and pattern detection for langflow re-export modules
  src/backend/tests/unit/test_lfx_reexport_modules.py
Due: none

fix: Improve cleanup logic for old transactions to ensure deterministic behavior
  src/backend/base/langflow/services/database/models/transactions/crud.py
Due: backend

feat: Add transaction cleanup interval setting to enhance transaction management
  src/backend/base/langflow/services/database/models/transactions/cleanup.py
  src/backend/base/langflow/services/settings/base.py
Due: backend

fix: Update logger usage to await warning messages during transaction cleanup failures
  src/backend/base/langflow/services/database/models/transactions/cleanup.py
Due: backend

fix: Update log_transactions_batch to return an empty list instead of None for better consistency
  src/backend/base/langflow/services/database/models/transactions/crud.py
Due: backend

initial-content
  docs/docs/Components/components-processing.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Develop/logging.mdx
Due: none

starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

config-dir-and-data-are-separate
  docs/docs/Concepts/concepts-flows.mdx
Due: none

refactor: reorganize imports and update lock status button behavior in MemoizedComponents
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
Due: frontend

temporarily remove mcp project test
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: none

feat: Implement advisory lock and threading loc for transaction cleanup to prevent concurrent executions
  src/backend/base/langflow/services/database/models/transactions/cleanup.py
Due: backend

custom models and canvas controls
  docs/docs/Agents/agents.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Concepts/concepts-flows-import.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/concepts-overview.mdx
  docs/docs/Contributing/contributing-templates.mdx
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Support/release-notes.mdx
Due: none

feat: double clicking a component will add it to the canvas (#9730)
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/searchConfigTrigger.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarItemsList.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/tests/core/features/flow-lock.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: frontend

code rabbit comments
  docs/docs/API-Reference/api-openai-responses.mdx
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Components/bundles-clickhouse.mdx
  docs/docs/Components/bundles-cohere.mdx
  docs/docs/Components/bundles-datastax.mdx
  docs/docs/Components/bundles-elastic.mdx
  docs/docs/Components/bundles-mongodb.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Concepts/concepts-file-management.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Integrations/integrations-instana-traceloop.mdx
Due: none

lint
  src/backend/tests/base.py
Due: none

broken links
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Support/release-notes.mdx
Due: none

random change to restart build
  docs/docs/Agents/agents-tools.mdx
Due: none
