Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: Update project description in pyproject.toml
  src/lfx/pyproject.toml
Due: none

clarity-in-example
  docs/docs/Configuration/api-keys-and-authentication.mdx
Due: none

clarify-user-creation
  docs/docs/Configuration/api-keys-and-authentication.mdx
Due: none

update comment
  src/backend/base/langflow/services/telemetry/service.py
Due: backend

specify-which-table
  docs/docs/Develop/memory.mdx
Due: none

feat: Add EditorConfig and Prettier configuration files for consistent code formatting
  .cursor/settings.json
  .editorconfig
  src/frontend/.prettierrc
  src/frontend/src/components/core/canvasControlsComponent/index.tsx
  src/frontend/src/components/core/logCanvasControlsComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
Due: frontend

links
  docs/docs/Agents/agents.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/Clients/typescript-client.mdx
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/chat-with-rag.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
Due: none

bug: don't block CI when the nightly build fails (#9238)
  .github/workflows/ci.yml
Due: none

update wording for cloud provider pages
  docs/docs/Deployment/deployment-gcp.mdx
  docs/docs/Deployment/deployment-hugging-face-spaces.mdx
  docs/docs/Deployment/deployment-railway.mdx
  docs/docs/Deployment/deployment-render.mdx
Due: none

chore: Update Dockerfile project description for clarity
  src/lfx/docker/Dockerfile
Due: none

chore: Remove redundant per-file ignores from pyproject.toml
  src/lfx/pyproject.toml
Due: none

fix: Update test command in Makefile to include all tests
  src/lfx/Makefile
Due: none

feat: Introduce 'run' command for executing Langflow workflows
  src/lfx/README.md
  src/lfx/src/lfx/__main__.py
  src/lfx/src/lfx/cli/run.py
  src/lfx/tests/unit/cli/test_run_command.py
  src/lfx/tests/unit/cli/test_run_real_flows.py
  src/lfx/tests/unit/cli/test_script_loader.py
Due: none

feat: Enhance canvas controls with keyboard shortcuts and dropdown functionality
  src/frontend/src/components/core/canvasControlsComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Due: frontend

chore: Clean up pyproject.toml formatting and linting ignores
  pyproject.toml
Due: none

docs: Update README.md with environment variable requirement and command examples
  src/lfx/README.md
Due: none

feat: Add LFX release workflow and release script
  .github/workflows/release-lfx.yml
  scripts/release-lfx.sh
Due: none

feat: Add hypothesis to development dependencies
  src/lfx/pyproject.toml
  uv.lock
Due: none

feat: Enhance Makefile with release operations and version bumping
  src/lfx/Makefile
Due: none

Temporarily modify nightly build to publish release lfx
  .github/workflows/nightly_build.yml
  .github/workflows/release-lfx.yml
Due: none

refactor: reorganize imports and clean up console log in Dropdown component
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

fix version
  .github/workflows/nightly_build.yml
Due: none

feat: add success callback for knowledge base creation in NodeDialog component
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
Due: frontend

fix versions
  .github/workflows/release-lfx.yml
Due: none

refactor: update table component to handle single-toggle columns
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
Due: frontend

incorporate 9237
  docs/docs/Deployment/deployment-railway.mdx
Due: none

skip tests
  .github/workflows/release-lfx.yml
Due: none

use mock url
  src/backend/tests/integration/test_exception_telemetry.py
  src/backend/tests/unit/test_exception_telemetry.py
Due: none

link text
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Concepts/concepts-overview.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Develop/Clients/typescript-client.mdx
  docs/docs/Develop/memory.mdx
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/chat-with-rag.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
Due: none

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: backend

Revert changes to run release lfx
  .github/workflows/nightly_build.yml
  .github/workflows/release-lfx.yml
Due: none

refactor(tests): parameterize template tests and update timeout use (#9224)
  .github/workflows/ci.yml
  .github/workflows/template-tests.yml
  Makefile
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/utils/template_validation.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/locust/locustfile.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/template/test_starter_projects.py
  src/backend/tests/unit/utils/test_template_validation.py
Due: backend

environment variable alignment
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Components/bundles-lmstudio.mdx
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Contributing/contributing-telemetry.mdx
  docs/docs/Develop/memory.mdx
Due: none

environment variable table cleanup
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/environment-variables.mdx
Due: none

docs: combine api keys and authentication pages (#9172)
  SECURITY.md
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Agents/agents.mdx
  docs/docs/Components/bundles-lmstudio.mdx
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/concepts-overview.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/configuration-api-keys.mdx
  docs/docs/Configuration/configuration-authentication.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Contributing/contributing-telemetry.mdx
  docs/docs/Develop/Clients/typescript-client.mdx
  docs/docs/Develop/develop-application.mdx
  docs/docs/Develop/memory.mdx
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/chat-with-rag.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Due: none

recreate 9232 because brokne build
  docs/docs/Deployment/deployment-gcp.mdx
  docs/docs/Deployment/deployment-hugging-face-spaces.mdx
  docs/docs/Deployment/deployment-railway.mdx
  docs/docs/Deployment/deployment-render.mdx
  docs/sidebars.js
Due: none

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
