Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

test: Relax component loading test timeouts (#9588)
  src/backend/tests/unit/test_load_components.py
Due: none

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: backend

* Backend only sandbox dockerfile
  docker/build_and_push_backend_sandbox.Dockerfile
Due: none

fix: remove compatibility check for composio components and always expose all components
  src/lfx/src/lfx/components/composio/__init__.py
Due: none

fix: update Slack component documentation link to ensure accuracy
  src/lfx/src/lfx/components/composio/slack_composio.py
Due: none

Apply suggestions from code review
  docs/docs/Components/bundles-nvidia.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Develop/logging.mdx
  docs/docs/Get-Started/get-started-installation.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Support/troubleshooting.mdx
Due: none

docs: troubleshooting backlog items (#9474)
  docs/docs/Components/bundles-nvidia.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/logging.mdx
  docs/docs/Get-Started/get-started-installation.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Support/troubleshooting.mdx
Due: none

fix: remove 'Agent' from skipped components list in constants
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/base/constants.py
Due: backend

mcp server stuff
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Components/components-agents.mdx
  docs/docs/Components/mcp-client.mdx
  docs/docs/Concepts/concepts-components.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Deployment/deployment-public-server.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
Due: none

fix: remove await from CurrentDateComponent instantiation in AgentComponent
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/components/agents/agent.py
Due: backend

feat: Implement Smart Conditional Router Component
  src/backend/base/langflow/components/logic/smart_conditional_router.py
Due: backend, Backend Components

Apply suggestions from code review
  docs/docs/Integrations/Composio/integrations-composio.mdx
Due: none

docs: CVE advisory and patch release 1.5.1 (#9584)
  README.md
  SECURITY.md
Due: none

reorder-steps-and-move-script
  docs/docs/Integrations/Composio/integrations-composio.mdx
  docs/docs/Integrations/Composio/update_tools_list.py
Due: none

feat: add Mermaid diagram rendering support in chat interface
  src/frontend/package.json
  src/frontend/src/components/common/mermaidDiagram/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
Due: frontend

fixes the little mic icon when you stop talking in voice mode
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
Due: frontend

Changed node icon to not have icon color
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
Due: frontend

Fix zoom out to 0.6 instead of 1.0
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlsDropdown.tsx
Due: frontend

remove min zoom on canvascontrolsdropdown, since it's enforced by reactflow
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlsDropdown.tsx
Due: frontend

Changed min zoom to 0.25 and max zoom to 2.0
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Due: frontend

Added tests for zoom in and zoom out in canvas controls dropdown
  src/frontend/src/components/core/canvasControlsComponent/__tests__/CanvasControlsDropdown.spec.tsx
Due: frontend

clarify-connection
  docs/docs/Integrations/Composio/integrations-composio.mdx
Due: none

fix: Filter out None values from headers in URLComponent
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Due: backend, Backend Components

fix: Filter out None values from headers in URLComponent
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/lfx/src/lfx/components/data/url.py
Due: backend

Added portion of test that checks if color is right for mcp component
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: none

update starter projects hat use url compoennt
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Due: backend

Refactor nodeIcon
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
Due: frontend

removed lucideIcon check for performance
  src/frontend/src/CustomNodes/helpers/check-lucide-icons.ts
Due: frontend

Changed the test to evaluate color from computed style
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: none

docs: update support documentation to reflect support rebranding (#9538)
  docs/docs/Support/luna-for-langflow.mdx
  docs/sidebars.js
Due: none

refactor: Rename field extraction function and implement secret field extraction
  src/frontend/src/controllers/API/queries/flows/use-get-refresh-flows-query.ts
  src/frontend/src/stores/typesStore.ts
  src/frontend/src/utils/reactflowUtils.ts
Due: frontend

refactor: Rename field extraction function and implement secret field extraction
  src/frontend/src/utils/reactflowUtils.ts
Due: frontend

feat: add processing components and converter utilities
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/converter.py
Due: backend, Backend Components
