Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

docs: remove knowledge base content from 1.6 (#9784)
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Components/components-kb.mdx
  docs/docs/Concepts/knowledge.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/memory.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-kb-summary.mdx
  docs/sidebars.js
Due: none

starter projects?
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: backend

Try debug logging in the test :(
  src/backend/tests/unit/test_initial_setup.py
Due: none

Revert "Try debug logging in the test :("
  src/backend/tests/unit/test_initial_setup.py
Due: none

Improve mcp cleanup; lessens the 'task destroyed while pending' errors'
  src/backend/base/langflow/base/mcp/util.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: backend

re-add mcp project test and fix ruff
  src/backend/base/langflow/base/mcp/util.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: backend

Ruff
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/test_initial_setup.py
Due: none

Ruff
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: none

temporarily disable refresh_starter_projet test
  src/backend/tests/unit/test_initial_setup.py
Due: none

Temporarily increase component load times in tests
  src/backend/tests/unit/test_load_components.py
Due: none

Add flow sidebar improvements and components
  .playwright-mcp/flows-sidebar-state.png
  .playwright-mcp/page-2025-09-10T04-22-47-280Z.png
  pastelBLA.json
  pastelBLA.txt
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/flowDraggableComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/flowsSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  uv.lock
Due: frontend

pin released docling plugin
  pyproject.toml
  uv.lock
Due: none

use generic pydantic serialization
  src/lfx/src/lfx/base/data/docling_utils.py
  src/lfx/src/lfx/components/docling/docling_inline.py
Due: none

Fixed sidebarfooterbuttons test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
Due: frontend

Fixed ruff
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/test_load_components.py
Due: none

Apply suggestions from code review
  src/lfx/src/lfx/base/data/docling_utils.py
  src/lfx/src/lfx/components/docling/docling_inline.py
Due: none

Updated test to not skip
  src/backend/base/langflow/interface/components.py
  src/backend/tests/unit/test_initial_setup.py
Due: backend

Revert fix
  src/backend/base/langflow/interface/components.py
Due: backend

update logging format for structlog
  src/backend/base/langflow/graph/vertex/param_handler.py
Due: backend

Update data_operations.py
  src/lfx/src/lfx/components/processing/data_operations.py
Due: none

Give mcp cleanup some more leeway
  src/backend/base/langflow/base/mcp/util.py
Due: backend

Skipping test so I can debug the hanging test suite
  src/backend/tests/unit/test_initial_setup.py
Due: none

Fixed test_refresh_starter_projects
  src/backend/tests/unit/test_initial_setup.py
Due: none

exclude-docs-from-biome-check
  .pre-commit-config.yaml
Due: none

unskip test
  src/backend/tests/unit/test_initial_setup.py
Due: none

fix lint
  src/backend/tests/unit/test_initial_setup.py
Due: none

fix: Reduce table font size, remove scrollbar
  docs/css/custom.css
Due: none

Fixed line too long
  src/backend/base/langflow/graph/vertex/param_handler.py
Due: backend

fixed timeout error ruff
  src/backend/base/langflow/base/mcp/util.py
Due: backend

Apply suggestions from code review
  docs/docs/Contributing/contributing-how-to-contribute.mdx
Due: none

docs: replace ampersands in windows command (#9710)
  docs/docs/Contributing/contributing-how-to-contribute.mdx
Due: none

docs: update composio bundle page (#9442)
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Integrations/Composio/integrations-composio.mdx
  docs/static/img/composio/composio-create-flow.png
Due: none

Update s3.py
  src/backend/base/langflow/services/storage/s3.py
Due: backend

docs: CSS for environment variables table (#9732)
  docs/css/custom.css
Due: none

feat: Implement utility functions for managing component aliases with safety checks and migration support
  src/frontend/src/utils/__tests__/aliasUtils.test.ts
  src/frontend/src/utils/aliasUtils.ts
Due: frontend

Try to fix mcp process hanging
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/base/mcp/util.py
Due: backend

feat: Add migration support for existing flows to handle duplicate component aliases
  src/frontend/src/stores/flowStore.ts
Due: frontend

use custom bucket
  src/backend/base/langflow/services/storage/s3.py
Due: backend

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
