Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: make cleanlab evaluator outputs not be grouped (#9149)
  src/backend/base/langflow/components/cleanlab/cleanlab_evaluator.py
  src/frontend/src/utils/styleUtils.ts
Due: backend, frontend

refactor: complete migration of inputs and constants from lfx
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/constants.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/lfx/src/lfx/inputs/constants.py
  src/lfx/src/lfx/inputs/input_mixin.py
Due: backend

refactor: simplify langflow memory availability logging
  src/lfx/src/lfx/memory/__init__.py
  src/lfx/src/lfx/services/deps.py
Due: none

refactor: update schema imports in test_agent_component
  src/backend/tests/unit/components/agents/test_agent_component.py
Due: none

fix: Exclude template tests from unit test bundle
  src/backend/tests/unit/utils/test_template_validation.py
  src/backend/tests/unit/utils/test_validate.py
Due: none

feat: hide system message input by default in NeMo Guardrails component
  src/backend/base/langflow/components/nvidia/nemo_guardrails.py
Due: backend

refactor: update imports in inputs.py for consistency
  src/backend/base/langflow/inputs/inputs.py
Due: backend

refactor: update imports for lfx migration
  src/backend/base/langflow/helpers/data.py
  src/backend/base/langflow/inputs/validators.py
  src/backend/base/langflow/io/schema.py
  src/backend/base/langflow/services/tracing/arize_phoenix.py
  src/backend/base/langflow/services/tracing/utils.py
  src/backend/tests/unit/io/test_io_schema.py
Due: backend

refactor: streamline constants and imports for lfx migration
  src/backend/base/langflow/field_typing/constants.py
Due: backend

feat: improve Rails input options order and description in NeMo Guardrails component
  src/backend/base/langflow/components/nvidia/nemo_guardrails.py
Due: backend

Clean up names and descriptions
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

refactor: adjust project retrieval error handling in SSE function
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: backend

refactor: enhance constants and imports for lfx migration
  src/backend/base/langflow/field_typing/constants.py
Due: backend

Update kb_retrieval.py
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

feat: implement dynamic visibility for NeMo Guardrails inputs based on rails selection
  src/backend/base/langflow/components/nvidia/nemo_guardrails.py
Due: backend

refactor: update session management in test files for lfx migration
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/api/v2/test_files.py
Due: none

refactor: update imports for lfx migration in utils and test configuration
  src/backend/base/langflow/services/utils.py
  src/backend/tests/conftest.py
Due: backend

chroma retrieval
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

fix: Exclude template tests from unit test bundle
  src/backend/tests/unit/utils/test_template_validation.py
Due: none

fix: Remove remaining merge conflict markers
  src/backend/tests/unit/utils/test_template_validation.py
Due: none

fix: Relax redis dependency version constraint (#9154)
  pyproject.toml
  uv.lock
Due: none

memory edits after discussion
  docs/docs/Agents/agents.mdx
  docs/docs/Components/bundles-datastax.mdx
  docs/docs/Components/components-helpers.mdx
  docs/docs/Concepts/concepts-playground.mdx
  docs/docs/Develop/memory.mdx
Due: none

json update
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/services/settings/feature_flags.py
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Due: backend, frontend

fix: Create superuser in test_load_bundles_from_urls test
  src/backend/tests/unit/test_initial_setup.py
Due: none

add on conditions
  .github/workflows/smoke-tests.yml
Due: none

docs-leftnav-fix
  docs/sidebars.js
Due: none

Further KB cleanup
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

fix typo
  docs/sidebars.js
Due: none

refactor: update KB ingestion component and enhance NodeDialog functionality
  src/backend/base/langflow/components/data/kb_ingest.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/hooks.ts
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/types.ts
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
Due: backend, frontend

restart build
  docs/docs/Components/bundles-nvidia.mdx
Due: none

docs: fix typo in left nav (#9160)
  docs/docs/Components/bundles-nvidia.mdx
  docs/sidebars.js
Due: none

fix json formatting
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Due: backend, frontend

Hash the text as id
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

linter fix
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: backend

lint round 2
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: backend

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
