Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

less-redundant-explanation
  docs/docs/Support/release-notes.mdx
Due: none

add-jq-and-path-to-data-operations
  docs/docs/Components/components-processing.mdx
  docs/docs/Support/release-notes.mdx
Due: none

add-troubleshooting-item
  docs/docs/Support/troubleshooting.mdx
Due: none

add fix to responses api
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/tests/integration/test_openai_responses_extended.py
Due: backend

Remove debug logging from OpenAI response stream
  src/backend/base/langflow/api/v1/openai_responses.py
Due: backend

Convert logger.debug calls to async adebug in OpenAI responses
  src/backend/base/langflow/api/v1/openai_responses.py
Due: backend

feat(anthropic): add model metadata for Claude Opus 4.1
  src/lfx/src/lfx/base/models/anthropic_constants.py
Due: none

Alias progress bar to loading component (#133)
  src/frontend/src/components/common/progressBar/index.tsx
  src/frontend/src/pages/LoadingPage/index.tsx
Due: frontend

Adds Claude 4.5 sonnet to Anthropic model list
  src/lfx/src/lfx/base/models/anthropic_constants.py
Due: none

Fixed the heavy bundle issue during initial landing page (#130)
  src/frontend/index.html
  src/frontend/src/CustomNodes/helpers/check-lucide-icons.ts
  src/frontend/src/components/core/jsonEditor/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/json-input.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/src/modals/textModal/index.tsx
  src/frontend/src/utils/layoutUtils.ts
  src/frontend/src/utils/lazyLoadAce.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
Due: frontend

fix: add fixed space for scrollbar on flow sidebar (#9886)
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/McpSidebarGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarBundles.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/tailwind.config.mjs
Due: frontend

fix: make file component zoomable on canvas (#9885)
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Due: frontend

Fix runner labels
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/release.yml
Due: none

ci: fix runner labels (#10088)
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/release.yml
Due: none

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: backend

Small refactors
  pyproject.toml
  src/lfx/src/lfx/components/data/url.py
Due: none

chore: Exclude database files from debugger auto-reload (#10020)
  .gitignore
  .vscode/launch.json
Due: none

desktop-logging-storage-path-change
  docs/docs/Develop/logging.mdx
Due: none

feat(anthropic): add model metadata for Claude Opus 4.1 (#9347)
  src/lfx/src/lfx/base/models/anthropic_constants.py
Due: none

feat: Add Converse component and improve output extraction (#9901)
  src/backend/tests/data/simple_agent.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/test_simple_agent_in_lfx_run.py
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/components/amazon/amazon_bedrock_converse.py
  src/lfx/src/lfx/components/amazon/amazon_bedrock_model.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/schema/json_schema.py
Due: none

style: Improve logo spacing and disable interaction (#10026)
  src/frontend/src/assets/logo_dark.png
  src/frontend/src/assets/logo_light.png
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
Due: frontend

localappdata
  docs/docs/Develop/logging.mdx
Due: none

feat: add container address check to ollama (#10051)
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
  src/lfx/src/lfx/components/ollama/ollama.py
  src/lfx/src/lfx/components/ollama/ollama_embeddings.py
  src/lfx/src/lfx/utils/util.py
  src/lfx/tests/unit/utils/test_container_utils.py
Due: none

Add import check
  src/lfx/src/lfx/components/data/url.py
Due: none

docs: update LF Desktop logging path (#10089)
  docs/docs/Develop/logging.mdx
Due: none

ruff
  src/lfx/src/lfx/components/data/url.py
Due: none

Ruff
  src/backend/base/langflow/api/v1/knowledge_bases.py
Due: backend

feat: add template
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Issue Creator.json
Due: backend

chore: update langchain links in docs (#10050)
  docs/docs/Components/bundles-amazon.mdx
  docs/docs/Components/bundles-anthropic.mdx
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-elastic.mdx
  docs/docs/Components/bundles-groq.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Components/bundles-langchain.mdx
  docs/docs/Components/bundles-mongodb.mdx
  docs/docs/Components/bundles-pgvector.mdx
  docs/docs/Develop/data-types.mdx
  docs/docs/_partial-vector-store-instance.mdx
Due: none
