Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

feat: Enhance model and variable APIs with provider status and metadata
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/models/unified_models.py
  src/backend/base/langflow/services/variable/service.py
Due: backend

feat: update Model provider APIs (#9445)
  src/backend/base/langflow/alembic/versions/50bdbf646c1c_add_category_column_to_variable_table_.py
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/models/unified_models.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/services/variable/service.py
Due: backend

Removed duplicate embeddings
  src/frontend/src/utils/styleUtils.ts
Due: frontend

Pass filter to before the mapping
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/bundleItems.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
Due: frontend

feat: add UUID generation for session_id in LCAgentComponent
  src/lfx/src/lfx/base/agents/agent.py
Due: none

fix: import sqlmodel conditionally in get_flow_snake_case to avoid ImportError
  src/lfx/src/lfx/base/mcp/util.py
Due: none

feat: conditionally import model components to enhance modularity and avoid ImportError
  src/lfx/src/lfx/base/models/model_input_constants.py
Due: none

feat: implement lazy loading for agent and data components to enhance modularity
  src/lfx/src/lfx/components/agents/__init__.py
  src/lfx/src/lfx/components/data/__init__.py
Due: none

fix: conditionally filter OpenAI inputs and handle empty case in AgentComponent
  src/lfx/src/lfx/components/agents/agent.py
Due: none

refactor: enhance verbose logging and error handling in run function
  src/lfx/src/lfx/cli/run.py
Due: none

fix: update USER_AGENT assignment to use importlib for better compatibility
  src/lfx/src/lfx/components/data/url.py
Due: none

fix: change async methods to synchronous in Component class for toolkit conversion
  src/lfx/src/lfx/custom/custom_component/component.py
Due: none

feat: add complete agent example with setup instructions and dependencies in README
  src/lfx/README.md
Due: none

add-init-py-to-examples
  docs/docs/Components/components-custom-components.mdx
Due: none

add-troubleshooting
  docs/docs/Support/troubleshooting.mdx
Due: none

fix: remove duplicate embeddings category, refactor render code (#9446)
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/bundleItems.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/utils/styleUtils.ts
Due: frontend

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: backend

remove-extra-comment
  docs/docs/Components/components-custom-components.mdx
Due: none

Raise value error if configured column is not available
  src/backend/base/langflow/components/data/kb_ingest.py
Due: backend, Backend Components

Remove silent error tests with option gone
  src/backend/tests/unit/components/data/test_kb_ingest.py
Due: none

Update test_kb_ingest.py
  src/backend/tests/unit/components/data/test_kb_ingest.py
Due: none

fix: silent error fix in KB components (#9433)
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/tests/unit/components/data/test_kb_ingest.py
Due: backend, Backend Components

fix: update enabled providers in useGetModelProviders hook to include OpenAI
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
Due: frontend

refactor: reorganize imports and optimize state selection in FlowMenu component
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
Due: frontend

fix: bump version to 0.1.5 in pyproject.toml and uv.lock
  src/lfx/pyproject.toml
  uv.lock
Due: none

fix: bump version to 0.1.6 in pyproject.toml and uv.lock
  src/lfx/pyproject.toml
  uv.lock
Due: none

fix: enhance _get_tools method to handle both sync and async calls
  src/lfx/src/lfx/custom/custom_component/component.py
Due: none

fix: streamline _get_tools method to handle sync and async calls more efficiently
  src/lfx/src/lfx/custom/custom_component/component.py
Due: none

fix: update import paths from langflow to lfx for consistency across test files
  src/lfx/tests/unit/cli/test_run_command.py
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
  src/lfx/tests/unit/custom/test_utils_metadata.py
  src/lfx/tests/unit/test_import_utils.py
Due: none

fix: update error handling in tests to raise ModuleNotFoundError for missing dependencies
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
Due: none

fix: enhance error handling for dynamic imports and ensure proper caching behavior
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
Due: none

fix: improve error handling for dynamic imports and update import paths in tests
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
Due: none

feat: implement lazy loading for NotDiamondComponent
  src/lfx/src/lfx/components/notdiamond/__init__.py
Due: none

test: add error handling for missing langchain-openai dependency in class import
  src/lfx/tests/unit/test_import_utils.py
Due: none

fix: enhance dynamic imports with on-demand discovery and improved error handling
  src/lfx/src/lfx/components/__init__.py
Due: none

fix: add type check for source_code in _generate_code_hash function
  src/lfx/src/lfx/custom/utils.py
Due: none

feat: implement lazy loading for searchapi components
  src/lfx/src/lfx/components/searchapi/__init__.py
Due: none

fix: improve error handling for missing modules in import_mod function
  src/lfx/src/lfx/components/_importing.py
Due: none
