Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Overall project coverage target
      default:
        target: 60%
        threshold: 3%

      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~70%, maintains existing high standards
      frontend:
        target: 70%
        # Threshold: Allowable drop in coverage before failing the check
        # 2% = coverage can drop from 70% to 68% without failing status
        # Stricter threshold to maintain established quality standards
        threshold: 2%
        flags:
          - frontend

    # New code coverage requirements - encourages well-tested new features
    patch:
      default:
        target: 70%
        threshold: 3%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

feat: implement delete confirmation modal for knowledge base deletion
  src/frontend/src/modals/deleteConfirmationModal/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
  src/frontend/src/style/ag-theme-shadcn.css
Due: frontend

refactor: update exports in custom modules to enhance accessibility
  src/backend/base/langflow/custom/__init__.py
  src/lfx/src/lfx/custom/__init__.py
Due: none

feat: enhance knowledge base metadata with embedding model detection
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/components/data/kb_ingest.py
  src/frontend/src/controllers/API/queries/knowledge-bases/use-get-knowledge-bases.ts
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
Due: backend, frontend

refactor: clean up tooltip and value getter comments in knowledge base columns
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
Due: frontend

refactor: simplify KnowledgeBaseSelectionOverlay component
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseSelectionOverlay.tsx
Due: frontend

feat: Add dual output support to Agent component with structured JSON parsing (#8836)
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/agents/test_agent_component.py
Due: backend

feat: implement bulk and single deletion for knowledge bases
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-base.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-bases.ts
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseSelectionOverlay.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
Due: backend, frontend

refactor: enhance ParameterHandler initialization and expand DIRECT_TYPES constants
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/src/lfx/utils/constants.py
Due: none

ci details
  .github/workflows/ci.yml
Due: none

feat: register service factories and enhance service initialization
  src/backend/base/langflow/services/utils.py
  src/lfx/src/lfx/graph/graph/base.py
Due: backend

Initial support for vector search
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

fix: resolve Message timestamp serialization issues in lfx migration
  src/lfx/src/lfx/schema/message.py
Due: none

feat: add KnowledgeBaseDrawer component for enhanced knowledge base details
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
Due: frontend

Fix ruff checks
  src/backend/base/langflow/api/v1/knowledge_bases.py
Due: backend

Update knowledge_bases.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
Due: backend

feat: update mock data and enhance drawer functionality in KnowledgeBase components
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
Due: frontend

Append scores column to rows
  src/backend/base/langflow/components/data/kb_retrieval.py
Due: backend

add template tests
  .github/workflows/template-tests.yml
  .pre-commit-config.yaml
  Makefile
  src/backend/tests/unit/template/__init__.py
  src/backend/tests/unit/template/test_starter_projects.py
Due: none

revert ci logs
  .github/workflows/ci.yml
Due: none

refactor: improve knowledge base deletion and UI components
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-base.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-bases.ts
  src/frontend/src/pages/MainPage/pages/filesPage/components/CreateKnowledgeBaseButton.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseSelectionOverlay.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
Due: frontend

✨ (frontend): Add new "Package Manager" page to SettingsPage to manage optional packages and extend Langflow functionality.
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/package-manager/index.tsx
  src/frontend/src/pages/SettingsPage/pages/package-manager/package-manager.tsx
  src/frontend/src/routes.tsx
Due: frontend

refactor: reorganize custom module exports and introduce new utility modules
  src/backend/base/langflow/custom/__init__.py
  src/backend/base/langflow/custom/custom_component/__init__.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/component_with_cache.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/custom/validate.py
Due: backend

refactor: standardize import statements and improve code readability in SideBarFoldersButtonsComponent
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
Due: frontend

db-location-and-agent-memory
  docs/docs/Agents/agents.mdx
  docs/docs/Components/components-helpers.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/logging.mdx
  docs/docs/Develop/memory.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
Due: none

cleanup
  docs/docs/Components/components-helpers.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Develop/logging.mdx
  docs/docs/Develop/memory.mdx
Due: none

refactor: update import paths for custom components across multiple starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

feat: implement Pydantic models for starter projects API response
  src/backend/base/langflow/api/v1/starter_projects.py
Due: backend

feat: implement async flow listing with fallback for missing langflow dependency
  src/lfx/src/lfx/utils/util.py
Due: none

refactor: update component toolkit retrieval and enhance custom component structure
  src/backend/base/langflow/base/tools/run_flow.py
  src/backend/base/langflow/components/agents/agent.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/custom/tools.py
Due: backend

refactor: remove SocketIOService references from service dependencies
  src/backend/base/langflow/services/deps.py
  src/lfx/src/lfx/services/schema.py
Due: backend

feat: enhance Message and Properties classes with new validation and serialization methods
  src/lfx/src/lfx/schema/message.py
  src/lfx/src/lfx/schema/properties.py
Due: none

refactor: update import paths and enhance test coverage for custom components
  src/backend/tests/unit/custom/test_utils_metadata.py
  src/backend/tests/unit/test_custom_component.py
  src/backend/tests/unit/test_endpoints.py
  src/backend/tests/unit/test_initial_setup.py
  src/lfx/src/lfx/custom/utils.py
Due: none

feat: enhance properties validation in Message class for improved compatibility
  src/backend/base/langflow/schema/message_enhanced.py
Due: backend

refactor: remove SocketIOService references from schema and utility files
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/utils.py
Due: backend

feat: introduce input handling and validation enhancements in lfx inputs module
  src/lfx/src/lfx/custom/tools.py
  src/lfx/src/lfx/inputs/__init__.py
  src/lfx/src/lfx/inputs/input_mixin.py
  src/lfx/src/lfx/inputs/inputs.py
  src/lfx/src/lfx/inputs/validators.py
  src/lfx/src/lfx/io/__init__.py
  src/lfx/src/lfx/io/schema.py
Due: none

refactor: update import paths and enhance API key handling in OpenAI model component
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/openai/openai_chat_model.py
Due: backend

refactor: update component toolkit handling and clean up imports
  src/backend/base/langflow/custom/__init__.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/lfx/src/lfx/custom/custom_component/component.py
Due: backend

refactor: clean up import statements and enhance module structure
  src/lfx/src/lfx/custom/__init__.py
  src/lfx/src/lfx/custom/custom_component/base_component.py
  src/lfx/src/lfx/custom/custom_component/custom_component.py
Due: none
