Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

feat: add check command to lfx CLI
  src/lfx/src/lfx/__main__.py
Due: none

feat: Add optional context parameter to `/run` endpoint (#9783)
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/unit/test_endpoints.py
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: backend

Fix message type - passes token now
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
Due: backend

update sambanova models
  src/backend/base/langflow/base/models/sambanova_constants.py
Due: backend

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: backend

feat: Consolidate Web Search, News Search, and RSS Reader into unified component
  src/backend/tests/unit/components/data/test_news_search.py
  src/backend/tests/unit/components/data/test_rss.py
  src/backend/tests/unit/components/data/test_web_search.py
  src/lfx/src/lfx/components/data/__init__.py
  src/lfx/src/lfx/components/data/news_search.py
  src/lfx/src/lfx/components/data/rss.py
  src/lfx/src/lfx/components/data/web_search.py
Due: none

fix s3 code
  src/backend/base/langflow/services/storage/s3.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/services/settings/constants.py
Due: backend

change storage type back to local
  src/lfx/src/lfx/services/settings/base.py
Due: none

adding arn option
  src/backend/base/langflow/services/storage/s3.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/services/settings/constants.py
Due: backend

fix: resolve all linting issues in S3 storage service and tests
  src/backend/base/langflow/services/storage/s3.py
  src/backend/tests/unit/services/storage/__init__.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
Due: backend

fix backend test with upload file size error
  src/backend/base/langflow/services/storage/s3.py
Due: backend

Handle invalid Clerk tokens gracefully in middleware (#121)
  src/backend/base/langflow/services/auth/clerk_utils.py
Due: backend

feat(frontend): lazy load authenticated routes (#111)
  src/frontend/src/assets/VisualWorkflow.png
  src/frontend/src/routes.tsx
Due: frontend

feat: add AI Gateway service and component
  src/backend/base/langflow/custom/genesis/auth/middleware.py
  src/backend/base/langflow/custom/genesis/services/__init__.py
  src/backend/base/langflow/custom/genesis/services/ai_gateway/__init__.py
  src/backend/base/langflow/custom/genesis/services/ai_gateway/factory.py
  src/backend/base/langflow/custom/genesis/services/ai_gateway/service.py
  src/backend/base/langflow/custom/genesis/services/ai_gateway/settings.py
  src/backend/base/langflow/custom/genesis/services/deps.py
  src/lfx/src/lfx/components/models/ai_gateway.py
Due: backend

Disable client-side health polling (#122)
  src/frontend/src/clerk/auth.tsx
  src/frontend/src/controllers/API/queries/health/use-get-health.ts
Due: frontend

hotfix: fixed the Issue with name as reserved keyword for action fields
  src/lfx/src/lfx/base/composio/composio_base.py
Due: none

feat: Add unit tests for check command functionality
  src/backend/tests/data/outdated_flow.json
  src/backend/tests/unit/test_check_command.py
Due: none

chore: Update .coderabbit.yaml configuration for review processes
  .coderabbit.yaml
Due: none

add tests
  src/backend/tests/unit/api/utils/test_config_utils.py
Due: none

Move s3 to lfx
  src/backend/base/langflow/services/storage/factory.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
  src/lfx/src/lfx/services/settings/constants.py
  src/lfx/src/lfx/services/storage/__init__.py
Due: backend

refactor: Update AgentComponent to utilize MODEL_OPTIONS_METADATA from constants (#9969)
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/base/models/model_input_constants.py
  src/lfx/src/lfx/components/agents/agent.py
Due: backend

fix(database): Correct poolclass validation logic in DatabaseService
  src/backend/base/langflow/services/database/service.py
Due: backend

fix(sql_database): Update poolclass selection logic for SQLAlchemy engine
  src/lfx/src/lfx/components/langchain_utilities/sql_database.py
Due: none

refactor(voice_mode): Simplify session management in WebSocket endpoints
  src/backend/base/langflow/api/v1/voice_mode.py
Due: backend

remove comment
  src/backend/base/langflow/services/database/service.py
Due: backend

fix stream
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
  src/frontend/src/stores/messagesStore.ts
  uv.lock
Due: backend, frontend

Remove redundant comments from config_utils.py
  src/backend/base/langflow/api/utils/mcp/config_utils.py
Due: backend

Improve MCP server validation and error handling
  src/backend/base/langflow/api/utils/mcp/config_utils.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/utils/test_config_utils.py
Due: backend

Update __init__.py
  src/backend/base/langflow/api/utils/__init__.py
Due: none

refactor(database): Simplify session management by replacing session_getter with session_scope
  src/backend/base/langflow/services/database/utils.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_user.py
Due: backend

fix(database): improve session management and transaction handling
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/utils.py
Due: backend

Update config_utils.py
  src/backend/base/langflow/api/utils/mcp/config_utils.py
Due: backend

chore: Refine .coderabbit.yaml review instructions for testing standards
  .coderabbit.yaml
Due: none

Add multi-user MCP server access control tests
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/utils/test_config_utils.py
Due: none

Update MCPServerValidationResult test initialization
  src/backend/tests/unit/api/utils/test_config_utils.py
Due: none

fix(database): enhance session management in session_scope
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/deps.py
Due: backend
