Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

clarify-outputs
  docs/docs/Components/components-data.mdx
Due: none

feat: add new segmented sidebar (#9355)
  src/frontend/src/App.css
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlButton.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/icons/MCP/McpIcon.jsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/MemoizedComponents.spec.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/MemoizedComponents.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/McpSidebarGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/categoryGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/emptySearchComponent.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/searchConfigTrigger.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarBundles.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/emptySearchComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchConfigTrigger.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/types/index.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/tests/core/features/keyboardComponentSearch.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/integrations/similarity.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
  src/frontend/tests/extended/features/integration-side-bar.spec.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/features/tool-mode.spec.ts
Due: frontend

fix: Avoid namespace collision for Astra
  src/backend/base/langflow/components/datastax/__init__.py
  src/backend/base/langflow/components/datastax/astradb_vectorstore.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: backend, Backend Components

Fix 500 on composer-url query
  src/backend/base/langflow/api/v1/mcp.py
  src/frontend/src/controllers/API/queries/mcp/use-get-composer-url.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-flows-mcp.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Due: backend, frontend

add-links-andupdate-parameters
  docs/docs/Components/components-data.mdx
Due: none

Update Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: backend

Update feature flag; update api key addition to aut-install
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/services/settings/feature_flags.py
Due: backend

more-params
  docs/docs/Components/components-data.mdx
Due: none

Update file.py
  src/backend/base/langflow/components/data/file.py
Due: backend, Backend Components

clarify-supported-filetypes
  docs/docs/Components/components-data.mdx
Due: none

installation-in-bundle
  docs/docs/Integrations/Docling/integrations-docling.mdx
Due: none

feat: enable real-time refresh for Base URL input in ChatOllamaComponent (#9346)
  src/backend/base/langflow/components/ollama/ollama.py
Due: backend, Backend Components

Use custom voice assistant on chat input
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Due: frontend

Update uv.lock
  uv.lock
Due: none

Fixed test missing dropdown click
  src/frontend/tests/extended/regression/generalBugs-shard-6.spec.ts
Due: none

fix: add dropdown click to general bugs test (#9549)
  src/frontend/tests/extended/regression/generalBugs-shard-6.spec.ts
Due: none

Add bigger timeout to pokedex test
  src/frontend/tests/core/integrations/Pokedex Agent.spec.ts
Due: none

Fix composer url and re-add auth
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/services/mcp_composer/service.py
Due: backend

Update styleUtils.ts
  src/frontend/src/utils/styleUtils.ts
Due: frontend

Changed needs_api_key logic
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: backend

Update ingestion.py
  src/backend/base/langflow/components/knowledge_bases/ingestion.py
Due: backend, Backend Components

Refactor use-get-composer-url
  src/frontend/src/controllers/API/queries/mcp/use-get-composer-url.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Due: frontend

fix: add bigger timeout to pokedex test (#9551)
  src/frontend/tests/core/integrations/Pokedex Agent.spec.ts
Due: none

Increase timeout on saas pricing test
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
Due: none

remove python fallback for now, then pipe stderr to pipe
  src/backend/base/langflow/services/mcp_composer/service.py
Due: backend

fix: increase timeout on saas pricing test (#9552)
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
Due: none

fix: remove redundant exception handling in YouTubeChannelComponent
  src/backend/base/langflow/components/youtube/channel.py
Due: backend, Backend Components

Fix ingestion of df
  src/backend/base/langflow/components/knowledge_bases/ingestion.py
Due: backend, Backend Components

Update Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
Due: backend

refactor: Enhance dropdown component functionality and clean up imports
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

refactor: Reorganize imports in FlowSidebarComponent for clarity
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: frontend

refactor: Simplify dropdown component state management
  src/frontend/src/components/core/dropdownComponent/index.tsx
Due: frontend

Changed api key logic to allow connection if not api key and auto login is off
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: backend

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
