Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

codecov.yml:

codecov:
  # Don't block CI if codecov fails to process reports
  require_ci_to_pass: false
  notify:
    after_n_builds: 1  # Comment after each report (don't wait for all)

coverage:
  precision: 2
  round: down
  # Display range from 30-100% to provide meaningful color gradients
  range: "30...100"

  status:
    project:
      # Backend coverage strategy: Aspirational target for progress tracking
      # Current coverage: ~33%, Target: 55% (intentionally higher than current)
      # This creates visual progress indicators (red->yellow->green) without blocking PRs
      # Shows improvement over time while encouraging better test coverage
      backend:
        target: 55%
        # Threshold: Allowable drop in coverage before failing the check
        # 5% = coverage can drop from 33% to 28% without failing status
        # Higher threshold to avoid blocking PRs during improvement phase
        threshold: 5%
        flags:
          - backend

      # Frontend coverage: Realistic target based on current state
      # Current coverage: ~1.5%, Target: 10% (achievable improvement goal)
      frontend:
        target: 10%
        # Threshold: Allowable drop in coverage before failing the check
        # 1% = coverage can drop from 1.5% to 0.5% without failing status
        # Small threshold appropriate for very low baseline coverage
        threshold: 1%
        flags:
          - frontend

    # New code coverage requirements - realistic target for current state
    # Encourages testing new features without blocking development
    patch:
      default:
        target: 40%
        threshold: 5%

# PR comment configuration - what information to show in coverage reports
comment:
  layout: "reach,diff,flags,tree"  # Show coverage, changes, flags, and file tree
  behavior: default
  require_changes: false  # Comment even if no changes
  require_base: false     # Don't require base branch comparison
  require_head: true      # Require current branch coverage

# Define separate coverage tracking for frontend and backend
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true  # Preserve coverage data across builds if missing
  frontend:
    paths:
      - src/frontend/
    carryforward: true  # Preserve coverage data across builds if missing

# Define coverage components for granular reporting
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend_components
      name: "Backend Components"
      paths:
        - src/backend/base/langflow/components/**
    # Note: Many components excluded by .coveragerc (bundled + legacy)
    # This tracks coverage of remaining "core" components only

# Files/directories to exclude from coverage calculations
ignore:
  # Database migrations - infrastructure code, not business logic
  - "src/backend/base/langflow/alembic/**"
  # Test files themselves don't need coverage
  - "src/backend/tests/**"
  - "src/frontend/tests/**"
  - "src/frontend/test-results/**"
  # Build artifacts and dependencies
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/node_modules/**"
  - "**/coverage/**"
  # Python package init files - typically just imports
  - "**/__init__.py"
  # Database migrations
  - "**/migrations/**"

feat: Improve API project fetching with enhanced error handling and response validation
  src/backend/tests/locust/langflow_setup_test.py
Due: none

feat: Add remote load testing capabilities to Makefile
  Makefile
Due: none

🔧 (use-sanitize-redirect-url.ts): remove unnecessary console.log statement from useSanitizeRedirectUrl hook
  src/frontend/src/hooks/use-sanitize-redirect-url.ts
Due: frontend

Update loop-component.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
Due: none

Update fileUploadComponent.spec.ts
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
Due: none

fix: handle input composition on Linux IME (accentuation issue)
  src/frontend/package-lock.json
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
Due: frontend

Remove unnecessary comment
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
Due: frontend

⬆️ (pyproject.toml): update dependencies versions to ensure compatibility and access to new features ♻️ (chroma.py): refactor limit handling to improve readability and avoid potential issues
  pyproject.toml
  src/backend/base/langflow/components/chroma/chroma.py
  uv.lock
Due: backend, Backend Components

🔧 (release_nightly.yml): update workflow to use github.ref for checking out code at a specific ref 🔧 (release_nightly.yml): add step to update pyproject.toml for nightly build using specified tags
  .github/workflows/release_nightly.yml
Due: none

Update setup.py
  src/backend/base/langflow/initial_setup/setup.py
Due: backend

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: backend

Update main.py
  src/backend/base/langflow/main.py
Due: backend

fix: Load flows autologin false (#9578)
  src/backend/base/langflow/initial_setup/setup.py
Due: backend

fix: Move docling dependency into core dependencies instead of dev (#9906)
  pyproject.toml
  uv.lock
Due: none

fix: Make sure strings can be parsed in the python interpreter (#9908)
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/lfx/src/lfx/components/processing/python_repl_core.py
Due: none

Remove staging/prod deploy and postgres workflow files
  .github/workflows/deploy-staging-prod.yml
  .github/workflows/postgres-staging-prod.yml
  .github/workflows/test_github_copy.yml
  deploy/deploy-stage-prod.sh
  deploy/postgres-staging-prod.sh
  deploy/postgres-staging-prod.yml
Due: none

modified port-Makefile
  Makefile
Due: none

increased dealya to ensure starter projects are created
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
Due: backend

refactor: API key validation and add tests for key extraction
  src/backend/tests/unit/components/processing/test_anymize_component.py
  src/lfx/src/lfx/components/processing/anymize.py
Due: none

fix: imports ordering
  src/backend/tests/unit/components/processing/test_anymize_component.py
  src/lfx/src/lfx/components/processing/anymize.py
Due: none

feat: Add single request test for Langflow load testing
  src/backend/tests/locust/langflow_run_load_test.py
Due: none

feat: Update load test scripts to use credentials from JSON files and adjust user counts
  Makefile
Due: none

docs: Update README with additional notes for remote testing best practices
  src/backend/tests/locust/README.md
Due: none

feat: Enhance error logging in load testing scripts
  src/backend/tests/locust/langflow_locustfile.py
Due: none

docs: Update README to enhance load testing instructions and features
  src/backend/tests/locust/README.md
Due: none

feat: Add diagnostic tool for remote Langflow instances
  src/backend/tests/locust/diagnose_remote.py
Due: none

feat: Enhance load test commands in Makefile for automatic setup and flow selection
  Makefile
Due: none

feat: Update flow descriptions and enhance endpoint name sanitization in load testing setup
  src/backend/tests/locust/langflow_setup_test.py
Due: none

Remove docling dep from optional group since its in main dep group
  pyproject.toml
Due: none

fix: update ruff dependency version to ~0.13.1 in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

revert: remove unintended formatting changes
  src/backend/tests/locust/locustfile.py
  src/backend/tests/unit/base/data/test_kb_utils.py
Due: none

feat: update locust dependency to version 2.40.5 in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: backend

developer mode for docling
  docs/docs/Components/components-data.mdx
  docs/docs/Develop/install-custom-dependencies.mdx
  docs/docs/Integrations/Docling/integrations-docling.mdx
Due: none
