Repository langflow-ai/langflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Components

fix test
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: none

Skip refresh test
  src/backend/tests/unit/test_initial_setup.py
Due: none

Have to add more time for component loading tests
  src/backend/tests/unit/test_load_components.py
Due: none

Fix auth tests
  src/backend/tests/integration/components/mcp/test_mcp_superuser_flow.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/test_auth_settings.py
Due: none

upgrade codeflash
  uv.lock
Due: none

Added more assertions
  src/frontend/tests/utils/lock-flow.ts
Due: none

Removed warning on mcpsidebargroup test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/McpSidebarGroup.test.tsx
Due: frontend

Fixed sidebarfooterbuttons test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
Due: frontend

Fixed sticky notes test
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: none

Modularized lock flow
  src/frontend/tests/extended/features/lock-flow.spec.ts
  src/frontend/tests/utils/lock-flow.ts
Due: none

fixed sidebar footer buttons and test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: frontend

Fixed test_refresh_starter_projects
  src/backend/tests/unit/test_initial_setup.py
Due: none

Re-added padding
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
Due: frontend

t Fixed flow lock test
  src/frontend/tests/core/features/flow-lock.spec.ts
Due: none

Fixed sidebar segmented nav test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
Due: frontend

Fixed sidebar header test
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
Due: frontend

fixed warnings on sidebar footer buttons
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
Due: frontend

Fixed flow lock test
  src/frontend/tests/core/features/flow-lock.spec.ts
Due: none

fixed sticky notes test
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: none

attempt to fix fe merge conflicts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/tests/core/features/flow-lock.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: frontend

lint
  src/backend/tests/unit/test_initial_setup.py
Due: none

refactor: add zustand store test coverage (#9809)
  src/frontend/src/stores/__tests__/alertStore.test.ts
  src/frontend/src/stores/__tests__/authStore.test.ts
  src/frontend/src/stores/__tests__/darkStore.test.ts
  src/frontend/src/stores/__tests__/durationStore.test.ts
  src/frontend/src/stores/__tests__/flowStore.test.ts
  src/frontend/src/stores/__tests__/flowsManagerStore.test.ts
  src/frontend/src/stores/__tests__/foldersStore.test.ts
  src/frontend/src/stores/__tests__/messagesStore.test.ts
  src/frontend/src/stores/__tests__/setupTests.ts
  src/frontend/src/stores/__tests__/shortcuts.test.ts
  src/frontend/src/stores/__tests__/storeStore.test.ts
  src/frontend/src/stores/__tests__/testUtils.ts
  src/frontend/src/stores/__tests__/tweaksStore.test.ts
  src/frontend/src/stores/__tests__/typesStore.test.ts
  src/frontend/src/stores/__tests__/utilityStore.test.ts
  src/frontend/src/stores/__tests__/voiceStore.test.ts
Due: frontend

feat: revert CORS changes and add deprecation warnings for v1.7
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/base/langflow/services/settings/base.py
Due: backend

mypy
  src/backend/base/langflow/components/input_output/chat_output.py
  src/backend/base/langflow/graph/graph/base.py
Due: backend, Backend Components

Improve sorting of sender messages
  src/frontend/src/modals/IOModal/components/chatView/helpers/sort-sender-messages.ts
Due: frontend

ruff
  src/backend/tests/unit/test_initial_setup.py
Due: none

code-review
  docs/docs/Concepts/mcp-server.mdx
Due: none

starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: backend

Fix Ruff errors
  src/lfx/src/lfx/components/logic/llm_conditional_router.py
Due: none

increase-table-text-size-to-1-rem
  docs/css/custom.css
Due: none

Update llm_conditional_router.py
  src/lfx/src/lfx/components/logic/llm_conditional_router.py
Due: none

Apply suggestions from code review
  docs/docs/Configuration/configuration-global-variables.mdx
Due: none

feat: Implement LLM Conditional Router Component (#9694)
  src/lfx/src/lfx/components/logic/llm_conditional_router.py
Due: none

fixed sticky notes merge issue
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Due: none

Path conditions:
  backend: any of: src/backend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  frontend: any of: src/frontend/, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
  Backend Components: any of: src/backend/base/langflow/components/**, but not: src/backend/base/langflow/alembic/**, src/backend/tests/**, src/frontend/tests/**, src/frontend/test-results/**, **/__pycache__/**, **/*.pyc, **/node_modules/**, **/coverage/**, **/__init__.py, **/migrations/**
