Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix: add missing import for json in CustomComponent definition in LoopTest.json
  src/backend/tests/data/LoopTest.json
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix non-processible erro when empty body is sent to fastAPI
  src/backend/base/langflow/api/v1/chat.py
  src/frontend/src/controllers/API/queries/vertex/use-post-retrieve-vertex-order.tsx
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

🔧 (nightly_build.yml): Simplify success notification condition to only depend on the release-nightly-build job result
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

Add Keycloak support
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Extract text content from Message objects for agent input (#10219)
  src/backend/base/langflow/base/agents/agent.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix agents; only stream the current chunk back
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/base/agents/utils.py
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/tests/unit/components/agents/test_agent_events.py
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
  src/frontend/src/stores/messagesStore.ts
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix length access
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/base/agents/utils.py
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

move the empty text skips to the agent
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/utils.py
  src/backend/tests/unit/components/agents/test_agent_events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix message type - passes token now
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

rebase fixes
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix tests for new beahvior with eventmgr
  src/backend/tests/integration/test_dynamic_import_integration.py
  src/backend/tests/unit/components/agents/test_agent_events.py
  src/backend/tests/unit/components/test_all_modules_importable.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add event manager
  src/backend/base/langflow/base/agents/events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update vector store rag starter project
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add back params
  src/backend/base/langflow/base/agents/events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Ruff fixes
  src/backend/base/langflow/base/agents/events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Revert "Update how empty data is passed to fastapi endpoint -- removes embed=true"
  src/backend/base/langflow/api/v1/chat.py
  src/frontend/src/controllers/API/queries/vertex/use-post-retrieve-vertex-order.tsx
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Ruff, tests, mypy
  src/backend/base/langflow/base/agents/events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Cleanup passing of callbacks
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/custom/custom_component/component.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix tests to use token callback instead of event manager
  src/backend/base/langflow/base/agents/events.py
  src/backend/tests/unit/components/agents/test_agent_events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

remove added content param on component
  src/backend/base/langflow/custom/custom_component/component.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

combine if sttements
  src/backend/base/langflow/base/agents/events.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update how empty data is passed to fastapi endpoint -- removes embed=true
  src/backend/base/langflow/api/v1/chat.py
  src/frontend/src/controllers/API/queries/vertex/use-post-retrieve-vertex-order.tsx
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add uv lock from 1.6.4 to not upgrade deps
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

full-docs-link
  .devcontainer/README.md
Due: azure-pipelines.yml

docs: remove www datastax links (#10249)
  .devcontainer/README.md
  docs/docs/Tutorials/chat-with-rag.mdx
Due: azure-pipelines.yml

Annotate FlowDataRequest with Body for embedding
  src/backend/base/langflow/api/v1/chat.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Refine requestBody type for vertex order retrieval
  src/frontend/src/controllers/API/queries/vertex/use-post-retrieve-vertex-order.tsx
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

rebase redundant fixes
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/tests/unit/components/agents/test_agent_events.py
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

uv lock
  uv.lock
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Marking the test with anthropic models as slow.
  src/backend/tests/unit/components/agents/test_altk_agent.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update vector store rag
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

make-help
  docs/docs/Contributing/contributing-how-to-contribute.mdx
Due: azure-pipelines.yml

display
  docs/docs/Contributing/contributing-how-to-contribute.mdx
Due: azure-pipelines.yml

Apply suggestion from @aimurphy
  docs/docs/Agents/mcp-server.mdx
Due: azure-pipelines.yml

simplify the run agent method
  src/backend/base/langflow/base/agents/agent.py
Due: azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: improve handling of dotted imports in prepare_global_scope function
  src/lfx/src/lfx/custom/validate.py
Due: azure-pipelines.yml

feat(tests): Enhance error monitoring in API response handling
  src/frontend/tests/fixtures.ts
Due: azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
