Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

ci: wire pre_release input to cross-platform tests (#11925)
  .github/workflows/cross-platform-test.yml
  .github/workflows/release.yml
Due: azure-pipelines.yml

reintroduce config and snapshots api endpoints
  scripts/deployment_create_e2e.py
  scripts/deployment_update_e2e.py
  src/backend/base/langflow/alembic/versions/0f6a9f8b2d31_add_unique_constraint_for_provider_account_lookup.py
  src/backend/base/langflow/alembic/versions/2b9c4d8e7a11_add_snapshot_id_to_history_deployment_attachment.py
  src/backend/base/langflow/alembic/versions/e0265ca70a45_add_flow_history_deployment_attachment_.py
  src/backend/base/langflow/api/v1/deployment.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/model.py
  src/backend/base/langflow/services/database/models/flow_history_deployment_attachment/crud.py
  src/backend/base/langflow/services/database/models/flow_history_deployment_attachment/model.py
  src/backend/base/langflow/services/deployment/watsonx_orchestrate.py
  src/backend/tests/unit/api/v1/test_deployments_pagination_sync.py
  src/frontend/src/controllers/API/queries/deployments/use-deployments.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/index.tsx
  src/lfx/src/lfx/services/deployment/schema.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix mock ollama tests
  src/backend/tests/unit/components/embeddings/test_ollama_embeddings_component.py
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: Fix unawaited coroutine warnings in Ollama mock tests (#11930)
  src/backend/tests/unit/components/embeddings/test_ollama_embeddings_component.py
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: pin protobuf version
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: seperate google calender extra
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve [complete] extra in langflow-base pre-release constraint
  .github/workflows/release.yml
Due: azure-pipelines.yml

fix: upgrade opentelemetry stack
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add regression test for sed constraint preservation
  scripts/ci/test_constraint_preservation.py
Due: azure-pipelines.yml

test: add regression test for sed constraint preservation in release workflow
  scripts/ci/test_constraint_preservation.py
Due: azure-pipelines.yml

fix: move noqa comment to correct line for S603 check
  scripts/ci/test_constraint_preservation.py
Due: azure-pipelines.yml

chore: add opentelemetry-exporter-prometheus back
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update nightly hash history for v1.8.0.dev68
  src/lfx/src/lfx/_assets/nightly_hash_history.json
Due: azure-pipelines.yml

test: test_token_with_extra_claims asyncio
  src/backend/tests/unit/test_auth_jwt_algorithms.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update nightly hash history for v1.8.0.dev69
  src/lfx/src/lfx/_assets/nightly_hash_history.json
Due: azure-pipelines.yml

test: add shutdown to OT tests
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/test_telemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: address cris I1 comment
  src/backend/base/langflow/api/v1/traces.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: address cris I6
  src/backend/base/langflow/alembic/versions/a1b2c3d4e5f6_add_trace_and_span_tables.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: address cris I5
  src/backend/base/langflow/api/v1/traces.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: address cris R7
  src/backend/base/langflow/alembic/versions/a1b2c3d4e5f6_add_trace_and_span_tables.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix testcase
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/traceViewHelpers.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: address cris R2
  src/backend/base/langflow/services/tracing/native.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

restructure insight page into sidenav
  src/backend/base/langflow/api/v1/traces.py
  src/backend/tests/unit/api/v1/test_traces.py
  src/frontend/src/components/core/logCanvasControlsComponent/__tests__/LogCanvasControls.spec.tsx
  src/frontend/src/components/core/logCanvasControlsComponent/index.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanDetail.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/TraceDetailView.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/traceViewHelpers.test.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewHelpers.ts
  src/frontend/src/modals/flowLogsModal/config/flowTraceColumns.tsx
  src/frontend/src/pages/FlowInsightsPage/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchInput.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/types/index.ts
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

replace async_open() with anyio.Path.read_text()
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/tests/unit/test_initial_setup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix tests lifespan manager
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix mcp concurrency error
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add Openlayer Integration (#10699)
  .secrets.baseline
  docs/docs/Develop/integrations-openlayer.mdx
  src/backend/base/langflow/services/tracing/openlayer.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/services/tracing/test_tracing_service.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff fixes
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tests): Resolve caio context leak causing EAGAIN on CI (#11936)
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: add AGENTS.md for AI coding agents (#11411)
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: azure-pipelines.yml

added header and total run node
  src/frontend/package-lock.json
  src/frontend/src/controllers/API/queries/traces/types.ts
  src/frontend/src/modals/flowLogsModal/components/FlowInsightsContent.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/TraceAccordionItem.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/TraceDetailView.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/TraceDetailView.test.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewHelpers.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/types.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/routes.tsx
  src/frontend/tests/core/features/traces.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: preserve [complete] extra in langflow-base pre-release constraint (#11931)
  .github/workflows/release.yml
  scripts/ci/test_constraint_preservation.py
Due: azure-pipelines.yml

fix: upgrade opentelemetry stack (#11933)
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_auth_jwt_algorithms.py
  src/backend/tests/unit/test_telemetry.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
