Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(scripts): keep keys and the database password out of migrate_secret_key output (#15526)
  scripts/migrate_secret_key.py
  src/backend/tests/unit/scripts/test_migrate_secret_key.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): make check-integrity and migration-preflight findings accurate and actionable (#15528)
  src/backend/base/langflow/cli/integrity.py
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/conftest.py
  src/backend/tests/unit/cli/test_integrity.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: support Google Desktop token parameters
  design/dedicated-integrations/decisions/desktop-oauth-ownership.md
  scripts/ci/authz_endpoint_matrix.json
  src/backend/base/langflow/services/connection/oauth/config.py
  src/backend/tests/unit/api/v1/test_connection_registrations.py
  src/backend/tests/unit/services/connection/test_oauth_providers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: retain failed OAuth outcome for consent retries
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/__tests__/AddConnectionDialog.reauthorize.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/components/AddConnectionDialog.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(api): read a comma in the audit search as one phrase
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/base/langflow/api/v1/audits.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/feed.py
  src/backend/tests/unit/api/v1/test_audits_feed_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: block unsafe module reexports in assistant code scanning (#15586)
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add SendHQ bundle with send, list, read, and reply email components
  docs/docs/Components/bundles-sendhq.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/docs/_partial-opt-in-bundles.mdx
  docs/sidebars.js
  pyproject.toml
  scripts/ci/release_inventory_contract.json
  scripts/migrate/consolidate_bundles.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/sendhq/__init__.py
  src/bundles/lfx-bundles/src/lfx_bundles/sendhq/list_emails.py
  src/bundles/lfx-bundles/src/lfx_bundles/sendhq/read_email.py
  src/bundles/lfx-bundles/src/lfx_bundles/sendhq/reply_to_email.py
  src/bundles/lfx-bundles/src/lfx_bundles/sendhq/send_email.py
  src/bundles/lfx-bundles/src/lfx_bundles/sendhq/sendhq_common.py
  src/bundles/lfx-bundles/tests/test_sendhq_components.py
  src/frontend/src/icons/SendHQ/SendHQ.jsx
  src/frontend/src/icons/SendHQ/index.tsx
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/extension/migration/migration_table.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(api): add the unified audit feed and streaming export (#15243)
  docs/features/application-audit-log.md
  src/backend/base/langflow/alembic/versions/27727fccba3e_add_audit_events_timeline_index.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/base/langflow/api/v1/audits.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/attribution.py
  src/backend/base/langflow/services/audit/feed.py
  src/backend/base/langflow/services/audit/query.py
  src/backend/base/langflow/services/audit/search_sql.py
  src/backend/base/langflow/services/authorization/audit.py
  src/backend/base/langflow/services/database/models/audit_event/model.py
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/api/v1/test_audits_feed_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): add the flow audits read API (#15089)
  docs/features/application-audit-log.md
  src/backend/base/langflow/alembic/versions/27727fccba3e_add_audit_events_timeline_index.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/base/langflow/api/v1/audits.py
  src/backend/base/langflow/api/v1/flows_audits.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/attribution.py
  src/backend/base/langflow/services/audit/feed.py
  src/backend/base/langflow/services/audit/query.py
  src/backend/base/langflow/services/audit/search_sql.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/actions.py
  src/backend/base/langflow/services/authorization/audit.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/database/models/audit_event/model.py
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/api/v1/test_audits_feed_api.py
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
  src/backend/tests/unit/services/authorization/test_actions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): add the project audits read API (#15088)
  docs/features/application-audit-log.md
  src/backend/base/langflow/alembic/versions/27727fccba3e_add_audit_events_timeline_index.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/base/langflow/api/v1/audits.py
  src/backend/base/langflow/api/v1/flows_audits.py
  src/backend/base/langflow/api/v1/projects_audits.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/attribution.py
  src/backend/base/langflow/services/audit/feed.py
  src/backend/base/langflow/services/audit/query.py
  src/backend/base/langflow/services/audit/search_sql.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/actions.py
  src/backend/base/langflow/services/authorization/audit.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/database/models/audit_event/model.py
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/api/v1/audit_helpers.py
  src/backend/tests/unit/api/v1/test_audit_reads_parsing.py
  src/backend/tests/unit/api/v1/test_audits_feed_api.py
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
  src/backend/tests/unit/api/v1/test_projects_audits_api.py
  src/backend/tests/unit/services/authorization/test_actions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: complete Desktop OAuth consent and retries (#15596)
  design/dedicated-integrations/decisions/desktop-oauth-ownership.md
  scripts/ci/authz_endpoint_matrix.json
  src/backend/base/langflow/api/v1/connections.py
  src/backend/base/langflow/services/connection/oauth/broker.py
  src/backend/base/langflow/services/connection/oauth/config.py
  src/backend/tests/unit/api/v1/test_connection_oauth.py
  src/backend/tests/unit/api/v1/test_connection_registrations.py
  src/backend/tests/unit/services/connection/test_oauth_providers.py
  src/backend/tests/unit/services/connection/test_refresh_skew.py
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/__tests__/AddConnectionDialog.reauthorize.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/components/AddConnectionDialog.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: prevent variable share actions from opening the editor
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/__tests__/GlobalVariablesPage.sharing.test.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: guard provider SDK custom headers before credential egress
  pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/components/anthropic/anthropic.py
  src/bundles/anthropic/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/sambanova/sambanova.py
  src/bundles/lfx-bundles/tests/test_provider_credential_egress.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): keep a project create rollbackable
  src/backend/base/langflow/api/v1/projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): merge the audit events and storage heads
  src/backend/base/langflow/alembic/versions/f3a9c1d7b025_merge_audit_events_and_storage_heads.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve failed run records and observability coverage
  .devcontainer/README.md
  docs/features/langflow-assistant-mcp.md
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/tests/unit/api/v1/test_chat_build_flow_authz.py
  src/backend/tests/unit/api/v1/test_execution_principal_contract.py
  src/backend/tests/unit/api/v1/test_integration_run_errors.py
  src/backend/tests/unit/api/v1/test_run_completion_timestamp.py
  src/backend/tests/unit/api/v2/test_workflow_shared_secret_execution.py
  src/backend/tests/unit/test_lifespan_startup_cleanup.py
  src/backend/tests/unit/test_telemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enforce credential egress policy across provider components (#15587)
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/anthropic/pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/components/anthropic/anthropic.py
  src/bundles/anthropic/src/lfx_anthropic/extension.json
  src/bundles/anthropic/tests/test_provider_credential_egress.py
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai_embeddings.py
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/azure/tests/test_provider_credential_egress.py
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx.py
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx_embeddings.py
  src/bundles/ibm/src/lfx_ibm/extension.json
  src/bundles/ibm/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/aiml/aiml.py
  src/bundles/lfx-bundles/src/lfx_bundles/deepseek/deepseek.py
  src/bundles/lfx-bundles/src/lfx_bundles/groq/groq.py
  src/bundles/lfx-bundles/src/lfx_bundles/mistral/mistral_embeddings.py
  src/bundles/lfx-bundles/src/lfx_bundles/sambanova/sambanova.py
  src/bundles/lfx-bundles/tests/test_connector_ssrf.py
  src/bundles/lfx-bundles/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/tests/test_ssrf_guarded_url_components.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge): refresh statistics after flow ingestion (#15578)
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/unit/components/files_and_knowledge/test_ingestion.py
  src/backend/tests/unit/components/files_and_knowledge/test_knowledge_sqlite_ingestion.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: prevent variable Share actions from opening the editor (#15600)
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/__tests__/GlobalVariablesPage.sharing.test.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

perf(lfx): run token usage and provider metrics callbacks inline (#15482)
  src/lfx/src/lfx/base/agents/token_callback.py
  src/lfx/src/lfx/observability_llm_metrics.py
  src/lfx/tests/unit/base/agents/test_token_callback.py
  src/lfx/tests/unit/observability/test_llm_provider_metrics.py
Due: azure-pipelines.yml

perf(kb): verify pgvector tables once per process and lock DDL per table
  src/backend/tests/unit/base/knowledge_bases/test_postgres_backend.py
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
  src/lfx/tests/unit/base/knowledge_bases/test_postgres_backend.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(cli): add --json output to check-integrity and migration-preflight
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/cli/integrity.py
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_integrity.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(cli): accept the target's Langflow version in migration-preflight
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): invalidate changed migration finding acceptances
  src/backend/base/langflow/api/v1/migration.py
  src/backend/tests/unit/api/v1/test_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): run the migration source checks from superuser endpoints
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/migration.py
  src/backend/tests/unit/api/v1/test_migration.py
  src/lfx/src/lfx/services/settings/feature_flags.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(lfx): cache component class names per source (#15471)
  src/lfx/src/lfx/custom/validate.py
  src/lfx/tests/unit/custom/component/test_validate.py
Due: azure-pipelines.yml

perf(kb): share one pgvector engine per event loop and insert without a transaction
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
  src/lfx/tests/unit/base/knowledge_bases/test_postgres_backend.py
Due: azure-pipelines.yml

fix(opper): fall back to pool names on a malformed model list
  docs/docs/_partial-opt-in-bundles-chroma.mdx
  src/bundles/lfx-bundles/src/lfx_bundles/opper/opper.py
  src/bundles/lfx-bundles/tests/test_opper_component.py
Due: azure-pipelines.yml

fix: await model choices and live discovery inputs
  src/lfx/pyproject.toml
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/__init__.py
  src/lfx/src/lfx/base/models/unified_models/model_catalog.py
  src/lfx/src/lfx/components/models_and_agents/model_selection.py
  src/lfx/tests/unit/base/models/test_async_live_model_options.py
  src/lfx/tests/unit/base/models/test_async_model_options.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf: save agent usage in the final message write
  pyproject.toml
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Deep Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Multi Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/youtube/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/src/lfx/components/input_output/chat_output.py
  src/lfx/src/lfx/components/models_and_agents/agent.py
  src/lfx/tests/unit/base/agents/test_final_usage_persistence.py
  src/lfx/tests/unit/components/input_output/test_chat_output_token_usage.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_create_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: await model setup in components
  BUNDLE_API.md
  pyproject.toml
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/youtube/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/models/model.py
  src/lfx/src/lfx/components/langchain_utilities/tool_calling.py
  src/lfx/src/lfx/components/llm_operations/batch_run.py
  src/lfx/src/lfx/components/llm_operations/lambda_filter.py
  src/lfx/src/lfx/components/models_and_agents/language_model.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/components/models_and_agents/test_async_component_models.py
  src/lfx/tests/unit/components/test_async_llm_operations.py
  src/lfx/tests/unit/custom/custom_component/test_async_model_policy_gate.py
  src/lfx/tests/unit/services/model_provider_policy/test_policy.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf: share TLS setup within protected client pairs
  src/bundles/docling/tests/test_docling_remote.py
  src/lfx/src/lfx/utils/ssrf_httpx.py
  src/lfx/tests/unit/base/models/test_provider_ssrf.py
  src/lfx/tests/unit/base/models/test_unified_model_ssrf.py
  src/lfx/tests/unit/utils/test_ssrf_httpx_client_pair.py
Due: azure-pipelines.yml

fix: align bundled Agent source metadata with flow validation
  src/bundles/lfx-bundles/src/lfx_bundles/youtube/starter_projects/Youtube Analysis.json
  src/lfx/tests/unit/components/models_and_agents/test_agent_source_assets.py
Due: azure-pipelines.yml

fix(frontend): record /settings/migration in the a11y route manifest
  scripts/a11y/a11y_routes.json
Due: azure-pipelines.yml

feat(frontend): add a guided Settings > Migration page for superusers
  .secrets.baseline
  src/frontend/playwright.config.ts
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/migration/index.ts
  src/frontend/src/controllers/API/queries/migration/types.ts
  src/frontend/src/controllers/API/queries/migration/use-migration.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/ko.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/CheckStep.tsx
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/__tests__/catalog.test.ts
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/catalog.ts
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/index.tsx
  src/frontend/src/routes.tsx
  src/frontend/tests/core/features/migration-checks.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): keep the record download link inside the column at phone width
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/index.tsx
  src/frontend/tests/core/features/migration-checks.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): handle migration check connection failures
  src/frontend/src/controllers/API/queries/migration/use-migration.ts
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/CheckStep.tsx
  src/frontend/src/pages/SettingsPage/pages/MigrationPage/__tests__/source-checks.test.tsx
  src/frontend/tests/a11y/mcp-servers.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
