Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(background): scope idempotency_key dedupe per-user
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/services/jobs/test_jobs_dedupe_scope.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): liveness-aware + single-flight default orphan sweep
  src/backend/base/langflow/services/background_execution/runner.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/background_execution/test_multi_worker_boot_hard_proof.py
  src/backend/tests/unit/services/background_execution/test_orphan_sweep.py
  src/backend/tests/unit/services/jobs/test_sweep_liveness.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: bootstrap env variables for superusers
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/services/test_utils_superuser_variables.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: bound openai responses execution time
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/base/langflow/tests/api/v1/test_openai_responses_error.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add IP-based rate limiting to login endpoint (#13469)
  .env.example
  .secrets.baseline
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/rate_limit/__init__.py
  src/backend/base/langflow/services/rate_limit/service.py
  src/backend/base/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_login_rate_limiting.py
  src/lfx/src/lfx/services/settings/base.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): lease-aware scaled reconcile + periodic watchdog + QUEUED-strand recovery
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/services/background_execution/redis_backend.py
  src/backend/base/langflow/services/background_execution/redis_queue.py
  src/backend/base/langflow/services/background_execution/worker.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/services/background_execution/test_periodic_watchdog_realredis.py
  src/backend/tests/unit/services/background_execution/test_queued_strand_realredis.py
  src/backend/tests/unit/services/background_execution/test_scaled_liveness_realredis.py
  src/backend/tests/unit/services/background_execution/test_worker_loop.py
  src/backend/tests/unit/services/background_execution/test_worker_subprocess_e2e.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: harden openai responses timeout handling
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/base/langflow/tests/api/v1/test_openai_responses_error.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add superuser bootstrap docstrings
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/services/test_utils_superuser_variables.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add Oracle Integration
  docs/docs/Components/bundles-oracledb.mdx
  docs/sidebars.js
  src/backend/tests/oracle_test_utils.py
  src/backend/tests/unit/components/data_source/test_oracle.py
  src/backend/tests/unit/components/embeddings/test_oracle_embeddings_component.py
  src/backend/tests/unit/components/vectorstores/test_oraclevs_vector_store_component.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/icons/Oracle/Oracle.jsx
  src/frontend/src/icons/Oracle/index.tsx
  src/frontend/src/icons/Oracle/oracle.svg
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/oracledb/__init__.py
  src/lfx/src/lfx/components/oracledb/connection.py
  src/lfx/src/lfx/components/oracledb/oracledb_embeddings.py
  src/lfx/src/lfx/components/oracledb/oracledb_loaders.py
  src/lfx/src/lfx/components/oracledb/oraclevs.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: add env vars for login endpoint rate limiting (#13489)
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fix(background): terminal events on TIMED_OUT/CANCELLED + late-stop result consistency
  src/backend/base/langflow/services/background_execution/runner.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/services/background_execution/test_runner.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): default re-enqueue lease-claims QUEUED without flipping IN_PROGRESS
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/services/background_execution/test_orphan_sweep.py
  src/backend/tests/unit/services/jobs/test_jobs_liveness.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(background): explicit no-double-run-under-concurrent-reconcile proofs
  src/backend/tests/unit/services/background_execution/test_scaled_liveness_realredis.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): unify Last-Event-ID namespace to durable seq for live frames
  src/backend/base/langflow/services/background_execution/runner.py
  src/backend/tests/unit/background_execution/test_last_event_id_contract.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): dedup durable milestones at the cross-replica reattach seam
  src/backend/base/langflow/services/background_execution/redis_backend.py
  src/backend/tests/unit/services/background_execution/test_reattach_dedup_realredis.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add back in the missing npm docker changes
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

Add Oracle Integration
  docs/docs/Components/bundles-oracledb.mdx
  docs/sidebars.js
  src/backend/base/pyproject.toml
  src/backend/tests/oracle_test_utils.py
  src/backend/tests/unit/components/data_source/test_oracle.py
  src/backend/tests/unit/components/embeddings/test_oracle_embeddings_component.py
  src/backend/tests/unit/components/vectorstores/test_oraclevs_vector_store_component.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/icons/Oracle/Oracle.jsx
  src/frontend/src/icons/Oracle/index.tsx
  src/frontend/src/icons/Oracle/oracle.svg
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/oracledb/__init__.py
  src/lfx/src/lfx/components/oracledb/connection.py
  src/lfx/src/lfx/components/oracledb/oracledb_embeddings.py
  src/lfx/src/lfx/components/oracledb/oracledb_loaders.py
  src/lfx/src/lfx/components/oracledb/oraclevs.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(background): make durable replay byte-identical to live per protocol
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/background_execution/test_agui_replay_byte_identical.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): bound InMemoryLiveBus._closed so it does not leak per job
  src/backend/base/langflow/services/background_execution/live_bus.py
  src/backend/tests/unit/services/background_execution/test_live_bus.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): close the scaled backend redis client on facade teardown
  src/backend/base/langflow/services/background_execution/redis_backend.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/services/background_execution/test_facade_teardown_realredis.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): batch the scaled live-bus stream TTL refresh, not per-XADD
  src/backend/base/langflow/services/background_execution/redis_live_bus.py
  src/backend/tests/unit/services/background_execution/test_live_bus_ttl_realredis.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix styleUtils problem
  src/frontend/src/utils/styleUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): translate additional QA-identified untranslated strings
  src/backend/base/langflow/locales/ja.json
  src/frontend/src/components/core/canvasControlsComponent/CanvasControls.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
  src/frontend/src/flow_constants.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(background): bound _closed via LRU, preserving reattach-to-closed terminate
  src/backend/base/langflow/services/background_execution/live_bus.py
  src/backend/tests/unit/services/background_execution/test_live_bus.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add back in the missing npm docker changes (#13501)
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix(background): drop the dead pub/sub stop fast-path, durable poll is the path
  src/backend/base/langflow/services/background_execution/redis_backend.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/services/background_execution/test_control_fastpath.py
  src/backend/tests/unit/services/background_execution/test_control_fastpath_realredis.py
  src/backend/tests/unit/services/background_execution/test_scaled_stop_latency_realredis.py
  src/backend/tests/unit/services/background_execution/test_worker_subprocess_stop.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: replace GradientSave icon with plain Save in saved components sidebar (#13485)
  src/frontend/src/icons/GradientSparkles/index.tsx
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(background): redact inline globals from the persisted replay request
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/background_execution/test_facade_hard_proof.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(oracledb): address review feedback
  src/backend/tests/unit/components/vectorstores/test_oraclevs_vector_store_component.py
  src/lfx/src/lfx/components/oracledb/connection.py
  src/lfx/src/lfx/components/oracledb/oraclevs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(oracledb): apply formatting
  src/backend/tests/unit/components/vectorstores/test_oraclevs_vector_store_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): close attempt-cap race by bumping attempt and flipping QUEUED atomically
  src/backend/base/langflow/services/background_execution/redis_backend.py
  src/backend/base/langflow/services/jobs/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

improve notes component
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/MemoizedCanvasControls.test.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/compute-note-position.test.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/utils/compute-note-position.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Improved styling of DatePicker icon in dark theme for API Key Creation modal.
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add pre-fork hook
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/cli/serve_gunicorn.py
  src/lfx/src/lfx/cli/serve_preloaded_app.py
  src/lfx/tests/unit/cli/test_serve.py
  src/lfx/tests/unit/cli/test_serve_process_model.py
  src/lfx/tests/unit/services/test_no_env_fallback_credentials.py
Due: azure-pipelines.yml

fix(i18n): fix CI failures — Biome import order and updated test constants
  src/frontend/src/components/core/flowBuilderWelcome/__tests__/flow-builder-welcome.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/flow-builder-welcome.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Improved styling of DatePicker icon in dark theme (#13506)
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: url component sync and async
  src/backend/tests/unit/components/data_source/test_dns_rebinding.py
  src/backend/tests/unit/components/data_source/test_url_component.py
  src/backend/tests/unit/components/processing/test_split_text_component.py
  src/lfx/src/lfx/components/data_source/url.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs-add-gunicorn-config
  docs/docs/Deployment/deployment-multi-worker.mdx
Due: azure-pipelines.yml

docs-env-vars-gunicorn-configuration
  docs/docs/Develop/environment-variables.mdx
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
