Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

gh suggestions
  src/lfx/src/lfx/components/models_and_agents/agent.py
  src/lfx/src/lfx/components/models_and_agents/agent_helpers/messages_input_builder.py
  src/lfx/src/lfx/components/models_and_agents/agent_helpers/placeholder_corrective_middleware.py
  src/lfx/src/lfx/components/models_and_agents/agent_helpers/single_tool_call_middleware.py
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_messages_input_builder.py
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_placeholder_corrective_middleware.py
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_single_tool_call_middleware.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_create_agent.py
Due: azure-pipelines.yml

ruff style and checker
  src/lfx/src/lfx/components/models_and_agents/agent.py
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_single_tool_call_middleware.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_create_agent.py
Due: azure-pipelines.yml

refactor: rewrite SSRF protection tests to test real implementation
  src/backend/tests/unit/components/data_source/test_api_request_component.py
  src/lfx/src/lfx/utils/ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(lfx): clarify broad except, log malformed bundle.json, expand test docstring
  src/lfx/src/lfx/extension/loader/_discovery.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/tests/unit/extension/loader/test_load_extension.py
Due: azure-pipelines.yml

feat(i18n): translate node toolbar action tooltips, update bar labels, and confirmation modal strings
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeUpdateComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/components/toolbar-modals.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(lfx): wire Extension System into /all, pathsep-split LANGFLOW_COMPONENTS_PATH, emit duplicate-distribution
  src/backend/base/langflow/plugin_routes.py
  src/lfx/src/lfx/extension/__init__.py
  src/lfx/src/lfx/extension/errors.py
  src/lfx/src/lfx/extension/loader/__init__.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/loader/_plugins.py
  src/lfx/src/lfx/interface/components.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/tests/unit/extension/loader/conftest.py
  src/lfx/tests/unit/extension/loader/test_load_installed.py
  src/lfx/tests/unit/extension/loader/test_plugins.py
  src/lfx/tests/unit/extension/test_components_cache_integration.py
  src/lfx/tests/unit/extension/test_components_path_settings.py
  src/lfx/tests/unit/extension/test_errors.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: delete stale test_main_superuser_init
  src/backend/tests/unit/test_main_superuser_init.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): register extension components under namespaced ID; promote duplicate-distribution to error
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/interface/components.py
  src/lfx/tests/unit/extension/loader/test_load_installed.py
  src/lfx/tests/unit/extension/test_components_cache_integration.py
Due: azure-pipelines.yml

Revert "test: delete stale test_main_superuser_init"
  src/backend/tests/unit/test_main_superuser_init.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(i18n): translate note toolbar, inspection panel, sidebar config trigger, and table pagination strings
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/TableOptions/index.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelField.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelHeader.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchConfigTrigger.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): translate header GitHub/Discord tooltips, playground disabled tooltip, and session options tooltip
  src/frontend/src/components/core/appHeaderComponent/components/langflow-counts.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/playground-button.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/modals/IOModal/components/IOFieldView/components/session-selector.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Reapply "test: delete stale test_main_superuser_init"
  src/backend/tests/unit/test_main_superuser_init.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: drop manual smoke-run artifacts from test docstrings
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_messages_input_builder.py
Due: azure-pipelines.yml

feat(i18n): translate IOModal new chat, edit/copy message, and helpful/not-helpful tooltips
  src/frontend/src/locales/en.json
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/message-options.tsx
  src/frontend/src/modals/IOModal/components/sidebar-open-view.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix connection llm mcp
  src/backend/base/langflow/agentic/flows/LangflowAssistant.json
  src/backend/base/langflow/agentic/flows/flow_builder_assistant.py
  src/backend/base/langflow/agentic/helpers/assistant_workspace.py
  src/backend/base/langflow/agentic/services/assistant_service.py
  src/backend/base/langflow/agentic/services/flow_preparation.py
  src/backend/base/langflow/agentic/services/helpers/flow_loader.py
  src/backend/tests/unit/agentic/flows/test_flow_builder_assistant.py
  src/backend/tests/unit/agentic/flows/test_langflow_assistant_prompt.py
  src/backend/tests/unit/agentic/helpers/test_assistant_workspace.py
  src/backend/tests/unit/agentic/services/test_flow_preparation.py
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-input.test.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-input.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-message.tsx
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat-progress.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/use-assistant-chat.ts
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/controllers/API/queries/agentic/types.ts
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/mcp/flow_builder_tools.py
  src/lfx/tests/unit/custom/component/test_inputs_class_isolation.py
  src/lfx/tests/unit/test_flow_builder_tools.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): translate voice assistant audio settings, labels, tooltips, and API key inputs
  src/frontend/src/locales/en.json
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/header.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/language-select.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/microphone-select.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/voice-select.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/settings-voice-button.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): installed-distribution discovery accepts pyproject.toml manifest form
  src/lfx/src/lfx/extension/loader/_plugins.py
  src/lfx/tests/unit/extension/loader/conftest.py
  src/lfx/tests/unit/extension/loader/test_plugins.py
Due: azure-pipelines.yml

fix: validate review tool names inline
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/step-review.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/utils/wxo-name.ts
  src/frontend/tests/core/features/deployment-create.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

translations of previous entries
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(lfx): tighten loader invariants, surface silent skips, harden tests
  src/lfx/src/lfx/extension/errors.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/loader/_types.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/tests/unit/extension/loader/test_inline_bundles.py
  src/lfx/tests/unit/extension/loader/test_load_extension.py
  src/lfx/tests/unit/extension/loader/test_plugins.py
  src/lfx/tests/unit/extension/test_errors.py
Due: azure-pipelines.yml

fix(lfx): malformed pyproject manifests surface manifest-invalid instead of disappearing
  src/lfx/src/lfx/extension/loader/_plugins.py
  src/lfx/tests/unit/extension/loader/conftest.py
  src/lfx/tests/unit/extension/loader/test_plugins.py
Due: azure-pipelines.yml

fix(kb): align OpenSearch KB default vector field with canvas component (#13009)
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
  src/frontend/src/constants/dbProviderConstants.ts
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/index.tsx
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(lfx): emit inline-path-unreadable, document reload contract, trim rot
  src/lfx/src/lfx/extension/errors.py
  src/lfx/src/lfx/extension/loader/_discovery.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/loader/_plugins.py
  src/lfx/tests/unit/extension/loader/test_inline_bundles.py
  src/lfx/tests/unit/extension/test_errors.py
Due: azure-pipelines.yml

docs-add-build-from-source-and-refresh
  docs/docs/Deployment/deployment-docker.mdx
Due: azure-pipelines.yml

fix: Stay deleted when sentinel shows up
  src/backend/base/langflow/api/utils/knowledge_base_service.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update ingestion.py
  src/backend/base/langflow/services/memory_base/ingestion.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: skip missing server file when delete_after_processing=True to avoid race condition (fixes #8887)
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/tests/unit/base/data/test_base_file.py
Due: azure-pipelines.yml

test(lfx): cover file_path branch for missing-file ValueError
  src/lfx/tests/unit/base/data/test_base_file.py
Due: azure-pipelines.yml

fix: cache parsed result so concurrent outputs don't drop server-file data
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/tests/unit/base/data/test_base_file.py
Due: azure-pipelines.yml

feat(i18n): translate remaining hardcoded strings in alt texts, placeholders, and step titles
  src/frontend/src/components/core/appHeaderComponent/components/ProfileIcon/index.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-empty-state.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-message.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-no-models-state.tsx
  src/frontend/src/components/core/canvasControlsComponent/CanvasControls.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/mcp-server-notice.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/apiModal/codeTabs/code-tabs.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix be tests
  src/lfx/src/lfx/components/tools/filesystem.py
  src/lfx/tests/unit/components/tools/test_filesystem_l2_binding_atomicity.py
  src/lfx/tests/unit/components/tools/test_filesystem_reserved_segment_case.py
  src/lfx/tests/unit/components/tools/test_filesystem_toctou_symlink.py
Due: azure-pipelines.yml

Remove non-WXO bearer alias assertion from variable service test
  src/lfx/tests/unit/services/test_minimal_services.py
Due: azure-pipelines.yml

fix: serialize load_files_base with per-instance lock and key cache by paths
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/tests/unit/base/data/test_base_file.py
Due: azure-pipelines.yml

ruff style and checker
  src/lfx/tests/unit/components/tools/test_filesystem_l2_binding_atomicity.py
  src/lfx/tests/unit/components/tools/test_filesystem_reserved_segment_case.py
  src/lfx/tests/unit/components/tools/test_filesystem_toctou_symlink.py
Due: azure-pipelines.yml

ruff style and checker
  src/lfx/tests/unit/components/tools/test_filesystem_toctou_symlink.py
Due: azure-pipelines.yml

fix(kb): cancel in-flight ingestion jobs on KB delete (#13003)
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/utils/knowledge_base_service.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_service.py
  src/backend/tests/unit/test_kb_storage_deletion.py
  src/backend/tests/unit/test_knowledge_bases_api.py
  src/lfx/src/lfx/base/knowledge_bases/knowledge_base_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff style and checker
  src/lfx/src/lfx/components/tools/filesystem.py
  src/lfx/tests/unit/components/tools/test_filesystem_l2_binding_atomicity.py
  src/lfx/tests/unit/components/tools/test_filesystem_reserved_segment_case.py
  src/lfx/tests/unit/components/tools/test_filesystem_toctou_symlink.py
Due: azure-pipelines.yml

fix: eagerly init load_files_base lock in __init__ to close first-entry race
  src/lfx/src/lfx/base/data/base_file.py
Due: azure-pipelines.yml
