Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

facelift
  src/backend/base/langflow/api/v1/traces.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/traces/model.py
  src/frontend/src/components/core/logCanvasControlsComponent/index.tsx
  src/frontend/src/controllers/API/queries/traces/use-get-traces.ts
  src/frontend/src/modals/flowLogsModal/components/FlowInsightsContent.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanDetail.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/index.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/statusHelpers.ts
  src/frontend/src/modals/flowLogsModal/config/flowTraceColumns.tsx
  src/frontend/src/pages/FlowInsightsPage/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/utils/dateTime.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update tests to use ModelInput
  src/lfx/tests/unit/components/langchain_utilities/test_csv_agent.py
Due: azure-pipelines.yml

Update opensearch_multimodal.py
  src/lfx/src/lfx/components/elastic/opensearch_multimodal.py
Due: azure-pipelines.yml

Ruff fixes
  src/lfx/src/lfx/components/langchain_utilities/openai_tools.py
  src/lfx/src/lfx/components/langchain_utilities/openapi.py
Due: azure-pipelines.yml

Remove whitespace
  src/lfx/src/lfx/components/langchain_utilities/openai_tools.py
  src/lfx/src/lfx/components/langchain_utilities/openapi.py
Due: azure-pipelines.yml

wire frontend to actual backend implementation
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/deployments/use-deployments.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/ConfigureDeploymentProviderModal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/DeploymentProvidersView.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/RegisterDeploymentProviderModal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/index.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/steps/StepAttach.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/steps/StepReview.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

wire frontend to actual backend implementation
  src/frontend/src/controllers/API/queries/deployments/use-deployments.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/ConfigureDeploymentProviderModal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/DeploymentProvidersView.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/RegisterDeploymentProviderModal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

More components
  src/lfx/src/lfx/components/langchain_utilities/sql.py
  src/lfx/src/lfx/components/langchain_utilities/tool_calling.py
  src/lfx/src/lfx/components/langchain_utilities/xml_agent.py
Due: azure-pipelines.yml

Added file locking to avoid lock contention and SQLite connection starvation.
  src/backend/base/langflow/alembic/versions/169b35510b37_added_job_type_to_make_jobs_generic_and_.py
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update test_ibm_granite_handler.py
  src/backend/tests/unit/components/models_and_agents/test_ibm_granite_handler.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update test_tool_calling_agent.py
  src/backend/tests/unit/components/models_and_agents/test_tool_calling_agent.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Re-add OSS/enterprise plugin support with safe SSO migration (#11879)
  src/backend/base/langflow/alembic/versions/b1c2d3e4f5a6_add_sso_plugin_tables_sso_user_profile_.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/plugin_routes.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/auth/__init__.py
  src/backend/base/langflow/services/database/models/auth/sso.py
  src/backend/tests/unit/test_plugin_routes.py
  src/backend/tests/unit/test_sso_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

address review comments
  src/lfx/src/lfx/components/elastic/opensearch.py
Due: azure-pipelines.yml

feat: comment out ep release from nightly release
  .github/workflows/release_nightly.yml
Due: azure-pipelines.yml

chore: onnxruntime<=1.23
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

unify deployments view
  src/backend/base/langflow/services/deployment/watsonx_orchestrate.py
  src/frontend/src/controllers/API/queries/deployments/use-deployments.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/DeploymentProvidersView.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/columnDefs.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/constants.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/index.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/useDeploymentForm.ts
  src/lfx/src/lfx/services/deployment/schema.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: comment out ep release from nightly release (#11888)
  .github/workflows/release_nightly.yml
Due: azure-pipelines.yml

Add comment
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: use ~= instead
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update component_index.json
  src/backend/base/langflow/api/v1/openai_responses.py
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/custom/custom_component/component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: added lower bound instead
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add more awit for selectors
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: onnxruntime<=1.23 (#11889)
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update uv.lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update nightly hash history for v1.8.0.dev63
  src/lfx/src/lfx/_assets/nightly_hash_history.json
Due: azure-pipelines.yml

feat: 为前端应用添加国际化支持，并引入中英文翻译。
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/playground-button.tsx
  src/frontend/src/components/core/languageSelectorComponent/index.tsx
  src/frontend/src/components/core/logCanvasControlsComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/i18n/index.ts
  src/frontend/src/i18n/locales/en/translation.json
  src/frontend/src/i18n/locales/zh-CN/translation.json
  src/frontend/src/index.tsx
  src/frontend/src/pages/FlowPage/components/SelectionMenuComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/emptySearchComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/featureTogglesComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchInput.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFilterComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/get-disabled-tooltip.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/pages/emptyFolder/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/src/pages/SignUpPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: 为节点分类、节点名称和节点输出参数添加国际化支持。
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputParameter/index.tsx
  src/frontend/src/CustomNodes/utils/get-field-title.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/i18n/locales/en/translation.json
  src/frontend/src/i18n/locales/zh-CN/translation.json
  src/frontend/src/i18n/nodeTranslations.ts
  src/frontend/src/utils/styleUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: address CodeRabbit review - add docstrings, tests, and Decimal sanitization
  src/lfx/src/lfx/schema/data.py
  src/lfx/tests/unit/schema/test_schema_data.py
Due: azure-pipelines.yml

fix: sanitize NaN/Infinity values in Data serialization to prevent PostgreSQL JSON errors (#11324)
  src/lfx/src/lfx/schema/data.py
  src/lfx/tests/unit/schema/test_schema_data.py
Due: azure-pipelines.yml

fix: update test_primitive_types to expect None for NaN/Infinity floats
  src/backend/tests/unit/serialization/test_serialization.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
