Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

use datatime.timezone for python3.10 compatibility
  src/lfx/tests/unit/services/deployment/test_payload_formalization.py
Due: azure-pipelines.yml

use policy to avoid dump churn
  src/backend/base/langflow/api/v1/mappers/deployments/base.py
  src/backend/tests/unit/api/v1/test_deployment_mapper_base.py
  src/lfx/src/lfx/services/adapters/__init__.py
  src/lfx/src/lfx/services/adapters/deployment/schema.py
  src/lfx/src/lfx/services/adapters/payload.py
  src/lfx/tests/unit/services/deployment/test_payload_formalization.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

use appropriate type vars in slots and sanitize error message
  src/lfx/src/lfx/services/adapters/deployment/payloads.py
  src/lfx/src/lfx/services/adapters/payload.py
Due: azure-pipelines.yml

feat(deployments): unify payload passthrough from api to adapter (#12190)
  .secrets.baseline
  src/backend/base/langflow/api/v1/mappers/__init__.py
  src/backend/base/langflow/api/v1/mappers/deployments/__init__.py
  src/backend/base/langflow/api/v1/mappers/deployments/base.py
  src/backend/tests/unit/api/v1/test_deployment_mapper_base.py
  src/backend/tests/unit/api/v1/test_deployment_schemas.py
  src/lfx/PLUGGABLE_SERVICES.md
  src/lfx/src/lfx/services/adapters/__init__.py
  src/lfx/src/lfx/services/adapters/deployment/__init__.py
  src/lfx/src/lfx/services/adapters/deployment/base.py
  src/lfx/src/lfx/services/adapters/deployment/payloads.py
  src/lfx/src/lfx/services/adapters/deployment/schema.py
  src/lfx/src/lfx/services/adapters/deployment/service.py
  src/lfx/src/lfx/services/adapters/payload.py
  src/lfx/src/lfx/services/interfaces.py
  src/lfx/tests/unit/services/deployment/test_deployment_schema.py
  src/lfx/tests/unit/services/deployment/test_payload_formalization.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Remove langchain version compatibility
  src/lfx/src/lfx/cli/run.py
Due: azure-pipelines.yml

test: add PostgreSQL to migration CI tests
  .github/workflows/migration-validation.yml
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Explicitly add community to pyproject
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update test_dynamic_imports.py
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
Due: azure-pipelines.yml

fix: allow clearing Max Tokens field with Backspace/Delete (#12198)
  src/frontend/src/components/core/parameterRenderComponent/components/intComponent/__tests__/IntComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/intComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update test_flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

remove-workflows-file-and-script
  .github/workflows/docs-update-openapi.yml
  docs/scripts/clean_openapi_formatting.py
Due: azure-pipelines.yml

fix(traces): use SQLEnum with values_callable for SpanStatus to fix PostgreSQL enum constraint violation
  src/backend/base/langflow/services/database/models/traces/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

security verification fixes
  src/backend/base/langflow/agentic/services/helpers/flow_loader.py
  src/backend/tests/unit/agentic/flows/test_langflow_assistant.py
  src/backend/tests/unit/agentic/services/helpers/test_flow_loader.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

tag-hidden-endpoints
  src/backend/base/langflow/agentic/api/router.py
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/flow_version.py
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update-scripts-and-specs
  docs/openapi/fetch_openapi_spec.py
  docs/openapi/generate_openapi.py
  docs/openapi/openapi.json
Due: azure-pipelines.yml

fix: Resolve CodeQL false positives for path injection and URL substring sanitization (#12201)
  src/backend/base/langflow/agentic/services/helpers/flow_loader.py
  src/backend/tests/unit/agentic/flows/test_langflow_assistant.py
  src/backend/tests/unit/agentic/services/helpers/test_flow_loader.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff style and checker fixes
  src/backend/base/langflow/alembic/versions/0e6138e7a0c2_add_ondelete_cascade_to_file_user_id_fk.py
  src/lfx/src/lfx/components/processing/dataframe_operations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add custom build error for threat on desktop
  src/frontend/src/customization/utils/custom-build-error-transform.ts
  src/frontend/src/utils/buildUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add dict to allowlist preventing TableInput data loss (#12074)
  src/backend/tests/unit/base/tools/test_toolmodemixin.py
  src/lfx/src/lfx/custom/custom_component/component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: enhance Openlayer tracing integration
  src/backend/base/langflow/services/tracing/openlayer.py
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(traces): add explicit SQLEnum configuration for enum fields
  src/backend/base/langflow/services/database/models/traces/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update pyproject versions 1.9.0
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: 1.9.0 nightly
  .github/workflows/nightly_build.yml
  .secrets.baseline
Due: azure-pipelines.yml

fix: 1.9.0 nightly
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

fix: Fixed CodeQL security scan about Incomplete URL substring sanitization
  src/lfx/tests/unit/components/ibm/test_watsonx.py
  src/lfx/tests/unit/components/ibm/test_watsonx_embeddings.py
Due: azure-pipelines.yml

fix coderabbitai comments
  src/lfx/tests/unit/components/ibm/test_watsonx.py
Due: azure-pipelines.yml

fix: NameError in kubernetes.py exception handler when variables list is empty
  src/backend/base/langflow/services/variable/kubernetes.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: nightly now properly gets 1.9.0 branch
  .github/workflows/nightly_build.yml
  .secrets.baseline
Due: azure-pipelines.yml

checkout wxo deps and flow reqs impl
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

clean up / minor refactor with updated tests
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate.py
  src/backend/tests/unit/services/deployment/__init__.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

checkout wxo deployment adapter implementation
  scripts/langflow_deployments_api/adapters/deployment_watsonx_adapter_e2e.py
  scripts/langflow_deployments_api/deployment_create_e2e.py
  scripts/langflow_deployments_api/deployment_update_e2e.py
  src/backend/base/langflow/services/adapters/__init__.py
  src/backend/base/langflow/services/adapters/deployment/__init__.py
  src/backend/base/langflow/services/adapters/deployment/context.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

major refactor: split up the implementation into folders and files
  src/backend/base/langflow/services/adapters/__init__.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/__init__.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/client.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/constants.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/__init__.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/config.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/execution.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/retry.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/status.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/tools.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/types.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/utils.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

clean up logic
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/constants.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/execution.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/status.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

properly await "validate_connection"
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/tools.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

remove "provider_name" arg and references
  scripts/langflow_deployments_api/deployment_create_e2e.py
  scripts/langflow_deployments_api/deployment_update_e2e.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/client.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/config.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/tools.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
