Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat: traces v0
  .secrets.baseline
  src/backend/base/langflow/alembic/versions/a1b2c3d4e5f6_add_trace_and_span_tables.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/traces.py
  src/backend/base/langflow/services/database/models/traces/__init__.py
  src/backend/base/langflow/services/database/models/traces/model.py
  src/backend/base/langflow/services/tracing/native.py
  src/backend/base/langflow/services/tracing/native_callback.py
  src/backend/base/langflow/services/tracing/service.py
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/traces/index.ts
  src/frontend/src/controllers/API/queries/traces/use-get-trace.ts
  src/frontend/src/controllers/API/queries/traces/use-get-traces.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanDetail.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanTree.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/index.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/types.ts
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/services/tracing/base.py
  src/lfx/src/lfx/services/tracing/service.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: add docstrings to all BraintrustTracer methods for 100% coverage
  src/backend/base/langflow/services/tracing/braintrust.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add comprehensive unit tests for BraintrustTracer
  src/backend/tests/unit/services/tracing/test_braintrust_tracer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style: fix ruff SIM117, RUF059, FBT003 lint errors in test file
  src/backend/tests/unit/services/tracing/test_braintrust_tracer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

updated form
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/types.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

style: fix ruff I001 import sorting and RET504 unnecessary assignment
  src/backend/tests/unit/services/tracing/test_braintrust_tracer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: token range
  src/backend/base/langflow/services/tracing/native.py
  src/frontend/src/modals/flowLogsModal/components/TraceView/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

updated form
  src/frontend/src/controllers/API/queries/knowledge-bases/use-get-knowledge-bases.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/index.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: use sys.modules mocking so tests pass without braintrust installed
  src/backend/tests/unit/services/tracing/test_braintrust_tracer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

WIP: traces improvements, UI fixes, memory info cleanup, tools modal refactor
  src/backend/base/langflow/api/v1/traces.py
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/frontend/src/components/common/loadingComponent/index.tsx
  src/frontend/src/components/common/timeoutErrorComponent/index.tsx
  src/frontend/src/components/core/chatComponents/DurationDisplay.tsx
  src/frontend/src/components/core/chatComponents/__tests__/DurationDisplay.test.tsx
  src/frontend/src/components/ui/input.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/modals/toolsModal/index.tsx
  src/frontend/src/pages/FlowPage/components/LogsMainContent/components/LogsTableView.tsx
  src/frontend/src/pages/FlowPage/components/LogsMainContent/components/RunDetailPanel.tsx
  src/frontend/src/pages/FlowPage/components/LogsMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/TracesMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/EvaluationsSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/LogsSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/MessagesSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/TracesSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/index.tsx
  src/lfx/src/lfx/components/files_and_knowledge/info.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_info.py
  src/lfx/src/lfx/components/files_and_knowledge/retrieval.py
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
  src/lfx/src/lfx/components/utilities/calculator_core.py
  src/lfx/src/lfx/components/utilities/current_date.py
  src/lfx/src/lfx/components/utilities/id_generator.py
  src/lfx/src/lfx/components/utilities/python_repl_core.py
  src/lfx/src/lfx/io/schema.py
  src/lfx/tests/unit/base/tools/__init__.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add unified Operations component for Text, Data, and DataFrame
  src/lfx/src/lfx/components/processing/__init__.py
  src/lfx/src/lfx/components/processing/operations.py
Due: azure-pipelines.yml

mark-other-ops-components-as-legacy
  src/lfx/src/lfx/components/processing/data_operations.py
  src/lfx/src/lfx/components/processing/dataframe_operations.py
  src/lfx/src/lfx/components/processing/text_operations.py
Due: azure-pipelines.yml

refactor: rename DynamicCreateData component to CombineInputs
  src/lfx/src/lfx/components/processing/__init__.py
  src/lfx/src/lfx/components/processing/dynamic_create_data.py
Due: azure-pipelines.yml

fix: revert component class name to DynamicCreateDataComponent
  src/lfx/src/lfx/components/processing/dynamic_create_data.py
Due: azure-pipelines.yml

Revert name of dynamic create data component
  src/lfx/src/lfx/components/processing/__init__.py
Due: azure-pipelines.yml

feat: Add visual progress bar for component execution
  src/backend/base/langflow/services/job_queue/service.py
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/lfx/src/lfx/components/processing/__init__.py
  src/lfx/src/lfx/components/processing/progress_test.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/events/event_manager.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add skeleton loading for flow header
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add node build progress tracking and skeleton loading
  src/backend/base/langflow/services/job_queue/service.py
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/lfx/src/lfx/components/data_source/web_search.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/events/event_manager.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Safe progress bar percentage computation and input validation
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/utils/buildUtils.ts
  src/lfx/src/lfx/custom/custom_component/component.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update nightly hash history for v1.8.0.dev46
  src/lfx/src/lfx/_assets/nightly_hash_history.json
Due: azure-pipelines.yml

fix: Address PR review improvements for node build progress tracking
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/stores/__tests__/flowStore.test.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/lfx/src/lfx/components/data_source/web_search.py
  src/lfx/tests/unit/custom/custom_component/test_component_events.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

get all deps from a component
  src/lfx/src/lfx/custom/dependency_analyzer.py
  src/lfx/src/lfx/custom/utils.py
Due: azure-pipelines.yml

test: Add unit tests for ChunkDoclingDocumentComponent HybridChunker parameters
  src/backend/tests/unit/components/docling/__init__.py
  src/backend/tests/unit/components/docling/test_chunk_docling_document_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix singleton webhook on flow
  src/frontend/src/stores/__tests__/filter-singleton-component.test.ts
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/helpers/filter-singleton-component.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add tests and improve code read
  src/frontend/src/customization/utils/custom-poll-build-events.ts
  src/frontend/src/stores/__tests__/flowStore.test.ts
  src/frontend/src/utils/__tests__/buildUtils.test.ts
  src/frontend/src/utils/buildUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: Added support for space_id scope in WatsonxAIComponent
  src/lfx/src/lfx/components/ibm/watsonx.py
Due: azure-pipelines.yml

ci: make docs deployment manual-only (#11602)
  .github/workflows/deploy_gh-pages.yml
Due: azure-pipelines.yml

fix: Add missing get_current_active_user_mcp to lfx AuthService
  src/lfx/src/lfx/services/auth/service.py
Due: azure-pipelines.yml

refactor: reorder imports and simplify serialization logic for primitives
  src/backend/base/langflow/serialization/serialization.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: fix for coderabbitai issue
  src/lfx/src/lfx/components/ibm/watsonx.py
Due: azure-pipelines.yml

Remove debug log
  src/backend/base/langflow/api/build.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixed unit tests
  src/frontend/src/pages/FlowPage/components/InspectionPanel/__tests__/InspectionPanelEditField.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update state when exiting modal on accordion prompt component
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
