Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

🐛 (test_endpoints.py): update error message to use consistent wording for user permission denial
  src/backend/tests/unit/test_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: Update lfx package version to 0.1.13 and increment revision in uv.lock
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update endpoints.py
  src/backend/base/langflow/api/v1/endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update to work
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/models/__init__.py
  src/lfx/src/lfx/components/models/model_input_example.py
  src/lfx/src/lfx/components/models/models_provider_setup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(specifications): achieve 100% validation success rate with Genesis CLI integration
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/custom/genesis/spec/mapper.py
  src/backend/base/langflow/specifications_library/agents/healthcare/analytics/appeals-summarization-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/analytics/inpatient-utilization-monitor-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/case-classification-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/benefit-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/eligibility-checker.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/eoc-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/clinical-decision/clinical-processing-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/clinical-decision/guideline-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/clinical-decision/guideline-retrieval-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/examples/clinical-note-analyzer-enhanced.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/operations/care-coordination-summarizer-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/operations/compliance-documentation-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/appointment-concierge-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/medication-adherence-coach-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/patient-feedback-analyzer-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/post-visit-qa-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/virtual-health-navigator-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/provider-enablement/medical-coding-assistant-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/document-processing/attach-document-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/document-processing/document-processor.yaml
  src/backend/base/langflow/specifications_library/agents/operations/document-processing/extraction-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/process-optimization/classification-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/process-optimization/medication-extractor.yaml
  src/backend/base/langflow/specifications_library/agents/operations/process-optimization/summary-generation-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/workflow/accumulator-check-agent.yaml
  src/backend/base/langflow/specifications_library/documentation/components/component-catalog.md
  src/backend/base/langflow/specifications_library/documentation/components/healthcare-component-mappings.md
  src/backend/base/langflow/specifications_library/documentation/guides/api-healthcare-examples.md
  src/backend/base/langflow/specifications_library/documentation/guides/clinical-workflow.md
  src/backend/base/langflow/specifications_library/documentation/guides/enhanced-decision-framework.md
  src/backend/base/langflow/specifications_library/documentation/guides/healthcare-integration.md
  src/backend/base/langflow/specifications_library/documentation/guides/hipaa-compliance.md
  src/backend/base/langflow/specifications_library/documentation/guides/multi-agent-healthcare.md
  src/backend/base/langflow/specifications_library/documentation/patterns/pattern-catalog.md
  src/backend/base/langflow/specifications_library/documentation/schema/specification-schema.md
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update-lfx-component-paths
  docs/docs/API-Reference/api-monitor.mdx
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Components/concepts-components.mdx
  docs/docs/Contributing/contributing-bundles.mdx
  docs/docs/Contributing/contributing-component-tests.mdx
  docs/docs/Contributing/contributing-components.mdx
  docs/docs/Deployment/deployment-docker.mdx
Due: azure-pipelines.yml

move-partial
  docs/docs/Contributing/contributing-components.mdx
Due: azure-pipelines.yml

delay-until-release-1.7
  docs/docs/Components/_bundles-cometapi.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

Update 182e5471b900_add_context_message.py
  src/backend/base/langflow/alembic/versions/182e5471b900_add_context_message.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix lfx service manager
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add flow execution permission checks (#10306)
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/tests/unit/test_endpoints.py
  src/frontend/src/modals/apiModal/codeTabs/code-tabs.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add DoclingRemoteVLMComponent + docs
  docs/docs/Components/bundles-docling.mdx
  src/lfx/src/lfx/components/docling/__init__.py
  src/lfx/src/lfx/components/docling/docling_remote_vlm.py
Due: azure-pipelines.yml

fix: add direct langchain fallback to trustcall extractor in structured output component
  src/backend/tests/unit/components/processing/test_structured_output_component.py
  src/lfx/src/lfx/components/processing/structured_output.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Refactor and expand MCP SSL verification tests
  src/backend/tests/unit/api/v1/test_api_schemas.py
  src/backend/tests/unit/base/mcp/test_mcp_ssl.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add new Context ID for message history (#10183)
  src/backend/base/langflow/alembic/versions/182e5471b900_add_context_message.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/helpers/memory.py
  src/lfx/src/lfx/memory/stubs.py
  src/lfx/src/lfx/schema/message.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

chore: update component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Fix typo
  src/lfx/src/lfx/components/docling/docling_remote_vlm.py
Due: azure-pipelines.yml

Update component index 2
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

completed-quickstart
  docs/docs/Components/components-custom-components.mdx
  docs/docs/_partial-basic-component-structure.mdx
Due: azure-pipelines.yml

chore: Update lfx package version to 0.1.13 (#10309)
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

✨ (FlowPage/index.tsx): Add logic to handle canvas-only mode with ID when LANGFLOW_ONLY_CANVAS is true.
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: use import.meta.env instead of process.env for frontend vars
  src/frontend/src/customization/feature-flags.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

🔧 (vite.config.mts): update environment variable reference from process.env to import.meta.env for Vite compatibility
  src/frontend/vite.config.mts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add validated decision recommendation agent specification
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/decision-recommendation-agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add validated evidence compilation agent specification
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/evidence-compilation-agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add validated grievance root cause agent specification
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/grievance-root-cause-agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

🐛 fix: ensure flow loads correctly in LANGFLOW_ONLY_CANVAS mode
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix comprehensive specification validation issues across healthcare library
  src/backend/base/langflow/components/agents/mcp_component.py
  src/backend/base/langflow/services/spec/semantic_validator.py
  src/backend/base/langflow/services/spec/service.py
  src/backend/base/langflow/specifications_library/agents/healthcare/analytics/appeals-summarization-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/analytics/inpatient-utilization-monitor-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/case-classification-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/case-validation-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/grievance-sentiment-analysis-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/appeals-grievances/regulatory-response-generator-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/claims-error-auto-correct-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/claims-triage-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/coordination-of-benefits-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/coverage-validation-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/duplicate-claim-detection-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/eligibility-checker.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/eligibility-verification-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/eoc-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/fraud-waste-detection-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/claims/high-cost-claim-analyzer-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/clinical-decision/guideline-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/clinical-decision/guideline-retrieval-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/examples/clinical-note-analyzer-enhanced.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/operations/care-coordination-summarizer-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/operations/compliance-documentation-check-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/appointment-concierge-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/insurance-benefits-explainer-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/medication-adherence-coach-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/patient-feedback-analyzer-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/post-visit-qa-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/patient-experience/virtual-health-navigator-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/provider-enablement/clinical-documentation-scribe-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/provider-enablement/clinical-order-advisor-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/provider-enablement/medical-coding-assistant-agent.yaml
  src/backend/base/langflow/specifications_library/agents/healthcare/provider-enablement/provider-onboarding-qa-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/document-processing/attach-document-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/document-processing/extraction-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/process-optimization/summary-generation-agent.yaml
  src/backend/base/langflow/specifications_library/agents/operations/workflow/accumulator-check-agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Create Av
  Av
Due: azure-pipelines.yml

🔧 (constants.ts): replace process.env with import.meta.env for Vite compatibility 🔧 (vite-env.d.ts): declare ImportMetaEnv and ImportMeta interfaces for Vite compatibility
  src/frontend/src/constants/constants.ts
  src/frontend/src/vite-env.d.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: hide cometAPI bundle until release-1.7 (#10310)
  docs/docs/Components/_bundles-cometapi.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

feat: Add context_id history to agent and chat
  src/lfx/src/lfx/components/agents/agent.py
  src/lfx/src/lfx/components/input_output/chat.py
  src/lfx/src/lfx/components/input_output/chat_output.py
Due: azure-pipelines.yml

clean up intro
  docs/docs/Components/components-custom-components.mdx
Due: azure-pipelines.yml

update-database-location-for-windows-desktop
  docs/docs/Develop/memory.mdx
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
