Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

feat(frontend): accept pasted .json files in addition to JSON text
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-on-file-drop.ts
  src/frontend/src/utils/pasteFlowImport.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed node exhibition when feature flag is disabled, fixed minimized field
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/utils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

added show and hide advanced button on inspection panel
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelField.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelFields.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add coderabbit suggestion and mypy fixes
  src/backend/base/langflow/agentic/api/schemas.py
  src/backend/base/langflow/agentic/helpers/code_extraction.py
  src/backend/base/langflow/agentic/helpers/sse.py
  src/backend/base/langflow/agentic/services/flow_types.py
  src/backend/base/langflow/agentic/services/helpers/flow_loader.py
  src/backend/base/langflow/agentic/services/helpers/intent_classification.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix mypy
  src/backend/base/langflow/agentic/services/assistant_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): prevent send button from being pushed off-screen in chat input
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/text-area-wrapper.tsx
  src/frontend/src/constants/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

don't assume autologin
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/pages/AppInitPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove sso config example
  sso-config.example.yaml
Due: azure-pipelines.yml

asdf
  docker/build_and_push_backend.Dockerfile
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: resolve linting errors in GuardrailsComponent and tests
  src/backend/tests/unit/components/llm_operations/test_guardrails_component.py
  src/lfx/src/lfx/components/llm_operations/guardrails.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Remove authentication check on sign up endpoint
  src/backend/base/langflow/api/v1/users.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_users.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: address pr comments
  src/lfx/src/lfx/components/llm_operations/guardrails.py
Due: azure-pipelines.yml

fix(frontend): prevent send button from being pushed off-screen in chat input (#11556)
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/text-area-wrapper.tsx
  src/frontend/src/constants/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

simplify conditional logic
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/pages/AppInitPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: remove allowFolderselection flag for redundancy reasons
  src/frontend/src/customization/components/custom-input-file.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

initlal-content
  docs/docs/API-Reference/api-openai-responses.mdx
Due: azure-pipelines.yml

add-release-note
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fixed freeze path test
  src/frontend/tests/core/features/freeze-path.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fixed fit view to contain padding when a component is clicked
  src/frontend/src/components/core/canvasControlsComponent/CanvasControls.tsx
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlsDropdown.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

added separator between description and fields
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelHeader.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

changed gpt model test
  src/frontend/tests/utils/select-gpt-model.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

change label
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelField.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed mcp server test
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed freeze spec
  src/frontend/tests/core/features/freeze.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed gpt setup and image sentiment analysis
  src/frontend/tests/core/integrations/Image Sentiment Analysis.spec.ts
  src/frontend/tests/utils/initialGPTsetup.ts
  src/frontend/tests/utils/select-gpt-model.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Changed advanced padding
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelFields.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: enhance heuristic detection with configurable threshold and scoring system
  src/backend/tests/unit/components/llm_operations/test_guardrails_component.py
  src/lfx/src/lfx/components/llm_operations/guardrails.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: simplify heuristic test assertions by removing unused variable
  src/backend/tests/unit/components/llm_operations/test_guardrails_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: remove console.log messages
  src/frontend/src/components/examples/folder-selection-example.tsx
  src/frontend/src/helpers/create-file-upload.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed logs setup
  src/frontend/tests/core/features/logs.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add icon
  src/lfx/src/lfx/components/agentics/semantic_filter.py
  src/lfx/src/lfx/components/agentics/semantic_map.py
Due: azure-pipelines.yml

ruff style
  src/lfx/src/lfx/components/agentics/helpers/llm_factory.py
Due: azure-pipelines.yml

add tests to agentincs bundle
  src/backend/tests/unit/components/bundles/agentics/__init__.py
  src/backend/tests/unit/components/bundles/agentics/test_agentics_component.py
  src/backend/tests/unit/components/bundles/agentics/test_dataframe_ops.py
  src/backend/tests/unit/components/bundles/agentics/test_llm_factory.py
  src/backend/tests/unit/components/bundles/agentics/test_model_config.py
  src/backend/tests/unit/components/bundles/agentics/test_semantic_filter.py
  src/backend/tests/unit/components/bundles/agentics/test_semantic_map.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add more tests to /agents related files
  src/backend/tests/unit/agentic/flows/__init__.py
  src/backend/tests/unit/agentic/flows/test_langflow_assistant.py
  src/backend/tests/unit/agentic/flows/test_translation_flow.py
  src/backend/tests/unit/agentic/services/helpers/__init__.py
  src/backend/tests/unit/agentic/services/helpers/test_event_consumer.py
  src/backend/tests/unit/agentic/services/helpers/test_flow_loader.py
  src/backend/tests/unit/agentic/services/helpers/test_intent_classification.py
  src/backend/tests/unit/agentic/services/test_flow_types.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fixed stop building test
  src/frontend/tests/core/features/stop-building.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fixed minimization text
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/__tests__/minimal-condition.test.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update-workflows-spec
  docs/openapi/langflow-workflows-openapi.json
Due: azure-pipelines.yml

changed variable name
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Filter tool mode
  src/frontend/src/CustomNodes/helpers/parameter-filtering.ts
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelFields.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed prompt component unfocusing every time
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
