Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat: add vLLM as a Model Provider in Settings
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
Due: azure-pipelines.yml

fix: address CodeRabbit review feedback
  .omc/project-memory.json
  .omc/sessions/4a9ae86e-6b34-4832-a92e-e48c649d840d.json
  .omc/sessions/54726d9f-ba72-40db-a749-7d78e3525376.json
  .omc/sessions/a721911f-6e93-4232-a0f8-978f05b27e71.json
  .omc/state/agent-replay-fd50c323-6314-4f02-97c6-db38dc027b4c.jsonl
  .omc/state/hud-state.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
  .omc/state/last-tool-error.json
  .omc/state/mission-state.json
  .omc/state/subagent-tracking.json
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
Due: azure-pipelines.yml

chore: remove accidentally tracked .omc state files
  .omc/project-memory.json
  .omc/sessions/4a9ae86e-6b34-4832-a92e-e48c649d840d.json
  .omc/sessions/54726d9f-ba72-40db-a749-7d78e3525376.json
  .omc/sessions/a721911f-6e93-4232-a0f8-978f05b27e71.json
  .omc/state/agent-replay-fd50c323-6314-4f02-97c6-db38dc027b4c.jsonl
  .omc/state/hud-state.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
  .omc/state/last-tool-error.json
  .omc/state/mission-state.json
  .omc/state/subagent-tracking.json
Due: azure-pipelines.yml

fix(i18n): fall back to English for missing locale imports
  src/frontend/src/i18n.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add file_format field to News Aggregator starter project
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

rename Structured Data Agent starter project to Structured Data Analysis Agent
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: regenerate starter projects to include file_format field in SaveToFile node
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add html as a supported file format in SaveToFileComponent
  src/lfx/src/lfx/components/files_and_knowledge/save_file.py
Due: azure-pipelines.yml

test: add test for saving Message as html format
  src/backend/tests/unit/components/processing/test_save_file_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: regenerate starter projects after adding html format to SaveToFileComponent
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tests): skip assistant panel e2e test when OPENAI_API_KEY is missing
  src/frontend/tests/core/integrations/assistant-panel.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add file_format field to SaveToFile in starter projects
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): reconnect Streamable HTTP after MCP server restart
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(i18n): cache /basic_examples/ translations per locale
  src/backend/base/langflow/api/v1/flows.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(i18n): translate NoteNode empty placeholder text
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs(bench): post-fix snapshot numbers and narrative (VAL-01)
  .planning/benchmarks/post-2026-04-20.json
  .planning/benchmarks/post-2026-04-20.md
  src/backend/tests/benchmarks/thresholds.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs(bench): parity confirmation for services-layer and component-index changes (VAL-02)
  .planning/benchmarks/parity-confirmation-2026-04-20.md
Due: azure-pipelines.yml

feat: add vLLM to EMBEDDING_PROVIDER_CLASS_MAPPING
  src/lfx/src/lfx/base/models/unified_models/class_registry.py
Due: azure-pipelines.yml

docs(06-02): update STATE + ROADMAP after VAL-02 parity doc landed
  .planning/ROADMAP.md
  .planning/STATE.md
Due: azure-pipelines.yml

docs(release-notes): announce cold-start performance improvements (VAL-04)
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

docs(deployment-cold-start): append measured improvements section (VAL-04)
  docs/docs/Deployment/deployment-cold-start.mdx
Due: azure-pipelines.yml

docs(06-04): update STATE + ROADMAP after VAL-04 publication surfaces landed
  .planning/ROADMAP.md
  .planning/STATE.md
Due: azure-pipelines.yml

fix(bench): correct synthetic-regression injection point and calibrate against Linux-CI baseline (VAL-03)
  Makefile
Due: azure-pipelines.yml

fix(bench): force-rebuild uncompiled derivative image so the fresh injection actually runs (VAL-03)
  Makefile
Due: azure-pipelines.yml

fix: include MODEL_PROVIDER_METADATA providers in get_model_providers()
  src/lfx/src/lfx/base/models/unified_models/provider_queries.py
Due: azure-pipelines.yml

docs(bench): local synthetic-regression evidence for VAL-03 D-11
  .planning/phases/06-validation-and-publication/synthetic-regression-evidence/README.md
  .planning/phases/06-validation-and-publication/synthetic-regression-evidence/lfx_bare.json
  .planning/phases/06-validation-and-publication/synthetic-regression-evidence/regression_comment.md
Due: azure-pipelines.yml

docs(06-03): complete VAL-03 plan (SUMMARY + STATE + ROADMAP + REQUIREMENTS updates)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-validation-and-publication/06-03-SUMMARY.md
Due: azure-pipelines.yml

docs(bench): backfill verify-mode CI run ID (VAL-03)
  .planning/benchmarks/parity-confirmation-2026-04-20.md
  .planning/benchmarks/post-2026-04-20.md
Due: azure-pipelines.yml

docs(06-05): complete VAL-03 citation-tail backfill (SUMMARY + STATE + ROADMAP updates)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-validation-and-publication/06-05-SUMMARY.md
Due: azure-pipelines.yml

fix space on playground
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/__tests__/input-wrapper.test.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): fallback unsupported locales on startup
  src/frontend/src/i18n.test.ts
  src/frontend/src/i18n.ts
  src/frontend/src/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

change target to closest
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/__tests__/input-wrapper.test.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): reconnect Streamable HTTP after MCP server restart (#12777)
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): render connection handles for non-string MCP tool inputs
  src/backend/tests/unit/inputs/test_inputs.py
  src/lfx/src/lfx/inputs/inputs.py
  src/lfx/src/lfx/io/schema.py
  src/lfx/tests/unit/inputs/test_inputs_schema.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: remove duplicate verify_public_flow_and_get_user from core.py
  .secrets.baseline
  src/backend/base/langflow/api/utils/core.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(frontend): extract magic numbers to constants in modal components
  src/frontend/src/modals/knowledgeBaseUploadModal/KnowledgeBaseUploadModal.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/constants.ts
  src/frontend/src/modals/stepperModal/StepperModal.tsx
  src/frontend/src/modals/stepperModal/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
