Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(frontend): add manifest icon files missing from public/
  src/frontend/public/icons/128x128.png
  src/frontend/public/icons/128x128@2x.png
  src/frontend/public/icons/32x32.png
  src/frontend/public/icons/icon.ico
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add deployment-wide blocked-model deny-list to policy bundle
  .secrets.baseline
  src/backend/base/langflow/alembic/versions/a3f8b1c9d7e2_add_policy_bundle_blocked_model_keys.py
  src/backend/base/langflow/api/v1/policy_bundle.py
  src/backend/base/langflow/services/catalog_policy/service.py
  src/backend/base/langflow/services/database/models/policy_bundle/model.py
  src/backend/base/langflow/services/model_provider_policy.py
  src/backend/base/langflow/services/policy_bundle.py
  src/backend/tests/unit/api/v1/test_policy_bundle.py
  src/backend/tests/unit/services/test_policy_bundle_store.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/base/models/unified_models/model_catalog.py
  src/lfx/src/lfx/services/model_provider_policy/__init__.py
  src/lfx/src/lfx/services/model_provider_policy/base.py
  src/lfx/src/lfx/services/model_provider_policy/service.py
  src/lfx/src/lfx/services/policy_bundle/base.py
  src/lfx/src/lfx/services/policy_bundle/service.py
  src/lfx/tests/unit/services/model_provider_policy/test_policy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): normalize Azure AI Foundry project endpoints to the OpenAI-compatible form
  src/backend/tests/unit/base/models/test_foundry_embedding_kwargs.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): add manifest icon files missing from public/ (#14506)
  src/frontend/public/icons/128x128.png
  src/frontend/public/icons/128x128@2x.png
  src/frontend/public/icons/32x32.png
  src/frontend/public/icons/icon.ico
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: scope per-user memory to end-user identity header (#14443)
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/memory.py
  src/backend/tests/unit/test_end_user_ephemeral_persistence.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/models_and_agents/memory.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/utils.py
  src/lfx/src/lfx/interface/initialize/loading.py
  src/lfx/src/lfx/memory/flow_context.py
  src/lfx/src/lfx/memory/stubs.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/src/lfx/workflow/converters.py
  src/lfx/src/lfx/workflow/end_user_identity.py
  src/lfx/src/lfx/workflow/router.py
  src/lfx/tests/unit/graph/test_ephemeral_telemetry_gate.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
  src/lfx/tests/unit/workflow/test_end_user_identity.py
  src/lfx/tests/unit/workflow/test_router_end_user_scoping.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add deployment-wide blocked-model deny-list to policy bundle (#14507)
  .secrets.baseline
  src/backend/base/langflow/alembic/versions/a3f8b1c9d7e2_add_policy_bundle_blocked_model_keys.py
  src/backend/base/langflow/api/v1/policy_bundle.py
  src/backend/base/langflow/services/catalog_policy/service.py
  src/backend/base/langflow/services/database/models/policy_bundle/model.py
  src/backend/base/langflow/services/model_provider_policy.py
  src/backend/base/langflow/services/policy_bundle.py
  src/backend/tests/unit/api/v1/test_policy_bundle.py
  src/backend/tests/unit/services/test_policy_bundle_store.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/base/models/unified_models/model_catalog.py
  src/lfx/src/lfx/services/model_provider_policy/__init__.py
  src/lfx/src/lfx/services/model_provider_policy/base.py
  src/lfx/src/lfx/services/model_provider_policy/service.py
  src/lfx/src/lfx/services/policy_bundle/base.py
  src/lfx/src/lfx/services/policy_bundle/service.py
  src/lfx/tests/unit/services/model_provider_policy/test_policy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): do not log raw Azure AI Foundry endpoint values
  src/lfx/src/lfx/base/models/model_utils.py
Due: azure-pipelines.yml

fix(models): discover live Azure AI Foundry deployments for the model picker
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

fix(models): pin Foundry live discovery to Azure hosts
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

chore: bump lfx-bundles minor version
  pyproject.toml
  src/bundles/lfx-bundles/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): harden Foundry live discovery logging, classification, and transport
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

feat: add catalog-policy component usage endpoints
  src/backend/base/langflow/api/v1/catalog_policy.py
  src/backend/base/langflow/api/v1/schemas/catalog_policy.py
  src/backend/tests/unit/api/v1/test_catalog_policy.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): bound the Foundry cache without credentials and honor tool filters for live rows
  .secrets.baseline
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/model_catalog.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

test: cover Graph-like targets in collect_catalog_component_keys
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: azure-pipelines.yml

feat(models): make the Foundry deployments api-version configurable
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/services/settings/constants.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

fix(models): normalize Azure AI Foundry project endpoints to the OpenAI-compatible form (#14508)
  src/backend/tests/unit/base/models/test_foundry_embedding_kwargs.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): enforce execution principal boundaries (#14495)
  .github/workflows/ci-scripts-test.yml
  docs/docs/Develop/authorization.mdx
  scripts/ci/check_execution_principal_matrix.py
  scripts/ci/execution_principal_matrix.json
  scripts/ci/test_execution_principal_matrix.py
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/utils/execution_errors.py
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_background.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/v2/workflow_public.py
  src/backend/base/langflow/api/v2/workflow_validation.py
  src/backend/base/langflow/services/background_execution/runner.py
  src/backend/tests/unit/api/test_build_error_event_policy.py
  src/backend/tests/unit/api/test_build_pause_seam.py
  src/backend/tests/unit/api/test_build_source_flow_provenance.py
  src/backend/tests/unit/api/test_execution_error_policy.py
  src/backend/tests/unit/api/v1/test_execution_principal_contract.py
  src/backend/tests/unit/api/v1/test_mcp_utils.py
  src/backend/tests/unit/api/v1/test_openai_responses_execution_policy.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/services/background_execution/test_runner.py
  src/backend/tests/unit/test_redis_job_queue_service.py
  src/lfx/src/lfx/schema/message.py
  src/lfx/tests/unit/schema/test_message_content_blocks.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): make the Foundry /models credential probe endpoint-shape tolerant
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

perf: reuse one usage flow scan per short TTL window
  src/backend/base/langflow/api/v1/catalog_policy.py
  src/backend/tests/unit/api/v1/test_catalog_policy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(warm-registry): include flow owner in v2 fixture
  src/backend/tests/unit/api/test_warm_graph_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): harden Foundry credential probe
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

fix(workflow-api): correct sync GET-status session_id; gate result cache behind a flag
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/tests/unit/api/v2/test_workflow_background.py
  src/lfx/src/lfx/services/settings/groups/telemetry.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(workflow): complete delegated flow fixture
  src/backend/tests/unit/api/v2/test_workflow_agui.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add catalog-policy component usage endpoints (#14510)
  src/backend/base/langflow/api/v1/catalog_policy.py
  src/backend/base/langflow/api/v1/schemas/catalog_policy.py
  src/backend/tests/unit/api/v1/test_catalog_policy.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add an opt-in warm graph registry for sync execution (#14290)
  .secrets.baseline
  src/backend/base/langflow/agentic/utils/assistant_runner.py
  src/backend/base/langflow/agentic/utils/flow_component.py
  src/backend/base/langflow/api/global_variable_fields.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/global_variable_defaults.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/warm_graph.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/warm_registry/__init__.py
  src/backend/base/langflow/services/warm_registry/reconcile.py
  src/backend/base/langflow/services/warm_registry/resolver.py
  src/backend/base/langflow/services/warm_registry/service.py
  src/backend/tests/unit/agentic/mcp/test_run_assistant_tool.py
  src/backend/tests/unit/agentic/utils/test_flow_component.py
  src/backend/tests/unit/api/test_warm_graph_execution.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/services/warm_registry/__init__.py
  src/backend/tests/unit/services/warm_registry/test_warm_flow_resolver.py
  src/backend/tests/unit/services/warm_registry/test_warm_registry.py
  src/backend/tests/unit/services/warm_registry/test_warm_registry_concurrency.py
  src/backend/tests/unit/services/warm_registry/test_warm_registry_reconcile.py
  src/backend/tests/unit/test_initial_setup.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
  src/lfx/tests/unit/graph/test_graph.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): discover live Azure AI Foundry deployments for the model picker (#14509)
  .secrets.baseline
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/base/models/unified_models/model_catalog.py
  src/lfx/src/lfx/services/settings/constants.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

fix(deps): raise vulnerable Python dependency floors
  pyproject.toml
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_security_dependency_floors.py
  src/bundles/lfx-bundles/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(deps): preserve generated GitPython floor
  scripts/migrate/consolidate_bundles.py
  src/backend/tests/unit/test_security_dependency_floors.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(deps): harden security floor assertions
  src/backend/tests/unit/test_security_dependency_floors.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(deps): refresh release security lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: require cryptography 50
  pyproject.toml
  scripts/migrate/consolidate_bundles.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_cryptography_dependency.py
  src/bundles/lfx-bundles/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(bundles): bump lfx-bundles for security metadata
  pyproject.toml
  src/bundles/lfx-bundles/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: correct sync GET-status session_id; gate result cache behind a flag (#14512)
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/tests/unit/api/v2/test_workflow_background.py
  src/lfx/src/lfx/services/settings/groups/telemetry.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): make deprecated vertex routes owner-only
  src/backend/base/langflow/api/v1/chat.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(authz): close final public runtime gaps
  src/backend/tests/unit/api/v1/test_a2a.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/api/v2/test_workflow_public.py
  src/backend/tests/unit/components/files_and_knowledge/test_memory_retrieval.py
  src/backend/tests/unit/test_chat_endpoint.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: close final public execution boundaries
  src/backend/tests/unit/api/v1/test_a2a.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/test_chat_endpoint.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(authz): cover owner-only deprecated vertex routes
  src/backend/tests/unit/api/v1/test_deprecated_vertex_route_authz.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): close public execution review gaps
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v2/workflow_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
