Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

resolve conflicts
  src/frontend/package-lock.json
  src/lfx/src/lfx/components/models/language_model.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix ruff errors
  src/lfx/src/lfx/components/models/embedding_model.py
  src/lfx/src/lfx/components/models/language_model.py
Due: azure-pipelines.yml

cleanup .md
  src/backend/base/langflow/agentic/mcp/README.md
  src/backend/base/langflow/agentic/mcp/SETUP.md
  src/backend/base/langflow/agentic/mcp/STRUCTURE.md
  src/backend/base/langflow/agentic/mcp/cli.py
  src/backend/base/langflow/agentic/mcp/example_usage.py
  src/backend/base/langflow/agentic/mcp/support.py
  src/backend/base/langflow/agentic/mcp/test_server.py
  src/backend/base/langflow/agentic/schema/schema.json
  src/backend/base/langflow/agentic/utils/README.md
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(flows): return patch operations instead of patched data in response
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/api/v1/test_json_patch_integration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(flows): apply patch operations client-side using fast-json-patch
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/frontend/src/types/api/json-patch.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: require main image built before backend/frontend images (#10561)
  .github/workflows/release.yml
Due: azure-pipelines.yml

feat(cuga): new cuga release (#10559)
  pyproject.toml
  src/backend/tests/unit/components/agents/test_cuga_agent.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/agents/cuga_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(telemetry): Create a new SCARF telemetry event to track the registered email address
  src/backend/base/langflow/api/v2/registration.py
  src/backend/base/langflow/services/telemetry/schema.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/utils/registered_email_util.py
  src/backend/tests/unit/services/telemetry/test_telemetry_schema.py
  src/backend/tests/unit/utils/test_registered_email_util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(telemetry): Create a new SCARF telemetry event to track the registered email address
  src/backend/base/langflow/api/v2/registration.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/utils/registered_email_util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: make button only animate scale if not dropdown (#10533)
  src/frontend/src/components/ui/button.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Require active user for monitor endpoints
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/tests/unit/api/v1/test_monitor_auth.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add SSRF protection configuration for API Requests
  src/backend/tests/unit/components/data/test_api_request_component.py
  src/lfx/src/lfx/components/data/api_request.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

clean up, add env vars to settings
  src/lfx/src/lfx/components/data/api_request.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/utils/ssrf_protection.py
Due: azure-pipelines.yml

docs update
  src/lfx/src/lfx/services/settings/base.py
Due: azure-pipelines.yml

refactor: use parenthesized context managers in SSRF tests
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: azure-pipelines.yml

whitespace
  src/lfx/src/lfx/services/settings/base.py
Due: azure-pipelines.yml

refactor: remove unused url parameter from validation helpers
  src/lfx/src/lfx/utils/ssrf_protection.py
Due: azure-pipelines.yml

move ip blocklist to lazy load, simplify functions
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: azure-pipelines.yml

refactor: replace global variable with functools.cache for IP ranges
  src/lfx/src/lfx/utils/ssrf_protection.py
Due: azure-pipelines.yml

Update docs to reflect behavior when params are mixed
  src/lfx/src/lfx/services/settings/base.py
Due: azure-pipelines.yml

refactor: restructure exception handling in IP validation
  src/lfx/src/lfx/utils/ssrf_protection.py
Due: azure-pipelines.yml

refactor: simplify IP blocking logic with comprehension
  src/lfx/src/lfx/utils/ssrf_protection.py
Due: azure-pipelines.yml

refactor: apply parenthesized context manager syntax in tests
  src/backend/tests/unit/components/data/test_api_request_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix test paths
  src/backend/tests/unit/components/data/test_s3_components.py
  src/lfx/tests/unit/base/data/test_storage_utils.py
  src/lfx/tests/unit/components/langchain_utilities/test_csv_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add SSRF protection configuration for API Requests (#10544)
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/tests/unit/components/data/test_api_request_component.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/data/api_request.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

more test fixes
  src/backend/tests/unit/components/data/test_s3_components.py
  src/lfx/tests/unit/base/data/test_storage_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Import and test fixes
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/services/storage/service.py
  src/lfx/src/lfx/services/storage/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add Murf TTS Component
  .secrets.baseline
  docs/docs/Components/bundles-murf.mdx
  docs/sidebars.js
  docs/static/img/component-murf-ai.png
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/src/constants/constants.ts
  src/frontend/src/icons/Murf/Murf-logo.svg
  src/frontend/src/icons/Murf/MurfSVG.jsx
  src/frontend/src/icons/Murf/index.tsx
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/pyproject.toml
  src/lfx/src/lfx/components/Murf/__init__.py
  src/lfx/src/lfx/components/Murf/text_to_speech.py
  src/lfx/src/lfx/components/__init__.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Add test for textToSpeech component
  src/backend/tests/unit/components/bundles/murf/__init__.py
  src/backend/tests/unit/components/bundles/murf/test_murf_text_to_speech_component.py
  src/frontend/src/icons/Murf/MurfSVG.jsx
  src/lfx/src/lfx/components/Murf/text_to_speech.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: improve locale handling and icon implementation
  src/frontend/src/icons/Murf/MurfSVG.jsx
  src/frontend/src/icons/Murf/index.tsx
  src/frontend/src/icons/Murf/murf-icon.svg
  src/lfx/src/lfx/components/Murf/text_to_speech.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

changes done for the playground
  src/backend/base/langflow/alembic/versions/449cd6ba5a2e_add_published_flow_input_sample_table.py
  src/backend/base/langflow/api/v1/published_flows.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/custom/default_providers.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/published_flow/model.py
  src/backend/base/langflow/services/database/models/published_flow_input_sample/__init__.py
  src/backend/base/langflow/services/database/models/published_flow_input_sample/model.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/queries/published-flows/use-publish-flow.ts
  src/frontend/src/modals/publishFlowModal/index.tsx
  src/frontend/src/pages/MarketplacePage/components/MessageRender.tsx
  src/frontend/src/pages/MarketplacePage/components/Playground.types.ts
  src/frontend/src/pages/MarketplacePage/components/PlaygroundChat.tsx
  src/frontend/src/pages/MarketplacePage/components/PlaygroundTab.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: sync with main, update component_index.json
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
