Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(a11y): restore focus-visible indicators (#13664)
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelTrigger.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header-actions.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/extended/features/focus-visible.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

a11y: improve auth accessibility coverage (#13724)
  a11y-action-plan.md
  a11y-gap-report.md
  src/frontend/src/alerts/displayArea/__tests__/displayArea.a11y.test.tsx
  src/frontend/src/alerts/displayArea/index.tsx
  src/frontend/src/components/common/GradientWrapper/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/ui/__tests__/dialog.test.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/deleteConfirmationModal/__tests__/DeleteConfirmationModal.a11y.test.tsx
  src/frontend/src/modals/deleteConfirmationModal/index.tsx
  src/frontend/src/pages/LoginPage/__tests__/LoginPage.a11y.test.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/SignUpPage/__tests__/SignUpPage.a11y.test.tsx
  src/frontend/src/pages/SignUpPage/index.tsx
  src/frontend/src/style/index.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/authErrorMessages.ts
  src/frontend/tests/a11y/auth-pages.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(a11y): fix aria-allowed-attr, invalid sidebar list structure, and session filter label mismatch on flow editor (#13668)
  src/frontend/src/components/core/appHeaderComponent/__tests__/app-header-a11y.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/__tests__/FlowMenu.spec.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryDetails.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryDetailsHeader.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/__tests__/MemoryDetails.test.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/__tests__/MemoryDetailsHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(deps): bump toolguard floor to 0.2.20
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api/v2): address review findings on the v2 workflows endpoint
  src/backend/base/langflow/api/v2/adapters/agui.py
  src/backend/base/langflow/api/v2/adapters/langflow.py
  src/backend/base/langflow/api/v2/agui_translator.py
  src/backend/base/langflow/api/v2/converters.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_public.py
  src/backend/base/langflow/api/v2/workflow_reconstruction.py
  src/backend/tests/unit/api/v2/adapters/test_agui_adapter.py
  src/backend/tests/unit/api/v2/adapters/test_langflow_adapter.py
  src/backend/tests/unit/api/v2/test_converters.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/api/v2/test_workflow_public.py
  src/backend/tests/unit/api/v2/test_workflow_reconstruction.py
  src/lfx/src/lfx/schema/workflow.py
  src/lfx/src/lfx/services/settings/groups/security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(lfx): trim reviewer-facing comments and dedup prewarm tests
  src/lfx/src/lfx/cli/_prewarm_commands.py
  src/lfx/src/lfx/fork.py
  src/lfx/src/lfx/preload.py
  src/lfx/src/lfx/services/manager.py
  src/lfx/tests/unit/cli/test_prewarm_command.py
  src/lfx/tests/unit/test_fork.py
  src/lfx/tests/unit/test_preload.py
Due: azure-pipelines.yml

fix ibm models integration on assistant
  src/backend/base/langflow/agentic/flows/model_config.py
  src/backend/base/langflow/agentic/flows/translation_flow.py
  src/backend/base/langflow/agentic/services/flow_preparation.py
  src/backend/base/langflow/api/v1/models.py
  src/backend/tests/unit/agentic/flows/test_agentic_model_config.py
  src/backend/tests/unit/agentic/services/test_flow_preparation.py
  src/backend/tests/unit/api/v1/test_models_enabled_providers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): detect auto-login disabled from FastAPI nested detail field
  src/frontend/src/controllers/API/queries/auth/__tests__/autologin-disabled-detection.test.ts
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(lfx): register public_flow_rate_limit_per_minute in settings composition
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: azure-pipelines.yml

update assistant docs
  docs/features/langflow-assistant.md
Due: azure-pipelines.yml

fix(lfx): always run build-only teardown in prewarm_flow, even after a build error
  src/lfx/src/lfx/preload.py
  src/lfx/tests/unit/cli/test_prewarm_command.py
  src/lfx/tests/unit/test_preload.py
Due: azure-pipelines.yml

label get-started close button and fix dark-mode placeholder contrast
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/style/index.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(deps): bump toolguard floor to 0.2.20 (#13769)
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): stop browser autofill from corrupting component config fields (#13748)
  .secrets.baseline
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/__tests__/input-component-autofill.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/src/components/ui/__tests__/input-autofill.test.tsx
  src/frontend/src/components/ui/input.tsx
  src/frontend/src/components/ui/textarea.tsx
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/SignUpPage/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/__tests__/inputAutofill.test.ts
  src/frontend/src/utils/inputAutofill.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): make OpenDsStar optional (#13749)
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(lfx): make prewarm speedup test measure cold-start, fix CI flake
  src/lfx/tests/unit/test_preload.py
Due: azure-pipelines.yml

remove testing change
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): disable tracing during the prewarm warm-up run
  src/lfx/src/lfx/preload.py
  src/lfx/tests/unit/test_preload.py
Due: azure-pipelines.yml

fix(ci): resolve pre-release cross-platform install + graduate py3.13, add py3.14
  .github/workflows/cross-platform-test.md
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

refactor(v2 workflows): split workflow.py and address review blockers
  src/backend/base/langflow/api/v2/converters.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_background.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/v2/workflow_public.py
  src/backend/base/langflow/api/v2/workflow_validation.py
  src/backend/tests/unit/api/v2/test_workflow.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/api/v2/test_workflow_public.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): resolve pre-release cross-platform install failure; graduate py3.13, add py3.14 experimental (#13772)
  .github/workflows/cross-platform-test.md
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

docs: move Flow DevOps SDK page into Lfx folder
  docs/docs/Lfx/lfx-devops-sdk.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(ci): drop macOS Intel from py3.14 cross-platform set (onnxruntime x86_64 gap)
  .github/workflows/cross-platform-test.md
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix(ci): drop macOS Intel from py3.14 cross-platform set (onnxruntime x86_64 wheel gap) (#13773)
  .github/workflows/cross-platform-test.md
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix(i18n): fix MCP hardcoded strings (#13621)
  src/backend/base/langflow/locales/de.json
  src/backend/base/langflow/locales/es.json
  src/backend/base/langflow/locales/fr.json
  src/backend/base/langflow/locales/ja.json
  src/backend/base/langflow/locales/pt.json
  src/backend/base/langflow/locales/zh-Hans.json
  src/frontend/jest.setup.js
  src/frontend/src/components/core/flowBuilderWelcome/hooks/__tests__/use-apply-template-to-current-flow.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/hooks/use-apply-template-to-current-flow.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/no-input.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/no-input.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpAuthSection.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpAutoInstallContent.tsx
  src/frontend/src/pages/MainPage/pages/homePage/hooks/useMcpServer.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: move extensions to lfx section
  docs/docs/Lfx/extensions-manifest.mdx
  docs/docs/Lfx/extensions-overview.mdx
  docs/docs/Lfx/extensions-quickstart.mdx
  docs/docs/Lfx/lfx-devops-sdk.mdx
  docs/docs/Lfx/lfx-install.mdx
  docs/docs/Lfx/lfx-run.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(authz): relax deployment-list provider gate so the prefilter can widen cross-user shared listing
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/mappers/deployments/helpers.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/crud.py
  src/backend/tests/unit/api/v1/test_deployment_route_handlers.py
  src/backend/tests/unit/services/authorization/test_route_guard_regressions.py
  src/backend/tests/unit/services/database/test_deployment_crud_authz_prefilter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: clean up lfx overview
  docs/docs/Lfx/lfx-overview.mdx
Due: azure-pipelines.yml

docs: extension manifest update and release notes
  docs/docs/Lfx/extensions-manifest.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

docs: fix empty see also sections in extensions
  docs/docs/Develop/extensions-manifest.mdx
  docs/docs/Develop/extensions-overview.mdx
  docs/docs/Develop/extensions-quickstart.mdx
Due: azure-pipelines.yml

docs: update 1.10x version
  docs/versioned_docs/version-1.10.0/Develop/extensions-manifest.mdx
  docs/versioned_docs/version-1.10.0/Develop/extensions-overview.mdx
  docs/versioned_docs/version-1.10.0/Develop/extensions-quickstart.mdx
Due: azure-pipelines.yml

docs: fix empty see also sections in extensions (#13774)
  docs/docs/Develop/extensions-manifest.mdx
  docs/docs/Develop/extensions-overview.mdx
  docs/docs/Develop/extensions-quickstart.mdx
  docs/versioned_docs/version-1.10.0/Develop/extensions-manifest.mdx
  docs/versioned_docs/version-1.10.0/Develop/extensions-overview.mdx
  docs/versioned_docs/version-1.10.0/Develop/extensions-quickstart.mdx
Due: azure-pipelines.yml

docs: revert release notes
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
