Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

Fix anthropic for basic prompt, azure mapping
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

fix ruff errors
  src/lfx/src/lfx/components/agentics/__init__.py
  src/lfx/src/lfx/components/agentics/constants.py
  src/lfx/src/lfx/components/agentics/helpers/llm_factory.py
  src/lfx/src/lfx/components/agentics/helpers/llm_setup.py
  src/lfx/src/lfx/components/agentics/helpers/model_config.py
  src/lfx/src/lfx/components/agentics/helpers/schema_builder.py
  src/lfx/src/lfx/components/agentics/inputs/common_inputs.py
  src/lfx/src/lfx/components/agentics/semantic_aggregator.py
  src/lfx/src/lfx/components/agentics/semantic_map.py
  src/lfx/src/lfx/components/agentics/synthetic_data_generator.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

clean up and add testcases
  src/frontend/src/modals/flowLogsModal/config/flowTraceColumns.tsx
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/pages/FlowInsightsPage/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

clean up and add testcases
  src/frontend/src/modals/flowLogsModal/config/__tests__/flowTraceColumnsHelpers.test.ts
  src/frontend/src/modals/flowLogsModal/config/flowTraceColumnsHelpers.ts
  src/frontend/src/utils/__tests__/dateTime.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

merge Alembic detected multiple heads
  src/backend/base/langflow/alembic/versions/6b64062d0c6a_merge_heads.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

update test
  src/frontend/src/modals/modelProviderModal/__tests__/ProviderList.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Remove full-history download for now, cleanup
  src/backend/base/langflow/api/v1/flow_history.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/tests/unit/api/v1/test_flow_history.py
  src/frontend/src/modals/exportModal/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

improve testcases
  src/backend/base/langflow/alembic/versions/6b64062d0c6a_merge_heads.py
  src/backend/base/langflow/api/v1/traces.py
  src/frontend/src/components/core/logCanvasControlsComponent/__tests__/LogCanvasControls.spec.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: use uv sources for CPU-only PyTorch (#11884)
  pyproject.toml
  scripts/ci/update_pyproject_name.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update nightly hash history for v1.8.0.dev66
  src/lfx/src/lfx/_assets/nightly_hash_history.json
Due: azure-pipelines.yml

removed description from fields, added Replace API Key button
  src/frontend/src/constants/providerConstants.ts
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/lfx/src/lfx/base/models/model_metadata.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

show tooltip on the x
  src/frontend/src/components/ui/input.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

set fetching after disconnect to show loading
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Change validation to occur when saving and show not validated button
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

show the ollama even when no models are available
  src/frontend/src/modals/modelProviderModal/components/ProviderListItem.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

removed set variable values when disconnecting
  src/frontend/src/controllers/API/queries/variables/use-delete-global-variables.ts
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Added placeholder and values to fields
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

just enabled models when they are present
  src/frontend/src/modals/modelProviderModal/components/ProviderListItem.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

added debounce when enabling models
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(split-text): apply ruff fixes
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

fix(split-text): text_key now correctly names the output column
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

feat: improve Split Text tooltips and add predefined separator options
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

feat: add dropdown separator options with custom support to Split Text component
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

feat: add recursive separators toggle to Split Text component
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

feat: add mode selector (Recursive/Character) to Split Text component
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

feat: hide keep_separator field in Recursive mode
  src/lfx/src/lfx/components/processing/split_text.py
Due: azure-pipelines.yml

test: add and fix unit tests for mode-based splitting
  src/backend/tests/unit/components/processing/test_split_text_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

added meaningful placeholder
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed not being able to delete project id
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed jest unit
  src/frontend/src/modals/modelProviderModal/__tests__/ProviderListItem.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remodel files
  src/backend/base/langflow/api/v1/traces.py
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanDetail.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/traceViewHelpers.test.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewHelpers.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewTypes.ts
  src/frontend/tests/core/features/logs.spec.ts
  src/frontend/tests/extended/features/flow-logs-modal.spec.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Use hash instead of code
  src/backend/base/langflow/api/utils/flow_validation.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/tests/unit/test_flow_validation.py
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/lfx/src/lfx/interface/components.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test formatting
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

ruff
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

merged updated FE
  src/frontend/src/pages/FlowPage/components/PageComponent/components/HistoryPreviewOverlay.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/PreviewVersionMenu.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/RestoreVersionButton.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/SaveSnapshotButton.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/components/DeleteConfirmDialog.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/components/HistoryListItem.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/components/PruneWarningDialog.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/components/RestoreConfirmDialog.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/constants.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/types.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/use-flow-history-sidebar.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/utils.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebarContent.tsx
  src/frontend/src/stores/historyPreviewStore.ts
  src/frontend/src/style/classes.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

removed handle from file input
  src/lfx/src/lfx/inputs/inputs.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
