Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

cris's fixes
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/types/components/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

reorganize KnowledgeBaseUploadModal file structure and update imports
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/KnowledgeBaseUploadModal.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/StepConfiguration.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/columnConfig/ColumnConfig.tsx
  src/frontend/src/modals/stepperModal/StepperModal.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/hooks/useOptimisticKnowledgeBase.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

try to fix spec 3
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix ruff errors
  src/lfx/src/lfx/components/elastic/opensearch.py
  src/lfx/src/lfx/components/elastic/opensearch_multimodal.py
Due: azure-pipelines.yml

fix: add safe imports to Agentics components with clear error when agentics-py/crewai not installed
  src/lfx/src/lfx/components/agentics/__init__.py
Due: azure-pipelines.yml

fix: add try/except in agentics tests to skip when agentics-py/crewai not installed (docling pattern)
  src/backend/tests/unit/components/bundles/agentics/test_agentics_component.py
  src/backend/tests/unit/components/bundles/agentics/test_llm_factory.py
  src/backend/tests/unit/components/bundles/agentics/test_llm_setup.py
  src/backend/tests/unit/components/bundles/agentics/test_model_config.py
  src/backend/tests/unit/components/bundles/agentics/test_schema_builder.py
  src/backend/tests/unit/components/bundles/agentics/test_semantic_aggregator.py
  src/backend/tests/unit/components/bundles/agentics/test_semantic_map.py
  src/backend/tests/unit/components/bundles/agentics/test_synthetic_data_generator.py
  src/lfx/src/lfx/components/agentics/__init__.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

tests
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/__tests__/StepReview.test.tsx
  src/frontend/src/modals/stepperModal/__tests__/StepperModal.test.tsx
  src/frontend/src/modals/stepperModal/components/__tests__/StepperModalFooter.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/__tests__/KnowledgeBasesTab.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/__tests__/knowledgeBaseColumns.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/hooks/__tests__/useKnowledgeBaseActions.test.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/hooks/__tests__/useKnowledgeBasePolling.test.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/hooks/__tests__/useOptimisticKnowledgeBase.test.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/__tests__/SourceChunksPage.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/components/__tests__/ChunkCard.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

toolguard>=0.2.10
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: generate requirements.txt from dependencies (#11810)
  src/lfx/src/lfx/__main__.py
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/utils/__init__.py
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

fix: make logs visible for components running in tool mode
  src/lfx/src/lfx/base/tools/component_tool.py
Due: azure-pipelines.yml

Remove the keep building from version page, fix double save, remove not needed timeout
  src/backend/base/langflow/api/v1/flow_history.py
  src/frontend/src/pages/FlowPage/components/PageComponent/components/PreviewVersionMenu.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/RestoreVersionButton.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/SaveSnapshotButton.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowHistorySidebar/use-flow-history-sidebar.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixes keep buildig
  src/frontend/package-lock.json
  src/frontend/src/pages/FlowPage/components/PageComponent/components/PreviewVersionMenu.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/RestoreVersionButton.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add tests suite
  src/backend/base/langflow/agentic/flows/__init__.py
  src/backend/tests/unit/agentic/api/test_code_extraction.py
  src/backend/tests/unit/agentic/api/test_streaming_validation.py
  src/backend/tests/unit/agentic/flows/test_langflow_assistant.py
  src/backend/tests/unit/agentic/flows/test_translation_flow.py
  src/backend/tests/unit/agentic/helpers/test_error_handling.py
  src/backend/tests/unit/agentic/helpers/test_sse.py
  src/backend/tests/unit/agentic/helpers/test_validation.py
  src/backend/tests/unit/agentic/mcp/__init__.py
  src/backend/tests/unit/agentic/mcp/test_support.py
  src/backend/tests/unit/agentic/services/helpers/test_event_consumer.py
  src/backend/tests/unit/agentic/services/helpers/test_flow_loader.py
  src/backend/tests/unit/agentic/services/helpers/test_intent_classification.py
  src/backend/tests/unit/agentic/services/test_assistant_service_streaming.py
  src/backend/tests/unit/agentic/services/test_flow_executor.py
  src/backend/tests/unit/agentic/services/test_flow_preparation.py
  src/backend/tests/unit/agentic/services/test_flow_types.py
  src/backend/tests/unit/agentic/services/test_provider_service.py
  src/backend/tests/unit/agentic/utils/test_component_search.py
  src/backend/tests/unit/agentic/utils/test_flow_component.py
  src/backend/tests/unit/agentic/utils/test_flow_graph.py
  src/backend/tests/unit/agentic/utils/test_template_create.py
  src/backend/tests/unit/agentic/utils/test_template_search.py
  src/backend/tests/unit/test_default_max_tokens.py
  src/frontend/src/components/core/assistantPanel/__tests__/assistant-panel.constants.test.ts
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-component-result.test.ts
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-header.test.tsx
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-input.test.tsx
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-message.test.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-component-result.tsx
  src/frontend/src/components/core/assistantPanel/helpers/__tests__/messages.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat.test.ts
  src/frontend/src/controllers/API/queries/agentic/__tests__/use-post-assist-stream.test.ts
  src/frontend/src/pages/FlowPage/__tests__/FlowPage-hotkeys.test.tsx
  src/frontend/src/stores/__tests__/assistantManagerStore.test.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

merge migrations
  .secrets.baseline
  src/backend/base/langflow/alembic/versions/6b765f3a878f_merge_flow_history_and_sso_heads.py
  src/frontend/package-lock.json
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

hide log canvas controls and flow toolbar when preview is active
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix frontend environment variable logic
  src/backend/base/langflow/api/v1/deployment.py
  src/backend/base/langflow/services/deployment/watsonx_orchestrate.py
  src/frontend/src/pages/MainPage/pages/deploymentsPage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add agentics and crewai to optional deps skip list in test_all_modules_importable
  src/backend/tests/unit/components/test_all_modules_importable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Set default vector engine to jvector
  src/lfx/src/lfx/components/elastic/opensearch.py
  src/lfx/src/lfx/components/elastic/opensearch_multimodal.py
Due: azure-pipelines.yml

clean up and testcases
  src/backend/base/langflow/api/v1/traces.py
  src/backend/tests/unit/api/v1/test_traces.py
  src/frontend/src/components/core/logCanvasControlsComponent/index.tsx
  src/frontend/src/controllers/API/queries/traces/__tests__/helpers.test.ts
  src/frontend/src/controllers/API/queries/traces/__tests__/use-get-trace.test.ts
  src/frontend/src/controllers/API/queries/traces/__tests__/use-get-traces.test.ts
  src/frontend/src/controllers/API/queries/traces/helpers.ts
  src/frontend/src/controllers/API/queries/traces/types.ts
  src/frontend/src/controllers/API/queries/traces/use-get-trace.ts
  src/frontend/src/controllers/API/queries/traces/use-get-traces.ts
  src/frontend/src/modals/flowLogsModal/components/FlowInsightsContent.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanDetail.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanTree.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/TraceAccordionItem.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/TraceDetailView.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/SpanDetail.test.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/SpanNode.test.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/SpanTree.test.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/__tests__/traceViewHelpers.test.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/index.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/statusHelpers.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewHelpers.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewTypes.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/types.ts
  src/frontend/src/pages/FlowInsightsPage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add AGENTS.md rule to project
  AGENTS.md
Due: azure-pipelines.yml

change to agents-example
  .gitignore
  AGENTS-example.md
Due: azure-pipelines.yml

Fixed design to show placeholder on watsonx and to not show title on fields with just one input
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove agents.md
  AGENTS.md
Due: azure-pipelines.yml

add example description
  AGENTS-example.md
Due: azure-pipelines.yml

changed prefix for openai key
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update opensearch_multimodal.py
  src/lfx/src/lfx/components/elastic/opensearch_multimodal.py
Due: azure-pipelines.yml

docs: Add AGENTS.md development guide (#11922)
  .gitignore
  AGENTS-example.md
Due: azure-pipelines.yml

chore: address OTel and PG status comments
  src/backend/base/langflow/alembic/versions/a1b2c3d4e5f6_add_trace_and_span_tables.py
  src/backend/base/langflow/api/v1/traces.py
  src/backend/base/langflow/services/database/models/traces/model.py
  src/backend/base/langflow/services/tracing/native.py
  src/backend/tests/unit/api/v1/test_traces.py
  src/frontend/src/modals/flowLogsModal/components/TraceView/traceViewHelpers.ts
  src/frontend/src/modals/flowLogsModal/components/TraceView/types.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs-cleanup
  docs/docs/Components/bundles-agentics.mdx
Due: azure-pipelines.yml

hide col details and open table
  src/frontend/src/modals/knowledgeBaseUploadModal/components/StepConfiguration.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: display proper tool name and description in tool mode output
  src/lfx/src/lfx/base/tools/component_tool.py
Due: azure-pipelines.yml
