Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

Scope sessions to read/write and normalize using single mgmt function
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/helpers/user.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/database/models/folder/utils.py
  src/backend/base/langflow/services/database/models/message/crud.py
  src/backend/base/langflow/services/database/models/user/crud.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/flow/flow_runner.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/socket/utils.py
  src/backend/base/langflow/services/task/temp_flow_cleanup.py
  src/backend/base/langflow/services/utils.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/integration/test_dynamic_import_integration.py
  src/backend/tests/unit/components/test_all_modules_importable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

🔧 (voice-assistant.tsx): update access to environment variable ELEVENLABS_API_KEY using import.meta.env to improve compatibility with ES modules
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Correct ElevenLabs API key access for Vite (#10378)
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: try ENV LANGFLOW_IMAGE=${LANGFLOW_IMAGE}
  .github/workflows/docker-build-v2.yml
  docker/build_and_push_backend.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

⬆️ (frontend/package.json): remove "@million/lint" and "million" dependencies, upgrade "whatwg-fetch" dependency to version 3.6.20
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

comments and dedupe
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/base/langflow/services/utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix not persisted issues
  src/backend/base/langflow/memory.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: Fix flaky If-Else component reset regression test (#10380)
  src/frontend/tests/extended/regression/general-bugs-reset-flow-run.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Apply suggestion from @mendonk
  README.md
Due: azure-pipelines.yml

Re-add initialization of sut :wq peruser which adds default folder
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/deps.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/components/mcp/test_mcp_superuser_flow.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/test_database.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add debug log
  src/backend/base/langflow/memory.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

readme-changes
  README.md
Due: azure-pipelines.yml

Update docling_remote_vlm.py
  src/lfx/src/lfx/components/docling/docling_remote_vlm.py
Due: azure-pipelines.yml

Update docs/docs/Components/bundles-docling.mdx
  docs/docs/Components/bundles-docling.mdx
Due: azure-pipelines.yml

Apply suggestion from @mendonk
  docs/docs/Components/bundles-docling.mdx
Due: azure-pipelines.yml

fix: Handle unparameterized list types in schema inputs (#10344)
  src/lfx/src/lfx/io/schema.py
Due: azure-pipelines.yml

fix: Remove $ from install commands (#10371)
  README.md
Due: azure-pipelines.yml

chore: add build args to GitHub Container Registry
  .github/workflows/docker-build-v2.yml
  docker/build_and_push_backend.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

Template update
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update more starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add direct langchain fallback to trustcall extractor in structured output component
  src/backend/tests/unit/components/processing/test_structured_output_component.py
  src/lfx/src/lfx/components/processing/structured_output.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

add pytest match string to fix ruff check
  src/backend/tests/unit/components/processing/test_structured_output_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add flow creation from template MCP tool
  src/backend/base/langflow/agentic/mcp/server.py
  src/backend/base/langflow/agentic/utils/template_create.py
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
