Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

code in CodeInput
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

logging
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

fix unit test
  src/backend/tests/unit/components/policies/test_policies_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update llm
  src/backend/tests/unit/components/policies/test_llm_wrapper.py
  src/lfx/src/lfx/components/policies/llm_wrapper.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

minor updates
  docs/docs/Components/policies.mdx
Due: azure-pipelines.yml

PR review fixes
  src/lfx/src/lfx/components/policies/models.py
Due: azure-pipelines.yml

pre-commit formatting
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

info mesages
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

toolguard runtime from codeInputs
  src/lfx/src/lfx/components/policies/guard_sync_utils.py
  src/lfx/src/lfx/components/policies/guarded_tool.py
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

regenearate uv.lock
  src/backend/tests/unit/components/policies/test_guarded_tool.py
  src/backend/tests/unit/components/policies/test_policies_component.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix toolguard PR
  docs/docs/Components/policies.mdx
  src/backend/tests/unit/components/policies/test_guarded_tool.py
  src/backend/tests/unit/components/policies/test_policies_component.py
  src/backend/tests/unit/components/policies/test_tool_invoker.py
  src/lfx/src/lfx/components/policies/guard_sync_utils.py
  src/lfx/src/lfx/components/policies/guarded_tool.py
  src/lfx/src/lfx/components/policies/policies_component.py
  src/lfx/src/lfx/components/policies/tool_invoker.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix toolguard dependencies
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

regenearate uv.lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

restore lost changes
  src/backend/base/pyproject.toml
  src/backend/tests/unit/components/policies/test_policies_component.py
  src/lfx/src/lfx/components/policies/guarded_tool.py
  src/lfx/src/lfx/components/policies/policies_component.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Mount the sdk where needed
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  docker/dev.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Skip the sdk
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/release.yml
Due: azure-pipelines.yml

fix(oauth): defer token clearing until SDK exhausts refresh logic
  src/lfx/src/lfx/base/mcp/oauth/provider.py
Due: azure-pipelines.yml

ruff
  src/backend/tests/unit/test_flow_validation.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix docker build - adds src/sdx to dockerfiles
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  docker/dev.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix(projects): ignore unrelated parenthetical suffixes
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/v1/test_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Build and install the langflow-sdk for lfx (fixes nightly) (#12481)
  .github/workflows/ci.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
  Makefile
  scripts/ci/sdk_nightly_tag.py
  scripts/ci/update_lfx_version.py
  scripts/ci/update_pyproject_name.py
  scripts/ci/update_sdk_version.py
  src/sdk/Makefile
Due: azure-pipelines.yml

fix: Properly grep for the langflow version (#12486)
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  docker/dev.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

feat(deployments): improve attach flow step UX in deploy modal (#12482)
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/radio-select-item.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-connection-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-version-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(deployments): add expandable rows to show attached flows (#12483)
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-expanded-row.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-table.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(deployments): replace Duplicate action with Details modal
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-details-modal/connection-item.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-details-modal/deployment-details-modal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-details-modal/deployment-flow-list.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-details-modal/deployment-info-grid.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-details-modal/flow-version-item.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-content.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-table.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(flows): escape wildcard flow names when deduplicating
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/tests/unit/api/v1/test_rename_flow_to_save.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update test_mcp_client.py
  src/backend/tests/unit/utils/test_mcp_client.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update setup.py
  src/backend/base/langflow/initial_setup/setup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(wxo): optional local orchestrate dev URL and JWT auth
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/client.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/config.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/tools.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/local_dev.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/types.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/utils.py
  src/backend/tests/unit/services/deployment/test_wxo_local_dev.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(flows): escape wildcard endpoint names when deduplicating
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/tests/unit/api/v1/test_flows.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(docker): Remove broken npm self-upgrade from Docker images (#12309)
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix: replace grep -oP with sed for Node.js version extraction in Docker builds (#12331)
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

support fetching models list
  .agents/skills/e2e-testing/SKILL.md
  .cursor/rules/frontend_development.mdc
  AGENTS.md
  DEVELOPMENT.md
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/config.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/retry.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/shared.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/tools.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/local_dev.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/types.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/utils.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
  src/backend/tests/unit/services/deployment/test_wxo_local_dev.py
  src/frontend/README.md
  src/frontend/package-lock.json
  src/frontend/playwright.config.ts
  src/frontend/src/controllers/API/queries/deployments/use-get-deployment-llms.ts
  src/frontend/src/customization/config-constants.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-type.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/test-deployment-modal/use-deployment-chat.ts
  src/frontend/vite.config.mts
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(graph): treat missing frozen cache as cache miss
  src/backend/tests/unit/graph/test_cache_restoration.py
  src/lfx/src/lfx/graph/graph/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
