Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: match cookie parameters when deleting cookies in logout endpoint
  src/backend/base/langflow/api/v1/login.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

added google api support (#141)
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/azure/azure_openai_embeddings.py
  src/backend/base/langflow/components/models/embedding_model.py
  src/backend/base/langflow/components/models/language_model.py
  src/backend/base/langflow/components/qdrant/qdrant.py
  src/backend/base/langflow/custom/default_providers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

sync: sync with main, update component_index.json
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

sync: update component_index.json
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

add clear cookie session after logout
  src/frontend/src/stores/authStore.ts
  src/frontend/src/utils/cookie-manager.ts
  src/frontend/tests/core/regression/general-bugs-remove-session-after-logout.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Feature/component fix (#142)
  src/backend/base/langflow/custom/default_providers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(marketplace): persist tab selection and hide flow name in visualization (#143)
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/modals/publishFlowModal/index.tsx
  src/frontend/src/pages/MarketplacePage/DetailPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix typos in some files
  src/lfx/src/lfx/components/processing/filter_data_values.py
  src/lfx/src/lfx/components/processing/structured_output.py
Due: azure-pipelines.yml

add disable fork safety
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix: resolve macOS worker crashes in CI tests
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

Modified app logo and remove the github,discard link, cleared up organization page (#207)
  src/frontend/index.html
  src/frontend/public/visualaifavicon.png
  src/frontend/src/CustomNodes/helpers/mutate-template.ts
  src/frontend/src/assets/visualailogo.png
  src/frontend/src/clerk/OrganizationPage.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/sidebarComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/LandingPage/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove notification to prevent information flood on slack
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

chore: pin torch and add back slack with flag
  .github/workflows/nightly_build.yml
  .secrets.baseline
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add shouldScale to not scale button if it is a dropdown
  src/frontend/src/components/ui/button.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: skip tests better
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

chore: move needs
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

chore: remove second half of if statement
  .github/workflows/nightly_build.yml
  .secrets.baseline
Due: azure-pipelines.yml

chore: 2.9.0
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: pin 2.2.2
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: pin to range
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: 2.2-3
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: remove needs
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

chore: revert lfx to 0.1.0
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: remove torch pin
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: lfx 0.2.0
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: revert worker restriction
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

chore: --prerelease=allow 0.2.0
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

change models to support timezone to prevent postgres issues
  src/backend/base/langflow/alembic/versions/c8613607a100_add_timezone_support_for_asyncpg_.py
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/base/langflow/services/database/models/file/model.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/tests/integration/test_postgresql_drivers.py
  src/backend/tests/unit/test_datetime_timezone.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: remove # Set macOS fork safety environment
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

create a separate conftest
  src/backend/tests/integration/drivers/conftest.py
  src/backend/tests/integration/drivers/test_postgresql_drivers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

jest tests
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/__tests__/ModelProvidersPage.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/__tests__/model-list-item.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/__tests__/model-providers-header.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/__tests__/provider-list-item.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/__tests__/provider-list.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/__tests__/provider-models-dialog.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/__tests__/use-provider-actions.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(database): use issubclass instead of isinstance for pool class validation
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/services/database/test_database_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

PYTORCH_MPS_DISABLE PYTORCH_ENABLE_MPS_FALLBACK
  .github/workflows/cross-platform-test.yml
  .github/workflows/nightly_build.yml
  .secrets.baseline
Due: azure-pipelines.yml

test: address CodeRabbit feedback - add edge cases, fixtures, and docstrings
  src/backend/tests/unit/services/database/test_database_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: echo "$WHEEL_FILE"
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

shows checkboxes from be
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/provider-list.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/provider-models-dialog.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/use-provider-actions.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

check box not being enabled on adding key
  src/frontend/src/modals/apiKeyModal/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/use-provider-actions.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Improve MCPToolsComponent server/tool config refresh
  src/backend/base/langflow/agentic/flows/SystemMessageGen.json
  src/backend/base/langflow/agentic/mcp/__main__.py
  src/backend/base/langflow/api/utils/mcp/agentic_mcp.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Ruff fixes and template
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/components/models/embedding_model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
