Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

Update test-ephemeral-runner.yaml
  .github/workflows/test-ephemeral-runner.yaml
Due: azure-pipelines.yml

refactor: improve SafariScrollFix reliability and maintainability
  src/frontend/src/components/common/safari-scroll-fix.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix: UI Overlay: Chat Input Component Overlapping README Note (#11710)
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: mock clearSessionMessages to prevent flowStore.getState error in test
  src/frontend/src/pages/Playground/components/__tests__/shareable-playground-content.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): preserve sticky note dimensions when importing via canvas drop
  src/frontend/src/stores/flowStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): add UI feedback for self-deactivation prevention
  src/frontend/src/modals/userManagementModal/index.tsx
  src/frontend/src/pages/AdminPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

committing changes for demo.
  src/backend/base/langflow/alembic/versions/26ef53e27502_adding_asset_id_and_asset_type_to_job_.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/services/database/models/jobs/crud.py
  src/backend/base/langflow/services/database/models/jobs/model.py
  src/backend/base/langflow/services/jobs/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix tests
  src/frontend/src/pages/Playground/components/__tests__/shareable-playground-content.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix hidden delete button
  src/frontend/src/shared/components/delete-confirmation-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: remove logs and emoji
  src/lfx/src/lfx/components/langchain_utilities/csv_agent.py
Due: azure-pipelines.yml

remove component share from doc
  src/frontend/src/customization/constants.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: mock clearSessionMessages (#11776)
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sidebar.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update build config
  src/backend/tests/unit/components/processing/test_data_operations_component.py
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.ts
  src/lfx/src/lfx/components/processing/data_operations.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix ruff errors
  src/backend/tests/unit/components/processing/test_data_operations_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

address review comments
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.ts
  src/lfx/src/lfx/components/processing/data_operations.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Filter out MCP and models_and_agents categories and MCPTools component from sidebar (#11513)
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/utils/open-add-mcp-server-modal.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Fix flaky Market Research test timeout on CI (#11665)
  src/frontend/tests/core/features/globalVariables.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: make docs deployment manual-only (#11602)
  .github/workflows/deploy_gh-pages.yml
Due: azure-pipelines.yml

docs: draft hide internal endpoints in spec (#11469)
  docs/openapi/openapi.json
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/model_options.py
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/api/v1/validate.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/api/v1/voice_mode.py
  src/backend/base/langflow/api/v2/registration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: update opensearch component with raw search component (#11491)
  src/lfx/src/lfx/components/elastic/opensearch_multimodal.py
Due: azure-pipelines.yml

fix: add iter method to noopresult (#11517)
  src/backend/base/langflow/services/database/session.py
  src/lfx/src/lfx/services/session.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(test): Skip Tavily API key fill when global variable is loaded (#11733)
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Misleading Empty State when no Folders (#11728)
  src/frontend/src/pages/MainPage/pages/main-page.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: align Market Research spec with release-v1.8.0
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: remove logger tests
  src/lfx/tests/unit/components/langchain_utilities/test_csv_agent.py
Due: azure-pipelines.yml

fix: Resolve Windows PostgreSQL event loop incompatibility (#11767)
  docs/features/windows-postgresql-eventloop-fix.md
  src/backend/base/langflow/__init__.py
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/helpers/windows_postgres_helper.py
  src/backend/base/langflow/langflow_launcher.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_database_windows_postgres_integration.py
  src/backend/tests/unit/test_windows_postgres_helper.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): synchronize Prompt Template input fields on bracket mode toggle
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

code improvements
  src/frontend/src/components/common/ImageViewer/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/file-input.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Legacy "Store" Reference in Flows Empty State (#11721)
  pyproject.toml
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Modified migration file to handle downgrades.
  src/backend/base/langflow/alembic/versions/369268b9af8b_add_job_id_to_vertex_build_create_job_.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Sync/Async ingestions endpoint for KnowledgeBases. Streamlining job execution for LF, internal status endpoint for jobs/tasks.
  src/backend/base/langflow/alembic/versions/169b35510b37_added_job_type_to_make_jobs_generic_and_.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/services/database/models/jobs/model.py
  src/backend/base/langflow/services/jobs/service.py
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/index.tsx
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/vertex/base.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Paginated the chunk response.
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/frontend/src/controllers/API/queries/knowledge-bases/use-get-knowledge-base-chunks.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/constants.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
