Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix superuser test
  .secrets.baseline
  src/backend/tests/unit/test_auth_settings.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: address review feedback on tool name/description handling
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/tools/python_repl.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(components): serialize Python REPL code input
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/backend/tests/unit/test_process.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/tools/python_repl.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/test_process.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix a11y test
  src/frontend/src/pages/LoginPage/__tests__/LoginPage.a11y.test.tsx
  src/frontend/src/pages/SignUpPage/__tests__/SignUpPage.a11y.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(sandbox): close TCG gate gaps and lifecycle issues from re-review
  src/backend/base/langflow/main.py
  src/lfx/pyproject.toml
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/src/lfx/utils/sandbox.py
  src/lfx/tests/unit/utils/test_sandbox.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

codeRabbit fixes
  src/backend/base/langflow/alembic/versions/b1c2d3e4f5a6_add_sso_plugin_tables_sso_user_profile_.py
  src/backend/base/langflow/alembic/versions/e9f2a3b4c5d6_allow_multiple_sso_identities_per_user.py
  src/backend/base/langflow/services/database/models/auth/sso.py
  src/backend/tests/unit/alembic/test_sso_instance_settings_migration.py
  src/backend/tests/unit/alembic/test_sso_multi_identity_migration.py
  src/backend/tests/unit/alembic/test_sso_stable_connection_migration.py
  src/backend/tests/unit/test_sso_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: isolate CrewAI runtime state across build_crew calls (#13852)
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/agents/crewai/crew.py
  src/lfx/src/lfx/components/crewai/hierarchical_crew.py
  src/lfx/tests/unit/base/agents/test_crewai_component_isolation.py
Due: azure-pipelines.yml

fix(sandbox): consume upstream accelerator decision; unicode-safe split; startup readiness flag
  src/lfx/src/lfx/utils/sandbox.py
  src/lfx/tests/unit/utils/test_sandbox.py
Due: azure-pipelines.yml

erics suggestions
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/auth/__init__.py
  src/backend/base/langflow/services/database/models/auth/sso.py
  src/backend/tests/unit/test_sso_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(sandbox): allowlist accelerators, tokenizer-newline offsets, shutdown barrier
  src/lfx/src/lfx/utils/sandbox.py
  src/lfx/tests/unit/utils/test_sandbox.py
Due: azure-pipelines.yml

fix: show global variable permission loading state
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/__tests__/GlobalVariablesPage.test.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(components): run user code input in Python REPL tool's run_model (#14401)
  src/backend/base/langflow/locales/en.json
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/backend/tests/unit/test_process.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/tools/python_repl.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/test_process.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style: use named loading export
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: preserve global variables grid during permission updates
  src/frontend/src/contexts/__tests__/permissionsContext.test.tsx
  src/frontend/src/contexts/permissionsContext.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/__tests__/GlobalVariablesPage.test.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: honor Tool Name/Description inputs in Python REPL tool component (#14402)
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/tools/python_repl.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(sandbox): serialize run submission with shutdown across threads
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/utils/sandbox.py
  src/lfx/tests/unit/utils/test_sandbox.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: revert local-environment dependency-version drift in starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(crewai): isolate shared agents per crew (#14399)
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/agents/crewai/crew.py
  src/lfx/src/lfx/components/crewai/sequential_crew.py
  src/lfx/tests/unit/base/agents/test_crewai_component_isolation.py
  src/lfx/tests/unit/base/agents/test_crewai_crew.py
Due: azure-pipelines.yml

fix: serialize model provider variable writes
  src/frontend/src/modals/modelProviderModal/__tests__/useProviderConfigurationDisconnect.test.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/services/database/models/knowledge_base/model.py
  src/backend/tests/unit/base/knowledge_bases/test_kb_disk_independence.py
  src/backend/tests/unit/components/files_and_knowledge/test_ingestion.py
  src/backend/tests/unit/test_knowledge_bases_api.py
  src/lfx/src/lfx/base/knowledge_bases/backends/__init__.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
  src/lfx/src/lfx/base/knowledge_bases/knowledge_base_utils.py
  src/lfx/src/lfx/components/files_and_knowledge/_kb_paths.py
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(sandbox): make shutdown's lifecycle transition synchronous under the mutex
  src/lfx/src/lfx/utils/sandbox.py
  src/lfx/tests/unit/utils/test_sandbox.py
Due: azure-pipelines.yml

fix(tests): stub SSRF transport in spoofed-metadata policy tests
  src/lfx/tests/unit/services/model_provider_policy/test_policy.py
Due: azure-pipelines.yml

fix(tests): stub SSRF transport in spoofed-metadata policy tests (#14408)
  src/lfx/tests/unit/services/model_provider_policy/test_policy.py
Due: azure-pipelines.yml

fix(sandbox): publish startup readiness atomically with shutdown
  src/lfx/src/lfx/utils/sandbox.py
Due: azure-pipelines.yml

fix(sandbox): reinitialize executor mutex in fork children
  src/lfx/src/lfx/utils/sandbox.py
  src/lfx/tests/unit/utils/test_sandbox.py
Due: azure-pipelines.yml

fix(auth): add nested external group claim seam
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/services/auth/test_auth_service.py
  src/lfx/src/lfx/services/authorization/__init__.py
  src/lfx/src/lfx/services/authorization/base.py
  src/lfx/tests/unit/services/authorization/test_default_authorization_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): preserve explicit component values
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/base/models/unified_models/build_config.py
  src/lfx/src/lfx/graph/flow_builder/component.py
  src/lfx/src/lfx/mcp/server.py
  src/lfx/tests/unit/mcp/test_server_events.py
  src/lfx/tests/unit/test_flow_builder.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): preserve external group compatibility
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/services/auth/test_auth_service.py
  src/lfx/src/lfx/services/authorization/base.py
  src/lfx/tests/unit/services/authorization/test_default_authorization_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(frontend): stabilize grouped node readiness
  src/frontend/tests/core/unit/groupFalseError.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(frontend): stabilize grouped node readiness (#14411)
  src/frontend/tests/core/unit/groupFalseError.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): preserve direct provider credentials
  src/backend/tests/unit/api/v1/test_mcp_client_server.py
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/base/models/unified_models/build_config.py
  src/lfx/src/lfx/mcp/server.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: persist provider primary variable last
  src/frontend/src/modals/modelProviderModal/__tests__/useProviderConfigurationDisconnect.test.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Implement SSO client secret migration and validation checks
  scripts/migrate_secret_key.py
  src/backend/base/langflow/alembic/versions/7c8e9f0a1b2d_add_sso_config_invariant_checks.py
  src/backend/base/langflow/services/database/models/auth/sso.py
  src/backend/base/langflow/services/database/models/auth/sso_secret.py
  src/backend/tests/unit/scripts/test_migrate_secret_key.py
  src/backend/tests/unit/test_sso_models.py
  src/backend/tests/unit/test_sso_secrets.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): preserve edited field on provider auto-selection
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/base/models/unified_models/build_config.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: serialize model provider variable writes (#14405)
  src/frontend/src/modals/modelProviderModal/__tests__/useProviderConfigurationDisconnect.test.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
