Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

coderabbit suggestions
  .github/workflows/migration-validation.yml
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

security: update NLTK to 3.9.3 to fix path traversal vulnerability (#12090)
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

tests: Prevent session deletion data leakage in playground chat (#12099)
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sidebar.tsx
  src/frontend/tests/core/regression/session-deletion-data-leakage.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ref: architectural renames for deployment api, service, persistence layer
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/schemas/deployments.py
  src/backend/base/langflow/services/database/models/deployment/__init__.py
  src/backend/base/langflow/services/database/models/deployment/model.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/__init__.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/model.py
  src/backend/base/langflow/tests/services/database/models/deployment/test_model.py
  src/backend/base/langflow/tests/services/database/models/deployment_provider_account/test_model.py
  src/backend/tests/unit/api/v1/test_deployment_schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

align api/v1 file structure with main
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/deployment.py
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/schemas/__init__.py
  src/backend/base/langflow/api/v1/schemas/deployments.py
  src/backend/tests/unit/api/v1/test_deployment_provider_accounts.py
  src/backend/tests/unit/api/v1/test_deployments_pagination_sync.py
  src/backend/tests/unit/api/v1/test_flow_history.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(files): add Flow Files tab to manage flow-specific files
  src/backend/base/langflow/api/v1/files.py
  src/backend/tests/unit/api/v1/test_files.py
  src/frontend/src/controllers/API/queries/file-management/use-delete-flow-file.ts
  src/frontend/src/controllers/API/queries/file-management/use-get-flow-files.ts
  src/frontend/src/pages/MainPage/pages/filesPage/components/flowFilesTab/flow-files-col-defs.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/flowFilesTab/hooks/use-flow-file-actions.ts
  src/frontend/src/pages/MainPage/pages/filesPage/components/flowFilesTab/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(files): resolve ruff and biome lint errors in flow files feature
  src/backend/tests/unit/api/v1/test_files.py
  src/frontend/src/controllers/API/queries/file-management/use-get-flow-files.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(files): address code review feedback from CodeRabbit
  src/backend/tests/unit/api/v1/test_files.py
  src/frontend/src/controllers/API/queries/file-management/use-delete-flow-file.ts
  src/frontend/src/pages/MainPage/pages/filesPage/components/flowFilesTab/flow-files-col-defs.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/flowFilesTab/hooks/use-flow-file-actions.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(files): remove setTimeout race condition and add error state handling
  src/backend/tests/unit/api/v1/test_files.py
  src/frontend/src/pages/MainPage/pages/filesPage/components/flowFilesTab/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ref: architectural renames for deployment api, service, persistence layer (#12106)
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/schemas/deployments.py
  src/backend/base/langflow/services/database/models/deployment/__init__.py
  src/backend/base/langflow/services/database/models/deployment/model.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/__init__.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/model.py
  src/backend/base/langflow/tests/services/database/models/deployment/test_model.py
  src/backend/base/langflow/tests/services/database/models/deployment_provider_account/test_model.py
  src/backend/tests/unit/api/v1/test_deployment_schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

use "version" naming
  src/backend/base/langflow/alembic/versions/2b9c4d8e7a11_add_snapshot_id_to_version_deployment_attachment.py
  src/backend/base/langflow/alembic/versions/e0265ca70a45_add_flow_version_deployment_attachment_.py
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/database/models/deployment/crud.py
  src/backend/base/langflow/services/database/models/flow_history/crud.py
  src/backend/base/langflow/services/database/models/flow_history_deployment_attachment/__init__.py
  src/backend/base/langflow/services/database/models/flow_history_deployment_attachment/crud.py
  src/backend/base/langflow/services/database/models/flow_version/__init__.py
  src/backend/base/langflow/services/database/models/flow_version/crud.py
  src/backend/base/langflow/services/database/models/flow_version/exceptions.py
  src/backend/base/langflow/services/database/models/flow_version/model.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/__init__.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/crud.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/model.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/tests/unit/api/v1/test_deployments_pagination_sync.py
  src/backend/tests/unit/api/v1/test_flow_history.py
  src/backend/tests/unit/api/v1/test_flows.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

security: upgrade nltk to 3.9.3 to fix CVE path traversal vulnerability
  src/backend/base/uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix unit tests
  src/lfx/src/lfx/components/ibm/watsonx_embeddings.py
  src/lfx/tests/unit/components/ibm/test_watsonx_embeddings.py
Due: azure-pipelines.yml

fix: Security/fix nltk CVE path traversal (#12109)
  src/backend/base/uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

use-min-version-fstring
  src/backend/base/langflow/services/database/constants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: docker uv install for MCP tools (#12089)
  docs/docs/Deployment/deployment-docker.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fix: update langchain_core version to 1.2.17 in multiple starter project JSON files
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

pull latest wxo adapter
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/client.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/config.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/tools.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ui): improve model provider modal layout and styling
  src/frontend/src/modals/modelProviderModal/components/DisconnectWarning.tsx
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: upgrade axios to ^1.12.0 to address PVR0686555 vulnerability (#11995)
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: improve session management by renaming variables and adding error handling for session storage
  src/frontend/src/components/core/playgroundComponent/hooks/use-session-manager.ts
  src/frontend/src/stores/__tests__/sessionManagerStore.test.ts
  src/frontend/src/stores/sessionManagerStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: update deprecated langchain imports to langchain_classic for 1.0 compatibility
  src/backend/base/langflow/services/tracing/native.py
  src/backend/base/langflow/services/tracing/native_callback.py
  src/backend/base/langflow/services/tracing/openlayer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

json fixer
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff-rule-sim105
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: OpenAPI spec content updated without version change
  docs/openapi/openapi.json
Due: azure-pipelines.yml

fix(ui): improve model provider modal layout and styling (#12112)
  src/frontend/src/modals/modelProviderModal/components/DisconnectWarning.tsx
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
