Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(security): bind MCP stdio to code-exec lockdown
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: correct HITL gate span label and dedupe paused trace rows (#14148)
  docs/features/durable-execution-hitl.md
  src/backend/base/langflow/api/build.py
  src/backend/tests/unit/api/test_hitl_gate_label.py
  src/frontend/src/pages/FlowPage/components/TraceComponent/TraceDetailView.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/TraceDetailView.test.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/traceViewHelpers.test.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/traceViewHelpers.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(security): bind MCP stdio to code-exec lockdown (#14150)
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(anthropic): rebuild compatibility model annotations (#14145)
  src/bundles/anthropic/pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/anthropic_chat_model.py
  src/bundles/anthropic/src/lfx_anthropic/extension.json
  src/bundles/anthropic/tests/test_anthropic_thinking_blocks.py
  src/lfx/src/lfx/base/models/anthropic_chat_model.py
  src/lfx/tests/unit/base/models/test_anthropic_chat_model.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): cap component loader concurrency
  docs/docs/Develop/environment-variables.mdx
  src/lfx/src/lfx/interface/components.py
  src/lfx/tests/unit/test_component_index.py
Due: azure-pipelines.yml

Move lfx-bundles tests out of backend integration
  src/backend/tests/integration/components/bundles/cometapi/__init__.py
  src/backend/tests/unit/components/bundles/cometapi/test_cometapi_component.py
  src/backend/tests/unit/components/bundles/mem0/test_mem0_component.py
  src/backend/tests/unit/components/bundles/youtube/test_youtube_transcript_component.py
  src/backend/tests/unit/components/embeddings/test_ollama_embeddings_component.py
  src/backend/tests/unit/components/git/test_git_component.py
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
  src/backend/tests/unit/components/languagemodels/test_deepseek.py
  src/backend/tests/unit/components/languagemodels/test_litellm_proxy.py
  src/backend/tests/unit/components/languagemodels/test_perplexity.py
  src/backend/tests/unit/components/languagemodels/test_xai.py
  src/backend/tests/unit/components/search/test_wikidata_api.py
  src/backend/tests/unit/components/search/test_wikipedia_api.py
  src/backend/tests/unit/components/search/test_yfinance_tool.py
  src/backend/tests/unit/components/test_all_modules_importable.py
  src/backend/tests/unit/components/test_ssrf_guarded_url_components.py
  src/backend/tests/unit/components/tools/test_serp_api.py
  src/backend/tests/unit/components/vectorstores/test_chroma_vector_store_component.py
  src/backend/tests/unit/components/vectorstores/test_mongodb_atlas.py
  src/backend/tests/unit/components/vectorstores/test_qdrant_vector_store_component.py
  src/backend/tests/unit/components/vectorstores/test_weaviate.py
  src/backend/tests/unit/groq/test_groq_integration.py
  src/bundles/lfx-bundles/tests/integration/test_chatollama_integration.py
  src/bundles/lfx-bundles/tests/integration/test_cometapi_integration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: skip lfx-bundles unit tests when absent
  src/backend/tests/unit/components/bundles/altk/test_altk_agent.py
  src/backend/tests/unit/components/bundles/altk/test_altk_agent_logic.py
  src/backend/tests/unit/components/bundles/baidu/test_baidu_qianfan.py
  src/backend/tests/unit/components/bundles/chroma/test_local_db_component.py
  src/backend/tests/unit/components/bundles/composio/test_composio_components.py
  src/backend/tests/unit/components/bundles/cuga/test_cuga_agent.py
  src/backend/tests/unit/components/bundles/cuga/test_cuga_session_id_fallback.py
  src/backend/tests/unit/components/bundles/cuga/test_memory_flow_id_scoping.py
  src/backend/tests/unit/components/bundles/elastic/test_opensearch_multimodal.py
  src/backend/tests/unit/components/bundles/google/test_google_bq_sql_executor_component.py
  src/backend/tests/unit/components/bundles/google/test_google_search_api.py
  src/backend/tests/unit/components/bundles/google/test_google_serper_api_core.py
  src/backend/tests/unit/components/bundles/huggingface/test_huggingface.py
  src/backend/tests/unit/components/bundles/langwatch/test_langwatch_component.py
  src/backend/tests/unit/components/bundles/nvidia/test_nvidia_component.py
  src/backend/tests/unit/components/bundles/twelvelabs/test_twelvelabs_components.py
  src/backend/tests/unit/components/codeagents/test_codeagents_imports.py
  src/backend/tests/unit/components/vectorstores/test_faiss_vector_store_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: relax optional bundle frontend checks
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
  src/frontend/tests/extended/features/integration-side-bar.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: adjust bundle-dependent coverage
  src/backend/tests/unit/template/test_starter_projects.py
  src/frontend/tests/core/features/tweaksTest.spec.ts
  src/frontend/tests/core/regression/ime-input-composition.spec.ts
  src/frontend/tests/core/unit/customEdgesComponent.spec.ts
  src/frontend/tests/core/unit/floatComponent.spec.ts
  src/frontend/tests/core/unit/inputComponent.spec.ts
  src/frontend/tests/core/unit/sliderComponent.spec.ts
  src/frontend/tests/extended/features/auto-save-off.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
  src/frontend/tests/extended/features/integration-side-bar.spec.ts
  src/frontend/tests/extended/features/langflowShortcuts.spec.ts
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-11.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-7.spec.ts
  src/frontend/tests/utils/skip-if-component-unavailable.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: stub optional opensearch dependency
  src/backend/tests/unit/base/knowledge_bases/conftest.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
  src/backend/tests/unit/base/knowledge_bases/test_test_connection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: fix optional bundle CI drift
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/tests/unit/components/models_and_agents/test_language_model_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stub optional google drive client
  src/backend/tests/unit/components/processing/test_save_file_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: share optional google client stub
  src/backend/tests/unit/components/conftest.py
  src/backend/tests/unit/components/files_and_knowledge/test_file_component.py
  src/backend/tests/unit/components/processing/test_save_file_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stub optional groq client
  src/backend/tests/unit/groq/conftest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stub optional google genai client
  src/backend/tests/unit/api/v1/test_variable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: guard KB ingestion Ollama embedding tests behind langchain_ollama
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: remove redundant unguarded FAISS vectorstore test straggler
  src/backend/tests/unit/components/vectorstores/test_faiss_vector_store_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: guard git SSRF tests behind optional bundle
  src/backend/tests/unit/components/git/test_gitextractor_ssrf.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style: format lfx bundle shims
  src/lfx/src/lfx/components/Notion/__init__.py
  src/lfx/src/lfx/components/aiml/__init__.py
  src/lfx/src/lfx/components/altk/__init__.py
  src/lfx/src/lfx/components/bing/__init__.py
  src/lfx/src/lfx/components/chroma/__init__.py
  src/lfx/src/lfx/components/cuga/__init__.py
  src/lfx/src/lfx/components/google/__init__.py
  src/lfx/src/lfx/components/groq/__init__.py
  src/lfx/src/lfx/components/mem0/__init__.py
  src/lfx/src/lfx/components/milvus/__init__.py
  src/lfx/src/lfx/components/needle/__init__.py
  src/lfx/src/lfx/components/novita/__init__.py
  src/lfx/src/lfx/components/nvidia/__init__.py
  src/lfx/src/lfx/components/olivya/__init__.py
  src/lfx/src/lfx/components/ollama/__init__.py
  src/lfx/src/lfx/components/qdrant/__init__.py
  src/lfx/src/lfx/components/spider/__init__.py
  src/lfx/src/lfx/components/tavily/__init__.py
  src/lfx/src/lfx/components/vlmrun/__init__.py
Due: azure-pipelines.yml

test: guard connector SSRF tests behind optional bundle
  src/backend/tests/unit/components/test_connector_ssrf.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: regenerate artifacts after rebase
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/locales/en.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: stabilize lean bundle CI
  scripts/build_component_index.py
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/unit/components/bundles/elastic/test_opensearch_auth.py
  src/lfx/src/lfx/interface/components.py
  src/lfx/tests/unit/test_component_index.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: skip faiss without optional bundles
  src/backend/tests/unit/components/bundles/faiss/test_faiss_vector_store_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(valkey): restore components as extension bundle
  docs/docs/Components/bundles-valkey.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  pyproject.toml
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/core/celeryconfig.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/core/test_celeryconfig.py
  src/backend/tests/unit/services/storage/test_s3_dependency.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
  src/backend/tests/unit/test_litellm_proxy_extra.py
  src/bundles/valkey/README.md
  src/bundles/valkey/pyproject.toml
  src/bundles/valkey/src/lfx_valkey/__init__.py
  src/bundles/valkey/src/lfx_valkey/components/__init__.py
  src/bundles/valkey/src/lfx_valkey/components/valkey/__init__.py
  src/bundles/valkey/src/lfx_valkey/components/valkey/valkey.py
  src/bundles/valkey/src/lfx_valkey/components/valkey/valkey_chat.py
  src/bundles/valkey/src/lfx_valkey/extension.json
  src/bundles/valkey/tests/test_valkey.py
  src/bundles/valkey/tests/test_valkey_chat.py
  src/frontend/src/icons/Valkey/Valkey.jsx
  src/frontend/src/icons/Valkey/Valkey.svg
  src/frontend/src/icons/Valkey/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/extension/migration/migration_table.json
  src/lfx/tests/integration/extension/test_pilot_valkey_upgrade.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: ship optional starters with lfx-bundles
  .secrets.baseline
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/tests/test_starter_projects.py
  src/backend/tests/unit/initial_setup/test_starter_projects_streaming.py
  src/backend/tests/unit/template/test_starter_projects.py
  src/backend/tests/unit/test_initial_setup.py
  src/bundles/lfx-bundles/README.md
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/codeagents/starter_projects/Structured Data Analysis Agent.json
  src/bundles/lfx-bundles/src/lfx_bundles/youtube/starter_projects/Youtube Analysis.json
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: restamp component index for boto3 1.43.46 bump
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

fix(valkey): percent-encode chat-memory URL credentials with quote(safe="")
  src/bundles/valkey/src/lfx_valkey/components/valkey/valkey_chat.py
  src/bundles/valkey/tests/test_valkey_chat.py
Due: azure-pipelines.yml

feat(valkey): restore components as 1.11 extension bundle (#14151)
  docs/docs/Components/bundles-valkey.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  pyproject.toml
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/core/celeryconfig.py
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/core/test_celeryconfig.py
  src/backend/tests/unit/services/storage/test_s3_dependency.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
  src/backend/tests/unit/test_litellm_proxy_extra.py
  src/bundles/valkey/README.md
  src/bundles/valkey/pyproject.toml
  src/bundles/valkey/src/lfx_valkey/__init__.py
  src/bundles/valkey/src/lfx_valkey/components/__init__.py
  src/bundles/valkey/src/lfx_valkey/components/valkey/__init__.py
  src/bundles/valkey/src/lfx_valkey/components/valkey/valkey.py
  src/bundles/valkey/src/lfx_valkey/components/valkey/valkey_chat.py
  src/bundles/valkey/src/lfx_valkey/extension.json
  src/bundles/valkey/tests/test_valkey.py
  src/bundles/valkey/tests/test_valkey_chat.py
  src/frontend/src/icons/Valkey/Valkey.jsx
  src/frontend/src/icons/Valkey/Valkey.svg
  src/frontend/src/icons/Valkey/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/extension/migration/migration_table.json
  src/lfx/tests/integration/extension/test_pilot_valkey_upgrade.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(valkey): gate valkey-glide off Windows to fix nightly build
  src/bundles/valkey/pyproject.toml
  src/bundles/valkey/src/lfx_valkey/components/valkey/valkey.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: bump lfx-amazon for compatible langchain-aws
  src/bundles/amazon/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve secret values for connected components
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/custom/custom_component/test_component_events.py
Due: azure-pipelines.yml

fix: mask secrets in downstream results
  src/lfx/src/lfx/graph/vertex/base.py
Due: azure-pipelines.yml
