Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

Add litellm component
  src/backend/tests/unit/components/languagemodels/test_litellm_proxy.py
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/litellm/__init__.py
  src/lfx/src/lfx/components/litellm/litellm_proxy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Refactor provider enablement and model options
  src/backend/base/langflow/api/v1/models.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

require-version-15
  docs/docs/Develop/configuration-custom-database.mdx
  docs/docs/Develop/enterprise-database-guide.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Develop/configuration-custom-database.mdx
  docs/docs/Develop/enterprise-database-guide.mdx
Due: azure-pipelines.yml

fixed ruff
  src/backend/base/langflow/api/v1/endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update src/backend/base/langflow/main.py
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update positional arg logic
  src/lfx/src/lfx/base/mcp/util.py
Due: azure-pipelines.yml

Add positiona logic tests
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update default value of url
  src/backend/tests/unit/components/languagemodels/test_litellm_proxy.py
  src/lfx/src/lfx/components/litellm/litellm_proxy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

dynamically resolve provider imports for language model comp
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

Lazy load imports for reqs, some ruff fixes
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/utils/__init__.py
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

Update unified_models.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: azure-pipelines.yml

Add dynamic resolves for embedding model comp
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

Add logging & improve error handling in models
  src/lfx/src/lfx/base/models/unified_models.py
Due: azure-pipelines.yml

Narrow provider validation exceptions
  src/backend/base/langflow/api/v1/models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add better stream error handling to openai responses api (#11467)
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/tests/integration/test_openai_error_propagation.py
  src/lfx/src/lfx/schema/__init__.py
  src/lfx/src/lfx/schema/openai_responses_schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fixed linting and formatting issues. Tested caching for KB list call.
  src/backend/base/langflow/alembic/versions/169b35510b37_added_job_type_to_make_jobs_generic_and_.py
  src/backend/base/langflow/alembic/versions/26ef53e27502_adding_asset_id_and_asset_type_to_job_.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/services/database/models/jobs/crud.py
  src/backend/base/langflow/services/database/models/jobs/model.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/api/v2/test_workflow.py
  src/backend/tests/unit/test_knowledge_bases_api.py
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-base.ts
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

organize imports
  src/backend/base/langflow/api/v1/models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixed unit test
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update router in agentic to be compatible with new variable changes
  src/backend/base/langflow/agentic/api/router.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add install hints
  src/lfx/src/lfx/__main__.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: azure-pipelines.yml

check-postgres-version-and-make-nulls-failure-more-graceful
  src/backend/base/langflow/services/database/constants.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix ruff
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/api/v1/test_variable.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add missing provider tests; add warnings in reqs script
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/test_flow_requirements.py
Due: azure-pipelines.yml

fixed icons
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Comment and type system updatse
  src/backend/base/langflow/api/utils/flow_validation.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/lfx/src/lfx/custom/hash_validator.py
  src/lfx/src/lfx/custom/validate.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add a few warnings and fix install hint
  src/lfx/src/lfx/utils/flow_requirements.py
Due: azure-pipelines.yml

update comments add logging
  src/lfx/src/lfx/utils/flow_requirements.py
Due: azure-pipelines.yml

fix-async-error
  src/backend/base/langflow/services/database/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add check for tweaking code, add check or mcp field type
  src/backend/base/langflow/processing/process.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/src/lfx/processing/process.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: use self hosted ephemeral runner (#11253)
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/docker_test.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/typescript_test.yml
  .secrets.baseline
Due: azure-pipelines.yml

docs: require postgresql version 15 (#11806)
  docs/docs/Develop/configuration-custom-database.mdx
  docs/docs/Develop/enterprise-database-guide.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

docs: llms.txt and llms-full.txt (#11786)
  docs/static/llms-full.txt
  docs/static/llms.txt
Due: azure-pipelines.yml

Remove unused import & silence test linter
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/api/v1/test_models_enabled_providers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Revert "docs: OpenAPI spec content updated without version change (#11787)"
  docs/openapi/openapi.json
Due: azure-pipelines.yml
