Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(cuga): fix cuga component configurations & update version (#10303)
  pyproject.toml
  src/lfx/src/lfx/components/agents/cuga_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

✨ (general-bugs-agent-anthropic-integration.spec.ts): add test for user to send images in the playground with the agent component
  src/frontend/tests/extended/regression/general-bugs-agent-anthropic-integration.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: update run_map in LoopComponent to ensure correct predecessor tracking
  src/lfx/src/lfx/components/logic/loop.py
Due: azure-pipelines.yml

yaml modification
  src/backend/base/langflow/specifications_library/agents/templates/AuthGuideline.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Clinical Summarization Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/ClinicalEntityExtractorAgent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Document Q&A.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Entity Normalization Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/ICDExtractorAgent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/IECriteriaSimplification.yaml
  src/backend/base/langflow/specifications_library/agents/templates/LabValueExtraction.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Prior Auth Form Extraction Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Prior Auth Recommendation Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Relation Extraction Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/guideline-retrieval-agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/sumarization-agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

yaml modification
  src/backend/base/langflow/specifications_library/agents/templates/Clinical Summarization Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/ClinicalEntityExtractorAgent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Document Q&A.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Entity Normalization Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/LabValueExtraction.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Prior Auth Form Extraction Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Prior Auth Recommendation Agent.yaml
  src/backend/base/langflow/specifications_library/agents/templates/Relation Extraction Agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/agents/agent.py
Due: azure-pipelines.yml

feat: add execution path validation tests for graph flows
  src/backend/tests/data/loop_csv_test.json
  src/backend/tests/data/loop_test.csv
  src/backend/tests/unit/graph/test_execution_path_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add DataFrame import to constants.py
  src/lfx/src/lfx/field_typing/constants.py
Due: azure-pipelines.yml

Update src/backend/base/langflow/alembic/versions/e5fc330efa7c_add_category_column_in_variable.py
  src/backend/base/langflow/alembic/versions/e5fc330efa7c_add_category_column_in_variable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update src/frontend/src/pages/SettingsPage/KBSettingsPage.tsx
  src/frontend/src/pages/SettingsPage/KBSettingsPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update src/backend/tests/unit/base/knowledge_bases/test_database_factory.py
  src/backend/tests/unit/base/knowledge_bases/test_database_factory.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update src/backend/tests/unit/base/knowledge_bases/test_metadata_adapters.py
  src/backend/tests/unit/base/knowledge_bases/test_metadata_adapters.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: update TEST_DATA_DIR path in execution path validation tests
  src/backend/tests/unit/graph/test_execution_path_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update vector_store_factory.py
  src/lfx/src/lfx/base/knowledge_bases/vector_store_factory.py
Due: azure-pipelines.yml

Update KBSettingsPage.tsx
  src/frontend/src/pages/SettingsPage/KBSettingsPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update e5fc330efa7c_add_category_column_in_variable.py
  src/backend/base/langflow/alembic/versions/e5fc330efa7c_add_category_column_in_variable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix mypy errors
  src/backend/base/langflow/api/v1/endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update src/backend/base/langflow/helpers/user.py
  src/backend/base/langflow/helpers/user.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: lazy load settings service; fix env init order (#10142)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/services/deps.py
  src/backend/tests/unit/components/knowledge_bases/test_ingestion.py
  src/backend/tests/unit/components/knowledge_bases/test_retrieval.py
  src/backend/tests/unit/test_settings_initialization_order.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/components/knowledge_bases/ingestion.py
  src/lfx/src/lfx/components/knowledge_bases/retrieval.py
  src/lfx/src/lfx/graph/edge/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update component_index.json
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Update user.py
  src/backend/base/langflow/helpers/user.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add session ID validation to MessageBase model
  src/backend/base/langflow/services/database/models/message/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add-partial
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Contributing/contributing-components.mdx
  docs/docs/_partial-basic-component-structure.mdx
Due: azure-pipelines.yml

fix import errors
  src/backend/base/langflow/__main__.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix service manager imports in main
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Add session ID validation to MessageBase model (#10308)
  src/backend/base/langflow/services/database/models/message/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix UUID conversion
  src/backend/base/langflow/helpers/user.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update 182e5471b900_add_context_message.py
  src/backend/base/langflow/alembic/versions/182e5471b900_add_context_message.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add CometAPI integration with new components and documentation. (#9735)
  docs/docs/Components/bundles-cometapi.mdx
  docs/sidebars.js
  src/backend/base/langflow/__init__.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/integration/components/bundles/cometapi/__init__.py
  src/backend/tests/integration/components/bundles/cometapi/test_cometapi_integration.py
  src/backend/tests/unit/components/bundles/cometapi/__init__.py
  src/backend/tests/unit/components/bundles/cometapi/test_cometapi_component.py
  src/backend/tests/unit/components/bundles/cometapi/test_cometapi_constants.py
  src/frontend/src/icons/CometAPI/cometapi.jsx
  src/frontend/src/icons/CometAPI/cometapi.svg
  src/frontend/src/icons/CometAPI/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/models/cometapi_constants.py
  src/lfx/src/lfx/components/cometapi/__init__.py
  src/lfx/src/lfx/components/cometapi/cometapi.py
  src/lfx/src/lfx/services/settings/constants.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

📝 (endpoints.py): Remove unused import and refactor user permission check to use flow object instead of flow_id 🔧 (utils.py): Fix import statement for get_user_by_flow_id_or_endpoint_name function
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/helpers/user.py
  src/backend/base/langflow/services/auth/utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update endpoints.py
  src/backend/base/langflow/api/v1/endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
