Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(deps): update frontend runtime for patched OpenSSL
  docker/frontend/build_and_push_frontend.Dockerfile
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: use the absolute /bundles-flexai link like the other bundle entries
  docs/docs/Lfx/extensions-bundle-list.mdx
Due: azure-pipelines.yml

docs: absolute /bundles-flexai link in the opt-in bundle list
  docs/docs/_partial-opt-in-bundles.mdx
Due: azure-pipelines.yml

docs: absolute /bundles-flexai link in the opt-in bundle list
  docs/docs/_partial-opt-in-bundles-chroma.mdx
Due: azure-pipelines.yml

fix(api): hold the data subject erase worker during the write pause (#15645)
  src/backend/base/langflow/services/data_subjects/worker.py
  src/backend/tests/unit/api/utils/test_migration_pause.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enforce credential egress policy across provider components (#15587)
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/anthropic/pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/components/anthropic/anthropic.py
  src/bundles/anthropic/src/lfx_anthropic/extension.json
  src/bundles/anthropic/tests/test_provider_credential_egress.py
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai_embeddings.py
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/azure/tests/test_provider_credential_egress.py
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx.py
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx_embeddings.py
  src/bundles/ibm/src/lfx_ibm/extension.json
  src/bundles/ibm/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/aiml/aiml.py
  src/bundles/lfx-bundles/src/lfx_bundles/deepseek/deepseek.py
  src/bundles/lfx-bundles/src/lfx_bundles/groq/groq.py
  src/bundles/lfx-bundles/src/lfx_bundles/mistral/mistral_embeddings.py
  src/bundles/lfx-bundles/src/lfx_bundles/sambanova/sambanova.py
  src/bundles/lfx-bundles/tests/test_connector_ssrf.py
  src/bundles/lfx-bundles/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/tests/test_ssrf_guarded_url_components.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: block unsafe module reexports in assistant code scanning (#15586)
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve caller credentials in agentic MCP requests (#15652)
  .secrets.baseline
  src/backend/base/langflow/api/v1/agentic_mcp.py
  src/backend/tests/unit/api/v1/test_agentic_mcp.py
  src/backend/tests/unit/api/v1/test_agentic_mcp_credentials.py
  src/lfx/src/lfx/mcp/client.py
  src/lfx/tests/unit/mcp/test_client_auth_credentials.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): keep the migration preflight general about the new instance (#15636)
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(agent): keep string chunks of a mixed list content in the stored reply (#15650)
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

fix(deps): keep multidict and langgraph-sdk floors as constraints
  pyproject.toml
  src/backend/tests/unit/test_security_dependency_floors.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: use unpublished 1.12-line versions for backported bundles
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/anthropic/pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/extension.json
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/src/lfx_ibm/extension.json
  src/bundles/lfx-bundles/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: reject reusing bundle releases published for another lfx line
  scripts/ci/bundle_release_plan.py
  scripts/ci/test_bundle_release_plan.py
Due: azure-pipelines.yml

fix(deps): raise langgraph floors for GHSA-3fx2-cqw9-xr3c
  pyproject.toml
  src/backend/tests/unit/test_security_dependency_floors.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: reuse a published bundle only when its lfx range provably admits this line
  scripts/ci/bundle_release_plan.py
  scripts/ci/test_bundle_release_plan.py
Due: azure-pipelines.yml

chore: rebuild component index for langgraph 1.2.14
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

fix: reject reusing bundle releases published for another lfx line (#15658)
  scripts/ci/bundle_release_plan.py
  scripts/ci/test_bundle_release_plan.py
Due: azure-pipelines.yml

fix: reject reusing bundle releases published for another lfx line (#15657)
  scripts/ci/bundle_release_plan.py
  scripts/ci/test_bundle_release_plan.py
Due: azure-pipelines.yml

fix(mcp): derive flow input schemas without running stored component code
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/api/v1/test_a2a.py
  src/backend/tests/unit/api/v1/test_mcp_utils.py
  src/backend/tests/unit/helpers/test_flow_schema_no_code_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge): finalize runs on repeated cancels and keep KB status on cancel
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/unit/components/files_and_knowledge/test_knowledge_sqlite_ingestion.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(cli): accept the target's Langflow version in migration-preflight (#15575)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lfx): select list items by key, expect values and check edges in the operation engine
  src/lfx/src/lfx/services/flow_operations/__init__.py
  src/lfx/src/lfx/services/flow_operations/apply.py
  src/lfx/src/lfx/services/flow_operations/canonical.py
  src/lfx/src/lfx/services/flow_operations/exceptions.py
  src/lfx/src/lfx/services/flow_operations/node_schema.json
  src/lfx/src/lfx/services/flow_operations/ops.py
  src/lfx/src/lfx/services/flow_operations/schema.py
  src/lfx/tests/unit/services/flow_operations/fixture_json.py
  src/lfx/tests/unit/services/flow_operations/fixtures/apply_cases.json
  src/lfx/tests/unit/services/flow_operations/test_apply.py
  src/lfx/tests/unit/services/flow_operations/test_golden_cases.py
  src/lfx/tests/unit/services/flow_operations/test_schema.py
Due: azure-pipelines.yml

feat(lfx): add the flow operation engine
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/factory.py
  src/backend/base/langflow/services/schema.py
  src/lfx/src/lfx/services/deps.py
  src/lfx/src/lfx/services/flow_operations/__init__.py
  src/lfx/src/lfx/services/flow_operations/apply.py
  src/lfx/src/lfx/services/flow_operations/exceptions.py
  src/lfx/src/lfx/services/flow_operations/factory.py
  src/lfx/src/lfx/services/flow_operations/ops.py
  src/lfx/src/lfx/services/flow_operations/python.py
  src/lfx/src/lfx/services/flow_operations/service.py
  src/lfx/src/lfx/services/schema.py
  src/lfx/tests/unit/services/flow_operations/__init__.py
  src/lfx/tests/unit/services/flow_operations/fixtures/apply_cases.json
  src/lfx/tests/unit/services/flow_operations/test_apply.py
  src/lfx/tests/unit/services/flow_operations/test_golden_cases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lfx): derive flow operations from whole-flow saves
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/services/flow_history/__init__.py
  src/backend/base/langflow/services/flow_history/shadow.py
  src/backend/tests/unit/services/flow_history/__init__.py
  src/backend/tests/unit/services/flow_history/test_shadow.py
  src/backend/tests/unit/services/flow_history/test_starter_projects.py
  src/lfx/src/lfx/services/flow_operations/__init__.py
  src/lfx/src/lfx/services/flow_operations/apply.py
  src/lfx/src/lfx/services/flow_operations/canonical.py
  src/lfx/src/lfx/services/flow_operations/diff.py
  src/lfx/src/lfx/services/flow_operations/exceptions.py
  src/lfx/src/lfx/services/flow_operations/ops.py
  src/lfx/src/lfx/services/flow_operations/python.py
  src/lfx/src/lfx/services/flow_operations/repair.py
  src/lfx/src/lfx/services/flow_operations/service.py
  src/lfx/src/lfx/services/flow_operations/validation.py
  src/lfx/tests/unit/services/flow_operations/fixtures/apply_cases.json
  src/lfx/tests/unit/services/flow_operations/test_apply.py
  src/lfx/tests/unit/services/flow_operations/test_canonical.py
  src/lfx/tests/unit/services/flow_operations/test_diff.py
  src/lfx/tests/unit/services/flow_operations/test_repair.py
  src/lfx/tests/unit/services/flow_operations/test_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): leave tool actions out of the table row checks
  src/lfx/src/lfx/services/flow_operations/validation.py
  src/lfx/tests/unit/services/flow_operations/test_tables.py
Due: azure-pipelines.yml

feat(lfx): create edges with opaque ids and give written table rows ids
  src/backend/base/langflow/processing/expand_flow.py
  src/backend/tests/unit/test_expand_flow.py
  src/lfx/src/lfx/graph/flow_builder/connect.py
  src/lfx/src/lfx/services/flow_operations/__init__.py
  src/lfx/src/lfx/services/flow_operations/ids.py
  src/lfx/src/lfx/services/flow_operations/repair.py
  src/lfx/src/lfx/services/flow_operations/table_rows.py
  src/lfx/tests/unit/services/flow_operations/test_ids.py
  src/lfx/tests/unit/services/flow_operations/test_repair.py
  src/lfx/tests/unit/services/flow_operations/test_tables.py
  src/lfx/tests/unit/test_flow_builder.py
  src/lfx/tests/unit/test_flow_builder_loop_edges.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): keep stored row ids when repairing a table written without them
  src/lfx/src/lfx/services/flow_operations/repair.py
  src/lfx/src/lfx/services/flow_operations/table_rows.py
  src/lfx/tests/unit/services/flow_operations/test_tables.py
Due: azure-pipelines.yml

feat(lfx): diff flow saves in schema units with keyed lists and row-checked tables
  .pre-commit-config.yaml
  src/backend/tests/unit/services/flow_history/test_starter_projects.py
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/src/lfx/services/flow_operations/__init__.py
  src/lfx/src/lfx/services/flow_operations/canonical.py
  src/lfx/src/lfx/services/flow_operations/diff.py
  src/lfx/src/lfx/services/flow_operations/fractional_index.py
  src/lfx/src/lfx/services/flow_operations/repair.py
  src/lfx/src/lfx/services/flow_operations/schema.py
  src/lfx/src/lfx/services/flow_operations/table_rows.py
  src/lfx/src/lfx/services/flow_operations/validation.py
  src/lfx/tests/unit/graph/vertex/test_param_handler.py
  src/lfx/tests/unit/services/flow_operations/fixtures/diff_cases.json
  src/lfx/tests/unit/services/flow_operations/fixtures/fractional_index_cases.json
  src/lfx/tests/unit/services/flow_operations/fixtures/merge_cases.json
  src/lfx/tests/unit/services/flow_operations/fixtures/property_cases.json
  src/lfx/tests/unit/services/flow_operations/property_cases.py
  src/lfx/tests/unit/services/flow_operations/test_canonical.py
  src/lfx/tests/unit/services/flow_operations/test_diff.py
  src/lfx/tests/unit/services/flow_operations/test_diff_cases.py
  src/lfx/tests/unit/services/flow_operations/test_fractional_index.py
  src/lfx/tests/unit/services/flow_operations/test_merge_cases.py
  src/lfx/tests/unit/services/flow_operations/test_property_cases.py
  src/lfx/tests/unit/services/flow_operations/test_tables.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(workflow): cancel a disconnected stream's run task only once
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/tests/unit/api/v2/test_workflow_stream_disconnect.py
  src/lfx/src/lfx/utils/async_helpers.py
  src/lfx/src/lfx/workflow/router.py
  src/lfx/tests/unit/utils/test_cancel_and_wait.py
  src/lfx/tests/unit/workflow/test_router_stream_cancel.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(deps): dependency upgrades to 1.12.6 (#15654)
  docker/frontend/build_and_push_frontend.Dockerfile
  docs/package-lock.json
  docs/package.json
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Deep Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Multi Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_security_dependency_floors.py
  src/bundles/docling/pyproject.toml
  src/bundles/docling/src/lfx_docling/extension.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(api): run the migration source checks from superuser endpoints
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/migration.py
  src/backend/tests/unit/api/v1/test_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): call the list of checks that can be accepted acceptable_checks
  src/backend/base/langflow/api/v1/migration.py
  src/backend/tests/unit/api/v1/test_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): invalidate changed migration finding acceptances
  src/backend/base/langflow/api/v1/migration.py
  src/backend/tests/unit/api/v1/test_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: 1.13.0 security backports to 1.12.6 (#15655)
  .secrets.baseline
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/base/langflow/api/v1/agentic_mcp.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
  src/backend/tests/unit/api/v1/test_agentic_mcp.py
  src/backend/tests/unit/api/v1/test_agentic_mcp_credentials.py
  src/bundles/anthropic/pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/components/anthropic/anthropic.py
  src/bundles/anthropic/src/lfx_anthropic/extension.json
  src/bundles/anthropic/tests/test_provider_credential_egress.py
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai_embeddings.py
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/azure/tests/test_provider_credential_egress.py
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx.py
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx_embeddings.py
  src/bundles/ibm/src/lfx_ibm/extension.json
  src/bundles/ibm/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/aiml/aiml.py
  src/bundles/lfx-bundles/src/lfx_bundles/deepseek/deepseek.py
  src/bundles/lfx-bundles/src/lfx_bundles/groq/groq.py
  src/bundles/lfx-bundles/src/lfx_bundles/mistral/mistral_embeddings.py
  src/bundles/lfx-bundles/src/lfx_bundles/sambanova/sambanova.py
  src/bundles/lfx-bundles/tests/test_connector_ssrf.py
  src/bundles/lfx-bundles/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/tests/test_ssrf_guarded_url_components.py
  src/lfx/src/lfx/mcp/client.py
  src/lfx/tests/unit/mcp/test_client_auth_credentials.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): run the migration source checks from superuser endpoints (#15576)
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/migration.py
  src/backend/tests/unit/api/v1/test_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
