Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

docs: connections reference
  docs/docs/Develop/connection-oauth.mdx
  docs/docs/Develop/connections.mdx
Due: azure-pipelines.yml

fix(frontend): shorten bundle labels and expose Slack token setup
  src/frontend/src/controllers/API/queries/connections/__tests__/api.test.ts
  src/frontend/src/controllers/API/queries/connections/api.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarItemsList.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/bundleItems.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryDisclouse.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/__tests__/get-bundle-component-label.test.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/get-bundle-component-label.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(frontend): select OpenAI embeddings by component id
  src/frontend/tests/core/integrations/similarity.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(models): retry without temperature and top_p when Bedrock rejects them
  src/lfx/src/lfx/base/models/model_remediation.py
  src/lfx/tests/unit/base/models/test_temperature_remediation.py
Due: azure-pipelines.yml

fix(amazon): let the Bedrock Converse Model ID field take a typed model ID
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/amazon/pyproject.toml
  src/bundles/amazon/src/lfx_amazon/components/amazon/amazon_bedrock_converse.py
  src/bundles/amazon/src/lfx_amazon/extension.json
  src/bundles/amazon/tests/test_amazon_bedrock_converse.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(watsonx): validate credentials with a regional model
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/tests/unit/base/models/test_watsonx_provider.py
Due: azure-pipelines.yml

fix(background): release lease after startup enqueue failure
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/services/background_execution/test_orphan_sweep.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(jobs): preserve concurrent metadata patches
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/services/jobs/test_jobs_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): keep context session ownership idempotent
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): retry without top_k and top_p when Claude Opus 5.5 rejects them
  src/bundles/amazon/tests/test_amazon_bedrock_converse.py
  src/lfx/src/lfx/base/models/model_remediation.py
  src/lfx/tests/unit/base/models/test_model_remediation.py
Due: azure-pipelines.yml

test(models): cover zero-valued temperature and top_p in the Bedrock retry test
  src/lfx/tests/unit/base/models/test_temperature_remediation.py
Due: azure-pipelines.yml

test(amazon): move the Bedrock embeddings regression test into the bundle
  src/backend/tests/unit/components/embeddings/test_amazon_bedrock_embeddings_component.py
  src/bundles/amazon/tests/test_amazon_bedrock_embedding.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(models): drop a rejected field from additional_model_request_fields too
  src/lfx/src/lfx/base/models/model_remediation.py
  src/lfx/tests/unit/base/models/test_model_remediation.py
Due: azure-pipelines.yml

fix(api): bound the wait for an audit write slot
  docs/features/application-audit-log.md
  src/backend/base/langflow/services/audit/writer.py
  src/backend/tests/unit/services/audit/test_writer_after_rollback.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): audit existing flow and project write paths
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/authz_route_dependencies.py
  src/backend/base/langflow/api/v1/flow_version.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/projects_files.py
  src/backend/base/langflow/api/v1/projects_mcp_helpers.py
  src/backend/base/langflow/services/audit/operations.py
  src/backend/tests/unit/api/v1/audit_helpers.py
  src/backend/tests/unit/api/v1/test_audit_producers_flows.py
  src/backend/tests/unit/api/v1/test_audit_producers_projects.py
  src/backend/tests/unit/services/audit/test_operations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): honour audit exclusions for runs
  docs/docs/Develop/environment-variables.mdx
  docs/features/application-audit-log.md
  src/backend/base/langflow/services/audit/runs.py
  src/backend/base/langflow/services/audit/writer.py
  src/backend/tests/unit/api/v1/test_audit_exclusions_api.py
  src/backend/tests/unit/services/audit/test_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): record the flow name on playground runs
  src/backend/base/langflow/services/audit/runs.py
  src/backend/tests/unit/api/v1/test_audit_producers_runs.py
  src/backend/tests/unit/services/audit/test_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): audit flow run outcomes
  docs/docs/Develop/environment-variables.mdx
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/details.py
  src/backend/base/langflow/services/audit/operations.py
  src/backend/base/langflow/services/audit/runs.py
  src/backend/base/langflow/services/audit/vocabulary.py
  src/backend/base/langflow/services/audit/writer.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/tests/unit/api/v1/test_audit_producers_runs.py
  src/backend/tests/unit/services/audit/test_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: keep authorization decisions out of action audits
  docs/docs/Develop/environment-variables.mdx
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/authz_route_dependencies.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/details.py
  src/backend/base/langflow/services/audit/operations.py
  src/backend/base/langflow/services/audit/runs.py
  src/backend/base/langflow/services/audit/vocabulary.py
  src/backend/base/langflow/services/audit/writer.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/tests/unit/api/v1/test_audit_producers_flows.py
  src/backend/tests/unit/api/v1/test_audit_producers_projects.py
  src/backend/tests/unit/api/v1/test_audit_producers_runs.py
  src/backend/tests/unit/services/audit/test_operations.py
  src/backend/tests/unit/services/audit/test_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: drop coverage for removed audit producers
  src/backend/tests/unit/api/v1/test_audit_exclusions_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: stop describing denials as audit events
  src/backend/base/langflow/services/audit/writer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): keep refusals out of action audits and record project moves
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/audit/operations.py
  src/backend/base/langflow/services/authorization/fetch.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/authorization/refusal.py
  src/backend/tests/unit/api/v1/test_audit_producers_projects.py
  src/backend/tests/unit/services/audit/test_operations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): tell a queue timeout apart from a write timeout
  src/backend/base/langflow/services/audit/writer.py
  src/backend/tests/unit/services/audit/test_writer_after_rollback.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: require explicit project audit access
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/base/langflow/api/v1/projects_audits.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/tests/unit/api/v1/test_audit_reads_parsing.py
  src/backend/tests/unit/api/v1/test_projects_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): stop a reused id from revealing its previous history
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/tests/unit/api/v1/test_projects_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): add the project audits read API
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/base/langflow/api/v1/projects_audits.py
  src/backend/base/langflow/services/authorization/actions.py
  src/backend/tests/unit/api/v1/test_audit_reads_parsing.py
  src/backend/tests/unit/api/v1/test_projects_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): scope audit visibility to the resource's current life
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/tests/unit/api/v1/test_projects_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): read the current life from create and delete
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/audit_reads.py
  src/backend/tests/unit/api/v1/test_projects_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: require explicit flow audit access
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/flows_audits.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): read a flow's audit scope without its graph
  src/backend/base/langflow/api/v1/flows_audits.py
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(api): keep audit history readable after exclusion
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): add the flow audits read API
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/flows_audits.py
  src/backend/base/langflow/services/authorization/actions.py
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
  src/backend/tests/unit/services/authorization/test_actions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(api): cover an unrecorded create at a reused flow id
  docs/features/application-audit-log.md
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(api): cover flow id reuse against the current-life window
  src/backend/tests/unit/api/v1/test_flows_audits_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): correlate authorization rows and freeze the export on the db clock
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/v1/audits.py
  src/backend/base/langflow/services/audit/attribution.py
  src/backend/base/langflow/services/audit/feed.py
  src/backend/base/langflow/services/authorization/audit.py
  src/backend/tests/unit/api/v1/test_audits_feed_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): search the audit feed on the server
  src/backend/base/langflow/api/v1/audits.py
  src/backend/base/langflow/services/audit/feed.py
  src/backend/tests/unit/api/v1/test_audits_feed_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve audit feed pagination snapshots
  src/backend/base/langflow/services/audit/feed.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: describe the audit feed search
  docs/features/application-audit-log.md
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
