Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(ci): prevent duplicate tags and validate tag format in release workflow
  .github/workflows/release.yml
Due: azure-pipelines.yml

feat: disable retries in fe for client errors
  src/frontend/src/controllers/API/queries/deployment-provider-accounts/use-delete-provider-account.ts
  src/frontend/src/controllers/API/queries/deployments/use-delete-deployment.ts
  src/frontend/src/controllers/API/queries/deployments/use-patch-deployment.ts
  src/frontend/src/controllers/API/queries/deployments/use-patch-snapshot.ts
  src/frontend/src/controllers/API/queries/deployments/use-post-deployment-run.ts
  src/frontend/src/controllers/API/queries/deployments/use-post-deployment.ts
  src/frontend/src/controllers/API/services/__tests__/request-processor.test.ts
  src/frontend/src/controllers/API/services/request-processor.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: remove tooltips from form field labels and add tooltip to sign-in button for consistency
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/SignUpPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: smolagents and transformer update
  src/backend/base/pyproject.toml
  src/backend/base/uv.lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: security patch
  .agents/skills/e2e-testing/SKILL.md
  .github/workflows/typescript_test.yml
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: upgrade package-lock.json
  src/frontend/package-lock.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: redis upgrade
  src/backend/base/pyproject.toml
  src/backend/base/uv.lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: litellm upgrade
  pyproject.toml
  src/backend/base/pyproject.toml
  src/backend/base/uv.lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Pin click to avoid lower versions
  pyproject.toml
  src/backend/base/pyproject.toml
  src/backend/base/uv.lock
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update build_and_push_backend.Dockerfile
  docker/build_and_push_backend.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

Update .secrets.baseline
  .secrets.baseline
Due: azure-pipelines.yml

chore: update overrides
  .whitesource
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Templates version update
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): prevent duplicate tags and validate tag format in release workflow (#12847)
  .github/workflows/release.yml
Due: azure-pipelines.yml

fix(security): default WEBHOOK_AUTH_ENABLE to True (#12845)
  docs/docs/API-Reference/curl-examples/api-reference-api-examples/result-get-configuration.json
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/docs/Flows/webhook.mdx
  src/backend/tests/unit/test_webhook.py
  src/lfx/src/lfx/services/settings/auth.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cache): orphan diskcache usage
  src/backend/base/langflow/services/cache/factory.py
  src/backend/base/langflow/services/flow_events/service.py
  src/backend/tests/unit/services/test_cache_factory.py
  src/backend/tests/unit/test_flow_events_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): mask resolved global variable values in component output
  .secrets.baseline
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/vertex/base.py
  src/lfx/src/lfx/graph/vertex/vertex_types.py
  src/lfx/src/lfx/serialization/redaction.py
  src/lfx/tests/unit/graph/vertex/test_vertex_types_redaction.py
  src/lfx/tests/unit/serialization/test_redaction.py
Due: azure-pipelines.yml

feat(kb): expose backend metadata and remote cleanup
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/schema/knowledge_base.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_service.py
  src/backend/tests/unit/test_knowledge_bases_api.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(kb): add OpenSearch picker and backend visibility
  src/frontend/src/controllers/API/queries/knowledge-bases/use-create-knowledge-base.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-get-knowledge-bases.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/components/BackendPicker.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/types.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/__tests__/test-utils.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/hooks/useOptimisticKnowledgeBase.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/utils/backendMetadata.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): flush IME composition on blur and unmount
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popoverObject/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/cursor-input.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/hooks/__tests__/use-ime-input.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/hooks/use-ime-input.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(kb): update knowledge base columns expectations
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/__tests__/knowledgeBaseColumns.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(kb): reconcile knowledge bases at startup
  src/backend/base/langflow/api/utils/knowledge_base_service.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/main.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_service.py
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: implement IP restrictions for API keys
  .secrets.baseline
  docs/docs/Deployment/security.mdx
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/alembic/versions/f1e2d3c4b5a6_add_allowed_ips_to_apikey.py
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/schemas/__init__.py
  src/backend/base/langflow/services/auth/exceptions.py
  src/backend/base/langflow/services/auth/service.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/tests/unit/test_api_key_source.py
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/api-keys/index.ts
  src/frontend/src/controllers/API/queries/api-keys/use-get-api-keys.ts
  src/frontend/src/controllers/API/queries/api-keys/use-get-client-ip.ts
  src/frontend/src/controllers/API/queries/api-keys/use-patch-api-key.ts
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
  src/frontend/src/modals/secretKeyModal/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/ApiKeyHeader/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/IpRestrictionCell/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/helpers/column-defs.ts
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/index.tsx
  src/lfx/src/lfx/services/settings/auth.py
  src/lfx/src/lfx/services/settings/ip_restriction.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add PlainTableCell component for read-only display in API keys table
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/PlainTableCell.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/helpers/column-defs.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: enhance API key management with regeneration and updates
  .secrets.baseline
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/schemas/__init__.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/tests/unit/services/database/models/api_key/test_crud.py
  src/frontend/src/controllers/API/queries/api-keys/index.ts
  src/frontend/src/controllers/API/queries/api-keys/use-get-api-keys.ts
  src/frontend/src/controllers/API/queries/api-keys/use-patch-api-key.ts
  src/frontend/src/controllers/API/queries/api-keys/use-regenerate-api-key.ts
  src/frontend/src/locales/en.json
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/ApiKeyEditModal/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/IpRestrictionCell/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/PlainTableCell.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/helpers/column-defs.ts
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: route memory ops to stubs when DB service is noop (#12808)
  src/lfx/src/lfx/memory/__init__.py
  src/lfx/src/lfx/utils/langflow_utils.py
  src/lfx/tests/unit/memory/test_memory_dispatch.py
Due: azure-pipelines.yml

test(frontend): add IME input regression
  src/frontend/tests/core/regression/ime-input-composition.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

clarify-langflow-and-lfx-memory-operations
  src/lfx/README.md
Due: azure-pipelines.yml

fix(frontend): preserve IME composition for dead-key accents (#12801)
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/__tests__/input-component.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popoverObject/__tests__/popoverObject.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popoverObject/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/__tests__/cursor-input.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/cursor-input.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/hooks/__tests__/use-ime-input.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/hooks/use-ime-input.ts
  src/frontend/tests/core/regression/ime-input-composition.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(deploy): refresh deployed success step
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/deployment-stepper-modal.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper-modal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
