Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(graph): preflight every model input provider
  src/lfx/src/lfx/custom/custom_component/component.py
Due: azure-pipelines.yml

test(authz): preflight custom component configuration
  src/backend/tests/unit/api/v1/test_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(frontend): reproduce unscoped component validation
  src/frontend/src/controllers/API/queries/nodes/__tests__/use-post-validate-component-code.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): scope component code validation
  src/frontend/src/controllers/API/queries/nodes/use-post-validate-component-code.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(authz): preflight legacy agent providers
  src/lfx/tests/unit/components/models_and_agents/test_agent_create_agent.py
Due: azure-pipelines.yml

test(memory): preflight retrieval embedding provider
  src/backend/tests/unit/components/files_and_knowledge/test_memory_retrieval.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(frontend): reproduce stale legacy provider options
  src/frontend/src/components/core/dropdownComponent/__tests__/dropdownValueReset.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(authz): preflight indirect provider paths
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/components/files_and_knowledge/test_knowledge.py
  src/bundles/lfx-bundles/src/lfx_bundles/cuga/cuga_agent.py
  src/bundles/lfx-bundles/tests/test_cuga_provider_policy.py
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
  src/lfx/src/lfx/components/models_and_agents/agent.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_create_agent.py
  src/lfx/tests/unit/graph/vertex/test_vertex_base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): gate legacy Google and LiteLLM providers
  src/bundles/google/src/lfx_google/components/google/google_generative_ai_embeddings.py
  src/lfx/src/lfx/components/deactivated/chat_litellm_model.py
Due: azure-pipelines.yml

fix(memory): authorize retrieval embedding actor
  src/backend/tests/unit/components/files_and_knowledge/test_memory_retrieval.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_retrieval.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(authz): reproduce legacy provider identity gaps
  src/bundles/google/tests/test_google_embeddings_provider_policy.py
  src/lfx/tests/unit/components/test_chat_litellm_model_provider_policy.py
Due: azure-pipelines.yml

fix(frontend): enforce configured legacy providers
  src/frontend/src/components/core/dropdownComponent/__tests__/dropdownValueReset.test.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/controllers/API/queries/flows/__tests__/use-patch-update-flow.test.ts
  src/frontend/src/controllers/API/queries/models/__tests__/use-get-model-providers.test.ts
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(authz): hide stale legacy provider options
  src/frontend/src/components/core/dropdownComponent/__tests__/dropdownAccessibleName.test.tsx
  src/frontend/src/components/core/dropdownComponent/__tests__/dropdownValueReset.test.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/lfx/src/lfx/components/deactivated/chat_litellm_model.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(frontend): cover configured legacy provider aliases
  src/frontend/src/components/core/dropdownComponent/__tests__/dropdownValueReset.test.tsx
  src/frontend/src/controllers/API/queries/models/__tests__/use-get-model-providers.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(starters): refresh bundled agent policy gate
  src/bundles/lfx-bundles/src/lfx_bundles/youtube/starter_projects/Youtube Analysis.json
Due: azure-pipelines.yml

test(authz): map legacy Azure selector to grant
  src/lfx/tests/unit/components/test_chat_litellm_model_provider_policy.py
Due: azure-pipelines.yml

fix(bundles): prepare scoped provider backport
  pyproject.toml
  src/bundles/google/pyproject.toml
  src/bundles/google/src/lfx_google/extension.json
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/tests/test_cuga_provider_policy.py
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/__tests__/dropdownComponent.a11y.test.tsx
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(release): sync hardened bundle profile
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
Due: azure-pipelines.yml

fix(security): harden return annotation inference
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/custom/annotation_validation.py
  src/lfx/src/lfx/custom/code_parser/code_parser.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/custom/custom_component/custom_component.py
  src/lfx/src/lfx/custom/validate.py
  src/lfx/src/lfx/graph/state/model.py
  src/lfx/tests/unit/custom/test_annotation_validation.py
  src/lfx/tests/unit/graph/graph/state/test_state_model.py
Due: azure-pipelines.yml

fix(auth): address scoped provider review findings
  .secrets.baseline
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/agentic/api/test_transaction_release.py
  src/backend/tests/unit/helpers/test_nested_provider_policy_scope.py
  src/backend/tests/unit/services/variable/test_service.py
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/__tests__/dbProviderInputComponent.a11y.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/__tests__/key-pair-input-with-variables.test.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/key-pair-input-with-variables.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-initialize-audio.test.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-scoped-voice-initialization.test.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-start-conversation.test.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-stop-recording.test.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-initialize-audio.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-scoped-voice-initialization.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-start-conversation.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-stop-recording.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/graph/vertex/test_vertex_base.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): restore scoped variable picker updates
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/__tests__/index.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): stop scoped variable refetch loop
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/GlobalVariableModal/__tests__/GlobalVariableModal.test.tsx
  src/frontend/src/components/core/globalVariableDeleteConfirmation/index.test.tsx
  src/frontend/src/components/core/globalVariableDeleteConfirmation/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/__tests__/index.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/controllers/API/queries/variables/__tests__/use-global-variable-upsert.test.ts
  src/frontend/src/controllers/API/queries/variables/use-global-variable-upsert.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(models): address provider policy review gaps
  src/backend/tests/unit/agentic/test_assist_headless_route.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/api/v1/test_model_status_identity.py
  src/backend/tests/unit/api/v1/test_variable_provider_validation_context.py
  src/backend/tests/unit/components/files_and_knowledge/test_knowledge.py
  src/backend/tests/unit/services/authorization/test_route_ceiling_guards.py
  src/backend/tests/unit/services/authorization/test_unscoped_list_visibility.py
  src/bundles/lfx-bundles/src/lfx_bundles/codeagents/starter_projects/Structured Data Analysis Agent.json
  src/bundles/lfx-bundles/tests/test_cuga_provider_policy.py
  src/frontend/src/components/core/assistantPanel/__tests__/assistant-panel-authorization.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/__tests__/dbProviderInputComponent.a11y.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/types.ts
  src/frontend/src/controllers/API/queries/flows/__tests__/use-get-types.test.ts
  src/frontend/src/controllers/API/queries/variables/use-get-global-variables.ts
  src/frontend/src/hooks/flows/__tests__/use-add-flow.test.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-scoped-voice-initialization.test.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-start-conversation.test.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-start-conversation.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
  src/frontend/src/modals/createMemoryModal/index.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/StepConfiguration.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/modals/modelProviderModal/__tests__/useModelToggleQueue.test.tsx
  src/frontend/src/modals/modelProviderModal/__tests__/useProviderConfigurationDisconnect.test.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useModelToggleQueue.ts
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
  src/frontend/tests/a11y/helpers/knowledge-bases.fixtures.ts
  src/frontend/tests/a11y/model-providers.a11y.spec.ts
  src/frontend/tests/extended/regression/general-bugs-agent-anthropic-integration.spec.ts
  src/frontend/tests/extended/regression/general-bugs-component-as-tool-shortcut.spec.ts
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/vertex/base.py
  src/lfx/tests/unit/graph/test_frozen_vertex.py
  src/lfx/tests/unit/graph/vertex/test_vertex_base.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(frontend): stabilize sidebar affordance regression
  src/frontend/tests/core/regression/sidebarRowAffordances.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(frontend): stabilize sidebar affordance regression (#14821)
  src/frontend/tests/core/regression/sidebarRowAffordances.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): stabilize scoped provider refreshes
  src/backend/tests/unit/api/v1/test_model_status_identity.py
  src/frontend/src/modals/modelProviderModal/__tests__/useProviderConfigurationDisconnect.test.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
  src/frontend/tests/a11y/helpers/knowledge-bases.fixtures.ts
  src/frontend/tests/extended/regression/general-bugs-agent-anthropic-integration.spec.ts
  src/frontend/tests/extended/regression/general-bugs-component-as-tool-shortcut.spec.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): guard scoped provider completions
  src/frontend/src/modals/modelProviderModal/__tests__/useProviderConfigurationDisconnect.test.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(extensions): accept release prerelease versions (#14796)
  BUNDLE_API.md
  scripts/ci/test_bundle_release_plan.py
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
Due: azure-pipelines.yml

test(memories): reproduce provider denial route leak
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(memories): hide provider policy denials
  src/backend/base/langflow/api/v1/memories.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(frontend): preserve palette during same-scope refresh
  src/frontend/src/controllers/API/queries/flows/__tests__/use-get-types-scope.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): retain palette during scoped revalidation
  src/frontend/src/controllers/API/queries/flows/use-get-types.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(components): isolate policy preflight parameters
  src/backend/tests/unit/api/v1/test_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(components): isolate provider preflight values
  src/backend/base/langflow/api/v1/endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(ci): align scoped flow regression coverage
  src/backend/tests/unit/base/tools/test_run_flow_error_surface.py
  src/backend/tests/unit/services/authorization/test_route_guard_regressions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
