Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: Block Python interpreter format traversal (#13880)
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/lfx/src/lfx/utils/python_repl_security.py
  src/lfx/tests/unit/utils/test_python_repl_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: constrain Directory component paths (#13878)
  src/backend/base/langflow/agentic/flows/LangflowAssistant.json
  src/backend/tests/unit/components/files_and_knowledge/test_directory_component.py
  src/lfx/src/lfx/base/data/utils.py
  src/lfx/src/lfx/components/files_and_knowledge/directory.py
  src/lfx/src/lfx/services/settings/groups/paths.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): launch stdio servers with shell=False (no bash -c / cmd /c wrapper)
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: update workflows example to match new schema
  docs/docs/API-Reference/curl-examples/workflows-api/example-asynchronous-request.sh
  docs/docs/API-Reference/curl-examples/workflows-api/example-synchronous-request.sh
  docs/docs/API-Reference/javascript-examples/workflows-api/example-asynchronous-request.js
  docs/docs/API-Reference/javascript-examples/workflows-api/example-synchronous-request.js
  docs/docs/API-Reference/python-examples/workflows-api/example-asynchronous-request.py
  docs/docs/API-Reference/python-examples/workflows-api/example-request-2.py
  docs/docs/API-Reference/python-examples/workflows-api/example-request.py
  docs/docs/API-Reference/python-examples/workflows-api/example-synchronous-request.py
  docs/docs/Support/release-notes.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix: changed image base to be ubi10 (#13893)
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  docker/cdk.Dockerfile
  docker/dev.Dockerfile
  src/lfx/docker/Dockerfile
  src/lfx/docker/Dockerfile.dev
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix: isolate FAISS persistence by user (lfx-bundles copy) (#13899)
  src/backend/tests/unit/components/bundles/faiss/test_faiss_vector_store_component.py
  src/bundles/lfx-bundles/src/lfx_bundles/faiss/faiss.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: include ag-ui in workflow api reference
  docs/docs/API-Reference/curl-examples/workflows-api/example-stream-agui-request.sh
  docs/docs/API-Reference/javascript-examples/workflows-api/example-stream-agui-request.js
  docs/docs/API-Reference/python-examples/workflows-api/example-stream-agui-request.py
  docs/docs/API-Reference/workflows-api.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-api-setup.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

docs(a2a): align on_subscribe_to_task docstring with its unconditional behavior
  src/backend/base/langflow/api/v1/a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lothal): prototype stage via Open Design (Epic U.2, U.4–U.10)
  deploy/.env.prod.example
  deploy/RUNBOOK.md
  deploy/nginx/lothal.conf
  docker-compose.prod.yml
  src/backend/base/langflow/api/v1/lothal.py
  src/backend/base/langflow/api/v1/lothal_gateway.py
  src/backend/base/langflow/lothal/od_client.py
  src/backend/base/langflow/lothal/prototype.py
  src/backend/base/langflow/lothal/schemas.py
  src/backend/base/langflow/lothal/subscription_gateway.py
  src/backend/tests/unit/api/v1/test_lothal.py
  src/backend/tests/unit/api/v1/test_lothal_subscription_gateway.py
  src/backend/tests/unit/lothal/test_od_client.py
  src/backend/tests/unit/lothal/test_prototype.py
  src/frontend/src/controllers/API/queries/lothal/__tests__/index.test.ts
  src/frontend/src/controllers/API/queries/lothal/index.ts
  src/frontend/src/pages/lothal/Workspace/__tests__/Workspace.test.tsx
  src/frontend/src/pages/lothal/Workspace/index.tsx
  src/frontend/src/pages/lothal/components/ArtifactsPane.tsx
  src/frontend/src/pages/lothal/components/PrototypePane.tsx
  src/frontend/src/pages/lothal/components/StatusDot.tsx
  src/frontend/src/pages/lothal/components/__tests__/ArtifactsPane.test.tsx
  src/frontend/src/pages/lothal/components/__tests__/PrototypePane.test.tsx
  src/frontend/src/pages/lothal/components/__tests__/components.test.tsx
  src/frontend/src/pages/lothal/components/phases.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: fix optional bundle CI drift
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/tests/unit/components/models_and_agents/test_language_model_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(deps): upgrade composio and composio-langchain to 0.16.0
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(composio): handle renamed substitute_reserved_python_keywords in 0.16.0
  src/lfx/src/lfx/base/composio/safe_provider.py
Due: azure-pipelines.yml

perf(a2a): offload agent-card schema build off the event loop and bound card overrides
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): namespace A2A contextId per (owner, flow) before it becomes the chat session
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge-bases): honor configured OLLAMA_BASE_URL during ingestion
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): SSRF-guard the A2A Agent component and pin the api key to the agent origin
  src/lfx/src/lfx/components/models_and_agents/a2a_agent.py
  src/lfx/tests/unit/components/models_and_agents/test_a2a_agent.py
Due: azure-pipelines.yml

fix(a2a): block non-owner edits of a2a_enabled/a2a_card_overrides on patch and upsert
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/tests/unit/api/v1/test_flows_helpers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs(a2a): clarify publish dialog wording and assert inputSchema in conformance test
  docs/docs/Agents/a2a-server.mdx
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): re-validate and DNS-pin push webhooks at dispatch and flow-scope the config store
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/base/langflow/main.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stub optional opensearch dependency
  src/backend/tests/unit/base/knowledge_bases/conftest.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
  src/backend/tests/unit/base/knowledge_bases/test_test_connection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lothal): address CodeRabbit review on the prototype stage
  src/backend/base/langflow/api/v1/lothal.py
  src/backend/base/langflow/lothal/prototype.py
  src/backend/base/langflow/lothal/subscription_gateway.py
  src/backend/tests/unit/api/v1/test_lothal.py
  src/backend/tests/unit/lothal/test_od_client.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stub optional google drive client
  src/backend/tests/unit/components/processing/test_save_file_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge-bases): honor configured OLLAMA_BASE_URL during file ingestion (#13901)
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: share optional google client stub
  src/backend/tests/unit/components/conftest.py
  src/backend/tests/unit/components/files_and_knowledge/test_file_component.py
  src/backend/tests/unit/components/processing/test_save_file_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(a2a): flow categorization (flow_type + a2a flow columns) (#13832)
  src/backend/base/langflow/alembic/versions/9f1d1d602aa3_add_flow_type_and_a2a_columns_to_flow.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/tests/unit/alembic/test_flow_type_migration.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/helpers/test_suggest_flow_type.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update .secrets.baseline
  .secrets.baseline
Due: azure-pipelines.yml

test: stub optional groq client
  src/backend/tests/unit/groq/conftest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lothal): route OD's claude agent to the gateway via container env (U.9)
  deploy/.env.prod.example
  docker-compose.prod.yml
Due: azure-pipelines.yml

feat(a2a): agent-card discovery endpoint behind LANGFLOW_A2A_ENABLED (#13835)
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/api/v1/test_a2a.py
  src/lfx/src/lfx/interface/listing.py
  src/lfx/src/lfx/services/settings/groups/mcp.py
  src/lfx/tests/unit/interface/test_listing.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(a2a): add message/send JSON-RPC endpoint for agent flows (#13838)
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_executor.py
  src/backend/tests/data/chat_echo_no_llm.json
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stub optional google genai client
  src/backend/tests/unit/api/v1/test_variable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(a2a): durable DB-backed A2A task store (#13840)
  src/backend/base/langflow/alembic/versions/142ba6cd9317_add_a2a_tasks_table.py
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/a2a/__init__.py
  src/backend/base/langflow/services/database/models/a2a/model.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(a2a): stream message/stream and tasks/resubscribe over SSE (#13841)
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lothal): default OD's gateway env in compose so an old .env can't silently break it
  deploy/.env.prod.example
  docker-compose.prod.yml
Due: azure-pipelines.yml

feat(a2a): enforce the apikey scheme the agent card advertises (#13842)
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
