Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(agentic): apply low-risk review batch
  docs/features/langflow-assistant-mcp.md
  docs/features/langflow-assistant.md
  src/backend/base/langflow/agentic/api/router.py
  src/backend/base/langflow/agentic/services/assistant_service.py
  src/frontend/src/components/core/assistantPanel/assistant-panel.types.ts
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-revert-action.test.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-revert-action.tsx
  src/frontend/src/components/core/assistantPanel/helpers/__tests__/session-storage.test.ts
  src/frontend/src/components/core/assistantPanel/helpers/session-storage.ts
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat-plan-refining.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/use-assistant-chat.ts
  src/frontend/src/utils/__tests__/fixtures/canonical_loop.json
  src/lfx/src/lfx/graph/flow_builder/component.py
  src/lfx/src/lfx/mcp/server.py
  src/lfx/tests/unit/test_flow_builder_loop_edges.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: add FilesTab behavior coverage before DataTableTab extraction
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/FilesTab.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: add shared DataTableTab shell component
  src/frontend/src/components/core/dataTableTabComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: rebase FilesTab onto the DataTableTab shell
  src/frontend/src/components/core/dataTableTabComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: rebase KnowledgeBasesTab onto the DataTableTab shell
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(agentic): fix add-mode proposal assertion
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tracing): detach spans from missing parents
  src/backend/base/langflow/services/tracing/span_sorting.py
  src/backend/tests/unit/services/tracing/test_native_tracer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tracing): detach orphan spans before database flush (#14243)
  src/backend/base/langflow/services/tracing/span_sorting.py
  src/backend/tests/unit/services/tracing/test_native_tracer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(settings): enable agentic experience by default
  src/backend/base/langflow/agentic/api/deps.py
  src/lfx/src/lfx/services/settings/groups/variables.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(release): align 1.11.1 RC versioning
  .github/workflows/release.yml
  .secrets.baseline
  Makefile
  pyproject.toml
  scripts/ci/test_release_workflow.py
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/tests/unit/test_patch_regexes.py
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: reset modifier-only shortcuts to default
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/EditShortcutButton/helpers.ts
  src/frontend/src/stores/__tests__/shortcuts.test.ts
  src/frontend/src/stores/shortcuts.ts
  src/frontend/src/utils/shortcuts.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(assistant): explain disabled state instead of 404
  src/backend/base/langflow/api/v1/schemas/__init__.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/frontend/src/components/core/assistantPanel/assistant-panel.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-disabled-state.tsx
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(settings): align agentic env mirror parsing
  src/frontend/tests/extended/features/mcp-server-starter-projects.spec.ts
  src/lfx/src/lfx/services/settings/groups/variables.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(settings): enable agentic experience by default (#14244)
  src/backend/base/langflow/agentic/api/deps.py
  src/backend/base/langflow/api/v1/schemas/__init__.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/frontend/src/components/core/assistantPanel/assistant-panel.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-disabled-state.tsx
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
  src/frontend/tests/extended/features/mcp-server-starter-projects.spec.ts
  src/lfx/src/lfx/services/settings/groups/variables.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: normalize backend UTC timestamps via customization
  src/frontend/src/customization/utils/custom-normalizeApiTimeStamp.ts
  src/frontend/src/utils/dateTime.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mem0): defer client import during startup
  src/backend/tests/unit/components/bundles/mem0/test_mem0_component.py
  src/bundles/lfx-bundles/src/lfx_bundles/mem0/mem0_chat_memory.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: graduate Azure and Ollama bundles
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-ollama.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  scripts/ci/release_inventory_contract.json
  scripts/ci/test_release_inventory.py
  scripts/migrate/consolidate_bundles.py
  src/backend/tests/unit/components/embeddings/test_ollama_embeddings_component.py
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
  src/backend/tests/unit/test_lfx_bundles_extras.py
  src/bundles/azure/README.md
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/__init__.py
  src/bundles/azure/src/lfx_azure/components/__init__.py
  src/bundles/azure/src/lfx_azure/components/azure/__init__.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai_embeddings.py
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/azure/tests/test_azure_bundle.py
  src/bundles/lfx-bundles/README.md
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/ollama/README.md
  src/bundles/ollama/pyproject.toml
  src/bundles/ollama/src/lfx_ollama/__init__.py
  src/bundles/ollama/src/lfx_ollama/components/__init__.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/__init__.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/ollama.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/ollama_embeddings.py
  src/bundles/ollama/src/lfx_ollama/extension.json
  src/bundles/ollama/tests/integration/test_chatollama_integration.py
  src/bundles/ollama/tests/test_ollama_bundle.py
  src/lfx/src/lfx/components/azure/__init__.py
  src/lfx/src/lfx/components/ollama/__init__.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: extract useGlobalVariableUpsert hook with upsert-by-name logic
  src/frontend/src/controllers/API/queries/variables/__tests__/use-global-variable-upsert.test.ts
  src/frontend/src/controllers/API/queries/variables/index.ts
  src/frontend/src/controllers/API/queries/variables/use-global-variable-upsert.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: store each run
  src/backend/base/langflow/services/telemetry/run_event_store.py
  src/backend/base/langflow/services/telemetry/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: graduate Azure and Ollama bundles (#14248)
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-ollama.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  scripts/ci/release_inventory_contract.json
  scripts/ci/test_release_inventory.py
  scripts/migrate/consolidate_bundles.py
  src/backend/base/langflow/locales/en.json
  src/backend/tests/unit/components/embeddings/test_ollama_embeddings_component.py
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
  src/backend/tests/unit/test_lfx_bundles_extras.py
  src/bundles/azure/README.md
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/__init__.py
  src/bundles/azure/src/lfx_azure/components/__init__.py
  src/bundles/azure/src/lfx_azure/components/azure/__init__.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai_embeddings.py
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/azure/tests/test_azure_bundle.py
  src/bundles/lfx-bundles/README.md
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/ollama/README.md
  src/bundles/ollama/pyproject.toml
  src/bundles/ollama/src/lfx_ollama/__init__.py
  src/bundles/ollama/src/lfx_ollama/components/__init__.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/__init__.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/ollama.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/ollama_embeddings.py
  src/bundles/ollama/src/lfx_ollama/extension.json
  src/bundles/ollama/tests/integration/test_chatollama_integration.py
  src/bundles/ollama/tests/test_ollama_bundle.py
  src/lfx/src/lfx/components/azure/__init__.py
  src/lfx/src/lfx/components/ollama/__init__.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: use EmpirioLabs AI consistently
  docs/docs/Components/bundles-empiriolabs.mdx
  docs/versioned_docs/version-1.11.0/Components/bundles-empiriolabs.mdx
Due: azure-pipelines.yml

chore: add enterprise lifespan hook
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: adopt useGlobalVariableUpsert in GlobalVariableModal and GlobalVariablesPage
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(auth): keep refresh sessions alive on HTTP
  src/backend/tests/unit/test_security_cors.py
  src/frontend/src/constants/__tests__/auth-token-expiration.test.ts
  src/frontend/src/constants/constants.ts
  src/frontend/vite.config.mts
  src/lfx/src/lfx/services/settings/auth.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(auth): use supported Vite token expiry injection
  .secrets.baseline
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/frontend/src/constants/__tests__/auth-token-expiration.test.ts
  src/frontend/src/constants/constants.ts
  src/frontend/vite-env-definitions.ts
  src/frontend/vite.config.mts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update workflow exec update workflow exec
  src/backend/base/langflow/api/v2/workflow_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: normalize MCP resource flow IDs
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/tests/unit/api/v1/test_mcp_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: address MCP resource review feedback
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/tests/unit/api/v1/test_mcp_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): make Vite env injection Playwright-safe
  .secrets.baseline
  src/frontend/src/constants/__tests__/auth-token-expiration.test.ts
  src/frontend/src/constants/constants.ts
  src/frontend/vite-env-definitions.ts
  src/frontend/vite.config.mts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: normalize MCP resource flow IDs (#14253)
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/tests/unit/api/v1/test_mcp_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): keep refresh sessions alive on HTTP (#14252)
  .secrets.baseline
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/tests/unit/test_security_cors.py
  src/frontend/src/constants/__tests__/auth-token-expiration.test.ts
  src/frontend/src/constants/constants.ts
  src/frontend/vite-env-definitions.ts
  src/frontend/vite.config.mts
  src/lfx/src/lfx/services/settings/auth.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/langflow-core/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: populate name and description on starter-projects API response
  src/backend/base/langflow/initial_setup/load.py
  src/backend/tests/unit/api/v1/test_starter_projects.py
  src/lfx/src/lfx/graph/graph/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: render flows whose nodes have no position instead of crashing the canvas
  src/frontend/src/utils/__tests__/layoutUtils.test.ts
  src/frontend/src/utils/layoutUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: treat non-finite coordinates as needing layout, cover ELK rejection
  src/frontend/src/utils/__tests__/layoutUtils.test.ts
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: co-locate starter project metadata and assert canonical values
  src/backend/base/langflow/initial_setup/load.py
  src/backend/tests/unit/api/v1/test_starter_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: populate name and description on starter-projects API response (#14256)
  src/backend/base/langflow/initial_setup/load.py
  src/backend/tests/unit/api/v1/test_starter_projects.py
  src/lfx/src/lfx/graph/graph/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
