Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(agent-events): keep tool_blocks_map values as ToolContent
  src/lfx/src/lfx/base/agents/events.py
Due: azure-pipelines.yml

perf(jobs): return the updated job row with RETURNING
  src/backend/base/langflow/services/database/models/jobs/crud.py
  src/backend/tests/unit/api/v2/test_workflow_db_statements.py
  src/backend/tests/unit/services/jobs/test_jobs_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(memory): stop reading each stored message back after the insert
  src/backend/base/langflow/memory.py
  src/backend/tests/unit/api/v2/test_workflow_db_statements.py
  src/backend/tests/unit/test_messages.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(workflow): create the v2 sync job row IN_PROGRESS
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/api/v2/test_workflow_db_statements.py
  src/backend/tests/unit/services/jobs/test_jobs_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(bundles): add Upload-Post social publishing extension bundle
  docs/docs/Components/bundles-uploadpost.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  docs/sidebars.js
  pyproject.toml
  scripts/ci/release_inventory_contract.json
  scripts/ci/test_release_inventory.py
  src/bundles/uploadpost/README.md
  src/bundles/uploadpost/pyproject.toml
  src/bundles/uploadpost/src/lfx_uploadpost/__init__.py
  src/bundles/uploadpost/src/lfx_uploadpost/_base.py
  src/bundles/uploadpost/src/lfx_uploadpost/_client.py
  src/bundles/uploadpost/src/lfx_uploadpost/components/uploadpost/__init__.py
  src/bundles/uploadpost/src/lfx_uploadpost/components/uploadpost/upload_post_photos.py
  src/bundles/uploadpost/src/lfx_uploadpost/components/uploadpost/upload_post_status.py
  src/bundles/uploadpost/src/lfx_uploadpost/components/uploadpost/upload_post_text.py
  src/bundles/uploadpost/src/lfx_uploadpost/components/uploadpost/upload_post_video.py
  src/bundles/uploadpost/src/lfx_uploadpost/extension.json
  src/bundles/uploadpost/tests/test_uploadpost_components.py
  src/frontend/src/utils/__tests__/sidebarBundles.test.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/extension/migration/migration_table.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(monitor): paginate session lists by recent activity
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/tests/unit/api/v1/test_monitor_sessions.py
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/__tests__/chat-sidebar.test.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sessions-dropdown.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sidebar.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-load-more.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/types/chat-header.types.ts
  src/frontend/src/components/core/playgroundComponent/hooks/__tests__/use-session-manager.test.ts
  src/frontend/src/components/core/playgroundComponent/hooks/use-session-manager.ts
  src/frontend/src/components/core/playgroundComponent/sliding-container/components/flow-page-sliding-container.tsx
  src/frontend/src/controllers/API/queries/messages/__tests__/use-get-sessions-routing.test.ts
  src/frontend/src/controllers/API/queries/messages/__tests__/use-get-sessions-routing.test.tsx
  src/frontend/src/controllers/API/queries/messages/use-get-sessions-from-flow.ts
  src/frontend/src/modals/IOModal/components/__tests__/sidebar-open-view-pagination.test.tsx
  src/frontend/src/modals/IOModal/components/sidebar-open-view.tsx
  src/frontend/src/modals/IOModal/playground-modal.tsx
  src/frontend/src/modals/IOModal/types/sidebar-open-view.ts
  src/frontend/src/pages/Playground/PlaygroundPage.stories.tsx
  src/frontend/src/stores/__tests__/sessionManagerStore.test.ts
  src/frontend/src/stores/sessionManagerStore.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(bundles): keep the request_id when an Upload-Post upload can't be confirmed
  docs/docs/Components/bundles-uploadpost.mdx
  src/bundles/uploadpost/README.md
  src/bundles/uploadpost/src/lfx_uploadpost/_base.py
  src/bundles/uploadpost/src/lfx_uploadpost/_client.py
  src/bundles/uploadpost/tests/test_uploadpost_components.py
Due: azure-pipelines.yml

test(playground): assert unique session names
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(bundles): treat a 5xx on an Upload-Post submit as ambiguous, not a rejection
  src/bundles/uploadpost/src/lfx_uploadpost/_base.py
  src/bundles/uploadpost/src/lfx_uploadpost/_client.py
  src/bundles/uploadpost/tests/test_uploadpost_components.py
Due: azure-pipelines.yml

fix(monitor): implement session list bounding with limit parameter
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/tests/unit/test_messages_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(monitor): cover /messages/shared/sessions bounding
  src/backend/tests/unit/test_messages_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(db): leave the orphan role assignment the way pre-1.13 deletes did
  src/backend/tests/unit/services/database/test_sqlite_to_postgres.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(storage): give S3 streams their own client and prune the client cache safely
  src/backend/base/langflow/services/storage/s3.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): deactivate the kept default superuser and stop its ownership probe at the first hit
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): record the default superuser's retirement and reactivate it when claimed
  src/backend/base/langflow/alembic/versions/c3e1d5a7f902_add_user_retired_at.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): leave a password an admin set on the default superuser alone
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): keep the default superuser's data when AUTO_LOGIN is turned off
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): chain the retired_at migration after the release branch's head
  src/backend/base/langflow/alembic/versions/c3e1d5a7f902_add_user_retired_at.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): chain the retired_at migration after the new release head
  src/backend/base/langflow/alembic/versions/c3e1d5a7f902_add_user_retired_at.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(api): serve v2 stream runs from the warm registry
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/warm_graph.py
  src/backend/tests/unit/api/test_warm_graph_execution.py
  src/backend/tests/unit/api/v2/test_workflow_stream_warm_registry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(url): make response byte limits configurable
  docs/docs/Components/url.mdx
  docs/docs/Develop/environment-variables.mdx
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/tests/unit/components/data_source/test_url_component.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/data_source/url.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
  src/lfx/tests/unit/services/settings/test_url_component_byte_limits.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): keep the default superuser's data when AUTO_LOGIN is turned off (#15326)
  src/backend/base/langflow/alembic/versions/c3e1d5a7f902_add_user_retired_at.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): copy self-referencing tables without holding them in memory
  src/backend/base/langflow/services/database/sqlite_to_postgres.py
  src/backend/tests/unit/services/database/test_sqlite_to_postgres.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(connections): explain an empty provider list and fix unreadable scope warning (#15440)
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/ko.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/__tests__/AddConnectionDialog.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/__tests__/ConnectionsPage.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/components/AddConnectionDialog.tsx
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

perf(api): create the v2 live-stream job row IN_PROGRESS
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/api/v2/test_workflow_stream_warm_registry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): own sessions per context and server
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/tests/unit/mcp/test_session_lifecycle_stdio.py
  src/lfx/tests/unit/mcp/test_session_refcount.py
  src/lfx/tests/unit/mcp/test_tool_execution_timeout.py
  src/lfx/tests/unit/mcp/test_tool_timeout_side_effects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add enterprise navigation seams
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/__tests__/account-menu.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/customization/components/custom-account-menu-navigation-items.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): keep cycle vertices across graph state serialization
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/graph/runnable_vertices_manager.py
  src/lfx/tests/unit/graph/graph/test_runnable_vertices_manager.py
  src/lfx/tests/unit/graph/vertex/test_vertex_base.py
Due: azure-pipelines.yml

fix(mcp): stop session leak and timeout retries (#15460)
  src/backend/tests/unit/base/mcp/test_mcp_timeout_configuration.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/tests/unit/mcp/test_session_lifecycle_stdio.py
  src/lfx/tests/unit/mcp/test_session_refcount.py
  src/lfx/tests/unit/mcp/test_tool_execution_timeout.py
  src/lfx/tests/unit/mcp/test_tool_timeout_side_effects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): replace a pooled session whose server died
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/tests/unit/mcp/test_session_lifecycle_stdio.py
  src/lfx/tests/unit/mcp/test_session_recovery_http.py
Due: azure-pipelines.yml

feat(deployments): add atomic replacement and snapshots (LE-2717) (#15313)
  scripts/ci/authz_endpoint_matrix.json
  src/backend/base/langflow/alembic/versions/t194_atomic_project_replacement.py
  src/backend/base/langflow/api/utils/mcp/flow_secrets.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/schemas/deployment_snapshot.py
  src/backend/base/langflow/api/v1/schemas/replacement_operations.py
  src/backend/base/langflow/services/auth/mcp_encryption.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/flow/guards.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/project_replacement_operation.py
  src/backend/base/langflow/services/deployment_artifacts/__init__.py
  src/backend/base/langflow/services/deployment_artifacts/builder.py
  src/backend/base/langflow/services/triggers/reconciliation.py
  src/backend/base/langflow/utils/canonical_json.py
  src/backend/base/langflow/utils/flow_secrets.py
  src/backend/base/langflow/utils/mcp_config_secrets.py
  src/backend/tests/unit/alembic/test_atomic_project_replacement_migration.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/api/v1/test_project_deployment_snapshot.py
  src/backend/tests/unit/api/v1/test_project_replacement_operations.py
  src/backend/tests/unit/api/v1/test_projects.py
  src/backend/tests/unit/services/authorization/test_guards.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact_dependencies.py
  src/backend/tests/unit/utils/test_flow_secrets.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): merge background metrics and release migration heads
  src/backend/base/langflow/alembic/versions/a6d8e0f2b4c7_merge_bg_metrics_and_release_heads.py
  src/backend/tests/unit/alembic/test_bg_metrics_merge_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: keep request subject and add end-user search
  scripts/ci/authz_endpoint_matrix.json
  src/backend/base/langflow/api/v1/data_subjects.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/services/data_subjects/end_user_search.py
  src/backend/base/langflow/services/data_subjects/requests.py
  src/backend/base/langflow/services/data_subjects/schemas.py
  src/backend/tests/unit/api/v1/test_data_subjects_api.py
  src/backend/tests/unit/services/data_subjects/test_builder_erase.py
  src/backend/tests/unit/services/data_subjects/test_end_user_erase.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: restore starter project rewritten by a local run
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): merge the retired_at and atomic project replacement migration heads
  src/backend/base/langflow/alembic/versions/b5d8e2a4c617_merge_retired_at_and_atomic_replacement.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: find builders by username or email
  src/backend/base/langflow/api/v1/data_subjects.py
  src/backend/base/langflow/services/data_subjects/schemas.py
  src/backend/tests/unit/api/v1/test_data_subjects_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: block admins approving their own deletion
  src/backend/base/langflow/api/v1/data_subjects_self.py
  src/backend/base/langflow/services/data_subjects/errors.py
  src/backend/base/langflow/services/data_subjects/requests.py
  src/backend/base/langflow/services/data_subjects/stop.py
  src/backend/tests/unit/api/v1/test_data_subjects_api.py
  src/backend/tests/unit/services/data_subjects/test_builder_erase.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(db): merge the retired_at and atomic project replacement migration heads (#15476)
  src/backend/base/langflow/alembic/versions/b5d8e2a4c617_merge_retired_at_and_atomic_replacement.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
