Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

test(tools): cover serialized schema mappings
  src/backend/tests/unit/base/tools/test_create_schema.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): flush user insert before creating sso_user_profile during JIT provisioning
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/test_login.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: align protected tweak warning expectation
  src/lfx/tests/unit/test_process.py
Due: azure-pipelines.yml

test: cover serialized schema types in lfx
  src/lfx/tests/unit/schema/test_input_schema.py
Due: azure-pipelines.yml

test: stub foundry SSRF transport validation
  src/backend/tests/unit/base/models/test_foundry_embedding_kwargs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover RunFlow tweak filtering in lfx
  src/lfx/tests/unit/base/tools/test_run_flow.py
Due: azure-pipelines.yml

Added pgvector impl. Moved pgVector and OpenSearch to be extra dependencies. Modified Memory Base component to work with db rows and not embedding_metadata.json on disk.
  pyproject.toml
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/schema/knowledge_base.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/base/knowledge_bases/test_backends_registry.py
  src/backend/tests/unit/base/knowledge_bases/test_postgres_backend.py
  src/backend/tests/unit/base/knowledge_bases/test_vector_store_backends.py
  src/backend/tests/unit/test_knowledge_bases_api.py
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/index.tsx
  src/frontend/src/constants/dbProviderConstants.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-create-knowledge-base.ts
  src/frontend/src/locales/en.json
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/utils/backendMetadata.ts
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/index.tsx
  src/langflow-core/pyproject.toml
  src/lfx/src/lfx/base/knowledge_bases/backends/__init__.py
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_retrieval.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: never let optional instrumentation block startup
  src/backend/base/langflow/main.py
  src/lfx/src/lfx/cli/serve_app.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: drop the unsupported frontmatter field
  docs/docs/Develop/observability-otlp.mdx
Due: azure-pipelines.yml

feat: add leak-safe LLM-provider latency and error metrics
  src/lfx/src/lfx/custom/custom_component/custom_component.py
  src/lfx/src/lfx/observability_llm_metrics.py
  src/lfx/tests/unit/observability/__init__.py
  src/lfx/tests/unit/observability/test_llm_provider_metrics.py
Due: azure-pipelines.yml

refactor: share LLM-callback provider/model helpers between lfx and the native tracer
  src/backend/base/langflow/services/tracing/native_callback.py
  src/lfx/src/lfx/base/models/llm_callback_utils.py
  src/lfx/src/lfx/observability_llm_metrics.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: address review round 1 on LLM provider metrics
  src/lfx/src/lfx/observability_llm_metrics.py
  src/lfx/tests/unit/observability/test_llm_provider_metrics.py
Due: azure-pipelines.yml

fix(frontend): stabilize custom navigation callback
  src/frontend/src/customization/hooks/use-custom-navigate.ts
  src/frontend/src/pages/FlowPage/hooks/__tests__/use-load-flow-for-route.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: retarget the pool gauges when the engine is replaced
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/services/telemetry/test_db_pool_metrics.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(deps): align system-metrics with the 0.65b0 opentelemetry family
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: isolate unified model SSRF validation
  src/backend/tests/unit/test_unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: address pgvector review feedback
  .secrets.baseline
  pyproject.toml
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v1/memories.py
  src/backend/base/langflow/services/database/models/memory_base/model.py
  src/backend/base/langflow/services/memory_base/service.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/base/knowledge_bases/test_postgres_backend.py
  src/backend/tests/unit/test_knowledge_bases_api.py
  src/backend/tests/unit/test_memory_bases.py
  src/frontend/src/constants/__tests__/dbProviderConstants.test.ts
  src/frontend/src/constants/dbProviderConstants.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/createMemoryModal/__tests__/useCreateMemoryModal.test.tsx
  src/frontend/src/modals/createMemoryModal/useCreateMemoryModal.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/index.tsx
  src/frontend/tests/a11y/db-providers.a11y.spec.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
  src/lfx/src/lfx/utils/env_var_security.py
  src/lfx/tests/unit/test_langflow_core_distribution.py
  src/lfx/tests/unit/utils/test_env_var_security.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: refresh generated pgvector assets
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: sync starter project dependencies
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): stop flow route request storm (#14349)
  src/frontend/src/customization/hooks/use-custom-navigate.ts
  src/frontend/src/pages/FlowPage/hooks/__tests__/use-load-flow-for-route.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(security): enforce SSRF policy for unified models (#14348)
  src/backend/tests/unit/base/models/test_foundry_embedding_kwargs.py
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/utils/ssrf_httpx.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
  src/lfx/tests/unit/base/models/test_get_llm_ollama_base_url.py
  src/lfx/tests/unit/base/models/test_get_llm_watsonx_params.py
  src/lfx/tests/unit/base/models/test_provider_registry.py
  src/lfx/tests/unit/base/models/test_unified_model_ssrf.py
  src/lfx/tests/unit/base/models/test_unified_model_status_identity.py
  src/lfx/tests/unit/utils/test_ssrf_httpx.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tools): block protected RunFlow tweaks (#14343)
  src/backend/tests/unit/base/tools/test_run_flow.py
  src/backend/tests/unit/test_experimental_components.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/tools/run_flow.py
  src/lfx/src/lfx/components/prototypes/python_function.py
  src/lfx/src/lfx/processing/process.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/base/tools/test_run_flow.py
  src/lfx/tests/unit/test_process.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tools): constrain serialized schema types (#14344)
  src/backend/tests/unit/base/tools/test_create_schema.py
  src/lfx/src/lfx/io/schema.py
  src/lfx/tests/unit/schema/test_input_schema.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(playground): separate public identity namespaces (#14345)
  .secrets.baseline
  src/backend/base/langflow/api/utils/flow_utils.py
  src/backend/tests/unit/api/v1/test_monitor_shared.py
  src/backend/tests/unit/api/v2/test_workflow_public.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/frontend/src/components/core/playgroundComponent/hooks/use-get-flow-id.test.tsx
  src/frontend/src/components/core/playgroundComponent/hooks/use-get-flow-id.tsx
  src/frontend/src/modals/IOModal/hooks/__tests__/useGetFlowId.test.ts
  src/frontend/src/modals/IOModal/hooks/useGetFlowId.ts
  src/frontend/src/pages/Playground/PlaygroundPage.stories.tsx
  src/frontend/src/stores/__tests__/flowStore.test.ts
  src/frontend/src/stores/flowStore.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): scope public projects to their owner (#14346)
  .secrets.baseline
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): sanitize public v2 workflow execution (#14341)
  src/backend/base/langflow/api/v2/workflow_public.py
  src/backend/tests/unit/api/v2/test_workflow_public.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): authorize deprecated vertex streams (#14342)
  src/backend/base/langflow/api/v1/chat.py
  src/backend/tests/unit/test_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(deps): align system-metrics with the 0.65b0 opentelemetry family (#14350)
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve cancellation when stopping lag monitor
  src/lfx/src/lfx/observability.py
  src/lfx/tests/unit/test_observability.py
Due: azure-pipelines.yml

fix: keep the telemetry providers reachable, and make the metrics readable
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/services/telemetry/test_db_pool_metrics.py
  src/lfx/src/lfx/observability.py
  src/lfx/tests/unit/test_observability.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add event-loop lag and DB pool saturation metrics (#14340)
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/services/telemetry/test_db_pool_metrics.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/observability.py
  src/lfx/tests/unit/test_observability.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: say when the pool is not measurable instead of exporting nothing
  src/backend/base/langflow/services/telemetry/opentelemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: align OpenTelemetry lock versions
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: repair consolidation CI contracts
  BUNDLE_API.md
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/datastax/pyproject.toml
  src/bundles/toolguard/tests/test_policies_component_full.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: harden extension compatibility fallbacks
  docs/docs/Components/policies.mdx
  docs/docs/Support/release-notes.mdx
  src/bundles/toolguard/src/lfx_toolguard/components/models_and_agents/policies_component.py
  src/bundles/toolguard/tests/test_policies_component_full.py
  src/lfx/src/lfx/components/cassandra/__init__.py
  src/lfx/src/lfx/components/models_and_agents/policies_component.py
  src/lfx/tests/unit/components/test_bundle_shims.py
  src/lfx/tests/unit/test_langflow_base_distribution.py
Due: azure-pipelines.yml

fix: address consolidation review feedback
  .github/workflows/cross-platform-test.yml
  .github/workflows/docker_test.yml
  .github/workflows/release-inventory-gate.yml
  .github/workflows/release.yml
  .secrets.baseline
  Makefile
  docker/build_and_push.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docs/agents/ARCHITECTURE.md
  docs/docs/Components/bundles-paddle.mdx
  docs/docs/Support/release-notes.mdx
  scripts/ci/rewrite_langflow_base_constraint.sh
  scripts/ci/test_release_workflow.py
  scripts/migrate/port_bundle.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_docker_security_defaults.py
  src/bundles/toolguard/src/lfx_toolguard/components/models_and_agents/policies_component.py
  src/bundles/toolguard/tests/test_policies_component_full.py
  src/frontend/src/utils/__tests__/sidebarBundles.test.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/cli/_extension_commands.py
  src/lfx/src/lfx/components/models_and_agents/policies/__init__.py
  src/lfx/src/lfx/extension/dev_registry.py
  src/lfx/src/lfx/extension/discovery.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/src/lfx/extension/registry.py
  src/lfx/tests/unit/components/test_bundle_shims.py
  src/lfx/tests/unit/extension/loader/test_load_extension.py
  src/lfx/tests/unit/extension/test_cli.py
  src/lfx/tests/unit/extension/test_cli_list.py
  src/lfx/tests/unit/extension/test_dev_registry.py
  src/lfx/tests/unit/extension/test_discovery.py
  src/lfx/tests/unit/test_langflow_base_distribution.py
  src/lfx/tests/unit/test_patch_regexes.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: detect optional bundles in starter tests
  src/backend/tests/unit/template/test_starter_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
