Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

docs: update vector rag template
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update mem0 and qdrant dependencies
  src/backend/base/pyproject.toml
  src/backend/base/uv.lock
  src/backend/tests/unit/components/bundles/mem0/test_mem0_component.py
  src/lfx/src/lfx/components/mem0/mem0_chat_memory.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: address concurrency and isolation issues in lfx serve
  .secrets.baseline
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/cli/test_serve_app.py
  src/lfx/tests/unit/custom/component/test_concurrent_tool_invocation.py
Due: azure-pipelines.yml

feat(authz): SQL share-backed list prefilter for paginated visibility
  AGENTS.md
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/mappers/deployments/helpers.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/fetch.py
  src/backend/base/langflow/services/database/models/deployment/crud.py
  src/backend/tests/unit/services/authorization/test_share_visibility_filter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(authz): add MANAGE action gating for sensitive PATCH/PUT fields
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/actions.py
  src/backend/base/langflow/services/authorization/sensitive_fields.py
  src/backend/tests/unit/services/authorization/test_actions.py
  src/backend/tests/unit/services/authorization/test_flow_route_guards.py
  src/backend/tests/unit/services/authorization/test_sensitive_fields.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(telemetry-writer): harden error handling and add missing test coverage
  src/backend/base/langflow/services/telemetry_writer/service.py
  src/backend/tests/unit/services/telemetry_writer/test_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ci: add stress-tests job to nightly build pipeline
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

fix(i18n): translate custom component nodes and fix missing RAG template notes in ja/fr
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/locales/fr.json
  src/backend/base/langflow/locales/ja.json
  src/backend/base/langflow/utils/i18n.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ci: run stress tests in nightly without blocking release
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

test: assert New Flow button by test-id, not substring text match
  src/frontend/tests/core/features/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/core/features/run-flow.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(auth): address review findings on PR #13192
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/services/auth/test_auth_service.py
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/controllers/API/__tests__/api-auth-maintenance.test.ts
  src/frontend/src/controllers/API/api.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): translate Toolset output and UpdateAllComponents banner strings
  scripts/gp/extract_backend_strings.py
  src/backend/base/langflow/locales/de.json
  src/backend/base/langflow/locales/en.json
  src/backend/base/langflow/locales/es.json
  src/backend/base/langflow/locales/fr.json
  src/backend/base/langflow/locales/ja.json
  src/backend/base/langflow/locales/pt.json
  src/backend/base/langflow/locales/zh-Hans.json
  src/backend/base/langflow/utils/i18n.py
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): sync backend locale files with Toolset translations from GP
  src/backend/base/langflow/locales/de.json
  src/backend/base/langflow/locales/es.json
  src/backend/base/langflow/locales/fr.json
  src/backend/base/langflow/locales/ja.json
  src/backend/base/langflow/locales/pt.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(i18n): translate Retry button in server connection error dialog
  src/frontend/src/components/common/fetchErrorComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Modified fetch messages mechanism to support all messages as well in memory bases and session_id filtering to be optional.
  src/backend/base/langflow/api/v1/memories.py
  src/backend/base/langflow/services/memory_base/service.py
  src/backend/tests/unit/test_memory_bases.py
  src/frontend/src/controllers/API/queries/memories/__tests__/use-get-memory-messages.test.ts
  src/frontend/src/controllers/API/queries/memories/__tests__/use-get-memory-session-messages.test.ts
  src/frontend/src/controllers/API/queries/memories/use-get-memory-messages.ts
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/hooks/__tests__/useMemoriesData.test.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/hooks/__tests__/useMemoryDocuments.test.ts
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/hooks/useMemoryDocuments.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(auth): enforce is_active in _api_key_security_impl auto-login bypass
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/services/auth/test_auth_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(i18n): inline lfx.base constants in extract_backend_strings to fix CI
  scripts/gp/extract_backend_strings.py
Due: azure-pipelines.yml

feat(memories): make preprocessing instructions required with tooltip hint (#13250)
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/createMemoryModal/__tests__/useCreateMemoryModal.test.tsx
  src/frontend/src/modals/createMemoryModal/index.tsx
  src/frontend/src/modals/createMemoryModal/useCreateMemoryModal.ts
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryDetails.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/__tests__/MemoryDetails.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: lock mcp server management
  docs/docs/Agents/mcp-client.mdx
  docs/docs/Agents/mcp-server.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

docs: restrict custom components to superusers
  docs/docs/Deployment/deployment-block-custom-components.mdx
Due: azure-pipelines.yml

fix: canvas deploy attach/detach flow bugs (#13247)
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/create-mode.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/edit-mode.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/step-attach-flows.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/contexts/deployment-stepper-context.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: migrate code blocks from CodeSnippet to native Prism
  docs/README.md
  docs/css/code.css
  docs/css/custom.css
  docs/css/tokens.css
  docs/docs/API-Reference/api-build.mdx
  docs/docs/API-Reference/api-files.mdx
  docs/docs/API-Reference/api-flows-run.mdx
  docs/docs/API-Reference/api-flows.mdx
  docs/docs/API-Reference/api-logs.mdx
  docs/docs/API-Reference/api-monitor.mdx
  docs/docs/API-Reference/api-openai-responses.mdx
  docs/docs/API-Reference/api-projects.mdx
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/API-Reference/api-users.mdx
  docs/docs/API-Reference/workflows-api.mdx
  docs/docs/Components/concepts-components.mdx
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/src/components/CodeSnippet.tsx
  docs/src/theme/prism-include-languages.js
  docs/versioned_docs/version-1.8.0/Components/concepts-components.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-build.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-files.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-flows-run.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-flows.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-logs.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-monitor.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-openai-responses.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-projects.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-reference-api-examples.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/api-users.mdx
  docs/versioned_docs/version-1.9.0/API-Reference/workflows-api.mdx
  docs/versioned_docs/version-1.9.0/Components/concepts-components.mdx
Due: azure-pipelines.yml

docs: improve inline code styling
  docs/css/code.css
  docs/css/tokens.css
Due: azure-pipelines.yml

docs: embedded mode to hide UI elements
  docs/docs/Develop/environment-variables.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

docs: address PR review — fix code slice regression and CSS/regex polish
  docs/css/code.css
  docs/docs/Components/concepts-components.mdx
  docs/src/theme/prism-include-languages.js
  docs/versioned_docs/version-1.8.0/Components/concepts-components.mdx
  docs/versioned_docs/version-1.9.0/Components/concepts-components.mdx
Due: azure-pipelines.yml

fix: use type() for model_fields access to avoid Pydantic v2.11 deprecation
  src/lfx/src/lfx/schema/cross_module.py
Due: azure-pipelines.yml

fix: grouped empty output
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/tests/unit/graph/test_graph.py
Due: azure-pipelines.yml

Update README.md
  README.md
Due: azure-pipelines.yml
