Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

add cuga version 0.2.9 to pyproject.toml
  pyproject.toml
  src/frontend/package-lock.json
  src/lfx/src/lfx/components/cuga/cuga_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: add test cases for Ollama backwards compatibility fix
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add multi-turn dataset support, evaluation stop functionality, and UI improvements
  features/28-multi-turn-datasets-evaluation.md
  src/backend/base/langflow/alembic/versions/c3d4e5f6g7h8_add_multi_turn_dataset_support.py
  src/backend/base/langflow/api/v1/datasets.py
  src/backend/base/langflow/api/v1/evaluations.py
  src/backend/base/langflow/services/database/models/dataset/model.py
  src/backend/base/langflow/services/database/models/evaluation/model.py
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/controllers/API/queries/datasets/use-create-dataset-from-messages.ts
  src/frontend/src/controllers/API/queries/datasets/use-get-dataset.ts
  src/frontend/src/controllers/API/queries/datasets/use-get-datasets.ts
  src/frontend/src/controllers/API/queries/evaluations/use-get-evaluations.ts
  src/frontend/src/controllers/API/queries/evaluations/use-stop-evaluation.ts
  src/frontend/src/modals/importCsvModal/index.tsx
  src/frontend/src/pages/EvaluationPage/index.tsx
  src/frontend/src/pages/FlowPage/components/EvaluationsMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/EvaluationsSidebarGroup.tsx
  src/frontend/src/pages/MainPage/pages/datasetsPage/config/datasetColumns.tsx
  src/lfx/src/lfx/components/data_source/web_search.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: wrap long docstring line to satisfy ruff E501
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: prevent streaming response duplication with custom OpenAI endpoints
  src/backend/base/langflow/api/v1/openai_responses.py
  src/lfx/src/lfx/base/models/model.py
  src/lfx/src/lfx/custom/custom_component/component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: redact database credentials from logs and error messages
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/test_user.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/utils/util_strings.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add long-term memory feature: vectorized conversation history with auto-capture
  src/backend/base/langflow/alembic/versions/e5f6g7h8i9j0_create_memory_tables.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/memories.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/memory/__init__.py
  src/backend/base/langflow/services/database/models/memory/model.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/memories/use-add-messages-to-memory.ts
  src/frontend/src/controllers/API/queries/memories/use-create-memory.ts
  src/frontend/src/controllers/API/queries/memories/use-delete-memory.ts
  src/frontend/src/controllers/API/queries/memories/use-generate-memory.ts
  src/frontend/src/controllers/API/queries/memories/use-get-memories.ts
  src/frontend/src/controllers/API/queries/memories/use-get-memory-documents.ts
  src/frontend/src/controllers/API/queries/memories/use-get-memory.ts
  src/frontend/src/controllers/API/queries/memories/use-update-memory-kb.ts
  src/frontend/src/controllers/API/queries/memories/use-update-memory.ts
  src/frontend/src/controllers/API/queries/models/use-get-embedding-models.ts
  src/frontend/src/modals/addToMemoryModal/index.tsx
  src/frontend/src/modals/createMemoryModal/index.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/MessagesMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/MemoriesSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
  src/lfx/src/lfx/components/files_and_knowledge/__init__.py
  src/lfx/src/lfx/components/files_and_knowledge/embedding_utils.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_info.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_retrieval.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Rename Memory Retrieval to Memory, fix sidebar nav toggle, fix return_direct
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/lfx/src/lfx/base/tools/component_tool.py
  src/lfx/src/lfx/components/files_and_knowledge/__init__.py
  src/lfx/src/lfx/components/files_and_knowledge/memory.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_retrieval.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/base/tools/test_return_direct.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add token usage tracking to traces and fix span display
  src/backend/base/langflow/services/tracing/native.py
  src/backend/base/langflow/services/tracing/native_callback.py
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanDetail.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/SpanNode.tsx
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Refactor session_id handling in chat_output.py
  src/lfx/src/lfx/components/input_output/chat_output.py
Due: azure-pipelines.yml

Refactor schema.py to improve file handling
  src/lfx/src/lfx/io/schema.py
Due: azure-pipelines.yml

chore: reduce image size by 33%
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

add wait for statement to prevent race condition
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update llm
  pyproject.toml
  src/backend/tests/unit/components/policies/test_llm_wrapper.py
  src/lfx/src/lfx/components/policies/llm_wrapper.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: adjusted textarea and playground paddings and design (#11635)
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/no-input.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/text-area-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/sliding-container/components/flow-page-sliding-container.tsx
  src/frontend/src/components/ui/textarea.tsx
  src/frontend/tests/extended/regression/general-bugs-move-flow-from-folder.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(lfx): improve slug generation and reference error handling
  src/backend/tests/unit/graph/test_get_vertex_by_slug.py
  src/backend/tests/unit/graph/vertex/test_reference_slug.py
  src/lfx/src/lfx/graph/reference/schema.py
  src/lfx/src/lfx/graph/reference/utils.py
  src/lfx/src/lfx/graph/vertex/base.py
  src/lfx/tests/unit/graph/reference/test_parser.py
  src/lfx/tests/unit/graph/reference/test_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

change crypto to uuid regular
  src/frontend/src/components/core/assistantPanel/hooks/use-assistant-chat.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(lfx): add @Vars global variable references
  src/backend/tests/unit/graph/test_get_vertex_by_slug.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/reference/__init__.py
  src/lfx/src/lfx/graph/reference/resolver.py
  src/lfx/src/lfx/graph/vertex/base.py
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/tests/unit/graph/reference/test_integration.py
  src/lfx/tests/unit/graph/reference/test_resolver.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(frontend): add @Vars autocomplete and slug management
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/__tests__/getUpstreamOutputs.test.ts
  src/frontend/src/utils/__tests__/referenceParser.test.ts
  src/frontend/src/utils/getUpstreamOutputs.ts
  src/frontend/src/utils/referenceParser.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Implemented dismiss file functionality on input file component
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): simplify reference input and enable for all str fields
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/referenceInput/ReferenceAutocomplete.tsx
  src/frontend/src/components/core/referenceInput/ReferenceInput.tsx
  src/frontend/src/components/core/referenceInput/__tests__/ReferenceInput.test.tsx
  src/frontend/src/modals/textAreaModal/index.tsx
  src/frontend/tests/core/unit/referenceAutocomplete.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix flaky global variable
  src/frontend/tests/core/features/globalVariables.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed hover behavior
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

added test for removing file from input
  src/frontend/tests/extended/regression/general-bugs-shard-3836.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add Guardrails Message Validation template
  src/backend/base/langflow/initial_setup/starter_projects/Guardrails Message Validation.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add input selection
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs-add-shortlist-tools-and-remove-webapps-parameters
  docs/docs/Components/bundles-cuga.mdx
Due: azure-pipelines.yml

chore: remove CodeFlash integration
  .github/workflows/codeflash.yml
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: merge /public_config into /config endpoint with auth-based response
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/controllers/API/queries/config/use-get-public-config.ts
  src/frontend/src/hooks/__tests__/use-playground-config.test.tsx
  src/frontend/src/hooks/use-playground-config.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
  src/frontend/src/pages/Playground/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add disable inspect panel util
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/utils/disable-inspection-panel.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: use BaseConfig pattern for config type hierarchy
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed react flow utils to clean advanced edges
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: upgrade cuga to 0.2.9 for langchain 1.0 compatibility
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: improve error handling and return value in get_langchain_callback method
  src/backend/base/langflow/services/tracing/langfuse.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Make connected handles not be able to be hidden
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelEditField.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Added test for hiding connected handles
  src/frontend/tests/extended/regression/general-bugs-hidden-input-edges.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: improved note guide for language models nots and Need search
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/package-lock.json
  src/frontend/tests/assets/flow_test_drag_and_drop.json
  src/lfx/tests/data/starter_projects_1_6_0/Basic Prompting.json
  src/lfx/tests/data/starter_projects_1_6_0/Invoice Summarizer.json
  src/lfx/tests/data/starter_projects_1_6_0/Search agent.json
  src/lfx/tests/data/starter_projects_1_6_0/Text Sentiment Analysis.json
  src/lfx/tests/data/starter_projects_1_6_0/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
