Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(ollama): keep one unreachable model from emptying the picker (#14817)
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/ollama/pyproject.toml
  src/bundles/ollama/src/lfx_ollama/components/ollama/ollama.py
  src/bundles/ollama/src/lfx_ollama/components/ollama/ollama_embeddings.py
  src/bundles/ollama/src/lfx_ollama/extension.json
  src/bundles/ollama/tests/test_ollama_model_listing_resilience.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): run the caller-aware component policy on the vertex build seam (#14808)
  src/backend/base/langflow/api/v1/chat.py
  src/backend/tests/unit/api/v1/test_deprecated_vertex_route_component_policy.py
  src/backend/tests/unit/api/v1/test_deprecated_vertex_route_incremental_state.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): keep a pending approval toggle from being dropped
  src/frontend/src/modals/toolsModal/components/toolsTable/RequiresApprovalToggle.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/__tests__/requiresApprovalToggle.test.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/tests/extended/regression/general-bugs-tool-action-stale-update.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): regenerate stale enterprise-hardened profile lock
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
Due: azure-pipelines.yml

fix(frontend): stop offering components the catalog policy blocks
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarItemsList.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: use writable ToolGuard work directory (#14805)
  docs/docs/Components/policies.mdx
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/toolguard/pyproject.toml
  src/bundles/toolguard/src/lfx_toolguard/components/models_and_agents/policies_component.py
  src/bundles/toolguard/src/lfx_toolguard/extension.json
  src/bundles/toolguard/tests/test_policies_component_full.py
  src/frontend/src/modals/toolsModal/components/toolsTable/RequiresApprovalToggle.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/__tests__/requiresApprovalToggle.test.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/tests/extended/regression/general-bugs-tool-action-stale-update.spec.ts
  src/lfx/src/lfx/schema/message.py
  src/lfx/tests/unit/schema/test_message_content_blocks.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: add v2 sync tweak refusal reproducer
  src/backend/tests/unit/api/test_tweak_refusal_surface.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): preserve v2 tweak refusal response
  src/backend/base/langflow/api/v2/workflow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover targeted inputs on build routes
  src/backend/tests/unit/api/test_tweak_refusal_surface.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enforce targeted input policy on Langflow paths
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/processing/process.py
  src/lfx/src/lfx/processing/process.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add RED reproducer for targeted input policy
  src/backend/tests/unit/api/test_tweak_refusal_surface.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve async logging in shared runner
  src/lfx/src/lfx/processing/process.py
Due: azure-pipelines.yml

test(frontend): classify assistant mock model
  src/frontend/tests/utils/mock-assistant.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): fit the canvas once the whole graph is measured
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlsDropdown.tsx
  src/frontend/src/components/core/canvasControlsComponent/__tests__/CanvasControlsDropdown.spec.tsx
  src/frontend/src/components/core/canvasControlsComponent/fit-view-options.ts
  src/frontend/src/components/core/flowBuilderWelcome/hooks/__tests__/use-apply-template-to-current-flow.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/hooks/use-apply-template-to-current-flow.ts
  src/frontend/src/hooks/flows/__tests__/use-apply-flow-to-canvas.test.ts
  src/frontend/src/hooks/flows/use-apply-flow-to-canvas.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/hooks/__tests__/use-fit-view-when-measured.test.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/hooks/use-fit-view-when-measured.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix test failures
  src/frontend/tests/utils/mock-assistant.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: assert refused builds allocate no queue
  src/backend/tests/unit/api/test_tweak_refusal_surface.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: clarify worker tweak refusal path
  src/backend/base/langflow/api/build.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: name v2 tweak refusal callers
  src/backend/base/langflow/api/build.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): translate the keys missing from every non-English locale
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/locales/__tests__/locale-parity.test.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(frontend): add Settings password form gate seam for SSO overlays (LE-2318) (#14818)
  src/frontend/src/customization/components/__tests__/custom-auth-seams.test.tsx
  src/frontend/src/customization/components/custom-settings-password-form-gate.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/tests/utils/mock-assistant.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(observability): keep Langflow's metrics off a provider it did not choose
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/services/telemetry/test_metrics_stay_with_the_operator.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): fit only when a flow asks for it
  src/frontend/src/components/core/flowBuilderWelcome/hooks/__tests__/use-apply-template-to-current-flow.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/hooks/use-apply-template-to-current-flow.ts
  src/frontend/src/hooks/flows/__tests__/use-apply-flow-to-canvas.test.ts
  src/frontend/src/hooks/flows/use-apply-flow-to-canvas.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/hooks/__tests__/use-fit-view-when-measured.test.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/hooks/use-fit-view-when-measured.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: reproduce persisted tweak secret leak (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): keep request tweaks out of job metadata (LE-2381)
  src/backend/base/langflow/services/background_execution/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover retryable background override failures (LE-2381)
  src/backend/tests/unit/api/v2/test_resume_route.py
  src/backend/tests/unit/api/v2/test_workflow_facade.py
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): encrypt background request overrides (LE-2381)
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/background_execution/test_facade_real_services.py
  src/backend/tests/unit/background_execution/test_resume.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): close null override downgrade (LE-2381)
  src/backend/base/langflow/services/background_execution/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: require encrypted background override replay (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
  src/backend/tests/unit/background_execution/test_resume.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover null and legacy background overrides (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
  src/backend/tests/unit/background_execution/test_resume.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover submit serialization outages (LE-2381)
  src/backend/tests/unit/api/v2/test_workflow_facade.py
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): classify serialization outages (LE-2381)
  src/backend/base/langflow/services/background_execution/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): preserve retryable override recovery (LE-2381)
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: preserve jobs on transient parser failure (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: guard retryable override lease release (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover deterministic override recovery edges (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover terminal event collision recovery (LE-2381)
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): harden queued recovery transactions (LE-2381)
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/background_execution/test_facade_real_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): date the UI in the language it is showing
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/helpers.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/traceViewHelpers.locale.test.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/traceViewHelpers.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowVersionSidebar/__tests__/utils.test.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowVersionSidebar/utils.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-version-panel.tsx
  src/frontend/src/utils/__tests__/format-date.test.ts
  src/frontend/src/utils/format-date.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: cover graph tweak refusal reasons
  src/lfx/tests/unit/test_tweaks_policy.py
Due: azure-pipelines.yml

test: reproduce tweak refusal reason collapse
  src/backend/tests/unit/api/test_tweak_refusal_surface.py
  src/lfx/tests/unit/test_tweaks_policy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
