Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

component-supports-message-type
  docs/docs/Components/smart-transform.mdx
Due: azure-pipelines.yml

deployed mcp project implementation
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: use pyproject version for compares
  .github/workflows/release.yml
  RELEASE.md
Due: azure-pipelines.yml

Clean up V2 Workflow API code and add unit tests
  src/backend/base/langflow/api/v2/converters.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/exceptions/api.py
  src/backend/tests/unit/api/v2/test_converters.py
  src/backend/tests/unit/api/v2/test_workflow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: replace jose with jwt (#11285)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_auth_jwt_algorithms.py
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Components/smart-transform.mdx
Due: azure-pipelines.yml

peer-review
  docs/docs/Components/smart-transform.mdx
Due: azure-pipelines.yml

docs: smart transform supports Message type (#11306)
  docs/docs/Components/smart-transform.mdx
Due: azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

chore: revert RELEASE.md changes
  RELEASE.md
Due: azure-pipelines.yml

docs: remove yarn lockfile and just use npm (#11254)
  .github/workflows/deploy-docs-draft.yml
  .github/workflows/deploy_gh-pages.yml
  .github/workflows/docs_test.yml
  DEVELOPMENT.md
  docs/README.md
  docs/css/docu-notion-styles.css
  docs/css/gifplayer.css
  docs/docs/Contributing/contributing-how-to-contribute.mdx
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Due: azure-pipelines.yml

feat: Add functionality to expand compact flow format (#10785)
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/processing/expand_flow.py
  src/backend/tests/unit/test_expand_flow.py
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

chore: lfx pyproject version 0.2.1 for testing
  src/lfx/pyproject.toml
Due: azure-pipelines.yml

delete-unused-yaml-file
  docs/openapi/openapi.yaml
Due: azure-pipelines.yml

Simplify - use version -> hash mapping
  scripts/build_hash_history.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/FAISS/faiss.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

have the green duration be the sum of tool and sec part the entire thinking
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/chat-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/error-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/hooks/use-tool-durations.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/messages.tsx
  src/frontend/src/types/chat/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: extract and consolidate chat message utilities
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/edit-message-field.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/error-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/file-card-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/thinking-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/hooks/use-message-duration.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/content-blocks.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/extract-error-message.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/format-file-name.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/format.ts
  src/frontend/src/icons/Indicator/Indicator.jsx
  src/frontend/src/icons/Indicator/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add code sse and error handlers
  src/backend/base/langflow/agentic/GENERATE_COMPONENT.md
  src/backend/base/langflow/agentic/api/router.py
  src/backend/tests/unit/agentic/api/__init__.py
  src/backend/tests/unit/agentic/api/test_code_extraction.py
  src/backend/tests/unit/agentic/api/test_streaming_validation.py
  src/frontend/src/components/core/generateComponent/generate-component-terminal.tsx
  src/frontend/src/components/core/generateComponent/index.tsx
  src/frontend/src/components/core/generateComponent/types.ts
  src/frontend/src/components/ui/select.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/generate-component/use-get-generate-component-config.ts
  src/frontend/src/controllers/API/queries/generate-component/use-post-generate-component-prompt.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: sync chat-messages and chat-input from pr4
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/chat-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/edit-message-field.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/edit-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/error-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/file-card-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/thinking-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/user-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/hooks/use-message-duration.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/hooks/use-tool-durations.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/messages.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/content-blocks.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/extract-error-message.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/format-file-name.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/format.ts
  src/frontend/src/icons/Indicator/Indicator.jsx
  src/frontend/src/icons/Indicator/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

create pydantic models for flow and project blobs
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/services/publish/s3.py
  src/backend/base/langflow/services/publish/schema.py
  src/backend/base/langflow/services/publish/service.py
  src/backend/base/langflow/services/publish/utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: sync chat-messages from pr3 with refactored utilities
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/chat-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/edit-message-field.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/edit-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/error-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/file-card-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/thinking-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/user-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/hooks/use-message-duration.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/hooks/use-tool-durations.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/messages.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/content-blocks.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/extract-error-message.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/format-file-name.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/utils/format.ts
  src/frontend/src/icons/Indicator/Indicator.jsx
  src/frontend/src/icons/Indicator/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor frontend to fit new assistant name
  src/frontend/src/components/core/assistant/assistant-terminal.tsx
  src/frontend/src/components/core/assistant/index.tsx
  src/frontend/src/components/core/assistant/types.ts
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/assistant/index.ts
  src/frontend/src/controllers/API/queries/assistant/use-get-assistant-config.ts
  src/frontend/src/controllers/API/queries/assistant/use-post-assistant-prompt.ts
  src/frontend/src/controllers/API/queries/generate-component/index.ts
  src/frontend/src/controllers/API/queries/generate-component/use-get-generate-component-config.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/stores/assistantStore.ts
  src/frontend/src/stores/generateComponentStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

sync: update animated-close and simple-sidebar from pr4
  src/frontend/src/components/ui/animated-close.tsx
  src/frontend/src/components/ui/simple-sidebar.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add unit tests and simple safeguards for stable vs nightly
  scripts/build_hash_history.py
  src/backend/tests/unit/test_build_hash_history.py
  src/lfx/src/lfx/_assets/stable_hash_history.json
  src/lfx/src/lfx/components/FAISS/faiss.py
  src/lfx/src/lfx/components/tools/tavily_search_tool.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add uniqueness check for comp id in comp index build
  scripts/build_component_index.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/FAISS/faiss.py
Due: azure-pipelines.yml

have blob builders return blobs
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

make column def a constant
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: adds markdown as an output for the URL component
  src/backend/tests/unit/components/data_source/test_url_component.py
  src/lfx/pyproject.toml
  src/lfx/src/lfx/components/data_source/url.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

policies
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

some changes to the component
  src/lfx/src/lfx/components/policies/guarded_tool.py
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml
