Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

docs: remove lfx prewarm
  docs/docs/Lfx/lfx-mcp.mdx
  docs/docs/Lfx/lfx-overview.mdx
  docs/docs/Lfx/lfx-prewarm.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(security): block socket/urllib network egress in component code scanner (#13784)
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: degrade gracefully when caching unpicklable values in RedisCache (#13781)
  src/backend/base/langflow/services/cache/service.py
  src/backend/tests/unit/services/cache/test_redis_cache.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: gate opik/toolguard/altk + uv override off Python 3.14 too
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: skip toolguard policy tests when toolguard is absent (Python 3.14)
  src/backend/tests/unit/components/models_and_agents/policies/test_guarded_tool.py
  src/backend/tests/unit/components/models_and_agents/policies/test_llm_wrapper.py
  src/backend/tests/unit/components/models_and_agents/policies/test_tool_invoker.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(frontend): add OSS no-op share-action seam to flow dropdown
  src/frontend/src/customization/components/custom-flow-share-action.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: inline no-op withEventDeliveryModes shim
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/News Aggregator.spec.ts
  src/frontend/tests/core/integrations/Pokedex Agent.spec.ts
  src/frontend/tests/core/integrations/Prompt Chaining.spec.ts
  src/frontend/tests/core/integrations/Research Translation Loop.spec.ts
  src/frontend/tests/core/integrations/SEO Keyword Generator.spec.ts
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
  src/frontend/tests/core/integrations/Simple Agent Memory.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Social Media Agent.spec.ts
  src/frontend/tests/core/integrations/Text Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Twitter Thread Generator.spec.ts
  src/frontend/tests/core/integrations/Youtube Analysis.spec.ts
  src/frontend/tests/utils/withEventDeliveryModes.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: skip litellm/toolguard component imports when absent (Python 3.14)
  src/backend/tests/unit/components/test_all_modules_importable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: persist HITL trace state to survive page refresh
  src/backend/base/langflow/services/tracing/native.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/tests/unit/services/tracing/test_native_tracer.py
  src/backend/tests/unit/services/tracing/test_tracing_service.py
  src/frontend/src/pages/FlowPage/components/TraceComponent/TraceDetailView.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/TraceDetailView.test.tsx
  src/frontend/src/stores/hitlStore.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(frontend): RBAC permission gating via /authz/me/permissions (#13543)
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-button.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/flow-toolbar-options.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/playground-button.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/contexts/__tests__/permissionsContext.test.tsx
  src/frontend/src/contexts/permissionsContext.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/permissions/__tests__/use-get-effective-permissions.test.ts
  src/frontend/src/controllers/API/queries/permissions/index.ts
  src/frontend/src/controllers/API/queries/permissions/use-get-effective-permissions.ts
  src/frontend/src/customization/components/custom-flow-share-action.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-content.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-table.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/types/permissions/index.ts
  src/frontend/src/utils/__tests__/permissionUtils.test.ts
  src/frontend/src/utils/permissionUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add sidebar and link from overview
  docs/docs/Lfx/lfx-overview.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

test: align settings field-count and telemetry metric expectations with bg observability
  src/backend/tests/unit/test_telemetry.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: gate release rc setup for stable releases
  .github/workflows/release.yml
  .secrets.baseline
Due: azure-pipelines.yml

chore: bump sdk release version
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: require bumped sdk for lfx release
  src/lfx/pyproject.toml
Due: azure-pipelines.yml

feat: wire list_visible_resource_ids prefilter into list endpoints (#13541)
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/mappers/deployments/helpers.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/listing.py
  src/backend/base/langflow/services/database/models/deployment/crud.py
  src/backend/base/langflow/services/database/models/deployment_provider_account/crud.py
  src/backend/tests/unit/api/v1/test_deployment_route_handlers.py
  src/backend/tests/unit/services/authorization/_common.py
  src/backend/tests/unit/services/authorization/test_listing_null_owner_prefilter.py
  src/backend/tests/unit/services/authorization/test_route_guard_regressions.py
  src/backend/tests/unit/services/authorization/test_visible_id_prefilter.py
  src/backend/tests/unit/services/database/test_deployment_crud_authz_prefilter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: persist HITL gate + output as backend spans
  docs/features/durable-execution-hitl.md
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/utils/flow_utils.py
  src/backend/base/langflow/services/tracing/service.py
  src/frontend/src/pages/FlowPage/components/TraceComponent/TraceDetailView.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/TraceDetailView.test.tsx
  src/frontend/src/stores/hitlStore.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: fail loud on non-scoped durable checkpoint scans
  src/backend/base/langflow/services/checkpoint/store.py
  src/backend/tests/unit/background_execution/test_durable_checkpoint_store.py
  src/backend/tests/unit/background_execution/test_input_deadline.py
  src/backend/tests/unit/background_execution/test_resume.py
  src/backend/tests/unit/background_execution/test_runner_suspend.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ci: throttle bundle publishes to PyPI
  .github/workflows/release.yml
  .github/workflows/release_bundles.yml
Due: azure-pipelines.yml

chore: clean store service comment
  src/backend/base/langflow/services/store/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

merge release branch
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: release cleanup (#13789)
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/services/store/service.py
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: cap composio client version
  src/backend/base/pyproject.toml
  src/bundles/lfx-bundles/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add Native Agent-to-Agent A2A Protocol Support (#10658)
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/components/agents/a2a_client.py
  src/backend/base/langflow/components/agents/a2a_server_agent.py
  src/backend/base/langflow/services/a2a/__init__.py
  src/backend/base/langflow/services/a2a/factory.py
  src/backend/base/langflow/services/a2a/service.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/schema.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Support Pydantic model schema validation in Component Structured Output
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/template/field/base.py
Due: azure-pipelines.yml

fix: unblock nightly bundle install resolution
  .github/workflows/release_bundles.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
Due: azure-pipelines.yml

fix: include sdk wheel in bundle smoke test
  .github/workflows/release_bundles.yml
Due: azure-pipelines.yml

fix: temporarily disable unpublished bundle deps
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add PaddleOCR component
  src/backend/tests/unit/components/files_and_knowledge/test_paddleocr.py
  src/lfx/src/lfx/components/files_and_knowledge/__init__.py
  src/lfx/src/lfx/components/files_and_knowledge/paddleocr.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
