Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

test(mcp): add trust verifier unit and integration tests
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/tests/unit/mcp/test_trust.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(a2a): add flow_type categorization and A2A flow columns
  src/backend/base/langflow/alembic/versions/9f1d1d602aa3_add_flow_type_and_a2a_columns_to_flow.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/tests/unit/alembic/test_flow_type_migration.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/helpers/test_suggest_flow_type.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: reject legacy superuser password
  .secrets.baseline
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/versioned_docs/version-1.10.0/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: clean up release QA component follow-ups
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/knowledge_bases/__init__.py
  src/lfx/src/lfx/components/tools/tavily_search_tool.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/migration/migration_table.json
  src/lfx/src/lfx/interface/components.py
  src/lfx/src/lfx/utils/component_aliases.py
  src/lfx/tests/unit/components/test_bundle_shims.py
  src/lfx/tests/unit/extension/loader/test_inline_bundles.py
  src/lfx/tests/unit/extension/migration/test_loader.py
  src/lfx/tests/unit/utils/test_component_aliases.py
Due: azure-pipelines.yml

docs: update bundle API changelog
  BUNDLE_API.md
Due: azure-pipelines.yml

Add .github/workflows/skyramp-testbot.yml
  .github/workflows/skyramp-testbot.yml
Due: azure-pipelines.yml

test+docs: pin precedence and leak fixes, restore POST OpenAPI schema
  src/backend/base/langflow/api/router.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/lfx/src/lfx/workflow/router.py
  src/lfx/tests/unit/workflow/test_router_contract.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): restore synchronous AllTypesDict.get_type_dict
  src/lfx/src/lfx/interface/listing.py
  src/lfx/tests/unit/interface/test_listing.py
Due: azure-pipelines.yml

feat(a2a): add agent-card discovery endpoint behind LANGFLOW_A2A_ENABLED
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/api/v1/test_a2a.py
  src/lfx/src/lfx/services/settings/groups/mcp.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(a11y): bootstrap asset route scans
  scripts/a11y/a11y_routes.json
  src/frontend/tests/a11y/static-routes.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: push nightly .devX docker images to langflowai/langflow in addition to langflowai/langflow-nightly
  .github/workflows/docker-nightly-build.yml
Due: azure-pipelines.yml

fix: share policy refresh and owner permissions (#13830)
  src/backend/base/langflow/api/v1/authz_me.py
  src/backend/base/langflow/api/v1/authz_shares.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/authorization/utils.py
  src/backend/tests/unit/api/v1/test_authz_admin_routes.py
  src/backend/tests/unit/api/v1/test_authz_share_routes.py
  src/lfx/src/lfx/services/authorization/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ci: update db-migration-validation to use canonical langflowai/langflow image
  .github/workflows/db-migration-validation.yml
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

test(loop): accept executor kwargs in subgraph async_start mock
  src/backend/tests/unit/components/flow_controls/test_loop.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(stepflow): execute the wrapped component for tool-mode tools
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/tool_wrapper.py
  src/langflow-stepflow/tests/helpers/tool_components.py
  src/langflow-stepflow/tests/integration/test_tool_wrapper_roundtrip.py
  src/langflow-stepflow/tests/unit/test_tool_wrapper_execution.py
  src/langflow-stepflow/tests/unit/test_tool_wrapper_handler.py
Due: azure-pipelines.yml

fix(stepflow): mask SecretStr on the worker output edge
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/base_model.py
  src/langflow-stepflow/tests/unit/test_type_converter.py
Due: azure-pipelines.yml

feat(stepflow): bridge the executor seam to a Stepflow backend
  src/langflow-stepflow/pyproject.toml
  src/langflow-stepflow/src/langflow_stepflow/__init__.py
  src/langflow-stepflow/src/langflow_stepflow/executor.py
  src/langflow-stepflow/tests/integration/test_stepflow_executor_runs_passthrough.py
  src/langflow-stepflow/tests/unit/test_stepflow_executor.py
Due: azure-pipelines.yml

test(lfx): drop obsolete inputs kwarg from capability stream-close test
  src/lfx/tests/unit/execution/test_capability_routing.py
Due: azure-pipelines.yml

fix(lfx): harden capability routing metadata
  src/lfx/src/lfx/services/capability/__init__.py
  src/lfx/src/lfx/services/capability/protocols.py
  src/lfx/src/lfx/services/capability/service.py
  src/lfx/tests/unit/execution/test_capability_routing.py
  src/lfx/tests/unit/services/capability/test_capability_service.py
Due: azure-pipelines.yml

feat(lfx): add pluggable capability routing
  src/lfx/src/lfx/execution/coordinator.py
  src/lfx/src/lfx/execution/types.py
  src/lfx/src/lfx/services/capability/__init__.py
  src/lfx/src/lfx/services/capability/defaults.py
  src/lfx/src/lfx/services/capability/factory.py
  src/lfx/src/lfx/services/capability/protocols.py
  src/lfx/src/lfx/services/capability/service.py
  src/lfx/src/lfx/services/deps.py
  src/lfx/src/lfx/services/executor/factory.py
  src/lfx/src/lfx/services/executor/service.py
  src/lfx/src/lfx/services/schema.py
  src/lfx/tests/unit/execution/test_capability_routing.py
  src/lfx/tests/unit/execution/test_executor_service.py
  src/lfx/tests/unit/services/capability/__init__.py
  src/lfx/tests/unit/services/capability/test_capability_service.py
Due: azure-pipelines.yml

fix(multitenant): register CapabilityServiceFactory in the backend
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/services/test_executor_capability_registration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): close capability-selected executor streams
  src/lfx/tests/unit/execution/test_capability_routing.py
Due: azure-pipelines.yml

ci: fix stale langflow-nightly package name reference in comment
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

change permission for sut script
  deployment-testbot/get-token.sh
  deployment-testbot/setup.sh
Due: azure-pipelines.yml

adding monitoring summary
  src/backend/base/langflow/api/v1/monitor.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update dep docs
  src/lfx/src/lfx/cli/_serve_help.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/serve_preloaded_app.py
Due: azure-pipelines.yml

simplify cmmments
  src/lfx/pyproject.toml
Due: azure-pipelines.yml

feat(a2a): add message/send JSON-RPC endpoint for agent flows
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_executor.py
  src/backend/tests/data/chat_echo_no_llm.json
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: move jwt page to auth and add redirect
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/docs/Develop/jwt-authentication.mdx
  docs/docusaurus.config.js
Due: azure-pipelines.yml

skip gunicorn threads in ghost finder
  src/lfx/src/lfx/cli/serve_gunicorn.py
  src/lfx/tests/unit/cli/test_serve_process_model.py
Due: azure-pipelines.yml

feat(embeddings): build available_models from all configured providers
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/base/embeddings/embeddings_class.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add TwelveLabsVideoSearch migration table entries
  src/lfx/src/lfx/extension/migration/migration_table.json
Due: azure-pipelines.yml

fix(ci): do not set :latest on canonical langflow repo for nightly .devX images
  .github/workflows/docker-nightly-build.yml
Due: azure-pipelines.yml

fix: align docker auth setup docs
  .env.example
  .secrets.baseline
  docker_example/README.md
  docker_example/docker-compose.yml
  docs/docs/Deployment/deployment-docker.mdx
  docs/docs/Get-Started/get-started-installation.mdx
  docs/versioned_docs/version-1.10.0/Deployment/deployment-docker.mdx
  docs/versioned_docs/version-1.10.0/Get-Started/get-started-installation.mdx
  src/backend/tests/locust/langflow_setup_test.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): prevent shell injection from inputs.nightly_tag in db-migration-validation
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

docs: fix custom docker auth examples
  docs/docs/Deployment/deployment-docker.mdx
  docs/versioned_docs/version-1.10.0/Deployment/deployment-docker.mdx
  src/backend/tests/locust/langflow_setup_test.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
