Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Support/security.mdx
Due: azure-pipelines.yml

Add ALTK Agent with tool validation and comprehensive tests
  pyproject.toml
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_logic.py
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_tool_conversion.py
  src/backend/tests/unit/components/models_and_agents/test_conversation_context_ordering.py
  src/lfx/src/lfx/base/agents/altk_base_agent.py
  src/lfx/src/lfx/base/agents/altk_tool_wrappers.py
  src/lfx/src/lfx/components/models_and_agents/altk_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Klaviyo imports
  src/frontend/src/icons/lazyIconImports.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: MCP component auto reset issue in non Tool Mode (#10440)
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update versions 1.6.7
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

minor fix to execute_tool that was left out.
  src/lfx/src/lfx/base/agents/altk_base_agent.py
Due: azure-pipelines.yml

Fixes following coderabbitai comments.
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_tool_conversion.py
  src/lfx/src/lfx/base/agents/altk_tool_wrappers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Fix cross-platform stream reading in subprocess (#10588)
  src/backend/base/langflow/services/mcp_composer/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: clean up IBM_WATSONX_URLS usage
  src/lfx/src/lfx/components/ibm/watsonx.py
  src/lfx/src/lfx/components/ibm/watsonx_embeddings.py
  src/lfx/src/lfx/components/models_and_agents/embedding_model.py
  src/lfx/src/lfx/components/models_and_agents/language_model.py
Due: azure-pipelines.yml

Update component_index.json
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

cleanup
  docs/docs/Components/bundles-cuga.mdx
  docs/static/img/component-cuga.png
Due: azure-pipelines.yml

fix timezone UTC on tests
  src/lfx/src/lfx/base/models/groq_model_discovery.py
Due: azure-pipelines.yml

use-the-same-name
  docs/docs/Components/bundles-cuga.mdx
Due: azure-pipelines.yml

fix: Switch to browser-compatible MathJax import (#10563)
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add custom message to dict conversion in ValidatedTool
  src/lfx/src/lfx/base/agents/altk_base_agent.py
  src/lfx/src/lfx/base/agents/altk_tool_wrappers.py
Due: azure-pipelines.yml

Remove duplicate process_output_item method
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
Due: azure-pipelines.yml

Refactor and improve error handling in backend modules
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/tests/unit/agentic/utils/test_template_search.py
  src/backend/tests/unit/components/models_and_agents/test_agent_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Refactor service usage and improve project deletion logging
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/tests/unit/components/models_and_agents/test_agent_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

code-review
  docs/docs/Deployment/security.mdx
  docs/docs/Support/security.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

link-to-security-bulletin
  docs/docs/Deployment/security.mdx
Due: azure-pipelines.yml

fix: Improve Windows MCP Composer zombie process handling and stream reading
  src/backend/base/langflow/services/mcp_composer/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Optimize chat message sorting performance
  src/frontend/src/modals/IOModal/components/chatView/helpers/sort-sender-messages.ts
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Revert component index changes
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Add chat widget lockfile
  src/frontend/chat-widget/package-lock.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Default options for model choices
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/api/v1/variable.py
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/provider-models-dialog.tsx
  src/lfx/src/lfx/base/models/anthropic_constants.py
  src/lfx/src/lfx/base/models/google_generative_ai_constants.py
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/ollama_constants.py
  src/lfx/src/lfx/base/models/openai_constants.py
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/base/models/watsonx_constants.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update test_template_search.py
  src/backend/tests/unit/agentic/utils/test_template_search.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Handle specific exceptions in agentic flow loading
  src/backend/base/langflow/initial_setup/setup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add Notion integration components to index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Fix mypy errors
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/services/variable/base.py
  src/backend/base/langflow/services/variable/kubernetes.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add toolkit_versions and updated composio and composio_langchain versions. (#10578)
  pyproject.toml
  src/lfx/src/lfx/base/composio/composio_base.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Document external app setup for chat widget
  src/frontend/chat-widget/README.md
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add gpt-5.1 model to starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/models/openai_constants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: marked required fields for fields with MultilineInput input types. (#10579)
  src/lfx/src/lfx/base/composio/composio_base.py
Due: azure-pipelines.yml
