Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

chore: regenerate assets after release rebase
  .secrets.baseline
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

fix: align CI with optional bundles
  src/backend/tests/unit/test_database.py
  src/frontend/tests/core/integrations/Research Translation Loop.spec.ts
  src/frontend/tests/extended/features/integration-side-bar.spec.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: regenerate assets after base rebase
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: align starter project metadata with CI
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: allow synthetic Ollama host through SSRF guard
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): guard public flow execution (#14347)
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/tests/unit/api/v1/test_a2a.py
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: treat Exa as opt-in bundle
  src/backend/tests/unit/components/test_all_modules_importable.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: align S3 dependency contract with base
  src/backend/tests/unit/services/storage/test_s3_dependency.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(auth): refresh login and signup pages
  src/frontend/src/pages/LoginPage/components/dot-grid-background.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/SignUpPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): align nightly workflows with langflow-base
  .github/workflows/cross-platform-test.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
  scripts/ci/test_release_workflow.py
Due: azure-pipelines.yml

fix(ci): align nightly workflows with langflow-base (#14352)
  .github/workflows/cross-platform-test.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
  scripts/ci/test_release_workflow.py
Due: azure-pipelines.yml

fix: bump lfx-bundles to 1.1.6
  pyproject.toml
  src/bundles/lfx-bundles/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: identify the worker on the DB pool gauges
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/services/telemetry/test_db_pool_metrics.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(auth): flush user insert before sso_user_profile during JIT provisioning (#14338)
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/test_login.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style(frontend): resolve biome lint on files touched by the shared-dialog extraction
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(docker): use writable runtime home
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  src/backend/tests/unit/test_docker_security_defaults.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(agent): exclude callback latency from tool duration
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

fix(docker): enforce writable home permissions
  docker/build_and_push_backend.Dockerfile
  docs/docs/Support/release-notes.mdx
  src/backend/tests/unit/test_docker_security_defaults.py
  src/lfx/docker/Dockerfile
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(agent): exclude callback latency at tool start
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

feat(models): establish provider governance foundation (#14323)
  BUNDLE_API.md
  src/backend/tests/unit/api/v1/test_models_provider_policy.py
  src/lfx/PLUGGABLE_SERVICES.md
  src/lfx/src/lfx/base/models/provider_registry.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/base/models/unified_models/provider_queries.py
  src/lfx/src/lfx/services/model_provider_policy/__init__.py
  src/lfx/src/lfx/services/model_provider_policy/base.py
  src/lfx/src/lfx/services/model_provider_policy/utils.py
  src/lfx/tests/unit/base/models/test_build_config_sticky_default.py
  src/lfx/tests/unit/base/models/test_get_llm_error_messages.py
  src/lfx/tests/unit/base/models/test_provider_registry.py
  src/lfx/tests/unit/services/model_provider_policy/test_policy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(LoginPage): update layout and accessibility of login options, enhance styling, and remove unused tooltip component
  src/frontend/src/pages/LoginPage/__tests__/LoginPage.a11y.test.tsx
  src/frontend/src/pages/LoginPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(docker): use writable runtime home (#14354)
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
  docs/docs/Support/release-notes.mdx
  src/backend/tests/unit/test_docker_security_defaults.py
  src/lfx/docker/Dockerfile
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(agent): exclude callback latency from tool duration (#14355)
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

fix(frontend): don't trap users on a flow when save fails
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: stop shipping application telemetry to the LLM tracing vendor
  src/backend/base/langflow/services/tracing/traceloop.py
  src/backend/tests/unit/services/tracing/test_traceloop_application_telemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: filter Traceloop's own processor instead of patching the provider
  src/backend/base/langflow/services/tracing/traceloop.py
  src/backend/tests/unit/services/tracing/test_traceloop_application_telemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): handle failed saves before navigation
  src/frontend/src/hooks/flows/__tests__/use-save-flow.test.ts
  src/frontend/src/pages/FlowPage/__tests__/save-before-leaving.test.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/FlowPage/save-before-leaving.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: pin that LLM tracing vendors coexist with application observability
  src/backend/tests/unit/services/tracing/test_vendor_provider_coexistence.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(frontend): re-apply pgVector provider flow onto the decomposed DBProvidersPage
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/__tests__/DBProvidersPage.test.tsx
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/components/ProviderConfigurationPanel.tsx
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/hooks/useDBProviderActions.ts
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: fail closed when the Traceloop span filter cannot be installed
  src/backend/base/langflow/services/tracing/traceloop.py
  src/backend/tests/unit/services/tracing/test_traceloop_application_telemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(agent): track parallel tool durations per run
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

fix(frontend): don't trap users on a flow when save fails (#14358)
  src/frontend/src/hooks/flows/__tests__/use-save-flow.test.ts
  src/frontend/src/pages/FlowPage/__tests__/save-before-leaving.test.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/FlowPage/save-before-leaving.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(agent): reset model timer after tools
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

fix: align inspector panel API exposure with what the backend accepts (#14304)
  src/frontend/src/modals/apiModal/utils/__tests__/api-exposure-rules.test.ts
  src/frontend/src/modals/apiModal/utils/api-exposure-rules.ts
  src/frontend/src/modals/apiModal/utils/get-nodes-with-default-value.ts
  src/frontend/src/modals/apiModal/utils/is-field-exposable.ts
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelParameterRow.tsx
  src/frontend/src/stores/__tests__/tweaksStore.test.ts
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): re-file use-refresh-model-inputs into services and utils (#14045)
  src/frontend/src/hooks/use-refresh-model-inputs.ts
  src/frontend/src/services/refresh-model-inputs.ts
  src/frontend/src/utils/model-node-helpers.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): decompose dropdown and prompt components into hooks and helpers (#14054)
  src/frontend/src/components/core/dropdownComponent/components/DropdownOptionsList.tsx
  src/frontend/src/components/core/dropdownComponent/components/DropdownSearchInput.tsx
  src/frontend/src/components/core/dropdownComponent/components/DropdownTrigger.tsx
  src/frontend/src/components/core/dropdownComponent/helpers/dropdown-search.ts
  src/frontend/src/components/core/dropdownComponent/hooks/useDropdownMutations.ts
  src/frontend/src/components/core/dropdownComponent/hooks/useDropdownOptions.ts
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/components/PromptEditableArea.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/helpers/generate-unique-variable-name.ts
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/helpers/prompt-highlight.ts
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/hooks/usePromptDomSync.ts
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/hooks/usePromptValidation.ts
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): extract shared primitives and remove duplicated ui clones (#14042)
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/components/select-items.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-empty-state.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/globalVariableDeleteConfirmation/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/__tests__/index.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-more-menu.tsx
  src/frontend/src/components/ui/dialog-with-no-close.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/components/ui/empty-state.tsx
  src/frontend/src/components/ui/select-custom.tsx
  src/frontend/src/components/ui/select.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/session-selector.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarDraggableComponent.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/__tests__/config-transition.test.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-empty-state.tsx
  src/frontend/src/pages/MainPage/pages/homePage/hooks/useMcpServer.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/shared/hooks/use-copy-to-clipboard.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
