Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(security): protect Bing Search URL from run tweaks (#15330)
  src/backend/tests/unit/api/v1/test_protected_request_variable.py
  src/frontend/src/modals/apiModal/utils/__tests__/api-exposure-rules.test.ts
  src/frontend/src/modals/apiModal/utils/api-exposure-rules.ts
  src/lfx/src/lfx/custom/custom_component/custom_component.py
  src/lfx/src/lfx/graph/graph/utils.py
  src/lfx/src/lfx/interface/initialize/loading.py
  src/lfx/src/lfx/processing/process.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/custom/custom_component/test_protected_request_variables.py
  src/lfx/tests/unit/interface/test_loading_no_env_fallback.py
  src/lfx/tests/unit/test_process.py
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: restrict Celery broker messages to JSON (#15344)
  .secrets.baseline
  deploy/.env.example
  deploy/docker-compose.override.yml
  deploy/docker-compose.yml
  pyproject.toml
  src/backend/base/langflow/core/celeryconfig.py
  src/backend/tests/unit/core/test_celeryconfig.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): only fetch GitHub and Discord counts where they render (#15400)
  src/frontend/src/components/core/appHeaderComponent/components/__tests__/langflow-counts.a11y.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/__tests__/langflow-counts.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/langflow-counts.tsx
  src/frontend/src/hooks/use-community-counts.ts
  src/frontend/src/pages/AppInitPage/__tests__/app-init-page-late-session-probe.test.tsx
  src/frontend/src/pages/AppInitPage/__tests__/app-init-page-store-query.test.tsx
  src/frontend/src/pages/AppInitPage/index.tsx
  src/frontend/src/pages/MainPage/pages/__tests__/empty-page.test.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
  src/frontend/src/stores/__tests__/darkStore.test.ts
  src/frontend/src/stores/darkStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): reject direct Node runtime options in stdio configs (#15338)
  docs/docs/Support/release-notes.mdx
  src/backend/tests/unit/test_mcp_command_injection_security.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/base/mcp/source_policy.py
  src/lfx/tests/unit/mcp/test_mcp_stdio_security.py
  src/lfx/tests/unit/mcp/test_stdio_source_policy.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(files): sanitize batch archive entry names (#15339)
  .secrets.baseline
  src/backend/base/langflow/api/v2/files.py
  src/backend/tests/unit/api/v2/test_files.py
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/fileManagerModal/components/recentFilesComponent/__tests__/recent-files-component.test.tsx
  src/frontend/src/modals/fileManagerModal/components/recentFilesComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/FilesTab.test.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(agents): show iteration limit notice after text (#15369)
  src/lfx/src/lfx/components/models_and_agents/agent_helpers/graph_event_adapter.py
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_graph_event_adapter.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_run_limit_message.py
Due: azure-pipelines.yml

fix(watsonx): validate credentials with a regional model (#15353)
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/tests/unit/base/models/test_watsonx_provider.py
Due: azure-pipelines.yml

fix(knowledge-bases): keep ingested chunks within Chunk Size when a separator is set
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/api/utils/test_kb_chunking.py
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update API Route provider logo
  src/frontend/src/icons/APIRoute/apiroute.svg
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: hide stored flow credentials from shared readers (#15343)
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/v2/workflow_validation.py
  src/backend/base/langflow/utils/flow_secrets.py
  src/backend/tests/unit/api/test_build_error_event_policy.py
  src/backend/tests/unit/api/v1/test_chat_build_flow_authz.py
  src/backend/tests/unit/api/v2/test_workflow_shared_secret_execution.py
  src/backend/tests/unit/api/v2/test_workflow_substitution_warning.py
  src/backend/tests/unit/services/authorization/test_rbac_enforcement_integration.py
  src/backend/tests/unit/utils/test_flow_secrets.py
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/__tests__/index.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/__tests__/index.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: update rendered API Route icon
  src/frontend/src/icons/APIRoute/APIRouteIcon.jsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs(i18n): add a style guide for the Korean translation
  src/frontend/src/locales/KO_STYLE_GUIDE.md
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(i18n): add a checker script for the Korean locale files
  scripts/i18n/check_ko.py
Due: azure-pipelines.yml

feat(i18n): register Korean as a supported language
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-build-tasks.test.tsx
  src/frontend/src/constants/languages.ts
  src/frontend/src/i18n.test.ts
  src/frontend/src/i18n.ts
  src/frontend/src/locales/__tests__/locale-parity.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): add Korean (ko) frontend locale
  src/frontend/src/locales/ko.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): add Korean (ko) backend locale
  src/backend/base/langflow/locales/ko.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(migrations): merge source and personal project heads
  src/backend/base/langflow/alembic/versions/b6e2d4f8a901_merge_source_versions_and_personal_projects.py
  src/backend/tests/unit/alembic/test_trigger_migrations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(i18n): cover the release-1.13.0 strings in the Korean locale
  .secrets.baseline
  src/backend/base/langflow/locales/ko.json
  src/frontend/src/components/core/parameterRenderComponent/components/connectionRefComponent/__tests__/ConnectionRefComponent.i18n.test.tsx
  src/frontend/src/locales/ko.json
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(amazon): port S3 uploader strategy and file-input fix to 1.13.0
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/backend/base/langflow/locales/en.json
  src/bundles/amazon/pyproject.toml
  src/bundles/amazon/src/lfx_amazon/components/amazon/s3_bucket_uploader.py
  src/bundles/amazon/src/lfx_amazon/extension.json
  src/bundles/amazon/tests/test_s3_bucket_uploader_strategy.py
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/tests/unit/base/data/test_base_file.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(amazon): release the 1.13.0 line as lfx-amazon 0.2.0
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/amazon/pyproject.toml
  src/bundles/amazon/src/lfx_amazon/extension.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(files): stop Read File tool cancellations logging a shielded-future error (#15317)
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/tests/unit/components/files_and_knowledge/test_file_component.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/files_and_knowledge/file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(amazon): port S3 uploader strategy and file-input fix to 1.13.0 (#15422)
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/backend/base/langflow/locales/en.json
  src/bundles/amazon/pyproject.toml
  src/bundles/amazon/src/lfx_amazon/components/amazon/s3_bucket_uploader.py
  src/bundles/amazon/src/lfx_amazon/extension.json
  src/bundles/amazon/tests/test_s3_bucket_uploader_strategy.py
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/tests/unit/base/data/test_base_file.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge-bases): default the preview separator to match ingestion
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: give TestPerformIngestionTask its own database
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: give TestPerformIngestionTask its own database (#15423)
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(i18n): translate Revoke as 권한 취소 in the Korean locale
  src/frontend/src/locales/ko.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): send MCP tool arguments under their wire names
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/schema/json_schema.py
  src/lfx/tests/unit/base/mcp/test_tool_wire_names.py
  src/lfx/tests/unit/schema/test_json_schema.py
Due: azure-pipelines.yml

feat(deployments): add atomic replacement and snapshots (LE-2717)
  src/backend/base/langflow/alembic/versions/t194_atomic_project_replacement.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/schemas/deployment_snapshot.py
  src/backend/base/langflow/api/v1/schemas/replacement_operations.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/project_replacement_operation.py
  src/backend/base/langflow/services/deployment_artifacts/__init__.py
  src/backend/base/langflow/services/deployment_artifacts/builder.py
  src/backend/tests/unit/alembic/test_atomic_project_replacement_migration.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/api/v1/test_project_deployment_snapshot.py
  src/backend/tests/unit/api/v1/test_project_replacement_operations.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact_dependencies.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: rename race components' start input to signal
  src/backend/tests/unit/api/test_build_stopped_branch_race.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: compare single-table Chat Output with safe_convert directly
  src/backend/tests/unit/components/outputs/test_chat_output_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update Research Translation Loop starter project
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): treat a lone carriage return as a table line break
  src/backend/tests/unit/helpers/test_safe_convert_table.py
  src/lfx/src/lfx/helpers/data.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(authz): cover audit filter validation over HTTP
  src/backend/tests/unit/api/v1/test_authz_audit_schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): reject unknown result and actor_type filters on the audit query
  src/backend/base/langflow/api/v1/authz_audit.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add Easypanel deployment guide
  docs/docs/Deployment/deployment-easypanel.mdx
Due: azure-pipelines.yml

Register Easypanel deployment guide in sidebar
  docs/sidebars.js
Due: azure-pipelines.yml

fix: reject a blank If-Match header
  src/backend/base/langflow/api/v1/flow_conflict.py
  src/backend/tests/unit/api/v1/test_flow_conflict.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: keep a rename from shipping the graph
  src/frontend/src/hooks/flows/__tests__/save-payload.test.ts
  src/frontend/src/hooks/flows/__tests__/use-save-flow.test.ts
  src/frontend/src/hooks/flows/save-payload.ts
  src/frontend/src/hooks/flows/use-save-flow.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: diff a restored draft against its own base
  docs/features/multi-edit-safety.md
  src/frontend/src/components/core/flowConflict/RestoreDraftBanner.tsx
  src/frontend/src/hooks/flows/__tests__/conflict-actions.test.ts
  src/frontend/src/hooks/flows/conflict-actions.ts
  src/frontend/src/utils/__tests__/conflict-draft.test.ts
  src/frontend/src/utils/conflict-draft.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: keep conflict review keyboard-safe and legible
  src/frontend/src/components/core/flowConflict/ChangeRow.tsx
  src/frontend/src/components/core/flowConflict/ConflictResolveRow.tsx
  src/frontend/src/components/core/flowConflict/DuplicateFlowModal.tsx
  src/frontend/src/components/core/flowConflict/__tests__/flowConflict.a11y.test.tsx
  src/frontend/src/components/ui/badge.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
