Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: Remove unused Union import and add type hinting for get_cache_service
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Add extra tests
  src/backend/tests/unit/api/test_api_utils.py
  src/backend/tests/unit/api/v1/test_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(monitor.py): reorder import statements to follow consistent structure and improve readability
  src/backend/base/langflow/api/v1/monitor.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: mcp server streamable http (#10955)
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Agents/mcp-client.mdx
  docs/docs/Agents/mcp-server.mdx
  docs/docs/Components/mcp-tools.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

Update deps.py
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

make docling optional in src/lfx/pyproject.toml
  src/lfx/README.md
  src/lfx/docker/Dockerfile
  src/lfx/pyproject.toml
Due: azure-pipelines.yml

add model image validation
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/tests/test_messages.py
  src/lfx/src/lfx/schema/message.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(deps.py): update type hinting for get_cache_service function to use Union for better clarity and compatibility
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add-back-webhook-env-var
  docs/docs/Develop/api-keys-and-authentication.mdx
Due: azure-pipelines.yml

fix: Support tool mode in components without inputs
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Ensure dict return for MCP component
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/tests/unit/components/models_and_agents/test_mcp_component_output.py
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update ollama.py
  src/lfx/src/lfx/components/ollama/ollama.py
Due: azure-pipelines.yml

Fix ruff errors
  src/backend/tests/unit/components/models_and_agents/test_mcp_component_output.py
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

added custom color picker
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/__tests__/color-picker-buttons.test.tsx
  src/frontend/src/CustomNodes/NoteNode/__tests__/note-node-utils.test.ts
  src/frontend/src/CustomNodes/NoteNode/components/color-picker-buttons.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/tests/core/features/note-color-picker.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove +
  src/frontend/src/CustomNodes/NoteNode/components/color-picker-buttons.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Reverted union on cache service
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Proper MCP / Oauth support
  docs/docs/Agents/mcp-server.mdx
  docs/openapi/openapi.json
  docs/openapi/openapi.yaml
  src/backend/base/langflow/api/v1/schemas.py
  src/frontend/src/modals/authModal/index.tsx
  src/frontend/src/types/mcp/index.ts
  src/lfx/src/lfx/services/mcp_composer/service.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix ruff errors
  src/backend/base/langflow/api/v1/schemas.py
  src/lfx/src/lfx/services/mcp_composer/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update service.py
  src/lfx/src/lfx/services/mcp_composer/service.py
Due: azure-pipelines.yml

fix: add condition to not make folder download fail when flow has Note component (#10953)
  src/backend/base/langflow/api/utils/core.py
  src/backend/base/langflow/services/deps.py
  src/backend/tests/unit/api/test_api_utils.py
  src/backend/tests/unit/api/v1/test_projects.py
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Ability to add custom colors for sticky notes. (#10961)
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/__tests__/color-picker-buttons.test.tsx
  src/frontend/src/CustomNodes/NoteNode/__tests__/note-node-utils.test.ts
  src/frontend/src/CustomNodes/NoteNode/components/color-picker-buttons.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/tests/core/features/note-color-picker.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update AuthModal.test.tsx
  src/frontend/src/modals/authModal/__tests__/AuthModal.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: reorder imports for clarity and maintainability
  src/backend/base/langflow/services/deps.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Enhance error handling for langchain-core version compatibility (#10768)
  src/lfx/README.md
  src/lfx/src/lfx/cli/run.py
Due: azure-pipelines.yml

fix: add IME composition event handling for Chinese input
  src/frontend/src/components/ui/input.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

building policies component (ongoing)
  src/backend/base/langflow/components/policies/policies.py
  src/lfx/src/lfx/components/policies/policies.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: sync with main, update component_index
  .pre-commit-config.yaml
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

chore: update component_index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

fix: Support tool mode in components without inputs (#10959)
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Proper MCP / Oauth support (#10965)
  docs/docs/Agents/mcp-server.mdx
  docs/openapi/openapi.json
  docs/openapi/openapi.yaml
  src/backend/base/langflow/api/v1/schemas.py
  src/frontend/src/modals/authModal/__tests__/AuthModal.test.tsx
  src/frontend/src/modals/authModal/index.tsx
  src/frontend/src/types/mcp/index.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/services/mcp_composer/service.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Clean up the image path for ollama
  src/lfx/src/lfx/schema/image.py
  src/lfx/src/lfx/schema/message.py
Due: azure-pipelines.yml
