Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat(dakera): full memory API + fix bundle build (missing README, port 3000)
  src/bundles/dakera/README.md
  src/bundles/dakera/pyproject.toml
  src/bundles/dakera/src/lfx_dakera/__init__.py
  src/bundles/dakera/src/lfx_dakera/components/dakera/dakera_memory.py
  src/bundles/dakera/src/lfx_dakera/extension.json
  src/bundles/dakera/tests/test_dakera_memory_component.py
Due: azure-pipelines.yml

feat: add MongoDB client metadata
  src/backend/tests/unit/components/vectorstores/test_mongodb_atlas.py
  src/lfx/src/lfx/components/mongodb/mongodb_atlas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: cover mTLS path and driver version in MongoDB metadata test
  src/backend/tests/unit/components/vectorstores/test_mongodb_atlas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: assert MongoDB driver metadata version
  src/backend/tests/unit/components/vectorstores/test_mongodb_atlas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: refresh starter project metadata
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Revert "chore: refresh starter project metadata"
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

i18n: translate Human Input UI chrome
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/index.tsx
  src/frontend/src/components/core/chatComponents/HumanInputCard.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/actionPickerComponent/AddButton.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/actionPickerComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/durationComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: add frontend-i18n skill and wire it into frontend-code-review
  .agents/skills/frontend-code-review/SKILL.md
  .agents/skills/frontend-i18n/SKILL.md
Due: azure-pipelines.yml

docs: add frontend-i18n agent skill and wire it into frontend-code-review (#13959)
  .agents/skills/frontend-code-review/SKILL.md
  .agents/skills/frontend-i18n/SKILL.md
Due: azure-pipelines.yml

fix(a2a): translate IDNA-invalid webhook host to ValueError
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): resolve high-severity review findings (crash-hang, cancel/checkpoint, SSRF test, resume dedup)
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/api/v1/a2a_executor.py
  src/backend/tests/unit/api/v1/test_a2a.py
  src/lfx/src/lfx/graph/checkpoint/resume.py
  src/lfx/src/lfx/run/hitl.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): flow-scope tasks/resubscribe and surface non-completed remote tasks
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/tests/unit/api/v1/test_a2a.py
  src/lfx/src/lfx/components/models_and_agents/a2a_agent.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): keep terminal task state final and make a2a_tasks prunable
  src/backend/base/langflow/alembic/versions/c4e9a1b7d2f6_add_a2a_tasks_timestamps.py
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/base/langflow/services/database/models/a2a/model.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: cascade span deletes when clearing traces for a flow
  src/backend/base/langflow/alembic/versions/e1705947c729_ensure_span_trace_id_foreign_key_has_.py
  src/backend/base/langflow/services/database/models/traces/model.py
  src/backend/tests/unit/services/database/models/traces/test_span_cascade_delete.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): classify built-in agent flows by stable component name
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/helpers/test_suggest_flow_type.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: remove stale port param from get_flow docstring
  src/backend/base/langflow/load/utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): mark a HITL-paused sync run SUSPENDED so the orphan sweep can't fail it
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add unit tests for i18n translation utility
  src/backend/tests/unit/utils/test_i18n.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): reject tasks/resubscribe outright and canonicalize the flow scope key
  src/backend/base/langflow/api/v1/a2a.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api-keys): replace native date input with shadcn date picker (#13913)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/ui/calendar.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/secretKeyModal/components/__tests__/FormKeyRender.test.tsx
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(a2a): cover tasks/get flow-scoping at the route
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lothal): BYOK end-to-end for prototype + code generation
  src/backend/base/langflow/api/v1/lothal.py
  src/backend/base/langflow/lothal/pm_client.py
  src/backend/base/langflow/lothal/prototype.py
  src/backend/tests/unit/api/v1/test_lothal.py
  src/backend/tests/unit/lothal/test_prototype.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(lothal): codegen-bridge coverage + serialize BYOK config + fix ruff (review)
  src/backend/base/langflow/api/v1/lothal.py
  src/backend/base/langflow/lothal/pm_client.py
  src/backend/base/langflow/lothal/prototype.py
  src/backend/tests/unit/api/v1/test_lothal.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): tighten the publish-agent modal's test and copy interactions
  .secrets.baseline
  src/frontend/src/locales/en.json
  src/frontend/src/modals/a2aModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(a2a): explain in the publish modal when A2A is off server-side
  .secrets.baseline
  src/backend/base/langflow/api/v1/schemas/__init__.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/locales/en.json
  src/frontend/src/modals/a2aModal/index.tsx
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add Scavio search component
  src/lfx/src/lfx/components/scavio/scavio_search.py
Due: azure-pipelines.yml

Add Scavio bundle init
  src/lfx/src/lfx/components/scavio/__init__.py
Due: azure-pipelines.yml

Add Scavio icon
  src/frontend/src/icons/Scavio/Scavio.jsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add Scavio icon wrapper
  src/frontend/src/icons/Scavio/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add Scavio component test
  src/lfx/tests/unit/components/tools/test_scavio_search.py
Due: azure-pipelines.yml

Register scavio bundle
  src/lfx/src/lfx/components/__init__.py
Due: azure-pipelines.yml

Register Scavio icon
  src/frontend/src/icons/lazyIconImports.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix max_results=0 handling
  src/lfx/src/lfx/components/scavio/scavio_search.py
Due: azure-pipelines.yml

Add isDark prop support to Scavio icon
  src/frontend/src/icons/Scavio/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(a2a): focused Agent tab for agent flows
  .secrets.baseline
  src/frontend/src/components/core/flowBuilderWelcome/flow-builder-welcome.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/controllers/API/queries/a2a/__tests__/a2a-utils.test.ts
  src/frontend/src/controllers/API/queries/a2a/use-get-a2a-card.ts
  src/frontend/src/controllers/API/queries/a2a/use-post-a2a-message.ts
  src/frontend/src/controllers/API/queries/a2a/utils.ts
  src/frontend/src/locales/en.json
  src/frontend/src/modals/a2aModal/index.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/components/AgentCardPanel.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/components/AgentTestConversation.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/types.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebar-nav-items.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
