Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(ci): keep GA checklist evidence inside the repo and tolerate bad scalars
  scripts/ci/check_ga_checklist.py
  scripts/ci/test_ga_checklist.py
Due: azure-pipelines.yml

fix(frontend): count only t() calls toward the i18n dynamic total
  src/frontend/scripts/check-i18n.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs(integrations): re-pin the GA record to the post-merge tree
  design/dedicated-integrations/ga-checklist.json
  design/dedicated-integrations/security-review.md
  docs/docs/Develop/connection-oauth.mdx
Due: azure-pipelines.yml

fix(flows): own a flow by its project when created in a foreign project (#15170)
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/tests/unit/services/authorization/test_rbac_enforcement_integration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): classify the OAuth registrations listing in the authz matrix
  scripts/ci/authz_endpoint_matrix.json
Due: azure-pipelines.yml

test(a11y): assert the a11y route manifest covers every route in routes.tsx
  design/dedicated-integrations/ga-checklist.json
  scripts/a11y/a11y_routes.json
  scripts/a11y/a11y_scan_routes.md
  src/frontend/src/__tests__/a11y-route-manifest.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(ci): cover the i18n gate itself and the mutating rate-limit routes
  .github/workflows/jest_test.yml
  scripts/ci/check_ga_checklist.py
  scripts/ci/test_ga_checklist.py
  src/backend/base/langflow/api/v1/connections.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
  src/backend/tests/unit/api/v1/test_flow_connection_ref_import.py
  src/backend/tests/unit/api/v1/test_integration_schema_stability.py
  src/backend/tests/unit/services/connection/test_refresh_skew.py
  src/frontend/package.json
  src/frontend/scripts/check-i18n.mjs
  src/frontend/scripts/check-i18n.test.mjs
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): drop the duplicated OAuth registrations row from the authz matrix
  scripts/ci/authz_endpoint_matrix.json
Due: azure-pipelines.yml

docs(integrations): cite the i18n checker's own tests in the GA checklist
  design/dedicated-integrations/ga-checklist.json
Due: azure-pipelines.yml

test(a11y): assert the a11y route manifest covers every route in routes.tsx (#15173)
  .github/workflows/jest_test.yml
  .secrets.baseline
  design/dedicated-integrations/README.md
  design/dedicated-integrations/ga-checklist.json
  design/dedicated-integrations/security-review.md
  docs/docs/Components/bundles-google.mdx
  docs/docs/Develop/connection-oauth.mdx
  docs/docs/Develop/entra-app-registration.mdx
  scripts/a11y/a11y_routes.json
  scripts/a11y/a11y_scan_routes.md
  scripts/ci/authz_endpoint_matrix.json
  scripts/ci/check_ga_checklist.py
  scripts/ci/test_ga_checklist.py
  src/backend/base/langflow/api/v1/connections.py
  src/backend/base/langflow/api/v1/integrations.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
  src/backend/tests/unit/api/v1/test_flow_connection_ref_import.py
  src/backend/tests/unit/api/v1/test_integration_schema_stability.py
  src/backend/tests/unit/services/connection/test_refresh_skew.py
  src/frontend/package.json
  src/frontend/scripts/check-i18n.mjs
  src/frontend/src/__tests__/a11y-route-manifest.test.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(integrations): GA validation for dedicated integrations (INT-14 / LE-2472) (#15167)
  .github/workflows/jest_test.yml
  design/dedicated-integrations/ga-checklist.json
  scripts/ci/check_ga_checklist.py
  scripts/ci/test_ga_checklist.py
  src/backend/base/langflow/api/v1/connections.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
  src/backend/tests/unit/api/v1/test_flow_connection_ref_import.py
  src/backend/tests/unit/api/v1/test_integration_schema_stability.py
  src/backend/tests/unit/services/connection/test_refresh_skew.py
  src/frontend/package.json
  src/frontend/scripts/check-i18n.mjs
  src/frontend/scripts/check-i18n.test.mjs
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): mount a tab panel per trigger on the Connections page
  design/dedicated-integrations/ga-checklist.json
  scripts/a11y/a11y_routes.json
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: watch every GA checklist evidence path in ci-scripts-test.yml
  .github/workflows/ci-scripts-test.yml
  scripts/ci/test_capability_matrices.py
  scripts/ci/test_execution_principal_matrix.py
  scripts/ci/test_ga_checklist.py
Due: azure-pipelines.yml

fix(ci): harden the GA checker and the connections route guard
  docs/docs/Develop/connection-oauth.mdx
  scripts/ci/check_ga_checklist.py
  scripts/ci/test_ga_checklist.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(integrations): give connection metadata reads their own rate-limit bucket
  design/dedicated-integrations/ga-checklist.json
  design/dedicated-integrations/security-review.md
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/api/v1/connections.py
  src/backend/base/langflow/api/v1/integrations.py
  src/backend/base/langflow/services/rate_limit/__init__.py
  src/backend/base/langflow/services/rate_limit/service.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(integrations): give connection metadata reads their own rate-limit bucket (INT-14-04) (#15174)
  design/dedicated-integrations/ga-checklist.json
  design/dedicated-integrations/security-review.md
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/api/v1/connections.py
  src/backend/base/langflow/api/v1/integrations.py
  src/backend/base/langflow/services/rate_limit/__init__.py
  src/backend/base/langflow/services/rate_limit/service.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: watch the api-keys docs page cited by the rate-limit GA item
  .github/workflows/ci-scripts-test.yml
Due: azure-pipelines.yml

fix(frontend): mount a tab panel per trigger on the Connections page (#15176)
  design/dedicated-integrations/ga-checklist.json
  scripts/a11y/a11y_routes.json
  src/frontend/src/pages/SettingsPage/pages/ConnectionsPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: watch every GA checklist evidence path in ci-scripts-test.yml (#15172)
  .github/workflows/ci-scripts-test.yml
  docs/docs/Develop/connection-oauth.mdx
  scripts/ci/check_ga_checklist.py
  scripts/ci/test_capability_matrices.py
  scripts/ci/test_execution_principal_matrix.py
  scripts/ci/test_ga_checklist.py
  src/backend/tests/unit/api/v1/test_connections_rate_limit.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): address scoped second-pass review findings
  src/backend/base/langflow/services/authorization/casbin/compiler.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/authorization/invalidation.py
  src/backend/tests/unit/api/v1/test_authz_admin_routes.py
  src/backend/tests/unit/services/authorization/casbin_spec/test_compiler.py
  src/backend/tests/unit/services/authorization/casbin_spec/test_store.py
  src/backend/tests/unit/services/authorization/test_guards.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(background): drain heartbeat writes before runner shutdown
  src/backend/base/langflow/services/background_execution/runner.py
  src/backend/tests/unit/background_execution/test_heartbeat_shutdown.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(triggers): trigger entity, event ledger, and the triggers API
  scripts/ci/authz_endpoint_matrix.json
  src/backend/base/langflow/alembic/versions/b7c4e1a9d3f2_add_trigger_tables.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/triggers.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/trigger/__init__.py
  src/backend/base/langflow/services/database/models/trigger/model.py
  src/backend/base/langflow/services/database/models/trigger/schemas.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/triggers/__init__.py
  src/backend/base/langflow/services/triggers/constants.py
  src/backend/base/langflow/services/triggers/errors.py
  src/backend/base/langflow/services/triggers/factory.py
  src/backend/base/langflow/services/triggers/ledger.py
  src/backend/base/langflow/services/triggers/service.py
  src/backend/tests/unit/alembic/test_trigger_migrations.py
  src/backend/tests/unit/api/v1/test_triggers.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): own trigger rows by the flow owner and drop the dead heartbeat knob
  src/backend/base/langflow/alembic/versions/b7c4e1a9d3f2_add_trigger_tables.py
  src/backend/base/langflow/api/v1/triggers.py
  src/backend/base/langflow/services/triggers/constants.py
  src/backend/tests/unit/api/v1/test_triggers.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): reconcile release migration heads and constraint names
  src/backend/base/langflow/alembic/versions/b7c4e1a9d3f2_add_trigger_tables.py
  src/backend/base/langflow/alembic/versions/e6f9a2b4c8d1_merge_trigger_and_release_heads.py
  src/backend/base/langflow/services/database/models/trigger/model.py
  src/backend/tests/unit/alembic/test_trigger_migrations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): preserve pins and transactional lifecycle
  src/backend/base/langflow/alembic/versions/b7c4e1a9d3f2_add_trigger_tables.py
  src/backend/base/langflow/api/utils/flow_utils.py
  src/backend/base/langflow/api/v1/flow_version.py
  src/backend/base/langflow/api/v1/triggers.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/services/database/models/flow_version/crud.py
  src/backend/base/langflow/services/database/models/flow_version/exceptions.py
  src/backend/base/langflow/services/database/models/trigger/model.py
  src/backend/base/langflow/services/database/models/trigger/schemas.py
  src/backend/base/langflow/services/triggers/cleanup.py
  src/backend/base/langflow/services/triggers/ledger.py
  src/backend/base/langflow/services/triggers/service.py
  src/backend/tests/unit/alembic/test_trigger_migrations.py
  src/backend/tests/unit/api/v1/test_trigger_validation.py
  src/backend/tests/unit/services/triggers/test_ledger.py
  src/backend/tests/unit/services/triggers/test_lifecycle.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): reject pins without snapshot data
  src/backend/base/langflow/api/v1/triggers.py
  src/backend/base/langflow/services/triggers/service.py
  src/backend/tests/unit/api/v1/test_trigger_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(migrations): merge trigger and integration governance heads
  src/backend/base/langflow/alembic/versions/c5a8e2f7d9b1_merge_trigger_and_integration_heads.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): address lifecycle and replay review findings
  src/backend/base/langflow/api/v1/triggers.py
  src/backend/base/langflow/services/triggers/ledger.py
  src/backend/base/langflow/services/triggers/service.py
  src/backend/tests/unit/api/v1/test_triggers.py
  src/backend/tests/unit/services/triggers/__init__.py
  src/backend/tests/unit/services/triggers/test_ledger.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(migrations): repoint the trigger merge at the current release head
  src/backend/base/langflow/alembic/versions/e6f9a2b4c8d1_merge_trigger_and_release_heads.py
  src/backend/tests/unit/alembic/test_trigger_migrations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): recover durable jobs and enforce dispatcher isolation
  scripts/ci/execution_principal_matrix.json
  src/backend/base/langflow/api/utils/execution_principal.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/triggers/binding.py
  src/backend/base/langflow/services/triggers/constants.py
  src/backend/base/langflow/services/triggers/dispatcher.py
  src/backend/base/langflow/services/triggers/principal.py
  src/backend/tests/unit/services/triggers/conftest.py
  src/backend/tests/unit/services/triggers/test_background_principal.py
  src/backend/tests/unit/services/triggers/test_binding_and_correlation.py
  src/backend/tests/unit/services/triggers/test_dispatcher_dispatch.py
  src/backend/tests/unit/services/triggers/test_dispatcher_postgres.py
  src/backend/tests/unit/services/triggers/test_dispatcher_recovery.py
  src/backend/tests/unit/services/triggers/test_memory_isolation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(triggers): leased dispatcher, retries, dead-lettering, and the executing identity
  .github/workflows/ci-scripts-test.yml
  .secrets.baseline
  scripts/ci/check_execution_principal_matrix.py
  scripts/ci/execution_principal_matrix.json
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/triggers/binding.py
  src/backend/base/langflow/services/triggers/correlation.py
  src/backend/base/langflow/services/triggers/dispatcher.py
  src/backend/base/langflow/services/triggers/leases.py
  src/backend/base/langflow/services/triggers/principal.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/services/triggers/conftest.py
  src/backend/tests/unit/services/triggers/test_binding_and_correlation.py
  src/backend/tests/unit/services/triggers/test_dispatcher_dispatch.py
  src/backend/tests/unit/services/triggers/test_dispatcher_lease.py
  src/backend/tests/unit/services/triggers/test_dispatcher_lifecycle.py
  src/backend/tests/unit/services/triggers/test_dispatcher_two_replicas.py
  src/backend/tests/unit/services/triggers/test_execution_identity.py
  src/backend/tests/unit/services/triggers/test_ledger_dedupe.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): make the dispatch request runnable and the concurrency cap fair
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/triggers/dispatcher.py
  src/backend/base/langflow/services/triggers/principal.py
  src/backend/tests/unit/services/triggers/conftest.py
  src/backend/tests/unit/services/triggers/test_dispatcher_dispatch.py
  src/backend/tests/unit/services/triggers/test_dispatcher_fairness.py
  src/backend/tests/unit/services/triggers/test_dispatcher_lifecycle.py
  src/backend/tests/unit/services/triggers/test_dispatcher_two_replicas.py
  src/backend/tests/unit/services/triggers/test_execution_identity.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(triggers): base trigger component, the schedule trigger, and flow-save reconciliation
  .secrets.baseline
  scripts/ci/frozen_component_dirs.txt
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/services/triggers/dispatcher.py
  src/backend/base/langflow/services/triggers/reconciliation.py
  src/backend/base/langflow/services/triggers/scheduler.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/api/v1/test_trigger_reconciliation_on_save.py
  src/backend/tests/unit/services/triggers/test_reconciliation.py
  src/backend/tests/unit/services/triggers/test_scheduler.py
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/triggers/__init__.py
  src/lfx/src/lfx/base/triggers/base.py
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/triggers/__init__.py
  src/lfx/src/lfx/components/triggers/schedule_trigger.py
  src/lfx/tests/unit/components/triggers/__init__.py
  src/lfx/tests/unit/components/triggers/test_schedule_trigger.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(triggers): validate schedules and preserve due ticks
  src/backend/base/langflow/services/triggers/reconciliation.py
  src/backend/base/langflow/services/triggers/schedule_config.py
  src/backend/base/langflow/services/triggers/scheduler.py
  src/backend/base/langflow/services/triggers/service.py
  src/backend/tests/unit/api/v1/test_trigger_reconciliation_on_save.py
  src/backend/tests/unit/api/v1/test_trigger_schedule_validation.py
  src/backend/tests/unit/api/v1/test_triggers.py
  src/backend/tests/unit/services/triggers/test_reconciliation.py
  src/backend/tests/unit/services/triggers/test_schedule_regressions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(triggers): deliver the firing event to the flow and stop a save dying on bookkeeping
  src/backend/base/langflow/services/triggers/reconciliation.py
  src/backend/base/langflow/services/triggers/scheduler.py
  src/backend/tests/unit/services/triggers/test_event_delivery.py
  src/backend/tests/unit/services/triggers/test_reconciliation.py
  src/backend/tests/unit/services/triggers/test_scheduler.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/triggers/__init__.py
  src/lfx/src/lfx/base/triggers/base.py
  src/lfx/tests/unit/components/triggers/test_schedule_trigger.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: raise the lfx-bundles floor to 1.1.27 in langflow deps
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
