Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat(memory): default session filter to All Sessions and add it as a selectable dropdown option (#13350)
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryDetailsHeader.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/__tests__/MemoryDetailsHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/hooks/__tests__/useMemoriesData.test.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/hooks/__tests__/useMemorySessionResolver.test.ts
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/hooks/useMemorySessionResolver.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): address all PR review blockers for DB migration validation workflow
  .github/workflows/db-migration-validation.yml
  .secrets.baseline
Due: azure-pipelines.yml

improve trace search functionality
  src/frontend/src/pages/FlowPage/components/TraceComponent/FlowInsightsContent.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Bug fixes for events toasts inconsistency, keyspace argument silent failure, API_KEY expiry timestamp being timezone unaware.
  .secrets.baseline
  BUNDLE_API.md
  src/backend/base/langflow/alembic/versions/c35e9db03a66_make_api_key_expires_at_timezone_aware.py
  src/backend/base/langflow/api/v1/extensions.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/tests/unit/api/v1/test_extension_events_endpoint.py
  src/frontend/src/hooks/extensions/__tests__/use-extension-events.test.ts
  src/frontend/src/hooks/extensions/typed-error-formatting.ts
  src/frontend/src/hooks/extensions/use-extension-events.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/bundleHeaderActions.tsx
  src/frontend/tests/extended/features/outdated-actions.spec.ts
  src/frontend/tests/extended/features/outdated-message.spec.ts
  src/frontend/tests/utils/select-gpt-model.ts
  src/lfx/src/lfx/extension/errors.py
  src/lfx/tests/unit/extension/test_errors.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): remove duplicate db-migration-validation job after merge
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

last improvements
  src/backend/base/langflow/agentic/flows/LangflowAssistant.json
  src/backend/base/langflow/agentic/flows/flow_builder_assistant.py
  src/backend/base/langflow/agentic/flows/translation_flow.py
  src/backend/base/langflow/agentic/services/assistant_service.py
  src/backend/base/langflow/agentic/services/flow_preparation.py
  src/backend/base/langflow/agentic/services/flow_run.py
  src/backend/base/langflow/agentic/services/flow_run_error_classification.py
  src/backend/tests/unit/agentic/services/test_flow_preparation.py
  src/backend/tests/unit/agentic/services/test_flow_run_error_classification.py
  src/frontend/src/components/core/assistantPanel/helpers/apply-flow-update.ts
  src/frontend/src/controllers/API/queries/agentic/types.ts
  src/lfx/src/lfx/mcp/flow_builder_tools/__init__.py
  src/lfx/src/lfx/mcp/flow_builder_tools/_state.py
  src/lfx/src/lfx/mcp/flow_builder_tools/edit_tools.py
  src/lfx/src/lfx/mcp/flow_builder_tools/mutate_tools.py
  src/lfx/src/lfx/mcp/flow_builder_tools/run_tools.py
  src/lfx/tests/unit/test_flow_builder_tools.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ruff style fix
  src/lfx/tests/unit/test_flow_builder_tools.py
Due: azure-pipelines.yml

fix(authz): resolve ruff lint failures on route-pattern branch
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/services/authorization/decorators.py
  src/backend/tests/unit/services/authorization/test_decorators.py
  src/backend/tests/unit/services/authorization/test_flow_route_guards.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: couple small nits
  src/backend/base/langflow/api/v1/authz_route_dependencies.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/services/authorization/decorators.py
  src/backend/tests/unit/services/authorization/test_decorators.py
  src/backend/tests/unit/services/authorization/test_flow_route_guards.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(authz): add RequireFlowCreate dependency for POST /flows/
  src/backend/base/langflow/api/v1/authz_route_dependencies.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/tests/unit/services/authorization/test_flow_route_guards.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(authz): add DI dependencies and permission decorators
  src/backend/base/langflow/api/v1/authz_route_dependencies.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/decorators.py
  src/backend/tests/unit/services/authorization/test_decorators.py
  src/backend/tests/unit/services/authorization/test_flow_route_guards.py
  src/backend/tests/unit/services/authorization/test_route_guard_regressions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(traces): full-height trace panel, and status badge position
  src/frontend/src/pages/FlowPage/components/TraceComponent/FlowInsightsContent.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanDetail.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove duplicate key
  src/frontend/src/locales/en.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): include default_fields in witness variable payloads
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

docs: redis queue
  docs/docs/Deployment/deployment-multi-worker.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

fix user test agentic
  src/backend/tests/unit/agentic/services/test_user_components_registry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix-links-and-combine-env-vars-table
  docs/docs/Deployment/deployment-multi-worker.mdx
  docs/docs/Develop/environment-variables.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

fix(deploy): polish deploy modal i18n
  .secrets.baseline
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-choice-dialog/review-phase.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-connection-panel.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): extract and translate FileComponent description
  scripts/gp/extract_backend_strings.py
  src/backend/base/langflow/locales/de.json
  src/backend/base/langflow/locales/en.json
  src/backend/base/langflow/locales/es.json
  src/backend/base/langflow/locales/fr.json
  src/backend/base/langflow/locales/ja.json
  src/backend/base/langflow/locales/pt.json
  src/backend/base/langflow/locales/zh-Hans.json
  src/lfx/src/lfx/components/files_and_knowledge/file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: cleanup
  docs/docs/Deployment/deployment-multi-worker.mdx
  docs/docs/Develop/environment-variables.mdx
Due: azure-pipelines.yml

docs: update database tables (#13254)
  docs/docs/Develop/memory.mdx
Due: azure-pipelines.yml

fix(i18n): translate NoteNode context menu and fix missing vector store RAG note translations
  src/backend/base/langflow/locales/de.json
  src/backend/base/langflow/locales/es.json
  src/backend/base/langflow/locales/fr.json
  src/backend/base/langflow/locales/ja.json
  src/backend/base/langflow/locales/pt.json
  src/backend/base/langflow/locales/zh-Hans.json
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/components/select-items.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): translate Delete label in edge context menu
  src/frontend/src/CustomEdges/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): enforce no_env_fallback across all credential resolution paths
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/cli/runtime_variables.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/services/variable/request_scope.py
  src/lfx/src/lfx/services/variable/service.py
  src/lfx/src/lfx/utils/async_helpers.py
  src/lfx/tests/unit/base/models/test_credentials.py
  src/lfx/tests/unit/cli/test_runtime_variables.py
  src/lfx/tests/unit/services/test_request_scope_isolation.py
  src/lfx/tests/unit/utils/test_async_helpers.py
Due: azure-pipelines.yml

fix(i18n): translate Version History Export/Delete menu and preview overlay strings
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/PageComponent/components/VersionPreviewOverlay.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowVersionSidebar/components/VersionListItem.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): translate hardcoded strings in Update Components modal
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/updateComponentModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

peer-review
  docs/docs/Deployment/deployment-multi-worker.mdx
Due: azure-pipelines.yml

feat(memory): add inline docs link to preprocessing instructions tooltip (#13352)
  src/frontend/src/modals/createMemoryModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): handle compressed API responses in witness verification
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

QA fixes round 7
  src/backend/base/langflow/agentic/flows/model_config.py
  src/backend/base/langflow/agentic/services/assistant_service.py
  src/backend/base/langflow/agentic/services/component_events.py
  src/backend/base/langflow/agentic/services/user_components_overlay.py
  src/backend/tests/unit/agentic/flows/test_agentic_model_config.py
  src/backend/tests/unit/agentic/services/test_assistant_service_component_failure.py
  src/backend/tests/unit/agentic/services/test_generate_component_failure_signal.py
  src/backend/tests/unit/agentic/services/test_user_components_overlay.py
  src/lfx/src/lfx/base/models/unified_models/class_registry.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/graph/flow_builder/component.py
  src/lfx/src/lfx/mcp/flow_builder_tools/run_tools.py
  src/lfx/tests/unit/base/models/test_credentials_env_resolution.py
  src/lfx/tests/unit/test_flow_builder_custom_node_type.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(conditional-router): route Text Input when Case True/False are blank
  src/backend/tests/unit/components/flow_controls/test_conditional_router.py
  src/lfx/src/lfx/components/flow_controls/conditional_router.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(conditional-router): use Message(text=) for empty stopped-branch output
  src/backend/tests/unit/components/flow_controls/test_conditional_router.py
  src/lfx/src/lfx/components/flow_controls/conditional_router.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Add defense in depth user_id filter to handle list tools MCP handler (#13373)
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(i18n): translate assistant panel hardcoded strings
  src/frontend/src/components/core/assistantPanel/assistant-panel.constants.ts
  src/frontend/src/components/core/assistantPanel/components/model-selector.tsx
  src/frontend/src/components/core/assistantPanel/helpers/messages.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
