Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix output testcases
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/__tests__/outputComponent.a11y.test.tsx
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(auth): contain staged JIT state on any exceptional auth exit
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/services/auth/test_auth_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Production profile pre-flight checks for infra services.
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/cli/preflight.py
  src/backend/base/langflow/cli/progress.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/langflow/services/storage/service.py
  src/backend/tests/unit/test_cli_preflight.py
  src/lfx/src/lfx/services/settings/groups/server.py
  src/lfx/src/lfx/services/storage/service.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tests): click Save in the provider modal before waiting for the key-saved toast
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/frontend/tests/utils/select-anthropic-model.ts
  src/frontend/tests/utils/select-assistant-openai-model.ts
  src/frontend/tests/utils/select-gpt-model.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): require exactly one synthesized tool output
  src/frontend/src/CustomNodes/helpers/__tests__/check-code-validity.test.ts
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/upgrade/test_checker.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx/upgrade): stop reporting tool-mode nodes as breaking
  src/frontend/src/CustomNodes/helpers/__tests__/check-code-validity.test.ts
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/upgrade/test_checker.py
  src/lfx/tests/unit/upgrade/test_upgrade_real_flows.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): click Save in the provider modal before waiting for the key-saved toast (shard-65) (#14480)
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/frontend/tests/utils/select-anthropic-model.ts
  src/frontend/tests/utils/select-assistant-openai-model.ts
  src/frontend/tests/utils/select-gpt-model.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(auth): add nested group-claim seam for LE-2102, LE-2103, and LE-2109 (#14410)
  src/backend/base/langflow/services/auth/service.py
  src/backend/tests/unit/api/v1/test_mcp_client_server.py
  src/backend/tests/unit/services/auth/test_auth_service.py
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/mcp/server.py
  src/lfx/src/lfx/services/authorization/__init__.py
  src/lfx/src/lfx/services/authorization/base.py
  src/lfx/tests/unit/services/authorization/test_default_authorization_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): stop reporting tool-mode nodes as breaking (#14481)
  src/frontend/src/CustomNodes/helpers/__tests__/check-code-validity.test.ts
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/upgrade/test_checker.py
  src/lfx/tests/unit/upgrade/test_upgrade_real_flows.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): compare template keys directionally in the upgrade checker
  src/frontend/src/CustomNodes/helpers/__tests__/check-code-validity.test.ts
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/lfx/src/lfx/upgrade/applier.py
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/upgrade/test_applier.py
  src/lfx/tests/unit/upgrade/test_checker.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): compare template keys directionally in the upgrade checker (#14482)
  src/frontend/src/CustomNodes/helpers/__tests__/check-code-validity.test.ts
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/lfx/src/lfx/upgrade/applier.py
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/upgrade/test_applier.py
  src/lfx/tests/unit/upgrade/test_checker.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): require exact MCP server name match
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): require exact MCP server name match (#14484)
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): compare template keys directionally in the upgrade checker (1.12.0 port) (#14483)
  src/frontend/src/CustomNodes/helpers/__tests__/check-code-validity.test.ts
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/lfx/src/lfx/upgrade/applier.py
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/upgrade/test_applier.py
  src/lfx/tests/unit/upgrade/test_checker.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): require exact MCP server name match in remaining locators
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): handle the Setup Provider state in the right-click-dropdown spec
  src/frontend/tests/core/features/right-click-dropdown.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(storage): extend remote-storage routing to GCS and Azure backends
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/base/data/storage_utils.py
  src/lfx/src/lfx/base/data/utils.py
  src/lfx/src/lfx/components/files_and_knowledge/file.py
  src/lfx/src/lfx/components/langchain_utilities/csv_agent.py
  src/lfx/src/lfx/components/langchain_utilities/json_agent.py
  src/lfx/tests/unit/base/data/test_storage_utils.py
Due: azure-pipelines.yml

fix(storage): address code review feedback on GCS/Azure backends
  docs/docs/Develop/concepts-file-management.mdx
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/services/storage/azure_blob.py
  src/backend/base/langflow/services/storage/gcs.py
  src/backend/tests/integration/storage/test_azure_storage_service.py
  src/backend/tests/integration/storage/test_gcs_storage_service.py
  src/backend/tests/unit/components/files_and_knowledge/test_file_component.py
  src/backend/tests/unit/services/storage/test_azure_storage_service.py
  src/backend/tests/unit/services/storage/test_gcs_storage_service.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/base/data/utils.py
  src/lfx/src/lfx/components/files_and_knowledge/file.py
  src/lfx/src/lfx/components/langchain_utilities/csv_agent.py
  src/lfx/src/lfx/components/langchain_utilities/json_agent.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: extract useGlobalVariableUpsert and adopt it in global variable modal and settings page (#14273)
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/GlobalVariableModal/__tests__/GlobalVariableModal.test.tsx
  src/frontend/src/controllers/API/queries/variables/__tests__/use-global-variable-upsert.test.ts
  src/frontend/src/controllers/API/queries/variables/index.ts
  src/frontend/src/controllers/API/queries/variables/use-global-variable-upsert.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: unify prompt modals into a strategy driven PromptEditorModal (#14235)
  src/frontend/src/modals/__tests__/prompt-modal-parity.test.tsx
  src/frontend/src/modals/mustachePromptModal/__tests__/mustachePromptModal.test.tsx
  src/frontend/src/modals/mustachePromptModal/index.tsx
  src/frontend/src/modals/promptEditorModal/index.tsx
  src/frontend/src/modals/promptEditorModal/strategies.ts
  src/frontend/src/modals/promptEditorModal/types.ts
  src/frontend/src/modals/promptModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): decompose oversized modelInput, nodeToolbar and flowSidebar into hooks and presentational components (#14329)
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelDropdownFooter.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelInputStates.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/helpers/__tests__/build-grouped-options.test.ts
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/helpers/build-grouped-options.ts
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/helpers/derive-selected-model.ts
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/hooks/useAutoSelectModel.ts
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/hooks/useRefreshAfterProviderClose.ts
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/context/SearchContext.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/hooks/useDebouncedSearch.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/hooks/useSegmentedSidebarPanel.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/hooks/useSidebarFilters.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/hooks/useSidebarHotkeys.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/hooks/useSidebarSearch.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/components/ToolbarButtonRow.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/components/ToolbarMoreMenu.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/helpers/__tests__/build-toolbar-action-map.test.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/helpers/build-toolbar-action-map.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/hooks/use-toolbar-node-state.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: unify the stepper machinery behind a shared provider and rebuild the deployment stepper on it (#14284)
  src/frontend/src/modals/stepperModal/StepperModal.tsx
  src/frontend/src/modals/stepperModal/StepperProvider.tsx
  src/frontend/src/modals/stepperModal/hooks/__tests__/useStepperState.test.tsx
  src/frontend/src/modals/stepperModal/hooks/useStepperState.ts
  src/frontend/src/modals/stepperModal/index.ts
  src/frontend/src/modals/stepperModal/types.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/create-mode.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/contexts/deployment-stepper-context.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): handle the Setup Provider state in the right-click-dropdown spec (#14486)
  src/frontend/tests/core/features/right-click-dropdown.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): require exact MCP server name match in remaining locators (#14485)
  src/frontend/tests/extended/features/mcp-server.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add deterministic project deployment artifacts (#14437)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/utils/__init__.py
  src/backend/base/langflow/api/utils/core.py
  src/backend/base/langflow/services/deployment_artifacts/__init__.py
  src/backend/base/langflow/services/deployment_artifacts/builder.py
  src/backend/base/langflow/utils/flow_secrets.py
  src/backend/tests/unit/agentic/mcp/test_run_assistant_tool.py
  src/backend/tests/unit/services/deployment_artifacts/__init__.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact.py
  src/backend/tests/unit/test_cli_command_plugins.py
  src/backend/tests/unit/utils/test_flow_secrets.py
  src/lfx/src/lfx/cli/command_plugins.py
  src/lfx/tests/unit/cli/test_command_plugins.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(prompts): cover the invalid-variable highlight in the shared strategies
  src/frontend/src/modals/promptEditorModal/__tests__/strategies.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(a11y): add axe coverage for CustomEdges, HandleRenderComponent, and NodeInputField
  src/frontend/src/CustomEdges/__tests__/customEdges.a11y.test.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/__tests__/nodeInputField.a11y.test.tsx
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/__tests__/handleRenderComponent.a11y.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: mend scans should now scan all codebase deps
  .github/workflows/mend.yml
  .gitignore
  wss-generated.config
Due: azure-pipelines.yml

fix(components): bound Web Search payload size
  docs/docs/Components/web-search.mdx
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Deep Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/tests/unit/components/data_source/test_web_search.py
  src/lfx/src/lfx/components/data_source/web_search.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: dep upgrades
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(a11y): add accessible field labels to Tools, InputFile, and MCP components
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/__tests__/toolsComponent.a11y.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/__tests__/inputFileComponent.a11y.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/mcpComponent/__tests__/mcpComponent.a11y.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/mcpComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: complete Mend dependency coverage
  .github/workflows/mend.yml
  .gitignore
  wss-generated.config
Due: azure-pipelines.yml

fix: fail closed on incomplete Mend scans
  .github/workflows/mend.yml
  .gitignore
  wss-generated.config
Due: azure-pipelines.yml

chore: update GitPython and h2
  pyproject.toml
  src/backend/base/pyproject.toml
  src/bundles/lfx-bundles/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: align the deploy choice phase machine with the shared stepper primitive (#14296)
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-choice-dialog/use-deploy-choice-dialog-state.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: reject prompt variables in the reserved underscore namespace (#14450)
  src/backend/tests/unit/components/prompts/test_validate_prompt_mustache.py
  src/backend/tests/unit/components/prompts/test_validate_prompt_reserved_prefix.py
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/helpers/__tests__/prompt-highlight.test.ts
  src/frontend/src/components/core/parameterRenderComponent/components/accordionPromptComponent/helpers/prompt-highlight.ts
  src/frontend/src/components/core/parameterRenderComponent/components/mustachePromptComponent/__tests__/mustachePromptComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/mustachePromptComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/promptComponent/__tests__/promptComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/promptComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/promptEditorModal/__tests__/strategies.test.ts
  src/frontend/src/modals/promptEditorModal/index.tsx
  src/frontend/src/modals/promptEditorModal/strategies.ts
  src/frontend/src/modals/promptEditorModal/types.ts
  src/frontend/src/modals/promptModal/utils/__tests__/var-highlight-html.test.ts
  src/frontend/src/modals/promptModal/utils/var-highlight-html.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/__tests__/promptVariables.test.ts
  src/frontend/src/utils/promptVariables.ts
  src/lfx/src/lfx/base/prompts/api_utils.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(a11y): scan-first accessibility report and make test_frontend_a11y_suite (#14479)
  Makefile.frontend
  src/frontend/tests/utils/build-a11y-html-report.mjs
  src/frontend/tests/utils/build-a11y-job-summary.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(components): enforce Web Search payload limits
  docs/docs/Components/web-search.mdx
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Deep Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/locales/en.json
  src/backend/tests/unit/components/data_source/test_web_search.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/data_source/web_search.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
