Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

feat(02-05): convert _read_component_index to async with asyncio.to_thread (IDX-03)
  src/lfx/src/lfx/interface/components.py
Due: azure-pipelines.yml

test(02-05): adapt tests to async _read_component_index + add TestIDX03ReadPath
  src/lfx/tests/unit/test_component_index.py
Due: azure-pipelines.yml

docs(02-05): complete IDX-03 async _read_component_index plan
  .planning/phases/02-component-index-and-correctness-fixes/02-05-SUMMARY.md
Due: azure-pipelines.yml

fix(tests): Skip assistant-panel e2e test when OPENAI_API_KEY is missing (#12747)
  src/frontend/tests/core/integrations/assistant-panel.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(02-06): add read-time stale-index warning (IDX-07)
  src/lfx/src/lfx/interface/components.py
Due: azure-pipelines.yml

fix(02-06): move IDX-07 peek outside cache lock; isolate threading test from user disk
  src/lfx/src/lfx/interface/components.py
  src/lfx/tests/unit/test_component_index.py
Due: azure-pipelines.yml

test(02-06): add TestIDX07StaleIndexWarning for IDX-07 read-time warning
  src/lfx/tests/unit/test_component_index.py
Due: azure-pipelines.yml

docs(02-06): complete IDX-07 read-time stale-index warning plan
  .planning/phases/02-component-index-and-correctness-fixes/02-06-SUMMARY.md
Due: azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(01-06): add run-benchmark-snapshot label trigger for authoritative baseline
  .github/workflows/cold-start-benchmark.yml
Due: azure-pipelines.yml

feat(01-06): populate thresholds.json with authoritative Linux CI baseline
  src/backend/tests/benchmarks/thresholds.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

less verbose name for scope
  src/backend/base/langflow/services/adapters/deployment/context.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/client.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Propagate the api key in PATCH
  src/backend/base/langflow/api/v1/auth_helpers.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/projects_mcp_helpers.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(01-06): split cold-start-benchmark workflow into matrix jobs per scenario
  .github/workflows/cold-start-benchmark.yml
Due: azure-pipelines.yml

fix: prevent space key from being swallowed in playground chat input
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

harden delete_unbound_attachments by passing provider account id to it to scope deletion
  src/backend/base/langflow/api/v1/mappers/deployments/helpers.py
  src/backend/base/langflow/api/v1/mappers/deployments/sync.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/crud.py
  src/backend/tests/unit/api/v1/test_deployment_sync.py
  src/backend/tests/unit/services/test_flow_version_deployment_attachment_crud.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: MCP Auth Error on restart / swapping auth (#12715)
  .secrets.baseline
  src/backend/base/langflow/api/v1/auth_helpers.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/projects_mcp_helpers.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(01-06): share docker image build across matrix jobs
  .github/workflows/cold-start-benchmark.yml
Due: azure-pipelines.yml

fix(i18n): update Korean translations for playground and statusInactive
  src/frontend/src/locales/ko.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(01-06): promote langflow_run_http_ready non-blocking to job level
  .github/workflows/cold-start-benchmark.yml
Due: azure-pipelines.yml

feat(i18n): translate project delete notification, MCP install notification, and McpJsonContent
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/MainPage/pages/homePage/hooks/useMcpServer.ts
  src/frontend/src/pages/MainPage/pages/main-page.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): filter duplicate draft/live connections in deploy modal (#12724)
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: filter out live connections from wxo adapter (#12744)
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/config.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add missing test coverage for wxo deployments (#12689)
  pyproject.toml
  src/backend/tests/unit/api/v1/test_deployment_schemas.py
  src/backend/tests/unit/api/v1/test_deployments_response_mapping.py
  src/frontend/src/controllers/API/queries/deployments/__tests__/use-check-tool-names.test.ts
  src/frontend/src/controllers/API/queries/deployments/__tests__/use-patch-deployment.test.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/connection-search-list.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/deployment-expanded-row.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/deployment-flow-list.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/deployment-info-grid.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/deployment-stepper-payload-builders.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/step-attach-flows-flow-list-panel.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/step-attach-flows-version-panel.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/step-review.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-flow-list-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/__tests__/use-connection-panel-state.test.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): split deployments review step
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review-detaching-section.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review-editable-tool-name.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review-flow-config-card.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review-summary-card.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review-types.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-tool-name-validation.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): split deployments attach flows step
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-attach-flows-data.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-flow-attachment.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): translate default flow/project names and delete notifications
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): split deployments table row
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-table-row.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-table.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): split deployments stepper modal
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper-modal-content.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper-modal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-deployment-submit.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(03-01): defer pandas/numpy in 7 lfx modules (IMP-02)
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/base/tools/component_tool.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/src/lfx/inputs/inputs.py
  src/lfx/src/lfx/schema/schema.py
  src/lfx/src/lfx/serialization/serialization.py
  src/lfx/tests/unit/fixtures/import_deferral_parity/__init__.py
  src/lfx/tests/unit/fixtures/import_deferral_parity/pandas_dataframe_roundtrip.json
  src/lfx/tests/unit/fixtures/import_deferral_parity/pandas_dataframe_roundtrip.snapshot.json
  src/lfx/tests/unit/test_import_absence.py
Due: azure-pipelines.yml

fix testcases
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): split deployments stepper context
  src/frontend/src/pages/MainPage/pages/deploymentsPage/contexts/deployment-stepper-context.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/contexts/deployment-stepper.types.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-deployment-edit-session.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-deployment-payload-builders.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/hooks/use-deployment-stepper-navigation.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): split deployment chat polling
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/test-deployment-modal/deployment-chat-response.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/test-deployment-modal/use-deployment-chat.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/test-deployment-modal/use-deployment-run-polling.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: allow users to name flow snapshots when saving (LE-874) (#12742)
  src/frontend/src/components/common/versionLabelComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/SaveSnapshotButton.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/SaveVersionDialog.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/components/VersionPreviewOverlay.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowVersionSidebar/components/VersionListItem.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/FlowVersionSidebar/use-flow-version-sidebar.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-version-panel.tsx
  src/frontend/src/stores/versionPreviewStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): enforce authentication on /streamable for auth_type=oauth projects
  .secrets.baseline
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix mcp testcase
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): preserve composer loopback forwarding on OAuth auth enforcement
  .secrets.baseline
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): drop loopback trust shortcut; always require API key for OAuth transport
  .secrets.baseline
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(03-01): defer DataFrame on Graph hot path (IMP-02 bundled)
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/field_typing/constants.py
  src/lfx/src/lfx/helpers/data.py
  src/lfx/src/lfx/schema/artifact.py
  src/lfx/tests/unit/test_import_absence.py
Due: azure-pipelines.yml

disable embedded option trigger causing user to to be able to switch provider when option is zero
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelTrigger.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
