Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: prevent RCE via data parameter in build_public_tmp endpoint (#12160)
  src/backend/base/langflow/api/v1/chat.py
  src/backend/tests/unit/test_chat_endpoint.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Postgres JSON column fails with "Token NaN is invalid" when Agent stores message (psycopg InvalidTextRepresentation) (#11977)
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/tests/unit/test_messages.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Tutorials/chat-with-rag.mdx
Due: azure-pipelines.yml

pragma-to-pass-tests
  docs/docs/Tutorials/chat-with-rag.mdx
Due: azure-pipelines.yml

docs: replace the file upload utility (#12153)
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/chat-with-rag.mdx
Due: azure-pipelines.yml

use timezone=true on flow_version created_at field
  src/backend/base/langflow/services/database/models/flow_version/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: release nightlies from of release branch
  .github/workflows/nightly_build.yml
  .secrets.baseline
  scripts/ci/pypi_nightly_tag.py
Due: azure-pipelines.yml

PR review comments
  src/backend/tests/unit/groq/test_groq_chat_completion.py
  src/backend/tests/unit/groq/test_groq_convenience_function.py
  src/backend/tests/unit/groq/test_groq_discovery_edge_cases.py
  src/backend/tests/unit/groq/test_groq_discovery_errors.py
  src/backend/tests/unit/groq/test_groq_discovery_success.py
  src/backend/tests/unit/groq/test_groq_model_discovery.py
  src/lfx/src/lfx/base/models/groq_model_discovery.py
  src/lfx/src/lfx/components/groq/groq.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Redundant errors
  src/lfx/src/lfx/base/models/groq_model_discovery.py
  src/lfx/src/lfx/components/groq/groq.py
Due: azure-pipelines.yml

ci: allow docs-only pull requests to skip tests (#12174)
  .github/workflows/ci.yml
Due: azure-pipelines.yml

More clear tooltip text
  src/lfx/src/lfx/components/agentics/inputs/common_inputs.py
  src/lfx/src/lfx/components/files_and_knowledge/ingestion.py
  src/lfx/src/lfx/components/langchain_utilities/csv_agent.py
  src/lfx/src/lfx/components/langchain_utilities/openai_tools.py
  src/lfx/src/lfx/components/langchain_utilities/openapi.py
  src/lfx/src/lfx/components/langchain_utilities/sql.py
  src/lfx/src/lfx/components/langchain_utilities/tool_calling.py
  src/lfx/src/lfx/components/langchain_utilities/xml_agent.py
  src/lfx/src/lfx/components/llm_operations/batch_run.py
  src/lfx/src/lfx/components/llm_operations/guardrails.py
  src/lfx/src/lfx/components/llm_operations/lambda_filter.py
  src/lfx/src/lfx/components/llm_operations/llm_conditional_router.py
  src/lfx/src/lfx/components/llm_operations/structured_output.py
  src/lfx/src/lfx/components/models_and_agents/agent.py
  src/lfx/src/lfx/components/models_and_agents/embedding_model.py
  src/lfx/src/lfx/components/models_and_agents/language_model.py
Due: azure-pipelines.yml

chore: address valid code rabbit comments
  .github/workflows/nightly_build.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
Due: azure-pipelines.yml

add refresh on creation of entry
  src/backend/base/langflow/services/database/models/flow_version/crud.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixed agentics import
  docs/docs/Components/bundles-agentics.mdx
Due: azure-pipelines.yml

fix: use timezone=true on flow_version created_at field (#12180)
  src/backend/base/langflow/services/database/models/flow_version/crud.py
  src/backend/base/langflow/services/database/models/flow_version/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixed agentics import documentation in the code
  src/lfx/src/lfx/components/agentics/constants.py
Due: azure-pipelines.yml

refactor(frontend): playground UI tweaks
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/messages.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): playground UI tweaks
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/user-message.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): playground UI tweaks
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix playground state (#11896)
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/user-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/messages.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/utils/buildUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix Document QA test to exit fullscreen before accessing more menu
  src/frontend/tests/core/integrations/Document QA.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Remove hash history
  .github/workflows/nightly_build.yml
  .secrets.baseline
  Makefile
  scripts/build_hash_history.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/tests/unit/test_build_hash_history.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_starter_projects_no_hash_history.py
  src/lfx/src/lfx/_assets/stable_hash_history.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): rebase
  src/frontend/src/utils/buildUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add bulk delete functionality for chat sessions in Playground
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sidebar.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector.tsx
  src/frontend/src/controllers/API/queries/messages/index.ts
  src/frontend/src/controllers/API/queries/messages/use-bulk-delete-sessions.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(backend): create new endpoint to delete multiple sessions
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/tests/unit/test_messages_endpoints.py
  src/frontend/src/controllers/API/queries/messages/use-bulk-delete-sessions.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): rebase
  src/frontend/tests/core/integrations/Document QA.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(frontend): added test for select all/bulk delete functionality
  src/frontend/src/components/core/playgroundComponent/sliding-container/components/flow-page-sliding-container.tsx
  src/frontend/tests/core/features/bulk-delete-sessions.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(backend): add user ownership validation to message deletion endpoints
  src/backend/base/langflow/api/v1/monitor.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(backend): tests and status code
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/tests/unit/test_messages_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(ui): wrap home page content sections in 3xl:container for consistent max-width
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
