Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

build component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Component index update
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: lazy load settings service; fix env init order (#10142) (#10307)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/services/deps.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/components/knowledge_bases/test_ingestion.py
  src/backend/tests/unit/components/knowledge_bases/test_retrieval.py
  src/backend/tests/unit/test_settings_initialization_order.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/components/knowledge_bases/ingestion.py
  src/lfx/src/lfx/components/knowledge_bases/retrieval.py
  src/lfx/src/lfx/graph/edge/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix mcp timeout and settings
  src/backend/base/langflow/services/mcp_composer/service.py
  src/backend/tests/unit/services/settings/test_mcp_composer.py
  src/frontend/src/modals/authModal/__tests__/AuthModal.test.tsx
  src/frontend/src/modals/authModal/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/__tests__/McpServerTab.test.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Refactor search_templates to simplify parameters
  src/backend/base/langflow/agentic/mcp/server.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add output item processing for tool results
  src/lfx/src/lfx/components/agents/mcp_component.py
Due: azure-pipelines.yml

feat:Add unified models API endpoint and tests (#9215)
  docs/docs/Components/components-vector-stores.mdx
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/base/models/unified_models.py
  src/backend/tests/unit/test_models_api.py
  src/backend/tests/unit/test_unified_models.py
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader/index.tsx
  src/lfx/src/lfx/base/models/model_metadata.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

changed sign on logl
  src/frontend/src/pages/SignUpPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ci: publish v2 docker images
  .github/workflows/docker-build-v2.yml
Due: azure-pipelines.yml

feat: Add unified model and embedding components (#9134)
  src/backend/base/langflow/inputs/__init__.py
  src/lfx/src/lfx/base/models/__init__.py
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/components/models/__init__.py
  src/lfx/src/lfx/components/models/models_provider_setup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

✨ (use-patch-global-variables.ts): add support for category field in PatchGlobalVariablesParams interface
  src/frontend/src/controllers/API/queries/variables/use-patch-global-variables.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: update alembic script (#9380)
  src/backend/base/langflow/alembic/versions/50bdbf646c1c_add_category_column_to_variable_table_.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add Model Providers page and update settings navigation
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/ModelProvidersPage.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/ModelProvidersHeader.tsx
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/Providers.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/style/applies.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add ModelInputComponent and enhance ParameterRenderComponent
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types/index.ts
  src/frontend/src/types/api/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: streamline dropdown and model input components
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Update ModelInputComponent to use providers instead of search_category
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/types/api/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Enhance ModelInputComponent with improved model selection and API key handling
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: resolve SLF001 private member access violations
  pyproject.toml
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/services/tracing/service.py
  src/lfx/src/lfx/base/composio/composio_base.py
  src/lfx/src/lfx/base/io/chat.py
  src/lfx/tests/unit/schema/test_dotdict.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Introduce ApiKeyModal for managing API keys in ModelInputComponent
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/modals/apiKeyModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add model providers functionality and integrate into Providers component
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/components/Providers.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: update Model provider APIs (#9445)
  src/backend/base/langflow/alembic/versions/50bdbf646c1c_add_category_column_to_variable_table_.py
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/models/unified_models.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/services/variable/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

dynamic variable used
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/published-flows/use-check-flow-published.ts
  src/frontend/src/controllers/API/queries/published-flows/use-get-all-published-flows.ts
  src/frontend/src/controllers/API/queries/published-flows/use-get-published-flow-spec.ts
  src/frontend/src/controllers/API/queries/published-flows/use-get-published-flow.ts
  src/frontend/src/controllers/API/queries/published-flows/use-publish-flow.ts
  src/frontend/src/controllers/API/queries/published-flows/use-unpublish-flow.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Ruff checks
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

console error fixes
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update unified_models.py
  src/backend/base/langflow/alembic/versions/50bdbf646c1c_add_category_column_to_variable_table_.py
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: try fixing lfx cleanup error
  .github/workflows/python_test.yml
Due: azure-pipelines.yml

Update model input mixins
  src/lfx/src/lfx/inputs/__init__.py
  src/lfx/src/lfx/inputs/input_mixin.py
  src/lfx/src/lfx/inputs/inputs.py
  src/lfx/src/lfx/io/__init__.py
Due: azure-pipelines.yml

fixed and added tests
  src/backend/base/langflow/api/v1/files.py
  src/backend/tests/unit/api/v1/test_files.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add the model input ui
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/lfx/src/lfx/inputs/input_mixin.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: remove redundant ruff configuration from pyproject.toml files
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Resolving conflicts with main.
  pyproject.toml
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/lfx/src/lfx/components/agents/__init__.py
  src/lfx/src/lfx/components/agents/altk_agent.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Refactor knowledge base path initialization
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/lfx/src/lfx/base/models/model_input_constants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

config: add comprehensive per-file ruff ignores
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: replace private member access with public getters
  src/lfx/src/lfx/components/agents/agent.py
  src/lfx/src/lfx/components/agents/cuga_agent.py
  src/lfx/src/lfx/components/amazon/amazon_bedrock_converse.py
  src/lfx/src/lfx/components/apify/apify_actor.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/vertex/vertex_types.py
Due: azure-pipelines.yml

fix: add noqa comments for unavoidable third-party private access
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/lfx/src/lfx/components/vectorstores/mongodb_atlas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fixing import order.
  src/lfx/src/lfx/components/agents/altk_agent.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
