Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: resolve SQLModel ApiKey table creation circular import issue
  src/backend/base/langflow/alembic/env.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update component_index.json
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

feat(agent-marketplace): add agent marketplace feature with listing and filtering
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/agent_marketplace.py
  src/backend/base/langflow/specifications_library/agents/multi-tool/extraction-agent.yaml
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/agent-marketplace/use-get-agent-marketplace.ts
  src/frontend/src/hooks/useAgentBuilderStream.ts
  src/frontend/src/pages/AgentBuilderPage/index.tsx
  src/frontend/src/pages/AgentMarketplacePage/components/MarketplaceAgentCard.tsx
  src/frontend/src/pages/AgentMarketplacePage/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

crete flow from libary
  src/backend/base/langflow/api/v1/spec.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(templates): add use case filtering and UI adjustments
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
  src/frontend/src/modals/templatesModal/index.tsx
  src/frontend/src/pages/AgentBuilderPage/index.tsx
  src/frontend/src/pages/AgentMarketplacePage/index.tsx
  src/frontend/src/types/templates/types.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

build component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Fix SQLModel primary key detection and remove publishedagent module
  config/5c8a3c03-626f-42f0-83df-d76de1432045/_mcp_servers_5c8a3c03-626f-42f0-83df-d76de1432045.json
  docker/backend/Dockerfile
  pyproject.toml
  src/backend/base/langflow/alembic/versions/321864d65639_add_published_agent_table.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/published_agent.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/base/langflow/services/database/models/file/model.py
  src/backend/base/langflow/services/database/models/published_agent/__init__.py
  src/backend/base/langflow/services/database/models/published_agent/crud.py
  src/backend/base/langflow/services/database/models/published_agent/model.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(agent-marketplace): add detail page with route-aware breadcrumbs
  src/frontend/src/components/common/Breadcrumb.tsx
  src/frontend/src/components/common/pageLayout/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/ui/breadcrumb.tsx
  src/frontend/src/pages/AgentMarketplacePage/DetailPage.tsx
  src/frontend/src/pages/AgentMarketplacePage/components/MarketplaceAgentCard.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix CI/CD pipeline to target correct image tag location
  .azure-pipelines/templates/release-template.yml
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-pipelines.yml

fix: fix env variable setup for cuga
  src/lfx/src/lfx/components/agents/cuga_agent.py
Due: azure-pipelines.yml

refactor: update addLegacyComponents function to improve selector checks
  src/frontend/tests/utils/add-legacy-components.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix playwright imports
  src/frontend/tests/extended/features/mcp-server-starter-projects.spec.ts
  src/frontend/tests/utils/add-custom-component.ts
  src/frontend/tests/utils/add-flow-to-test-on-empty-langflow.ts
  src/frontend/tests/utils/add-new-api-keys.ts
  src/frontend/tests/utils/adjust-screen-view.ts
  src/frontend/tests/utils/await-bootstrap-test.ts
  src/frontend/tests/utils/build-data-transfer.ts
  src/frontend/tests/utils/clean-old-folders.ts
  src/frontend/tests/utils/evaluate-input-react-state-changes.ts
  src/frontend/tests/utils/extract-and-clean-code.ts
  src/frontend/tests/utils/get-all-response-message.ts
  src/frontend/tests/utils/go-to-settings.ts
  src/frontend/tests/utils/lock-flow.ts
  src/frontend/tests/utils/login-langflow.ts
  src/frontend/tests/utils/remove-old-api-keys.ts
  src/frontend/tests/utils/rename-flow.ts
  src/frontend/tests/utils/select-gpt-model.ts
  src/frontend/tests/utils/update-old-components.ts
  src/frontend/tests/utils/wait-for-open-modal.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(agent-marketplace): add static agents list and combine with API results
  src/frontend/src/pages/AgentMarketplacePage/components/MarketplaceAgentCard.tsx
  src/frontend/src/pages/AgentMarketplacePage/data/agentsList.ts
  src/frontend/src/pages/AgentMarketplacePage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update Playwright and related dependencies to version 1.56.0 in package.json and package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update Playwright version in CI workflow to 1.56.0 for consistency with project dependencies
  .github/workflows/typescript_test.yml
Due: azure-pipelines.yml

✨ (McpServerTab.tsx): Add functionality to show a warning message if the MCP Server is taking longer than usual to load.
  src/frontend/package-lock.json
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update package
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(login): uncomment keycloak redirect logic
  src/frontend/src/pages/LoginPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

added component and templates
  src/backend/base/langflow/components/knowledge_bases/knowledge_hub_search.py
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/models/json_output.py
  src/backend/base/langflow/components/models/lab_value_extraction.py
  src/backend/base/langflow/custom/genesis/config/basic_examples/AccumulatorCheckAgent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Ask Auto Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/AskAutoCorrespondance.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/AttachDocumentAgent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Auth Guideline Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Auth Guideline.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Basic Prompt Chaining.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Basic Prompting.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/BenefitCheckAgent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/CPT Code Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Clinical Entity Extraction.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Clinical Entity Extractor Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Clinical Extraction.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Clinical Summarization Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Document Q&A.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Document Retrieval Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/EOCCheckAgent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/EligibilityChecker.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Entity Normalization Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/GuidelineCheckAgent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/ICD Code Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/ICD Extractor Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Lab Value Extraction Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Lab Value Extraction.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Prior Auth Form Extraction Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Prior Auth Recommendation Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Relation Extraction Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Simple Agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/Summarization.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/basic_prompting.py
  src/backend/base/langflow/custom/genesis/config/basic_examples/document_qa.py
  src/backend/base/langflow/custom/genesis/config/basic_examples/guideline-retrieval-agent.json
  src/backend/base/langflow/custom/genesis/config/basic_examples/sumarization agent.json
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(AgentBuilderPage): temporarily disable submit button
  src/frontend/src/pages/AgentBuilderPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

duplicate-https
  src/lfx/src/lfx/components/datastax/astradb_graph.py
  src/lfx/src/lfx/components/datastax/astradb_tool.py
Due: azure-pipelines.yml

refactor(agents): rename Benefit Check Agent to Eligibility Verification Agent
  src/backend/base/langflow/custom/genesis/config/basic_examples/BenefitCheckAgent.json
  src/backend/base/langflow/custom/genesis/services/agent_builder/kb_data/agent_kb.json
  src/backend/base/langflow/initial_setup/starter_projects/BenefitCheckAgent.json
  src/backend/base/langflow/specifications_library/agents/single-tool/benefit-check-agent.yaml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: enhance lockFlow and unlockFlow functions for improved visibility checks
  src/frontend/tests/utils/lock-flow.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

build_component_index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

fix templates and components
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/components/assemblyai/assemblyai_poll_transcript.py
  src/lfx/src/lfx/components/processing/batch_run.py
  src/lfx/src/lfx/components/processing/converter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Pin mcp-composer to specific version
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/services/mcp_composer/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/services/settings/__init__.py
  src/backend/tests/unit/services/settings/test_mcp_composer_version.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(agent-marketplace): improve agent filtering and tag handling
  src/frontend/src/components/core/mainSidebarComponent/index.tsx
  src/frontend/src/pages/AgentMarketplacePage/components/MarketplaceAgentCard.tsx
  src/frontend/src/pages/AgentMarketplacePage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(AgentMarketplace): disable delete button and fix typo in agent descriptions
  src/frontend/src/pages/AgentMarketplacePage/components/MarketplaceAgentCard.tsx
  src/frontend/src/pages/AgentMarketplacePage/data/agentsList.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

✅ (test_starter_projects.py): add timeout decorator to tests that may call external APIs for better test control and management
  src/backend/tests/unit/template/test_starter_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

route fixes
  src/backend/base/langflow/api/v1/agent_marketplace.py
  src/backend/base/langflow/initial_setup/starter_projects/AccumulatorCheckAgent.json
  src/backend/base/langflow/initial_setup/starter_projects/Ask Auto Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/AttachDocumentAgent.json
  src/backend/base/langflow/initial_setup/starter_projects/Auth Guideline.json
  src/backend/base/langflow/initial_setup/starter_projects/Clinical Entity Extractor Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/EOCCheckAgent.json
  src/backend/base/langflow/initial_setup/starter_projects/EligibilityChecker.json
  src/backend/base/langflow/initial_setup/starter_projects/GuidelineCheckAgent.json
  src/backend/base/langflow/initial_setup/starter_projects/ICD Extractor Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Lab Value Extraction.json
  src/backend/base/langflow/initial_setup/starter_projects/guideline-retrieval-agent.json
  src/backend/base/langflow/initial_setup/starter_projects/sumarization agent.json
  src/backend/base/langflow/specifications_library/agents/flow_mappings.json
  src/backend/base/langflow/specifications_library/agents/utilization-management/appeals-summarization-agent.yaml
  src/frontend/src/controllers/API/queries/agent-marketplace/use-get-agent-marketplace.ts
  src/frontend/src/pages/AgentMarketplacePage/DetailPage.tsx
  src/frontend/src/pages/AgentMarketplacePage/components/MarketplaceAgentCard.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update-component-index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

route fixes 2
  src/backend/base/langflow/specifications_library/agents/flow_mappings.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

✅ (test_starter_projects.py): remove redundant timeout mark from test functions to improve code readability and maintainability
  src/backend/tests/unit/template/test_starter_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update pre-commit configuration to exclude specific JSON file from secrets detection
  .pre-commit-config.yaml
Due: azure-pipelines.yml

ci: update GitHub Actions workflow to enhance security for pull request handling
  .github/workflows/update-component-index.yml
Due: azure-pipelines.yml

Update bundles-nebius.mdx
  docs/docs/Components/bundles-nebius.mdx
Due: azure-pipelines.yml
