Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(observability): make grafana-loki reference stack instructions work end to end
  deploy/observability/grafana-loki/README.md
Due: azure-pipelines.yml

feat: add openGauss DataVec vector store component
  docs/docs/Components/bundles-opengauss.mdx
  docs/sidebars.js
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/icons/openGauss/index.tsx
  src/frontend/src/icons/openGauss/openGauss.jsx
  src/frontend/src/utils/styleUtils.ts
  src/lfx/pyproject.toml
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/opengauss/__init__.py
  src/lfx/src/lfx/components/opengauss/opengauss.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: add unit tests for openGauss vector store component
  src/backend/tests/unit/components/vectorstores/opengauss/__init__.py
  src/backend/tests/unit/components/vectorstores/opengauss/test_opengauss_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add unit tests for openGauss vector store component
  src/backend/tests/unit/components/vectorstores/opengauss/__init__.py
  src/backend/tests/unit/components/vectorstores/opengauss/test_opengauss_component.py
  src/lfx/tests/unit/components/test_opengauss_vector_store_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(logging): honor LANGFLOW_LOG_FORMAT values and wire LANGFLOW_LOG_ROTATION
  src/backend/tests/unit/test_logger.py
  src/lfx/src/lfx/log/logger.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: fail fast when Redis job queue backend is unreachable
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(logging): keep JSON level field clean when stdlib level names are mutated
  src/backend/tests/unit/test_logger.py
  src/lfx/src/lfx/log/logger.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(logging): fingerprint all inputs in configure() early-return
  src/backend/tests/unit/test_logger.py
  src/lfx/src/lfx/log/logger.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: resolve crash in DataOutputComponent when rows exceed maxItemsLength
  src/frontend/src/components/core/dataOutputComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/bundles/arxiv/pyproject.toml
  src/bundles/duckduckgo/pyproject.toml
  src/bundles/ibm/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add openGauss DataVec vector store component
  docs/docs/Components/bundles-opengauss.mdx
  docs/sidebars.js
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/icons/openGauss/index.tsx
  src/frontend/src/icons/openGauss/openGauss.jsx
  src/frontend/src/utils/styleUtils.ts
  src/lfx/pyproject.toml
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/opengauss/__init__.py
  src/lfx/src/lfx/components/opengauss/opengauss.py
  src/lfx/tests/unit/components/test_opengauss_vector_store_component.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: add wt.sh worktree dev-container setup
  .gitignore
  CLAUDE.md
  Makefile
  docker/dev.Dockerfile
  docker/worktree.docker-compose.yml
  pyproject.toml
  scripts/wt.sh
  src/backend/tests/unit/test_makefile_backend_target.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: add architecture documentation
  architecture/01-sequence-diagram.md
  architecture/02-system-architecture.md
  architecture/03-data-model.md
  architecture/04-canvas-nodes.md
  architecture/10-api-contracts.md
  langflow-architecture/01-system-context.md
  langflow-architecture/02-monorepo-layout.md
  langflow-architecture/03-backend.md
  langflow-architecture/04-graph-engine.md
  langflow-architecture/05-frontend.md
  langflow-architecture/06-request-lifecycle.md
  langflow-architecture/07-data-model.md
  langflow-architecture/08-deployment.md
  langflow-architecture/09-summary.md
  langflow-architecture/README.md
Due: azure-pipelines.yml

docs: document dev-branch workflow in CLAUDE.md
  CLAUDE.md
Due: azure-pipelines.yml

fix(memory): show dashes for stat cards in All Sessions view (#13443)
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryDetails.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/__tests__/MemoryDetails.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add Murf TTS Component
  docs/docs/Components/bundles-murf.mdx
  docs/sidebars.js
  docs/static/img/component-murf-ai.png
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/src/constants/constants.ts
  src/frontend/src/icons/Murf/Murf-logo.svg
  src/frontend/src/icons/Murf/MurfSVG.jsx
  src/frontend/src/icons/Murf/index.tsx
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/pyproject.toml
  src/lfx/src/lfx/components/Murf/__init__.py
  src/lfx/src/lfx/components/Murf/text_to_speech.py
  src/lfx/src/lfx/components/__init__.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Add test for textToSpeech component
  src/backend/tests/unit/components/bundles/murf/__init__.py
  src/backend/tests/unit/components/bundles/murf/test_murf_text_to_speech_component.py
  src/frontend/src/icons/Murf/MurfSVG.jsx
  src/lfx/src/lfx/components/Murf/text_to_speech.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: improve locale handling and icon implementation
  src/frontend/src/icons/Murf/MurfSVG.jsx
  src/frontend/src/icons/Murf/index.tsx
  src/frontend/src/icons/Murf/murf-icon.svg
  src/lfx/src/lfx/components/Murf/text_to_speech.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix user setting test flaky on windows
  src/frontend/tests/extended/features/userSettings.spec.ts
  src/frontend/tests/extended/features/validate-raise-errors-components.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): close no_env_fallback credential leaks and harden serve isolation
  .pre-commit-config.yaml
  scripts/lint/check_component_env_writes.py
  src/backend/tests/unit/components/bundles/mem0/test_mem0_component.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/flow_store.py
  src/lfx/src/lfx/cli/runtime_variables.py
  src/lfx/src/lfx/components/mem0/mem0_chat_memory.py
  src/lfx/src/lfx/interface/initialize/loading.py
  src/lfx/src/lfx/services/variable/service.py
  src/lfx/tests/unit/services/test_minimal_services.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: fix flaky Windows Playwright tests for error popups, settings nav, and output inspection (#13463)
  src/frontend/tests/extended/features/userSettings.spec.ts
  src/frontend/tests/extended/features/validate-raise-errors-components.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Flows/langflow-assistant.mdx
Due: azure-pipelines.yml

fix(lfx): consolidate flow-envelope handling and fix version-ceiling regex
  .github/workflows/release.yml
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/upgrade.py
  src/lfx/src/lfx/run/base.py
  src/lfx/src/lfx/utils/flow_envelope.py
  src/lfx/tests/unit/cli/test_serve.py
  src/lfx/tests/unit/run/test_base.py
  src/lfx/tests/unit/test_patch_regexes.py
  src/lfx/tests/unit/upgrade/test_upgrade_command.py
  src/lfx/tests/unit/utils/test_flow_envelope.py
Due: azure-pipelines.yml

fix(lfx): contain corrupt flow-store files so one bad file can't crash worker startup
  src/lfx/src/lfx/cli/flow_store.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/tests/unit/cli/test_flow_store.py
  src/lfx/tests/unit/cli/test_serve_app.py
Due: azure-pipelines.yml

gh suggestions and fix tests
  src/frontend/src/components/core/flowBuilderWelcome/hooks/__tests__/use-apply-template-to-current-flow.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/hooks/use-apply-template-to-current-flow.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/utils/__tests__/flow-naming.test.ts
  src/frontend/src/utils/flow-naming.ts
  src/frontend/tests/core/features/user-flow-state-cleanup.spec.ts
  src/frontend/tests/core/features/user-progress-track.spec.ts
  src/frontend/tests/utils/flow/new-project-flow.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add custom comp execution override (#13177)
  docs/docs/Deployment/deployment-block-custom-components.mdx
  docs/docs/Develop/environment-variables.mdx
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/tests/unit/services/settings/test_allow_components_paths_override.py
Due: azure-pipelines.yml

fix(starter-projects): repair malformed JSON in Vector Store RAG template
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: lf assistant flow building example (#13445)
  docs/docs/Flows/langflow-assistant.mdx
  docs/docs/Support/release-notes.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(stepflow): route multi-output fan-out to the correct step per connection (#13412)
  src/langflow-stepflow/src/langflow_stepflow/translation/node_processor.py
  src/langflow-stepflow/src/langflow_stepflow/translation/translator.py
  src/langflow-stepflow/tests/unit/test_translator.py
Due: azure-pipelines.yml

fix: prevent MCP server edit from creating a duplicate on name change
  src/frontend/src/modals/addMcpServerModal/__tests__/addMcpServerModal.test.tsx
  src/frontend/src/modals/addMcpServerModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: upgrade MiniMax default model to M3
  src/backend/tests/unit/components/languagemodels/test_minimax.py
  src/lfx/src/lfx/components/minimax/minimax.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: upgrade MiniMax default model to M3
  src/lfx/src/lfx/components/minimax/minimax.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
