Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

Feat: Background Queuing of Workflows (#11331)
  src/backend/base/langflow/api/v2/converters.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/exceptions/api.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/base/langflow/services/task/backends/celery.py
  src/backend/base/langflow/services/task/factory.py
  src/backend/base/langflow/services/task/service.py
  src/backend/tests/unit/api/v2/test_converters.py
  src/backend/tests/unit/api/v2/test_workflow.py
  src/lfx/src/lfx/schema/workflow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

capitalization of Astra DB vector
  docs/docs/Agents/mcp-component-astra.mdx
  docs/docs/Components/bundles-datastax.mdx
Due: azure-pipelines.yml

Docs: Correct the capitalization of Astra DB Serverless (vector) database (#11434)
  docs/docs/Agents/mcp-component-astra.mdx
  docs/docs/Components/bundles-datastax.mdx
Due: azure-pipelines.yml

peer-review
  docs/docs/Agents/agents.mdx
  docs/docs/Components/components-embedding-models.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add Client ID Metadata Documents (CIMD) support for MCP OAuth
  src/backend/tests/unit/base/mcp/oauth/test_provider.py
  src/lfx/src/lfx/base/mcp/oauth/provider.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add pre-registered client credentials support for MCP OAuth
  src/backend/tests/unit/base/mcp/oauth/test_provider.py
  src/lfx/src/lfx/base/mcp/oauth/provider.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add custom redirect_uri support for MCP OAuth
  src/backend/tests/unit/base/mcp/oauth/test_provider.py
  src/lfx/src/lfx/base/mcp/oauth/provider.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix toolguard
  src/lfx/src/lfx/components/policies/guarded_tool.py
  src/lfx/src/lfx/components/policies/policies_component.py
Due: azure-pipelines.yml

add get lock for CI improvement
  src/backend/base/langflow/services/event_manager.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix tests loading
  src/backend/base/langflow/services/event_manager.py
  src/backend/tests/unit/test_loading.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix flasky test py
  src/backend/tests/unit/test_loading.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff style and check
  src/backend/tests/unit/test_loading.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: skip flaky test on CI due to resource exhaustion
  src/backend/tests/unit/test_loading.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update lodash with audit fix
  src/frontend/package-lock.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add curl to nodejs version
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

feat(api): Add real-time SSE support for webhook flow execution (#11028)
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/event_manager.py
  src/backend/tests/unit/test_loading.py
  src/backend/tests/unit/test_webhook.py
  src/frontend/package-lock.json
  src/frontend/src/controllers/API/queries/_builds/use-get-builds-polling-mutation.ts
  src/frontend/src/hooks/use-webhook-events.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/stores/utilityStore.ts
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/utils.py
  src/lfx/src/lfx/graph/vertex/base.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(docker): Upgrade Node.js from 18 to 20 LTS (#11442)
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

use-anthropic-model-with-agent
  docs/docs/Get-Started/get-started-quickstart.mdx
Due: azure-pipelines.yml

Add full provider variable metadata and multi-variable support
  src/backend/base/langflow/api/v1/models.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/api/v1/test_models_enabled_providers.py
  src/frontend/package-lock.json
  src/frontend/src/constants/providerConstants.ts
  src/frontend/src/controllers/API/queries/models/use-get-provider-variables.ts
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/lfx/src/lfx/base/models/__init__.py
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/services/settings/constants.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

pass-env-var-to-lfx
  src/lfx/README.md
Due: azure-pipelines.yml

add-env-var-passing-to-run-endpoint
  docs/docs/API-Reference/api-flows-run.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fix: Make sure we respect static model settings (#11220)
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/tests/unit/inputs/test_model_input_static_options.py
Due: azure-pipelines.yml

create a new helper function to getThinikingDuration
  DURATION_PERSISTENCE_SOLUTION.md
  MESSAGE_FLOW_ARCHITECTURE.md
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/services/database/models/message/model.py
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Connection connects to arbitrary field on minimized components with collapsed inputs (#11423)
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/__tests__/computeDisplayHandle.test.ts
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/__tests__/minimizedNodeHandleRendering.test.ts
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/__tests__/primaryInputIdentification.test.ts
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/utils.ts
  src/frontend/src/types/components/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add-python-and-js-commands
  docs/docs/API-Reference/api-flows-run.mdx
Due: azure-pipelines.yml

Fix import in lfx status response
  src/lfx/src/lfx/schema/__init__.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Refactor provider variable saving to batch mode
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Features: job status table with related DB model, migration files, job status tracking.
  src/backend/base/langflow/alembic/versions/00e5ef437a72_changed_job_id_in_jobtable_to_be_uuid_.py
  src/backend/base/langflow/alembic/versions/dd3dd875cd97_changed_job_id_in_vertex_build_table_to_.py
  src/backend/base/langflow/alembic/versions/f7a564a956a8_add_job_id_to_vertex_build_create_job_.py
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/jobs/__init__.py
  src/backend/base/langflow/services/database/models/jobs/crud.py
  src/backend/base/langflow/services/database/models/jobs/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/jobs/__init__.py
  src/backend/base/langflow/services/jobs/factory.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/base/langflow/services/schema.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/utils.py
  src/lfx/src/lfx/schema/workflow.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
