Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

test(cli): define first-run directory apply
  src/backend/tests/unit/cli/test_directory_admin_cli.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(cli): add Enterprise directory administration
  src/backend/base/langflow/cli/admin/client.py
  src/backend/base/langflow/cli/admin/commands.py
  src/backend/base/langflow/cli/admin/directory_reconcile.py
  src/backend/base/langflow/cli/admin/manifest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(cli): define directory administration contract
  src/backend/tests/unit/cli/test_directory_admin_cli.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(auth): define externally managed credentials
  .secrets.baseline
  src/backend/tests/unit/api/v1/test_users.py
  src/lfx/tests/unit/services/authorization/test_default_authorization_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): support first-run directory apply
  src/backend/base/langflow/cli/admin/directory_reconcile.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(auth): protect externally managed credentials
  src/backend/base/langflow/api/v1/users.py
  src/lfx/src/lfx/services/authorization/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(authz): cover directory review regressions
  src/backend/tests/unit/alembic/test_team_member_grant_migration.py
  src/backend/tests/unit/api/v1/test_authz_admin_routes.py
  src/backend/tests/unit/api/v1/test_authz_capabilities.py
  src/backend/tests/unit/api/v1/test_users.py
  src/backend/tests/unit/cli/test_admin_cli.py
  src/backend/tests/unit/cli/test_directory_admin_cli.py
  src/backend/tests/unit/services/authorization/test_team_member_grants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): align grant source schema
  src/backend/base/langflow/services/database/models/auth/authz.py
  src/backend/tests/unit/services/authorization/test_team_member_grants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(authz): address directory review findings
  src/backend/base/langflow/alembic/versions/b8e1d4f6a2c9_add_team_member_grants.py
  src/backend/base/langflow/api/v1/authz_role_assignments.py
  src/backend/base/langflow/api/v1/authz_teams.py
  src/backend/base/langflow/cli/admin/commands.py
  src/backend/base/langflow/cli/admin/directory_reconcile.py
  src/backend/base/langflow/services/authorization/team_member_grants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): fail on missing server dependency (LE-2388) (#14842)
  src/backend/tests/unit/components/models_and_agents/test_mcp_component.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): type flow creation mutation
  src/frontend/src/controllers/API/queries/flows/__tests__/use-post-add-flow.test.ts
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): initialize multi-output nodes safely
  src/frontend/src/CustomNodes/GenericNode/__tests__/restore-dismissed-node.test.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(a2a): preserve visible input contract
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/api/v1/test_a2a.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(lfx): isolate legacy import replacement
  src/backend/tests/unit/utils/test_validate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): address release branch regressions (#14843)
  src/backend/base/langflow/api/v1/a2a_utils.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/api/v1/test_a2a.py
  src/backend/tests/unit/utils/test_validate.py
  src/frontend/src/CustomNodes/GenericNode/__tests__/restore-dismissed-node.test.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/controllers/API/queries/flows/__tests__/use-post-add-flow.test.ts
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: reproduce untyped read file outputs
  .secrets.baseline
  src/backend/tests/unit/components/files_and_knowledge/test_file_component.py
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(file): type dynamic read file outputs
  src/lfx/src/lfx/components/files_and_knowledge/file.py
Due: azure-pipelines.yml

fix(lfx): register Xquik migration target
  src/lfx/src/lfx/extension/migration/migration_table.json
Due: azure-pipelines.yml

feat: add Xquik data source component
  docs/docs/Components/bundles-xquik.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/sidebars.js
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/xquik/__init__.py
  src/bundles/lfx-bundles/src/lfx_bundles/xquik/xquik.py
  src/bundles/lfx-bundles/tests/test_xquik_component.py
Due: azure-pipelines.yml

fix(bundles): align Xquik pagination limits
  docs/docs/Components/bundles-xquik.mdx
  src/bundles/lfx-bundles/src/lfx_bundles/xquik/xquik.py
  src/bundles/lfx-bundles/tests/test_xquik_component.py
Due: azure-pipelines.yml

fix(ci): register Xquik in release inventory
  scripts/ci/release_inventory_contract.json
Due: azure-pipelines.yml

fix(tests): rely on automatic async test mode
  src/bundles/lfx-bundles/tests/test_xquik_component.py
Due: azure-pipelines.yml

build(bundles): release Xquik in lfx-bundles 1.1.16
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(bundles): refresh Xquik release contract
  docs/docs/Components/bundles-xquik.mdx
  pyproject.toml
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/xquik/xquik.py
  src/bundles/lfx-bundles/tests/test_xquik_component.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(file): refresh typed output bundles
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(file): cover typed dynamic output modes
  .secrets.baseline
  src/backend/tests/unit/components/files_and_knowledge/test_file_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): fit the canvas once the whole graph is measured (#14832)
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlsDropdown.tsx
  src/frontend/src/components/core/canvasControlsComponent/__tests__/CanvasControlsDropdown.spec.tsx
  src/frontend/src/components/core/canvasControlsComponent/fit-view-options.ts
  src/frontend/src/components/core/flowBuilderWelcome/hooks/__tests__/use-apply-template-to-current-flow.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/hooks/use-apply-template-to-current-flow.ts
  src/frontend/src/hooks/flows/__tests__/use-apply-flow-to-canvas.test.ts
  src/frontend/src/hooks/flows/use-apply-flow-to-canvas.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/hooks/__tests__/use-fit-view-when-measured.test.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/hooks/use-fit-view-when-measured.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

perf(components): build instance inputs with model_construct instead of deepcopy
  src/lfx/src/lfx/custom/custom_component/component.py
Due: azure-pipelines.yml

fix(tests): repoint credential-leakage mock at session_scope_readonly
  src/backend/tests/unit/test_credential_variable_leakage.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: two-tenant isolation for the component cache and global variables
  src/backend/tests/unit/test_multitenant_component_isolation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(bench): add a reproducible base-vs-branch performance harness
  scripts/bench/repro/ab.py
  scripts/bench/repro/bench_flow.json
  scripts/bench/repro/compose.yml
Due: azure-pipelines.yml

perf: reduce to the three changes that carry the query reduction
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/auth/service.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/unit/test_credential_variable_leakage.py
  src/backend/tests/unit/test_multitenant_component_isolation.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/llm_operations/guardrails.py
  src/lfx/src/lfx/custom/eval.py
  src/lfx/src/lfx/custom/validate.py
  src/lfx/src/lfx/interface/initialize/loading.py
  src/lfx/src/lfx/services/settings/groups/database.py
  src/lfx/src/lfx/services/settings/groups/runtime.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(tracing): batch trace and span writes into single INSERT statements
  scripts/bench/repro/ab.py
  scripts/bench/repro/attribute.py
  scripts/bench/repro/bench_flow.json
  scripts/bench/repro/compose.yml
  src/backend/base/langflow/services/tracing/native.py
  src/backend/tests/unit/services/tracing/test_native_tracer_batching.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(agui): let callers opt out of graph-state events on the AG-UI stream
  docs/docs/API-Reference/workflows-api.mdx
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_background.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/v2/workflow_public.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/backend/tests/unit/api/v2/test_workflow_public.py
  src/frontend/src/controllers/API/agui/run-agent.ts
  src/lfx/src/lfx/schema/workflow.py
  src/lfx/src/lfx/workflow/adapters/__init__.py
  src/lfx/src/lfx/workflow/adapters/agui.py
  src/lfx/src/lfx/workflow/agui_translator.py
  src/lfx/src/lfx/workflow/converters.py
  src/lfx/src/lfx/workflow/host.py
  src/lfx/tests/unit/workflow/adapters/test_agui_adapter.py
  src/lfx/tests/unit/workflow/test_agui_translator.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add Gandr as a voice mode TTS provider
  docs/docs/Develop/concepts-voice-mode.mdx
  src/backend/base/langflow/api/v1/voice_mode.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/locales/en.json
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-start-conversation.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
  src/frontend/src/stores/__tests__/voiceStore.test.ts
  src/frontend/src/stores/voiceStore.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: document 83 environment variables missing from the reference
  docs/docs/Develop/environment-variables.mdx
Due: azure-pipelines.yml
