Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

Fix starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update .secrets.baseline
  .secrets.baseline
Due: azure-pipelines.yml

Update Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix frontend tests
  .secrets.baseline
  src/frontend/tests/core/integrations/assistant-panel-integration.spec.ts
  src/frontend/tests/utils/select-assistant-openai-model.ts
  src/frontend/tests/utils/select-gpt-model.ts
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/tests/unit/base/models/test_openrouter_provider.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): rename bundles to -nightly during nightly build (#13194)
  .github/workflows/nightly_build.yml
  .secrets.baseline
  scripts/ci/update_bundle_versions.py
Due: azure-pipelines.yml

fix remaining CI errors
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/frontend/tests/utils/select-gpt-model.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add locale fallback for unsupported browser languages
  src/frontend/src/i18n.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): gate nightly release on successful tag creation
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

fix(ci): gate nightly release on successful tag creation (#13198)
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

fix: File upload toast showing only after successful upload (#12984)
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: bump backend unit test timeout from 30 to 40 minutes
  .github/workflows/python_test.yml
Due: azure-pipelines.yml

ci: anchor langflow version grep so new workspace packages can't break it
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
Due: azure-pipelines.yml

ci: build, test, and publish src/bundles/* wheels
  .github/workflows/cross-platform-test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
Due: azure-pipelines.yml

Mirror the current-turn guard in _append_input
  src/lfx/src/lfx/components/models_and_agents/agent_helpers/messages_input_builder.py
  src/lfx/tests/unit/components/models_and_agents/agent_helpers/test_messages_input_builder.py
Due: azure-pipelines.yml

ci: drop mapfile from bundle install (macOS Bash 3.2 compat)
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix types
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/types.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove unecessary file commited
  CZL/REVIEWER_RULE.md
Due: azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/bundles/arxiv/pyproject.toml
  src/bundles/duckduckgo/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(deployments): redesign env cards
  src/frontend/src/controllers/API/queries/deployment-provider-accounts/index.ts
  src/frontend/src/controllers/API/queries/deployment-provider-accounts/use-patch-provider-account.ts
  src/frontend/src/controllers/API/queries/deployments/use-get-deployments-by-providers.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/add-provider-modal.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/providers-table.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/add-provider-modal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/provider-credentials-form.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/providers-content.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/providers-table.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/deployments-page.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(deployments): split env ui
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/add-provider-modal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/provider-card.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/provider-modal-intro.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/providers-table.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/deployments-page.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

gh suggestions
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/components/models_and_agents/agent.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_create_agent.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix biome checker
  src/frontend/src/utils/__tests__/codeBlockUtils.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Model handling for tool calling in agents and update IBM models (#13191)
  .secrets.baseline
  src/backend/tests/unit/base/models/test_model_utils.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/watsonx_constants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(frontend): fix deploy version assertion
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-choice-dialog/hooks/__tests__/use-prepare-deploy.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx/upgrade): preserve envelope on run, apply nested upgrades
  .secrets.baseline
  src/lfx/src/lfx/run/base.py
  src/lfx/src/lfx/upgrade/applier.py
  src/lfx/src/lfx/upgrade/checker.py
  src/lfx/tests/unit/run/test_base.py
  src/lfx/tests/unit/upgrade/test_applier.py
  src/lfx/tests/unit/upgrade/test_upgrade_command.py
Due: azure-pipelines.yml

test(e2e): fix provider delete selectors
  src/frontend/tests/core/features/deployment-providers.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: make coverage report generation non-blocking in CI
  .github/workflows/ci.yml
Due: azure-pipelines.yml

fix: Model handling for tool calling in agents and update IBM models (#13201)
  .secrets.baseline
  src/backend/tests/unit/base/models/test_model_utils.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/watsonx_constants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

peer-review
  docs/docs/Components/legacy-core-components.mdx
  docs/docs/Components/read-file.mdx
Due: azure-pipelines.yml

fix(server): refuse to start with multiple workers and the default in-memory job queue
  src/backend/base/langflow/__main__.py
  src/backend/tests/unit/test_cli.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(ci): timeout bump + harden langflow grep + build/publish src/bundles/* wheels (#13199)
  .github/workflows/cross-platform-test.yml
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
Due: azure-pipelines.yml

update-tutorial-screenshot
  docs/static/img/tutorial-agent-with-directory.png
Due: azure-pipelines.yml

fix(db): serialize concurrent Alembic migrations via Postgres advisory lock
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/services/database/test_migration_advisory_lock.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: directory component is legacy (#13186)
  docs/docs/Components/directory.mdx
  docs/docs/Components/legacy-core-components.mdx
  docs/docs/Components/read-file.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/tutorial-agent-with-directory.png
Due: azure-pipelines.yml

fix(serve): remove no_args_is_help, drop verbose_print param, harden _safe_path
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/flow_store.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/tests/unit/cli/test_serve.py
  src/lfx/tests/unit/cli/test_serve_app.py
  src/lfx/tests/unit/cli/test_serve_app_streaming.py
  src/lfx/tests/unit/cli/test_serve_components.py
  src/lfx/tests/unit/interface/test_loading_no_env_fallback.py
Due: azure-pipelines.yml

fix: UI polish for Memories and Traces sidebar sections
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoriesSidebar.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryDetailsHeader.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/components/MemoryKnowledgeBaseSection.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/MemoriesMainContent/types.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(guardrails): unify data output payload
  src/backend/base/langflow/locales/en.json
  src/backend/tests/unit/components/llm_operations/test_guardrails_component.py
  src/lfx/src/lfx/components/llm_operations/guardrails.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
