Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: Update stop sequence handling in WatsonxAIComponent
  src/lfx/src/lfx/components/ibm/watsonx.py
Due: azure-pipelines.yml

duplicate check added to submit for approval title
  src/frontend/src/modals/submitForApprovalModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Configure CI to use ubuntu-latest for docker tests
  .github/workflows/ci.yml
  .github/workflows/docker_test.yml
Due: azure-pipelines.yml

fix: Use tmpfs mounts in Dockerfile to prevent disk space exhaustion
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix: Revert tmpfs and add disk cleanup to fix CI disk space issue
  .github/workflows/docker_test.yml
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

update simple agent and template tabs (#243)
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/frontend/src/modals/templatesModal/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Ui updated: All templated card
  src/frontend/src/modals/templatesModal/components/TemplateCardComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Feature/single domain consolidation (#245)
  src/frontend/src/controllers/API/queries/application-config/use-get-app-config.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

case insensitivity added (#246)
  src/backend/base/langflow/api/v1/published_flows.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

added audio file upload (#247)
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/upload-file-button.tsx
  src/frontend/src/pages/MarketplacePage/components/FileUploadManager.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix/audio upload (#248)
  src/frontend/src/constants/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update the lfx serve test to mock the .serve() to prevent hanging
  src/lfx/tests/unit/cli/test_serve.py
Due: azure-pipelines.yml

fix other test too
  src/lfx/tests/unit/cli/test_serve.py
Due: azure-pipelines.yml

port lfx serve test fix from main
  src/lfx/tests/unit/cli/test_serve.py
Due: azure-pipelines.yml

docs: configurable api key validation (#10882)
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

peer-review
  docs/docs/Agents/mcp-client.mdx
  docs/docs/Agents/mcp-server.mdx
Due: azure-pipelines.yml

update-release-note
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

add mcp cleanup function
  src/backend/base/langflow/main.py
  src/backend/base/langflow/utils/mcp_cleanup.py
  src/backend/tests/unit/utils/test_mcp_cleanup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

remove-delete-endpoint-for-legacy
  docs/docs/API-Reference/api-reference-api-examples.mdx
Due: azure-pipelines.yml

docs: langflow server supports streamable http (#10891)
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Agents/mcp-client.mdx
  docs/docs/Agents/mcp-server.mdx
  docs/docs/Components/mcp-tools.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

Clean up the file GET endpoints
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/storage/service.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add test
  src/backend/tests/unit/api/v2/test_files.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Revert "Add test"
  src/backend/tests/unit/api/v2/test_files.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff/mypy
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/storage/service.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix issues with async
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/services/storage/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix: update lfx serve tests to mock the .serve() to prevent hanging (#10904)
  src/lfx/tests/unit/cli/test_serve.py
Due: azure-pipelines.yml

refactoring of storage utils to better match service impl patterns
  scripts/check_deprecated_imports.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/langflow/services/storage/service.py
  src/backend/base/langflow/tests/__init__.py
  src/backend/base/langflow/tests/services/database/__init__.py
  src/backend/base/langflow/tests/services/database/models/__init__.py
  src/backend/base/langflow/tests/services/database/models/transactions/__init__.py
  src/backend/base/langflow/tests/services/database/models/transactions/test_model.py
  src/backend/base/langflow/utils/image.py
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
  src/backend/tests/unit/components/files_and_knowledge/test_directory_component.py
  src/backend/tests/unit/utils/test_image_utils.py
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/base/data/storage_utils.py
  src/lfx/src/lfx/base/data/utils.py
  src/lfx/src/lfx/components/files_and_knowledge/file.py
  src/lfx/src/lfx/components/langchain_utilities/csv_agent.py
  src/lfx/src/lfx/services/storage/local.py
  src/lfx/src/lfx/services/storage/service.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix: update lfx serve tests to mock the .serve() to prevent hanging (#10905)
  src/lfx/tests/unit/cli/test_serve.py
Due: azure-pipelines.yml

Fix: lfx run agent _noopresult not iterable error (#10893)
  src/lfx/src/lfx/services/session.py
Due: azure-pipelines.yml

chore: connect endpoint to FE
  src/frontend/src/components/common/assistant/assistantNudgeBar/index.tsx
  src/frontend/src/components/common/assistant/assistantNudgeBar/pills.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: Use customization to get api base urls (#10871)
  .secrets.baseline
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/health/use-get-health.ts
  src/frontend/src/customization/utils/custom-buildUtils.ts
  src/frontend/src/customization/utils/custom-pre-load-image-url.ts
  src/frontend/src/customization/utils/urls.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/components/file-input.tsx
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/components/file-card.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: add code sample customizations (#10884)
  src/frontend/src/customization/utils/custom-code-samples.ts
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/apiModal/utils/get-js-api-code.tsx
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

embedded widget generator
  src/frontend/src/customization/components/custom-api-generator.tsx
  src/frontend/src/modals/EmbedModal/embed-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix:listen to node update the updateNodeInternal
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: use the inline lock package upgrade
  .github/workflows/release.yml
  .secrets.baseline
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
