Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat(kb): give SQLite knowledge bases a store_location
  src/backend/tests/unit/base/knowledge_bases/test_sqlite_backend.py
  src/lfx/src/lfx/base/knowledge_bases/backends/sqlite.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(kb): repoint a knowledge base only if its row still routes where it was read
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(kb): add relocate-kb to move knowledge base vectors between backends
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(kb): keep the live marker on the pgvector class, not the metric test
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(kb): refuse a relocation that changes the ranking metric under non-unit vectors
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(kb): let relocate-kb accept a ranking-metric change on purpose
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(kb): create OpenSearch indexes with the configured space_type
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(kb): read OpenSearch's space_type from its config on every write
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
Due: azure-pipelines.yml

feat(kb): report the metric SQLite knowledge bases rank by
  src/backend/tests/unit/base/knowledge_bases/test_sqlite_backend.py
  src/lfx/src/lfx/base/knowledge_bases/backends/sqlite.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(kb): validate relocation metrics against every stored vector
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/conftest.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_metric_live.py
  src/backend/tests/unit/base/knowledge_bases/test_relocation_opensearch_failures.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(kb): refuse a relocation that changes the ranking metric under non-unit vectors (#15438)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/conftest.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_metric_live.py
  src/backend/tests/unit/base/knowledge_bases/test_relocation_opensearch_failures.py
  src/backend/tests/unit/base/knowledge_bases/test_sqlite_backend.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
  src/lfx/src/lfx/base/knowledge_bases/backends/sqlite.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(kb): add relocate-kb to move knowledge base vectors between backends (#15099)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/utils/knowledge_base_relocation.py
  src/backend/base/langflow/services/knowledge_base_storage/runtime.py
  src/backend/tests/unit/base/knowledge_bases/conftest.py
  src/backend/tests/unit/base/knowledge_bases/test_knowledge_base_relocation.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_metric_live.py
  src/backend/tests/unit/base/knowledge_bases/test_relocation_opensearch_failures.py
  src/backend/tests/unit/base/knowledge_bases/test_sqlite_backend.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
  src/lfx/src/lfx/base/knowledge_bases/backends/opensearch.py
  src/lfx/src/lfx/base/knowledge_bases/backends/postgres.py
  src/lfx/src/lfx/base/knowledge_bases/backends/sqlite.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve dictionary payloads in Type Convert JSON output
  src/backend/tests/unit/components/processing/test_type_converter_component.py
  src/lfx/src/lfx/components/processing/converter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add native MCP IOC triage template
  src/backend/base/langflow/initial_setup/starter_projects/IOC Triage.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: describe pinned local MCP installation
  src/backend/base/langflow/initial_setup/starter_projects/IOC Triage.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(bundles): add GetYouTubeTranscript extension bundle
  docs/docs/Components/bundles-getyoutubetranscript.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  docs/sidebars.js
  pyproject.toml
  scripts/ci/release_inventory_contract.json
  scripts/ci/test_release_inventory.py
  src/bundles/getyoutubetranscript/README.md
  src/bundles/getyoutubetranscript/pyproject.toml
  src/bundles/getyoutubetranscript/src/lfx_getyoutubetranscript/__init__.py
  src/bundles/getyoutubetranscript/src/lfx_getyoutubetranscript/components/getyoutubetranscript/__init__.py
  src/bundles/getyoutubetranscript/src/lfx_getyoutubetranscript/components/getyoutubetranscript/getyoutubetranscript.py
  src/bundles/getyoutubetranscript/src/lfx_getyoutubetranscript/extension.json
  src/bundles/getyoutubetranscript/tests/test_getyoutubetranscript_component.py
  src/frontend/src/icons/GetYouTubeTranscript/GetYouTubeTranscriptIcon.jsx
  src/frontend/src/icons/GetYouTubeTranscript/__tests__/index.test.tsx
  src/frontend/src/icons/GetYouTubeTranscript/index.tsx
  src/frontend/src/icons/__tests__/lazyIconImports.test.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/__tests__/sidebarBundles.test.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/extension/migration/migration_table.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update translations from Globalization Pipeline [skip ci]
  src/frontend/src/locales/de.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(projects): let _new_project run inside the caller's transaction (LE-2727)
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/v1/test_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(getyoutubetranscript): share one request across outputs, keep non-JSON error text, docs wording
  docs/docs/Components/bundles-getyoutubetranscript.mdx
  src/bundles/getyoutubetranscript/src/lfx_getyoutubetranscript/components/getyoutubetranscript/getyoutubetranscript.py
  src/bundles/getyoutubetranscript/tests/test_getyoutubetranscript_component.py
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  docs/docs/Lfx/extensions-bundle-list.mdx
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  docs/docs/_partial-bundle-graduated-install.mdx
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  docs/sidebars.js
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  scripts/ci/release_inventory_contract.json
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  scripts/ci/test_release_inventory.py
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/frontend/src/utils/__tests__/sidebarBundles.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/frontend/src/utils/styleUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/lfx/src/lfx/extension/migration/migration_table.json
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  docs/docs/Components/bundles-darkmoon-findings.mdx
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/README.md
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/pyproject.toml
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/src/lfx_darkmoon_findings/__init__.py
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/src/lfx_darkmoon_findings/components/darkmoon_findings/__init__.py
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/src/lfx_darkmoon_findings/components/darkmoon_findings/darkmoon_findings_parser.py
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/src/lfx_darkmoon_findings/extension.json
Due: azure-pipelines.yml

feat(bundles): add Darkmoon Findings Parser extension bundle
  src/bundles/darkmoon_findings/tests/test_darkmoon_findings_parser_component.py
Due: azure-pipelines.yml

test: scope message attachment fixtures to authorized uploads
  src/backend/tests/unit/test_messages.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): protect global variable headers across redirects
  src/lfx/LFX_MCP.md
  src/lfx/src/lfx/mcp/client.py
  src/lfx/tests/unit/mcp/test_client_global_var_headers.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
