Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(ci): align mcp security test expectations
  src/backend/tests/unit/test_mcp_command_injection_security.py
  src/lfx/src/lfx/base/mcp/security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enhance accessibility of AlertDisplayArea with ARIA landmarks
  src/frontend/src/alerts/displayArea/__tests__/displayArea.a11y.test.tsx
  src/frontend/src/alerts/displayArea/index.tsx
  src/frontend/tests/a11y/model-providers.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: tolerate partial blob downloads in flaky-report job
  .github/workflows/typescript_test.yml
Due: azure-pipelines.yml

feat: enhance ProviderListItem accessibility and interaction
  src/frontend/src/modals/modelProviderModal/__tests__/ProviderListItem.test.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderListItem.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: openai compatible endpoint changes
  docs/docs/Components/bundles-openai.mdx
  docs/docs/Components/bundles-openrouter.mdx
  docs/docs/Components/components-embedding-models.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Develop/extensions-overview.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-global-model-providers.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(a11y): admin and auth pages accessibility
  .secrets.baseline
  src/frontend/.achecker.yml
  src/frontend/src/components/ui/checkbox.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/userManagementModal/index.tsx
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/AdminPage/index.tsx
  src/frontend/tests/a11y/admin-page.a11y.spec.ts
  src/frontend/tests/a11y/auth-pages.a11y.spec.ts
  src/frontend/tests/a11y/baselines/chromium__admin-new-user-modal.json
  src/frontend/tests/a11y/baselines/chromium__admin-page-dark.json
  src/frontend/tests/a11y/baselines/chromium__admin-page-empty.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: enhance accessibility and internationalization for AlertDisplayArea and Button components
  src/frontend/src/alerts/displayArea/__tests__/displayArea.a11y.test.tsx
  src/frontend/src/alerts/displayArea/index.tsx
  src/frontend/src/components/ui/__tests__/button.a11y.test.tsx
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/pages/SettingsPage/pages/DBProvidersPage/index.tsx
  src/frontend/tests/a11y/db-providers.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: openai compatible endpoint
  docs/docs/Components/bundles-openai-compatible.mdx
Due: azure-pipelines.yml

docs: add link to vllm
  docs/docs/Components/bundles-vllm.mdx
Due: azure-pipelines.yml

docs: changes for openai-compatible and partial
  docs/docs/Components/bundles-openai.mdx
  docs/docs/Components/bundles-openrouter.mdx
  docs/docs/Components/bundles-vllm.mdx
  docs/docs/Components/components-embedding-models.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Develop/extensions-overview.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-global-model-providers.mdx
Due: azure-pipelines.yml

fix(docker): avoid incompatible npm latest
  docker/build_and_push.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix(docker): give runtime user a writable npm cache so stdio MCP servers start (#13992)
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

feat(a11y): enhance accessibility in various components
  .secrets.baseline
  src/frontend/src/components/core/parameterRenderComponent/components/dbProviderInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelTrigger.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/types.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/deleteConfirmationModal/index.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/KnowledgeBaseUploadModal.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/MetadataEditor.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/StepConfiguration.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/__tests__/MetadataEditor.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/types.ts
  src/frontend/src/modals/modelProviderModal/__tests__/ProviderListItem.test.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderListItem.tsx
  src/frontend/src/modals/stepperModal/StepperModal.tsx
  src/frontend/src/modals/stepperModal/types.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/IngestionRunDetailModal.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/components/ChunksMetadataFilter.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/components/MetadataCombobox.tsx
  src/frontend/tests/a11y/knowledge-bases.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: thin single focus border on global-variable input (#13995)
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/style/applies.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

添加中文readme
  WORK_PLAN.md
Due: azure-pipelines.yml

添加中文readme
  .gitignore
Due: azure-pipelines.yml

添加中文README
  .env
  README.zh-CN.md
Due: azure-pipelines.yml

Redact LANGFLOW_SUPERUSER_PASSWORD
  .env
Due: azure-pipelines.yml

triton backend server
  src/backend/base/langflow/api/v1/triton_servers.py
  src/frontend/src/pages/SettingsPage/index.tsx
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

triton server
  src/backend/base/langflow/alembic/versions/b8dafef2be6b_add_triton_server_table.py
  src/backend/base/langflow/alembic/versions/ce9c1093c5ed_merge_heads.py
  src/backend/base/langflow/services/database/models/triton_server/__init__.py
  src/backend/base/langflow/services/database/models/triton_server/crud.py
  src/backend/base/langflow/services/database/models/triton_server/model.py
  src/frontend/src/controllers/API/queries/triton/index.ts
  src/frontend/src/controllers/API/queries/triton/use-delete-triton-server.ts
  src/frontend/src/controllers/API/queries/triton/use-get-triton-health.ts
  src/frontend/src/controllers/API/queries/triton/use-get-triton-metrics.ts
  src/frontend/src/controllers/API/queries/triton/use-get-triton-models.ts
  src/frontend/src/controllers/API/queries/triton/use-get-triton-server-meta.ts
  src/frontend/src/controllers/API/queries/triton/use-get-triton-servers.ts
  src/frontend/src/controllers/API/queries/triton/use-patch-triton-server.ts
  src/frontend/src/controllers/API/queries/triton/use-post-triton-infer.ts
  src/frontend/src/controllers/API/queries/triton/use-post-triton-repository-op.ts
  src/frontend/src/controllers/API/queries/triton/use-post-triton-server.ts
  src/frontend/src/modals/addTritonServerModal/index.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/components/InferTab.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/components/MetricsTab.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/components/ModelsTab.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/components/OverviewTab.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/components/RepositoryTab.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/hooks/useTritonConnection.ts
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/detail/index.tsx
  src/frontend/src/pages/SettingsPage/pages/TritonServersPage/index.tsx
  src/frontend/src/types/triton/index.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

修改tritonserver的icon
  src/frontend/src/pages/SettingsPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): center update toast buttons vertically
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): optimistic-lock concurrent MCP server PATCHes
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/tests/unit/api/v2/test_mcp_db_store.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ci: add non-blocking flaky test report job with 30-day retention (#13996)
  .github/workflows/typescript_test.yml
Due: azure-pipelines.yml

docs: add Latitude observability integration
  docs/docs/Develop/integrations-latitude.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(a11y): improve API keys tab order (#13953)
  .agents/skills/frontend-a11y-check/SKILL.md
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/hooks/__tests__/use-ag-grid-accessibility-patch.test.ts
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/hooks/use-ag-grid-accessibility-patch.ts
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/utils/applyRowTabIndices.ts
  src/frontend/src/components/core/sidebarComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/modelProviderModal/__tests__/ProviderListItem.test.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderListItem.tsx
  src/frontend/src/modals/secretKeyModal/components/content-render.tsx
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
  src/frontend/src/modals/textModal/index.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/FlowInsightsContent.a11y.test.ts
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/EditShortcutButton/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
  src/frontend/tests/a11y/README.md
  src/frontend/tests/a11y/api-keys.a11y.spec.ts
  src/frontend/tests/a11y/ibm-able-level-1-requirements.md
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(a11y): return focus to upload button after file picker cancel (LE-1744)
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
  src/frontend/tests/a11y/files.a11y.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: collapse the flow-folder listing helpers into one query builder
  src/backend/base/langflow/helpers/flow.py
  src/lfx/src/lfx/helpers/flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): show Azure icon for Azure AI Foundry provider
  src/frontend/src/controllers/API/queries/models/__tests__/use-get-model-providers.test.ts
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: describe A2A publishing from the Agent tab
  docs/docs/Agents/a2a-server.mdx
Due: azure-pipelines.yml

remove raw error from notice
  docs/features/langflow-assistant.md
  src/backend/base/langflow/agentic/helpers/error_handling.py
  src/backend/tests/unit/agentic/helpers/test_error_handling.py
  src/frontend/src/controllers/API/queries/agentic/types.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): return 404/409 instead of 500 for not-found/conflict
  src/backend/base/langflow/api/v2/mcp.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

bumps seed for more cycle detection cov
  src/lfx/tests/unit/graph/graph/test_utils.py
Due: azure-pipelines.yml

fix(locales): add missing commas in translation files for consistency
  .secrets.baseline
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: never finalize a SUSPENDED job (+drift guard)
  src/backend/base/langflow/api/v2/workflow_background.py
  src/backend/tests/unit/api/v2/test_workflow_background.py
  src/backend/tests/unit/background_execution/test_job_status_enum_consistency.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a2a): harden the agent component's internal selection and card fetch
  src/backend/tests/unit/api/v1/test_a2a.py
  src/frontend/src/components/core/parameterRenderComponent/components/dataDisplayComponent/index.tsx
  src/lfx/src/lfx/components/models_and_agents/a2a_agent.py
  src/lfx/tests/unit/components/models_and_agents/test_a2a_agent.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
