Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fixed padding
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

style: convert double quotes to single quotes in model provider components
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixes refresh and kb blocker
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/hooks/use-refresh-model-inputs.ts
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
  src/frontend/src/modals/modelProviderModal/index.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseEmptyState.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed jest test
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/controllers/API/queries/models/__tests__/use-get-model-providers.test.ts
  src/frontend/src/hooks/__tests__/use-refresh-model-inputs.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

style: convert double quotes to single quotes in ModelTrigger component
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelTrigger.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

style: convert double quotes to single quotes in modelInputComponent
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/types.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add ondelete flag to fk in flow version table
  src/backend/base/langflow/services/database/models/flow_version/model.py
  src/backend/base/langflow/services/database/models/traces/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: increase horizontal padding in SourceChunksPage from px-4 to px-5
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

set uuid nullable
  src/backend/base/langflow/alembic/versions/7d327cfafab6_add_flow_history_table.py
  src/backend/base/langflow/services/database/models/flow_version/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

remove prefix for varibles in flows
  src/backend/base/langflow/services/deployment/watsonx_orchestrate.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add upgrade migration check to ci
  .github/workflows/migration-validation.yml
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add fetch step
  .github/workflows/migration-validation.yml
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add pdf and docx for knowledge bases
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/test_extract_text_from_bytes.py
  src/frontend/src/modals/knowledgeBaseUploadModal/constants.ts
  src/lfx/src/lfx/base/data/utils.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ruff style checker fix
  src/backend/tests/unit/test_extract_text_from_bytes.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Embedding Model Field Stuck in Infinite Loading When No Model Provider is Configured (release-1.8.0) (#12053)
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/components/ModelTrigger.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/types.ts
  src/frontend/src/controllers/API/queries/models/__tests__/use-get-model-providers.test.ts
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
  src/frontend/src/hooks/__tests__/use-refresh-model-inputs.test.ts
  src/frontend/src/hooks/use-refresh-model-inputs.ts
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
  src/frontend/src/modals/modelProviderModal/index.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ruff
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

remove-knowledge-ingestion-and-rename-knowledge-retrieval
  docs/docs/Components/knowledge-base.mdx
  docs/docs/Components/knowledge-ingestion.mdx
  docs/docs/Develop/knowledge.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix jest test
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

use kwarg lambda
  src/lfx/tests/unit/services/test_adapter_registry_concurrency.py
Due: azure-pipelines.yml

fix glitch on refresh list
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: remove kb ingestion and rename kb retrieval (#12065)
  docs/docs/Components/knowledge-base.mdx
  docs/docs/Components/knowledge-ingestion.mdx
  docs/docs/Develop/knowledge.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(test): Reduce response length assertions in flaky integration tests (#12057)
  src/frontend/tests/core/integrations/Instagram Copywriter.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

improve tests
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix alembic chain for cascade migration in release branch
  src/backend/base/langflow/alembic/versions/59a272d6669a_ensure_trace_flow_id_cascade.py
  src/backend/base/langflow/alembic/versions/7d327cfafab6_add_flow_history_table.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add missing test files
  src/backend/base/langflow/tests/services/database/models/test_strip_or_raise.py
  src/backend/base/langflow/tests/services/database/models/test_validate_non_empty_string.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Close model dropdown popover before refresh to prevent width glitch (#12067)
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/tests/core/integrations/Instagram Copywriter.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add PDF and DOCX ingestion support for Knowledge Bases (#12064)
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/test_extract_text_from_bytes.py
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/constants.ts
  src/lfx/src/lfx/base/data/utils.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Review and new tests
  src/backend/tests/unit/components/files_and_knowledge/test_retrieval.py
  src/lfx/src/lfx/components/files_and_knowledge/retrieval.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add merge migration
  src/backend/base/langflow/alembic/versions/a1b2c3d4e5f7_merge_cascade_and_flow_history.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Revert "Add merge migration"
  src/backend/base/langflow/alembic/versions/a1b2c3d4e5f7_merge_cascade_and_flow_history.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: refactor KnowledgeBaseEmptyState to use optimistic updates hook
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseEmptyState.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

correct down path
  src/backend/base/langflow/alembic/versions/7d327cfafab6_add_flow_history_table.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

updated tst
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/__tests__/KnowledgeBaseEmptyState.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

use randomly generated reivison id
  src/backend/base/langflow/alembic/versions/fc7f696a57bf_merge_cascade_and_flow_history.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
