Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix: remove inspectionPanelVisible coupling from GenericNode
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: hide handle, readonly, and connected fields from inspection panel
  src/frontend/src/CustomNodes/helpers/parameter-filtering.ts
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelFields.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

perf: scope edge subscription to connected fields for this node only
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelFields.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

auto focus tooltip repair
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/TableOptions/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: rename node toolbar edit button testid and update tests for dual-panel visibility
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/tests/extended/features/edit-name-description-node.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: skip logs tests while logs button is being removed
  src/frontend/tests/core/features/logs.spec.ts
  src/frontend/tests/extended/features/flow-logs-modal.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixed button design
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

only validate filled in fields
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

hide selection when selecting
  src/frontend/src/components/core/parameterRenderComponent/components/multiselectComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update options when searching to update combobox value
  src/frontend/src/components/core/parameterRenderComponent/components/multiselectComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Changed watsonx endpoint to be combobox, allowing custom values
  src/frontend/src/constants/providerConstants.ts
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/lfx/src/lfx/base/models/model_metadata.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

replace with value urls as folder structure seems to have changed
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/lfx/tests/data/starter_projects_1_6_0/Custom Component Generator.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update tests for connected fields hidden in edit mode and dual-panel button visibility
  src/frontend/tests/extended/regression/general-bugs-hidden-input-edges.spec.ts
  src/frontend/tests/extended/regression/general-bugs-reset-flow-run.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refetch models when changing tabs, adding empty models on ollama
  src/frontend/src/modals/modelProviderModal/__tests__/ModelSelection.test.tsx
  src/frontend/src/modals/modelProviderModal/components/ModelSelection.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderList.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: address CodeRabbit review issues for PR #11833
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: use uv sources for CPU-only PyTorch
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixed
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add _to_str helper and coerce provider params
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: azure-pipelines.yml

Add replace_with_live_models helper
  src/backend/base/langflow/api/v1/models.py
  src/backend/tests/unit/api/v1/test_models_enabled_providers.py
  src/lfx/src/lfx/base/models/__init__.py
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add prune warning dialog, add domain-specific exceptions
  src/backend/base/langflow/api/utils/core.py
  src/backend/base/langflow/api/v1/flow_history.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/services/database/models/flow_history/__init__.py
  src/backend/base/langflow/services/database/models/flow_history/crud.py
  src/backend/base/langflow/services/database/models/flow_history/exceptions.py
  src/backend/base/langflow/services/database/models/flow_history/model.py
  src/backend/tests/unit/api/v1/test_flow_history.py
  src/frontend/src/components/core/flowToolbarComponent/components/history-button.tsx
  src/frontend/src/components/ui/dropdown-menu.tsx
  src/frontend/src/controllers/API/queries/flow-history/use-get-flow-history.ts
  src/frontend/src/pages/FlowPage/components/FlowHistoryPanel/index.tsx
  src/frontend/src/types/flow/history.ts
  src/lfx/src/lfx/base/models/unified_models.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

resolve review comments
  src/backend/base/langflow/alembic/versions/2ef4ca4016a3_add_sso_plugin_tables_sso_user_profile_.py
  src/backend/base/langflow/plugin_routes.py
  src/backend/base/langflow/services/database/models/auth/sso.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(frontend): playground UI tweaks
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/playground-button.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/input-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/messages.tsx
  src/frontend/src/components/ui/simple-sidebar.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): playground UI tweaks
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/text-area-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add more tests
  src/backend/tests/unit/test_database_windows_postgres_integration.py
  src/backend/tests/unit/test_sso_models.py
  src/backend/tests/unit/test_windows_postgres_helper.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs-add-litellm-proxy-component
  docs/docs/Components/bundles-lite-llm.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

chore: add session_id
  src/backend/base/langflow/api/v1/traces.py
  src/frontend/src/modals/flowLogsModal/components/TraceView/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(frontend): playground UI tweaks
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/edit-message-field.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/user-message.tsx
  src/frontend/src/components/core/playgroundComponent/sliding-container/components/flow-page-sliding-container.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix ruff errors
  src/backend/tests/unit/test_sso_models.py
  src/backend/tests/unit/test_windows_postgres_helper.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: allo grouping by session_id and flow_id
  src/backend/base/langflow/api/v1/traces.py
  src/backend/base/langflow/services/database/models/traces/model.py
  src/backend/base/langflow/services/tracing/native.py
  src/frontend/src/modals/flowLogsModal/components/TraceView/index.tsx
  src/frontend/src/modals/flowLogsModal/components/TraceView/types.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixes from qa
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/frontend/src/controllers/API/queries/knowledge-bases/use-get-knowledge-bases.ts
  src/frontend/src/modals/knowledgeBaseUploadModal/components/StepConfiguration.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/hooks/useKnowledgeBaseForm.ts
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
  src/frontend/src/style/ag-theme-shadcn.css
  src/frontend/src/utils/styleUtils.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: streamline tests for HybridChunker and add parameterized tests for flags
  src/backend/tests/unit/components/docling/test_chunk_docling_document_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Adjust Ollama model test expectations and import
  src/backend/tests/unit/api/v1/test_models_enabled_providers.py
  src/lfx/src/lfx/components/ollama/ollama.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
