Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

feat(docs): align docs primary pink with API spec brand color
  docs/css/sidebar.css
  docs/css/tokens.css
Due: azure-pipelines.yml

feat(docs): lighten dark theme text colors for better readability
  docs/css/tokens.css
Due: azure-pipelines.yml

chore(docs): add IBM Equal Access accessibility-checker setup
  .gitignore
  docs/aceconfig.js
  docs/package-lock.json
  docs/package.json
Due: azure-pipelines.yml

fix(docs): WCAG AA contrast and ARIA fixes across docs and API reference
  docs/css/code.css
  docs/css/redocusaurus.css
  docs/css/tokens.css
  docs/docusaurus.config.js
  docs/src/clientModules/codeBlockA11y.js
  docs/src/clientModules/redocA11y.js
  docs/src/theme/TabItem/index.tsx
  docs/src/theme/TabItem/styles.module.css
Due: azure-pipelines.yml

fix(docs): WCAG AA contrast fixes for dark theme
  docs/css/code.css
  docs/css/redocusaurus.css
  docs/docusaurus.config.js
  docs/src/clientModules/redocA11y.js
Due: azure-pipelines.yml

fix(docs): resolve remaining Redoc-internal accessibility violations
  docs/src/clientModules/redocA11y.js
Due: azure-pipelines.yml

ci(docs): gate docs accessibility with IBM Equal Access scans
  .github/workflows/docs_test.yml
  docs/aceconfig.js
  docs/scripts/a11y-ci.sh
Due: azure-pipelines.yml

ci(docs): fix Chrome sandbox launch on Ubuntu 24.04 runners
  .github/workflows/docs_test.yml
Due: azure-pipelines.yml

fix(docs): align response status code with description text
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

refactor(docs): apply PR review feedback
  docs/docs/Components/concepts-components.mdx
  docs/docusaurus.config.js
  docs/src/clientModules/codeBlockA11y.js
  docs/src/clientModules/redocA11y.js
  docs/src/prismThemes.js
  docs/versioned_docs/version-1.8.0/Components/concepts-components.mdx
  docs/versioned_docs/version-1.9.0/Components/concepts-components.mdx
Due: azure-pipelines.yml

fix(ci): strip v-prefix from nightly_tag + de-flake unpinned assertion
  .github/workflows/nightly_fresh_install.yml
Due: azure-pipelines.yml

fix(ci): use packaging.version for unpinned assertion (portable across BSD/GNU sort)
  .github/workflows/nightly_fresh_install.yml
Due: azure-pipelines.yml

feat(lothal): retire Builder, add /lothal frontend namespace
  src/frontend/src/controllers/API/queries/lothal/index.ts
  src/frontend/src/pages/lothal/Dashboard/index.tsx
  src/frontend/src/pages/lothal/Workspace/index.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lothal): address review feedback and add frontend tests
  src/frontend/src/controllers/API/queries/lothal/__tests__/index.test.ts
  src/frontend/src/pages/lothal/Dashboard/__tests__/Dashboard.test.tsx
  src/frontend/src/pages/lothal/Dashboard/index.tsx
  src/frontend/src/pages/lothal/Workspace/__tests__/Workspace.test.tsx
  src/frontend/src/pages/lothal/Workspace/index.tsx
  src/frontend/src/pages/lothal/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(i18n): translate QA-identified missing strings for 1.10.0 (#13503)
  src/backend/base/langflow/locales/ja.json
  src/frontend/src/components/core/canvasControlsComponent/CanvasControls.tsx
  src/frontend/src/components/core/flowBuilderWelcome/__tests__/flow-builder-welcome.test.tsx
  src/frontend/src/components/core/flowBuilderWelcome/flow-builder-welcome.constants.ts
  src/frontend/src/components/core/flowBuilderWelcome/flow-builder-welcome.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
  src/frontend/src/flow_constants.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/LastUsedAtCellRender/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(lfx): add opt-in --reset-environ and --sync-workers to lfx serve
  src/lfx/README.md
  src/lfx/pyproject.toml
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/cli/serve_gunicorn.py
  src/lfx/src/lfx/cli/serve_preloaded_app.py
  src/lfx/tests/unit/cli/test_serve.py
  src/lfx/tests/unit/cli/test_serve_env_isolation_integration.py
  src/lfx/tests/unit/cli/test_serve_process_model.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs-add-existing-changes
  src/lfx/LFX_MCP.md
  src/lfx/README.md
Due: azure-pipelines.yml

feat(lothal): add B.1 design-system foundation (theme, atoms, NotReady)
  src/frontend/index.html
  src/frontend/src/pages/lothal/DesignSystem/index.tsx
  src/frontend/src/pages/lothal/components/Button.tsx
  src/frontend/src/pages/lothal/components/EmptyHint.tsx
  src/frontend/src/pages/lothal/components/LothalMark.tsx
  src/frontend/src/pages/lothal/components/NotReady.tsx
  src/frontend/src/pages/lothal/components/PhaseStepper.tsx
  src/frontend/src/pages/lothal/components/StatusDot.tsx
  src/frontend/src/pages/lothal/components/TopBar.tsx
  src/frontend/src/pages/lothal/components/__tests__/components.test.tsx
  src/frontend/src/pages/lothal/components/index.ts
  src/frontend/src/pages/lothal/components/phases.ts
  src/frontend/src/pages/lothal/theme/LothalSurface.tsx
  src/frontend/src/pages/lothal/theme/lothal-theme.css
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lothal): address PR review feedback
  src/frontend/src/pages/lothal/components/Button.tsx
  src/frontend/src/pages/lothal/components/EmptyHint.tsx
  src/frontend/src/pages/lothal/components/PhaseStepper.tsx
  src/frontend/src/pages/lothal/theme/lothal-theme.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix-combining-of-glyphs
  docs/css/code.css
Due: azure-pipelines.yml

docs-lfx-compatibility
  docs/docs/Deployment/deployment-lfx-compatibility.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

docs: lfx readme and lfx mcp (#13010)
  src/lfx/LFX_MCP.md
  src/lfx/README.md
Due: azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Deployment/deployment-multi-worker.mdx
Due: azure-pipelines.yml

fix: slider value lost when adjusting before the node is selected (#13515)
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/__tests__/slider-node-selection.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

improve testcases
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/tests/extended/features/sticky-notes-dimensions.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(storage): support custom S3 endpoint URL
  docs/docs/Develop/concepts-file-management.mdx
  docs/versioned_docs/version-1.8.0/Develop/concepts-file-management.mdx
  docs/versioned_docs/version-1.9.0/Develop/concepts-file-management.mdx
  src/backend/base/langflow/services/storage/s3.py
  src/backend/tests/unit/services/storage/test_s3_storage_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

peer-review
  docs/docs/Deployment/deployment-multi-worker.mdx
Due: azure-pipelines.yml

fix: use shadcn canvas colors for playground code blocks and chat-bg for the container
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/codeTabsComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(canvas): anchor new note bottom-center to cursor on placement (#13441)
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/MemoizedCanvasControls.test.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/compute-note-position.test.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/utils/compute-note-position.ts
  src/frontend/tests/extended/features/sticky-notes-dimensions.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

perf(telemetry): batched off-pool writer for transactions + vertex_builds (#13126)
  .github/workflows/nightly_build.yml
  .github/workflows/stress-tests.yml
  .secrets.baseline
  pyproject.toml
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/telemetry_writer/__init__.py
  src/backend/base/langflow/services/telemetry_writer/factory.py
  src/backend/base/langflow/services/telemetry_writer/service.py
  src/backend/base/langflow/services/transaction/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/utils.py
  src/backend/tests/stress/README.md
  src/backend/tests/stress/__init__.py
  src/backend/tests/stress/stress_telemetry_writes.py
  src/backend/tests/unit/services/telemetry_writer/__init__.py
  src/backend/tests/unit/services/telemetry_writer/test_service.py
  src/lfx/src/lfx/graph/utils.py
  src/lfx/src/lfx/services/schema.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: gunicorn worker configuration (#13511)
  docs/docs/Deployment/deployment-multi-worker.mdx
  docs/docs/Develop/environment-variables.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix: standardize playground code block + container backgrounds on shadcn tokens (#13520)
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/codeTabsComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

build-api
  docs/openapi/langflow-workflows-openapi.json
  docs/openapi/openapi.json
Due: azure-pipelines.yml

fix: serialize DataFrames in tool mode to prevent pandas truncation
  .secrets.baseline
  src/backend/tests/conftest.py
  src/backend/tests/unit/base/tools/test_dataframe_tool_serialization.py
  src/lfx/src/lfx/components/files_and_knowledge/memory_retrieval.py
  src/lfx/src/lfx/schema/dataframe.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/bundles/arxiv/pyproject.toml
  src/bundles/docling/pyproject.toml
  src/bundles/duckduckgo/pyproject.toml
  src/bundles/ibm/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
