Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat: Add endpoint to expand compact flow format to full flow format
  src/backend/base/langflow/api/v1/flows.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add unit tests for expand_compact_flow functionality
  src/backend/tests/unit/test_expand_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add image mismatch type validation
  src/backend/tests/unit/components/files_and_knowledge/test_file_component_image_processing.py
  src/lfx/src/lfx/base/data/storage_utils.py
  src/lfx/src/lfx/components/files_and_knowledge/file.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

misc
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor mcp and mcp_projects
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
  src/backend/tests/unit/api/v1/test_mcp.py
  src/backend/tests/unit/api/v1/test_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

clean up v2/mcp
  src/backend/base/langflow/api/v2/mcp.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

migrate mcp transport to http streamable
  src/backend/base/langflow/api/utils/mcp/__init__.py
  src/backend/base/langflow/api/utils/mcp/config_utils.py
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/tests/unit/api/utils/test_config_utils.py
  src/backend/tests/unit/api/v1/test_mcp.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/frontend/src/controllers/API/queries/mcp/use-get-composer-url.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-flows-mcp.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-install-mcp.ts
  src/frontend/src/customization/utils/custom-mcp-url.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpAutoInstallContent.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpJsonContent.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/__tests__/McpJsonContent.test.tsx
  src/frontend/src/pages/MainPage/pages/homePage/hooks/__tests__/useMcpServer.test.tsx
  src/frontend/src/pages/MainPage/pages/homePage/hooks/useMcpServer.ts
  src/frontend/src/pages/MainPage/pages/homePage/utils/mcpServerUtils.tsx
  src/frontend/src/types/mcp/index.ts
  src/lfx/src/lfx/services/mcp_composer/service.py
  src/lfx/tests/unit/services/settings/test_mcp_composer.py
  src/lfx/tests/unit/services/settings/test_mcp_composer_windows.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ruff (mcp)
  src/backend/base/langflow/api/utils/mcp/__init__.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add back ensure_session_mgr_running handler
  src/backend/base/langflow/api/v1/mcp.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor mcp server and set default mcp settings on project creation
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/main.py
  src/backend/tests/integration/test_projects_integration.py
  src/frontend/src/customization/utils/custom-mcp-url.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/pages/MainPage/pages/homePage/hooks/useMcpServer.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix mcp auto install tests
  src/frontend/src/pages/MainPage/pages/homePage/components/__tests__/McpAutoInstallContent.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update qdrant to structure ingestion stats and add bool to return text only in search
  src/backend/base/langflow/components/qdrant/qdrant.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Read website domain from env file (#239)
  .env-file
  .github/workflows/ebs-common-stage-prod.yml
  src/backend/base/langflow/services/auth/clerk_utils.py
  src/frontend/src/clerk/OrganizationPage.tsx
  src/frontend/src/clerk/auth.tsx
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: Add FunctionComponent feature research document
  docs/research/function-component-feature.md
Due: azure-pipelines.yml

Catching Anthropic and other exceptions.
  src/lfx/src/lfx/base/agents/altk_tool_wrappers.py
Due: azure-pipelines.yml

docs: Add BaseInputMixin attributes to FunctionComponent research
  docs/research/function-component-feature.md
Due: azure-pipelines.yml

docs: Expand FunctionComponent research with tests and DX analysis
  docs/research/function-component-feature.md
Due: azure-pipelines.yml

docs: Add decorator API design and persistence mechanism to FunctionComponent research
  docs/research/function-component-feature.md
Due: azure-pipelines.yml

fix mcp ctx mgmt in main.py
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

use global exit stack mcp project servers
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

use global exit stack mcp project servers
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

return noop response in streamable dispatcher
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/tests/unit/api/v1/test_mcp.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs (main.py)
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/main.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: Add UI workflow and validate endpoint support for FunctionComponent
  docs/research/function-component-feature.md
Due: azure-pipelines.yml

Align Clerk modals with app theme and add debugging tab (#241)
  src/frontend/src/clerk/auth.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/DebuggingPage.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Adding trail access fields for users Skip trial access and trial access until (#244)
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/services/auth/clerk_utils.py
  src/backend/base/langflow/services/database/constants.py
  src/backend/base/langflow/services/database/organisation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: restore cuga version to correct one
  pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update component index
  src/lfx/src/lfx/_assets/component_index.json
Due: azure-pipelines.yml

Upgrade cuga dep
  pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add nightly package version to component index build
  scripts/build_component_index.py
  src/lfx/src/lfx/interface/components.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update docs
  src/lfx/src/lfx/interface/components.py
Due: azure-pipelines.yml

feat: add sliding container chat view with session management
  src/frontend/src/components/core/flowToolbarComponent/components/playground-button.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header-actions.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sessions-dropdown.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sidebar.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-logs-modal.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-more-menu.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-rename.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector/index.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector/session-selector.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/index.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/types/chat-header.types.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/hooks/use-get-flow-id.ts
  src/frontend/src/controllers/API/queries/messages/use-put-update-messages.ts
  src/frontend/src/controllers/API/queries/messages/use-rename-session.ts
  src/frontend/src/customization/components/custom-flow-page-sliding-container.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: consolidate and simplify chat-header components
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/__tests__/chat-header.test.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header-actions.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header-title.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-sidebar.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-more-menu.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector/session-selector.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/hooks/use-chat-header-rename.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/hooks/use-chat-header-session-actions.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/utils/get-session-title.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/utils/is-no-messages-error.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: implement side-by-side layout for flow and slide container
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: update playground button and share button styling
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/customization/components/custom-playground-button-sliding.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: remove customization test files, keep only chat-header tests
  src/frontend/src/customization/components/__tests__/custom-playground-button-sliding.test.tsx
  src/frontend/src/customization/components/__tests__/custom-sliding-container.test.tsx
  src/frontend/src/customization/stores/__tests__/sliding-container-store.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
