Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(i18n): truncate long checklist labels with tooltip in get-started sidebar
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

align-links-with-title
  docs/docs/Develop/environment-variables.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

fix(i18n): align assistant banner translation with panel title in ja, es, pt
  src/frontend/src/locales/es.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: prevent X-Forwarded-For bypass of login rate limit
  .env.example
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/server.py
  src/backend/tests/unit/test_rate_limit_bypass_prevention.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: improve langflow maintenance path
  scripts/test_validator.py
  src/backend/tests/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix-links
  docs/docs/Develop/environment-variables.mdx
Due: azure-pipelines.yml

mismatched-timeout-values
  docs/docs/Deployment/deployment-multi-worker.mdx
Due: azure-pipelines.yml

fix: enable IBM watsonx.ai bundle on Python 3.14
  src/backend/base/pyproject.toml
  src/bundles/ibm/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enable agent-lifecycle-toolkit (altk) on Python 3.14
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update drift-guard test to include forwarded_allow_ips key
  src/backend/tests/unit/test_cli.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: stop import-skipping IBM watsonx tests on Python 3.14
  .secrets.baseline
  src/backend/tests/unit/base/models/test_model_utils.py
  src/bundles/ibm/README.md
  src/bundles/ibm/tests/test_watsonx.py
  src/bundles/ibm/tests/test_watsonx_embeddings.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: correct stale <3.14 comment in ALTK test import guards
  src/backend/tests/unit/components/models_and_agents/test_altk_agent.py
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_logic.py
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_tool_conversion.py
  src/backend/tests/unit/components/models_and_agents/test_conversation_context_ordering.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enable IBM watsonx.ai bundle on Python 3.14 (#13512)
  .secrets.baseline
  src/backend/base/pyproject.toml
  src/backend/tests/unit/base/models/test_model_utils.py
  src/bundles/ibm/README.md
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/tests/test_watsonx.py
  src/bundles/ibm/tests/test_watsonx_embeddings.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: decouple Db2 vector store ingestion from search query
  src/bundles/ibm/src/lfx_ibm/components/ibm/db2_vector.py
  src/bundles/ibm/tests/test_db2_vector.py
Due: azure-pipelines.yml

fix: enable agent-lifecycle-toolkit (altk) on Python 3.14 (#13513)
  src/backend/base/pyproject.toml
  src/backend/tests/unit/components/models_and_agents/test_altk_agent.py
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_logic.py
  src/backend/tests/unit/components/models_and_agents/test_altk_agent_tool_conversion.py
  src/backend/tests/unit/components/models_and_agents/test_conversation_context_ordering.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: decouple Db2 vector store ingestion from search query (#13514)
  src/bundles/ibm/src/lfx_ibm/components/ibm/db2_vector.py
  src/bundles/ibm/tests/test_db2_vector.py
Due: azure-pipelines.yml

fix: commit slider value before node selection consumes the interaction
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/__tests__/slider-node-selection.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/__tests__/slider-node-selection.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/__tests__/slider-node-selection.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/bundles/arxiv/pyproject.toml
  src/bundles/docling/pyproject.toml
  src/bundles/duckduckgo/pyproject.toml
  src/bundles/ibm/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(bundles): sync lfx pin to the 1.10.0 line after version realignment
  Makefile
  scripts/ci/sync_bundle_lfx_pin.py
  scripts/migrate/port_bundle.py
  src/backend/tests/unit/test_bundle_lfx_pin.py
  src/bundles/PORTING.md
  src/bundles/arxiv/pyproject.toml
  src/bundles/docling/pyproject.toml
  src/bundles/duckduckgo/pyproject.toml
  src/bundles/ibm/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(bundles): sync lfx pin to the 1.10.0 line after version realignment (#13516)
  Makefile
  scripts/ci/sync_bundle_lfx_pin.py
  scripts/migrate/port_bundle.py
  src/backend/tests/unit/test_bundle_lfx_pin.py
  src/bundles/PORTING.md
  src/bundles/arxiv/pyproject.toml
  src/bundles/docling/pyproject.toml
  src/bundles/duckduckgo/pyproject.toml
  src/bundles/ibm/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: prevent X-Forwarded-For bypass of login rate limit (#13509)
  .env.example
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/server.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_rate_limit_bypass_prevention.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(docs): prevent horizontal scroll on API docs pages
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

feat(docs): add sidebar dark background, active item styles, and right panel color adjustments
  docs/css/redocusaurus.css
  docs/docusaurus.config.js
Due: azure-pipelines.yml

wip(docs): API docs styling — colors, components, light/dark themes
  docs/css/redocusaurus.css
  docs/docusaurus.config.js
Due: azure-pipelines.yml

refactor(docs): standardize selectors, comments and remove duplicate rules in redocusaurus.css
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

refactor(docs): apply PR review — CSS custom properties, version pin, dom version comments, fix overflow
  docs/css/redocusaurus.css
  docs/docusaurus.config.js
  docs/package.json
Due: azure-pipelines.yml

feat(docs): align API docs colors with Langflow brand
  docs/css/redocusaurus.css
  docs/docusaurus.config.js
Due: azure-pipelines.yml

fix(docs): fix Response samples h3 title padding and refactor HTTP method button CSS
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

fix(docs): fix expanded response background and align dark/light theme colors
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

fix(docs): fix Redocly badge visibility covered by sidebar background
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

fix(docs): add sidebar borders and remove operation divider border
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

fix(docs): extend sidebar border-right to Redocly badge area
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

fix(docs): API docs sidebar and layout fixes
  docs/css/redocusaurus.css
  docs/docusaurus.config.js
Due: azure-pipelines.yml

refactor(docs): replace hardcoded #ffffff label color with --redoc-text-label variable
  docs/css/redocusaurus.css
Due: azure-pipelines.yml

fix(docs): render markdown correctly in API docs descriptions
  docs/openapi/generate_openapi.py
  docs/openapi/openapi.json
Due: azure-pipelines.yml

fix(docs): lighten inline code background in API docs dark theme
  docs/css/redocusaurus.css
Due: azure-pipelines.yml
