Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat(api): block HITL flows on v1 run with clear error
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/run_validation.py
  src/backend/tests/unit/api/v1/test_run_hitl_block.py
  src/backend/tests/unit/components/flow_controls/test_human_input.py
  src/frontend/src/modals/toolsModal/components/toolsTable/RequiresApprovalToggle.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/__tests__/requiresApprovalToggle.test.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/lfx/src/lfx/components/flow_controls/human_input.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(models): add Azure AI Foundry to unified model provider setup
  src/lfx/src/lfx/base/models/azure_ai_foundry_constants.py
  src/lfx/src/lfx/base/models/model_metadata.py
  src/lfx/src/lfx/base/models/unified_models/class_registry.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/base/models/unified_models/provider_queries.py
  src/lfx/src/lfx/services/settings/constants.py
  src/lfx/src/lfx/utils/flow_requirements.py
  src/lfx/tests/unit/base/models/test_azure_ai_foundry_provider.py
Due: azure-pipelines.yml

style: apply ruff autofix to instantiation.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
Due: azure-pipelines.yml

style: apply ruff format to test_vllm_provider.py
  src/lfx/tests/unit/base/models/test_vllm_provider.py
Due: azure-pipelines.yml

fix: scope local vector store collections by user (#13882)
  .secrets.baseline
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/initial_setup/starter_projects/Content Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/pyproject.toml
  src/backend/tests/unit/api/test_log_router.py
  src/backend/tests/unit/components/bundles/chroma/test_local_db_component.py
  src/backend/tests/unit/components/processing/test_save_file_component.py
  src/backend/tests/unit/components/vectorstores/test_chroma_vector_store_component.py
  src/backend/tests/unit/test_memory_bases.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/chroma/chroma.py
  src/bundles/lfx-bundles/src/lfx_bundles/chroma/local_db.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/composio/safe_provider.py
  src/lfx/src/lfx/base/vectorstores/user_scoping.py
  src/lfx/src/lfx/components/files_and_knowledge/save_file.py
  src/lfx/tests/unit/base/vectorstores/__init__.py
  src/lfx/tests/unit/base/vectorstores/test_user_scoping.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): harden multi-tenant code-exec and env-var leak surfaces
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/tests/unit/components/llm_operations/test_lambda_filter.py
  src/lfx/src/lfx/components/llm_operations/lambda_filter.py
  src/lfx/src/lfx/interface/initialize/loading.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/src/lfx/utils/env_var_security.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/interface/test_loading_no_env_fallback.py
  src/lfx/tests/unit/utils/test_env_var_security.py
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): close 4 multi-tenant secret-leak, SSRF, and file-read holes
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/components/data_source/test_web_search.py
  src/backend/tests/unit/components/files_and_knowledge/test_directory_component.py
  src/backend/tests/unit/services/variable/test_service.py
  src/lfx/src/lfx/base/data/base_file.py
  src/lfx/src/lfx/components/data_source/csv_to_data.py
  src/lfx/src/lfx/components/data_source/json_to_data.py
  src/lfx/src/lfx/components/data_source/sql_executor.py
  src/lfx/src/lfx/components/files_and_knowledge/directory.py
  src/lfx/src/lfx/components/files_and_knowledge/file.py
  src/lfx/src/lfx/components/langchain_utilities/sql.py
  src/lfx/src/lfx/components/langchain_utilities/sql_database.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/src/lfx/utils/file_path_security.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_file_path_security.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): close 5 multi-tenant RCE, code-exec, and SSRF holes
  src/backend/base/langflow/api/v2/schemas.py
  src/backend/tests/unit/components/git/test_gitextractor_ssrf.py
  src/bundles/lfx-bundles/src/lfx_bundles/git/git.py
  src/bundles/lfx-bundles/src/lfx_bundles/git/gitextractor.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/components/deactivated/mcp_stdio.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/base/models/test_ollama_model_fetch.py
  src/lfx/tests/unit/components/test_provider_base_url_ssrf.py
  src/lfx/tests/unit/mcp/test_mcp_stdio_security.py
  src/lfx/tests/unit/utils/test_flow_validation.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): harden review-found gaps in the multi-tenant security commits
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/api/v2/schemas.py
  src/backend/tests/unit/components/languagemodels/test_deepseek.py
  src/backend/tests/unit/components/languagemodels/test_xai.py
  src/backend/tests/unit/components/test_connector_ssrf.py
  src/backend/tests/unit/test_mcp_command_injection_security.py
  src/bundles/datastax/src/lfx_datastax/components/datastax/astradb_cql.py
  src/bundles/lfx-bundles/src/lfx_bundles/clickhouse/clickhouse.py
  src/bundles/lfx-bundles/src/lfx_bundles/elastic/elasticsearch.py
  src/bundles/lfx-bundles/src/lfx_bundles/git/git.py
  src/bundles/lfx-bundles/src/lfx_bundles/milvus/milvus.py
  src/bundles/lfx-bundles/src/lfx_bundles/qdrant/qdrant.py
  src/bundles/lfx-bundles/src/lfx_bundles/upstash/upstash.py
  src/lfx/src/lfx/base/knowledge_bases/backends/base.py
  src/lfx/src/lfx/base/knowledge_bases/ingestion_sources/connector_base.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/base/models/groq_model_discovery.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/components/data_source/sql_executor.py
  src/lfx/src/lfx/components/files_and_knowledge/save_file.py
  src/lfx/src/lfx/components/langchain_utilities/csv_agent.py
  src/lfx/src/lfx/components/langchain_utilities/json_agent.py
  src/lfx/src/lfx/components/langchain_utilities/openapi.py
  src/lfx/src/lfx/components/langchain_utilities/sql.py
  src/lfx/src/lfx/components/langchain_utilities/sql_database.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/src/lfx/services/variable/service.py
  src/lfx/src/lfx/utils/env_var_security.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/base/models/test_ollama_model_fetch.py
  src/lfx/tests/unit/components/test_provider_base_url_ssrf.py
  src/lfx/tests/unit/mcp/test_mcp_stdio_security.py
  src/lfx/tests/unit/utils/test_env_var_security.py
  src/lfx/tests/unit/utils/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): serve download_image with nosniff + attachment
  src/backend/base/langflow/api/v1/files.py
  src/backend/tests/unit/api/v1/test_files.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): address review findings on security-hardening PR
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/services/variable/service.py
  src/lfx/src/lfx/components/data_source/web_search.py
  src/lfx/src/lfx/utils/file_path_security.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_file_path_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): bind agentic MCP tools to the authenticated user; close route footguns
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/agentic/mcp/server.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/agentic/mcp/test_server_user_binding.py
  src/backend/tests/unit/api/v1/test_projects.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/base/mcp/util.py
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
  src/lfx/tests/unit/mcp/test_mcp_stdio_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs(security): warn against shared SaaS tracing in multi-tenant deployments
  docs/docs/Develop/api-keys-and-authentication.mdx
Due: azure-pipelines.yml

fix(security): deny server secrets/DB within the local-file-access boundary
  src/lfx/src/lfx/utils/file_path_security.py
  src/lfx/tests/unit/utils/test_file_path_security.py
Due: azure-pipelines.yml

fix(security): clarify connector SSRF errors and document hardening toggles
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: azure-pipelines.yml

fix(security): gate agentic assistant codegen behind agentic_experience + allow_custom_components
  src/backend/base/langflow/agentic/api/deps.py
  src/backend/base/langflow/agentic/api/router.py
  src/backend/base/langflow/agentic/helpers/validation.py
  src/backend/base/langflow/agentic/services/user_components_overlay.py
  src/backend/base/langflow/api/router.py
  src/backend/tests/unit/agentic/test_assistant_codeexec_gates.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(security): cleanup pass on the multi-tenant hardening PR
  src/backend/base/langflow/api/v2/schemas.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/utils/flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): escape LIKE wildcards and allowlist message order_by
  src/backend/base/langflow/api/v1/authz_roles.py
  src/backend/base/langflow/api/v1/authz_teams.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/tracing/repository.py
  src/lfx/src/lfx/utils/util_strings.py
  src/lfx/tests/unit/utils/test_util_strings.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): pin watsonx orchestrate run target to the deployment resource key
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/core/execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): harden MCP docker args, vector-store paths, env-var leaks
  .secrets.baseline
  docs/docs/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/tests/unit/components/test_connector_ssrf.py
  src/bundles/lfx-bundles/src/lfx_bundles/chroma/chroma.py
  src/bundles/lfx-bundles/src/lfx_bundles/chroma/local_db.py
  src/bundles/lfx-bundles/src/lfx_bundles/faiss/faiss.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/services/settings/groups/security.py
  src/lfx/src/lfx/utils/env_var_security.py
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/components/test_provider_base_url_ssrf.py
  src/lfx/tests/unit/mcp/test_mcp_stdio_security.py
  src/lfx/tests/unit/utils/test_env_var_security.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(security): dedupe the local-file-access restriction reader
  src/lfx/src/lfx/utils/ssrf_protection.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: azure-pipelines.yml

docs(security): tighten over-explained comments in the MCP/env-var guards
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/utils/env_var_security.py
Due: azure-pipelines.yml

feat(mcp): surface HITL flows as isError on tool call
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/mcp_utils.py
  src/backend/tests/unit/api/v1/test_mcp_utils.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): address hardening review feedback
  .secrets.baseline
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/agentic/mcp/test_server_user_binding.py
  src/backend/tests/unit/api/v1/test_projects.py
  src/backend/tests/unit/components/git/test_gitextractor_ssrf.py
  src/backend/tests/unit/services/variable/test_service.py
  src/backend/tests/unit/test_mcp_command_injection_security.py
  src/bundles/lfx-bundles/src/lfx_bundles/chroma/local_db.py
  src/bundles/lfx-bundles/src/lfx_bundles/elastic/elasticsearch.py
  src/lfx/src/lfx/base/mcp/security.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/components/files_and_knowledge/save_file.py
  src/lfx/src/lfx/components/langchain_utilities/openapi.py
  src/lfx/src/lfx/utils/file_path_security.py
  src/lfx/src/lfx/utils/flow_validation.py
  src/lfx/tests/unit/base/models/test_ollama_model_fetch.py
  src/lfx/tests/unit/components/elastic/test_elasticsearch_cloud_id.py
  src/lfx/tests/unit/components/test_provider_base_url_ssrf.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
  src/lfx/tests/unit/services/test_minimal_services.py
  src/lfx/tests/unit/test_process.py
  src/lfx/tests/unit/utils/test_flow_validation.py
  src/lfx/tests/unit/utils/test_ssrf_protection.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff style and checker
  src/backend/base/langflow/api/v1/run_validation.py
  src/backend/tests/unit/api/v1/test_run_hitl_block.py
  src/backend/tests/unit/components/flow_controls/test_human_input.py
  src/lfx/src/lfx/components/flow_controls/human_input.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api-keys): replace native date input with shadcn date picker
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/ui/calendar.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/secretKeyModal/components/__tests__/FormKeyRender.test.tsx
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: update generated hash secrets baseline
  .secrets.baseline
Due: azure-pipelines.yml

test(lfx): expect resolved confined symlink path
  src/lfx/tests/unit/utils/test_file_path_security.py
Due: azure-pipelines.yml

fix(security): scrub stored secrets from public flow read
  src/backend/base/langflow/api/utils/core.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/tests/unit/api/v1/test_public_flow_secret_scrub.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): stop trusting X-Forwarded-For for MCP install locality check
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/api/v1/test_mcp_install_xff_trust.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

dependency changes made to succesfully run uv sync without gcc compiler
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock.back
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lfx): let extension bundles register model providers
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/provider_registry.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
  src/lfx/src/lfx/base/models/unified_models/provider_queries.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/tests/unit/base/models/test_provider_registry.py
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_provider_extension.py
  src/lfx/tests/unit/extension/test_schema.py
Due: azure-pipelines.yml

feat: add EmpirioLabs partner bundle (lfx-empiriolabs)
  docs/docs/Components/bundles-empiriolabs.mdx
  docs/sidebars.js
  src/bundles/empiriolabs/README.md
  src/bundles/empiriolabs/pyproject.toml
  src/bundles/empiriolabs/src/lfx_empiriolabs/__init__.py
  src/bundles/empiriolabs/src/lfx_empiriolabs/components/empiriolabs/__init__.py
  src/bundles/empiriolabs/src/lfx_empiriolabs/components/empiriolabs/empiriolabs.py
  src/bundles/empiriolabs/src/lfx_empiriolabs/components/empiriolabs/empiriolabs_image_generation.py
  src/bundles/empiriolabs/src/lfx_empiriolabs/extension.json
  src/bundles/empiriolabs/tests/test_empiriolabs_component.py
  src/frontend/src/icons/EmpirioLabs/empiriolabs.jsx
  src/frontend/src/icons/EmpirioLabs/empiriolabs.svg
  src/frontend/src/icons/EmpirioLabs/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/services/settings/constants.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: wire lfx-empiriolabs into the workspace and migration table
  pyproject.toml
  src/lfx/src/lfx/extension/migration/migration_table.json
  src/lfx/tests/integration/extension/test_pilot_empiriolabs_upgrade.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): enforce KB-root containment for username-derived paths (CVE-2026-33186)
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/api/v1/test_kb_username_path_traversal.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(embeddings): restore unknown-class error precedence in get_embeddings
  src/lfx/src/lfx/base/models/unified_models/instantiation.py
Due: azure-pipelines.yml

feat: use "EmpirioLabs AI" as the component display name
  docs/docs/Components/bundles-empiriolabs.mdx
  src/bundles/empiriolabs/src/lfx_empiriolabs/components/empiriolabs/empiriolabs.py
  src/bundles/empiriolabs/src/lfx_empiriolabs/components/empiriolabs/empiriolabs_image_generation.py
  src/bundles/empiriolabs/tests/test_empiriolabs_component.py
Due: azure-pipelines.yml

fix(security): enforce KB-root containment for username-derived paths (CVE-2026-33186) (#13917)
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/api/v1/test_kb_username_path_traversal.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
