Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(agentic): close iterations_limit bypass paths
  src/backend/base/langflow/agentic/api/router.py
  src/backend/base/langflow/agentic/services/agent_run_context.py
  src/backend/base/langflow/agentic/services/assistant_service.py
  src/backend/tests/unit/agentic/api/test_iterations_limit_forwarding.py
  src/backend/tests/unit/agentic/services/helpers/test_flow_loader.py
  src/backend/tests/unit/agentic/services/test_generate_component_tool.py
  src/lfx/src/lfx/mcp/flow_builder_tools/run_tools.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): refresh generated assets
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: fix relative link to provider page
  docs/docs/Lfx/extensions-bundle-list.mdx
Due: azure-pipelines.yml

fix(voice): preserve public flow websocket access
  src/backend/base/langflow/api/v1/voice_mode.py
  src/backend/tests/unit/api/v1/test_voice_mode_flow_authz.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: regenerate component metadata
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add regression tests for convert_kwargs config field parsing
  src/lfx/tests/unit/interface/test_loading_custom_component_code_param.py
Due: azure-pipelines.yml

chore: align generated component metadata
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/_assets/component_index.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(voice): preserve public flow websocket access (#14097)
  src/backend/base/langflow/api/v1/voice_mode.py
  src/backend/tests/unit/api/v1/test_voice_mode_flow_authz.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(hitl): atomic supersede + close stale cards
  docs/features/durable-execution-hitl.md
  src/backend/base/langflow/api/v2/hitl.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/background_execution/test_supersede_suspended.py
  src/frontend/.playwright-cli/page-2026-07-15T18-09-45-966Z.yml
  src/frontend/.playwright-cli/page-2026-07-15T18-10-11-067Z.yml
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/__tests__/index.test.tsx
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/index.tsx
  src/frontend/src/components/core/chatComponents/HumanInputCard.tsx
  src/frontend/src/components/core/chatComponents/__tests__/HumanInputCard.test.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/types/chat/index.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/cli/serve_durable.py
  src/lfx/src/lfx/schema/content_types.py
  src/lfx/src/lfx/services/durable/sqlite_store.py
  src/lfx/tests/unit/cli/test_serve_durable.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

remove unecessary files
  src/frontend/.playwright-cli/page-2026-07-15T18-09-45-966Z.yml
  src/frontend/.playwright-cli/page-2026-07-15T18-10-11-067Z.yml
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: address coderabbit review
  docs/docs/Components/bundles-openai-compatible.mdx
Due: azure-pipelines.yml

fix: expose stable Langfuse trace IO for evaluators (#14089)
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/tests/unit/services/tracing/test_langfuse_v3_compatibility.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(playground): add accessible names to icon-only controls and fix invalid ARIA on animated/status elements
  src/frontend/src/components/core/appHeaderComponent/components/ThemeButtons/__tests__/ThemeButtons.a11y.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/ui/__tests__/textAnimation.a11y.test.tsx
  src/frontend/src/components/ui/textAnimation.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/IOModal/__tests__/playground-modal.a11y.test.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/__tests__/session-selector.a11y.test.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/session-selector.tsx
  src/frontend/src/modals/IOModal/playground-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: make the 1.11 core runtime self-contained
  .github/workflows/cross-platform-test.yml
  .github/workflows/nightly_build.yml
  .github/workflows/release.yml
  .secrets.baseline
  scripts/ci/test_update_lfx_version.py
  scripts/ci/update_component_index_version.py
  scripts/ci/update_lfx_version.py
  src/backend/base/langflow/api/v1/voice_mode.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_voice_mode_client_scoping.py
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/base/agents/crewai/crew.py
  src/lfx/src/lfx/components/tools/calculator.py
  src/lfx/src/lfx/interface/components.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/tests/unit/components/test_core_component_imports.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
  src/lfx/tests/unit/test_component_index.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: define langflow-core distribution contract
  src/backend/tests/unit/utils/test_version.py
  src/lfx/tests/unit/test_langflow_core_distribution.py
  src/lfx/tests/unit/test_patch_regexes.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: exercise the bare core runtime wheel
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix: enforce release dependency ordering
  .github/workflows/release.yml
  .secrets.baseline
Due: azure-pipelines.yml

feat: add langflow-core distribution
  Makefile
  pyproject.toml
  src/backend/base/langflow/utils/version.py
  src/langflow-core/README.md
  src/langflow-core/pyproject.toml
  src/langflow-core/src/langflow_core/__init__.py
  src/lfx/tests/unit/test_langflow_core_distribution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: install CI script test dependencies
  .github/workflows/ci-scripts-test.yml
Due: azure-pipelines.yml

feat: add langflow-core container image
  .github/changes-filter.yaml
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker_test.yml
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_core.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

fix: preserve LFX extras in release candidates
  .github/workflows/release.yml
  scripts/ci/test_update_lfx_pre_release_dependency.py
  scripts/ci/update_lfx_pre_release_dependency.py
Due: azure-pipelines.yml

fix(frontend): derive API exposure from a single predicate (on-node, unconnected)
  src/frontend/src/modals/apiModal/utils/__tests__/is-field-exposable.test.ts
  src/frontend/src/modals/apiModal/utils/get-nodes-with-default-value.ts
  src/frontend/src/modals/apiModal/utils/is-field-exposable.ts
  src/frontend/src/stores/__tests__/tweaksStore.test.ts
  src/frontend/src/stores/tweaksStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: fetch PR base for component index updates
  .github/workflows/py_autofix.yml
Due: azure-pipelines.yml

feat(frontend): couple API exposure to on-node parameters in the panel
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/InspectionPanel/__tests__/InspectionPanelParameterRow.test.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelParameterRow.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(frontend): clean up orphaned lf_tweaks localStorage keys
  src/frontend/src/stores/__tests__/tweaksStore.test.ts
  src/frontend/src/stores/tweaksStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): gate the Parameters toolbar button behind ENABLE_INSPECTION_PANEL
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): block removing a required parameter that has no value
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/InspectionPanel/__tests__/InspectionPanelParameterRow.test.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelParameterRow.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/utils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): label the row preview Value when no factory default exists
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/InspectionPanel/__tests__/InspectionPanelParameterRow.test.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelParameterRow.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(frontend): drop dead advanced-modal props from the node toolbar contract
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/__tests__/config-transition.test.tsx
  src/frontend/src/types/components/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): make the parameter-row info icon keyboard-accessible
  src/frontend/src/pages/FlowPage/components/InspectionPanel/__tests__/InspectionPanelParameterRow.test.tsx
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelParameterRow.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): align the API column across parameter rows
  src/frontend/src/pages/FlowPage/components/InspectionPanel/components/InspectionPanelParameterRow.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): minimize-all only toggles showNode — no re-layout, no viewport change
  src/frontend/src/components/core/canvasControlsComponent/CanvasControls.tsx
  src/frontend/src/components/core/canvasControlsComponent/__tests__/useMinimizeAllAndAlign.test.tsx
  src/frontend/src/components/core/canvasControlsComponent/hooks/use-minimize-all-and-align.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/utils/layoutUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): give the Parameters button a visible pressed state
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/components/toolbar-button.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add hitl metadata
  src/backend/base/langflow/locales/en.json
  src/backend/tests/unit/components/flow_controls/test_human_input.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/flow_controls/human_input.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(frontend): remove the Input Schema section from the API modal
  src/frontend/src/components/core/codeTabsComponent/components/tweakComponent/index.tsx
  src/frontend/src/components/core/codeTabsComponent/components/tweaksComponent/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/tests/core/features/tweaksTest.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: ship the langflow-core distribution
  .github/workflows/ci-scripts-test.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/py_autofix.yml
  .github/workflows/release.yml
  .secrets.baseline
  Makefile
  README.md
  docker/build_and_push_core.Dockerfile
  docs/docs/Components/components-bundles.mdx
  docs/docs/Deployment/deployment-docker.mdx
  docs/docs/Develop/install-custom-dependencies.mdx
  docs/docs/Get-Started/get-started-installation.mdx
  scripts/ci/test_update_lfx_pre_release_dependency.py
  scripts/ci/update_lfx_pre_release_dependency.py
  src/langflow-core/README.md
  src/langflow-core/pyproject.toml
  src/lfx/tests/unit/test_langflow_core_distribution.py
  src/lfx/tests/unit/test_patch_regexes.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style(frontend): biome pass on round-2 test files
  src/frontend/src/components/core/canvasControlsComponent/__tests__/useMinimizeAllAndAlign.test.tsx
  src/frontend/src/modals/apiModal/utils/__tests__/is-field-exposable.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: support Python 3.10 in core distribution tests
  src/lfx/tests/unit/test_langflow_core_distribution.py
Due: azure-pipelines.yml

style(frontend): route new tweaksStore test casts through unknown
  src/frontend/src/stores/__tests__/tweaksStore.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
