Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

feat: add update agent impl (#12475)
  src/backend/base/langflow/api/v1/mappers/deployments/watsonx_orchestrate/mapper.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/crud.py
  src/frontend/src/controllers/API/queries/deployments/index.ts
  src/frontend/src/controllers/API/queries/deployments/use-get-deployment-attachments.ts
  src/frontend/src/controllers/API/queries/deployments/use-get-deployment.ts
  src/frontend/src/controllers/API/queries/deployments/use-patch-deployment.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/custom-tool-naming.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/__tests__/edit-mode.test.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper-modal.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-content.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-flow-list-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-version-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-type.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/contexts/deployment-stepper-context.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: move job ownership check to JobService layer
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/services/jobs/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: fix mocks for assert_job_owner after service layer refactor
  src/backend/tests/unit/api/v2/test_workflow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix tests
  src/backend/tests/unit/agentic/services/helpers/test_flow_loader.py
  src/backend/tests/unit/test_flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(deployments): list all WXO tenant connections in create workflow
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/frontend/src/controllers/API/queries/deployments/index.ts
  src/frontend/src/controllers/API/queries/deployments/use-get-deployment-configs.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-connection-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: add 190 unit tests for previously untested backend modules
  src/backend/tests/unit/api/test_disconnect.py
  src/backend/tests/unit/api/test_health_check.py
  src/backend/tests/unit/api/test_schemas.py
  src/backend/tests/unit/serialization/test_serialization_extended.py
  src/backend/tests/unit/services/cache/__init__.py
  src/backend/tests/unit/services/cache/test_async_in_memory_cache.py
  src/backend/tests/unit/services/cache/test_cache_utils.py
  src/backend/tests/unit/services/cache/test_threading_in_memory_cache.py
  src/backend/tests/unit/services/job_queue/__init__.py
  src/backend/tests/unit/services/job_queue/test_job_queue_service.py
  src/backend/tests/unit/services/session/__init__.py
  src/backend/tests/unit/services/session/test_session_service.py
  src/backend/tests/unit/services/state/__init__.py
  src/backend/tests/unit/services/state/test_state_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(deployments): add list_configs tests for Pydantic model handling
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add todo
  src/backend/base/langflow/api/v1/deployments.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Improve server image support
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/upload-file-button.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/utils/__tests__/file-utils.test.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/utils/file-preview-display.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/utils/file-utils.ts
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/upload-file-button.tsx
  src/frontend/src/utils/__tests__/fileUtils.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

code rabbit fix
  src/frontend/src/components/core/playgroundComponent/chat-view/utils/file-preview-display.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/utils/__tests__/fileUtils.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tests): update imports for removed to_deployment_create_response helper
  src/backend/tests/unit/api/v1/test_deployment_description_and_type.py
  src/backend/tests/unit/api/v1/test_deployments_response_mapping.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: add deprecated macOS support investigation (LE-265)
  docs/DEPRECATED_MACOS_SUPPORT_INVESTIGATION.md
Due: azure-pipelines.yml

tests
  src/backend/tests/unit/agentic/services/test_flow_executor.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tests): remove shape_deployment_create_result from passthrough test
  src/backend/tests/unit/api/v1/test_deployment_mapper_base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

tests
  src/backend/tests/unit/api/v1/test_deployment_mapper_base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add list all conns impl for wxo create deploy workflow (#12476)
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate/service.py
  src/backend/tests/unit/api/v1/test_deployment_description_and_type.py
  src/backend/tests/unit/api/v1/test_deployment_mapper_base.py
  src/backend/tests/unit/api/v1/test_deployments_response_mapping.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
  src/frontend/src/controllers/API/queries/deployments/index.ts
  src/frontend/src/controllers/API/queries/deployments/use-get-deployment-configs.ts
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-connection-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

multiple-environments
  docs/docs/API-Reference/flow-devops-sdk.mdx
Due: azure-pipelines.yml

enhance hash checks to allow cust components to run
  src/backend/tests/unit/test_flow_validation.py
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
  src/lfx/src/lfx/custom/utils.py
  src/lfx/src/lfx/interface/components.py
  src/lfx/src/lfx/utils/flow_validation.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add comment
  src/lfx/src/lfx/services/settings/base.py
Due: azure-pipelines.yml

increase-padding-for-sidebar-icons
  docs/css/custom.css
Due: azure-pipelines.yml

fix: Build and install the langflow-sdk for lfx
  .github/workflows/cross-platform-test.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
Due: azure-pipelines.yml

feat(deployments): improve attach flow step UX in deploy modal
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/radio-select-item.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-connection-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows-version-panel.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-attach-flows.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/step-review.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add-horizontal-scrolling-and-pin-copy-button
  docs/css/custom.css
  docs/src/components/CodeSnippet.tsx
Due: azure-pipelines.yml

feat(deployments): add expandable rows to show attached flows
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-expanded-row.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployments-table.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Publish sdk as a nightly
  .github/workflows/cross-platform-test.yml
  .github/workflows/nightly_build.yml
  .github/workflows/release_nightly.yml
  .secrets.baseline
  Makefile
  scripts/ci/sdk_nightly_tag.py
  scripts/ci/update_lfx_version.py
  scripts/ci/update_pyproject_name.py
  scripts/ci/update_sdk_version.py
  src/sdk/Makefile
Due: azure-pipelines.yml

Update ci.yml
  .github/workflows/ci.yml
Due: azure-pipelines.yml

Update python_test.yml
  .github/workflows/python_test.yml
Due: azure-pipelines.yml

fix: Properly grep for the langflow version
  .github/workflows/release_nightly.yml
Due: azure-pipelines.yml

fix(projects): keep paginated flow visibility scoped to current user
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/v1/test_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style(setup): satisfy ruff PERF403
  src/backend/base/langflow/initial_setup/setup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

policies
  src/lfx/src/lfx/components/policies/policies.py
Due: azure-pipelines.yml

building policies component (ongoing)
  src/backend/base/langflow/components/policies/__init__.py
  src/backend/base/langflow/components/policies/policies.py
  src/lfx/src/lfx/components/policies/__init__.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

initial policies
  src/lfx/src/lfx/components/policies/policies.py
Due: azure-pipelines.yml

no mellea data
  src/lfx/src/lfx/components/policies/policies.py
  src/lfx/src/lfx/components/policies/wrapped_tool.py
Due: azure-pipelines.yml
