Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

refactor(execution): add Coordinator.stream helper, lift imports, replace em-dash
  src/backend/base/langflow/agentic/services/flow_executor.py
  src/lfx/src/lfx/base/flow_controls/loop_utils.py
  src/lfx/src/lfx/cli/common.py
  src/lfx/src/lfx/execution/coordinator.py
  src/lfx/src/lfx/execution/partitioner.py
  src/lfx/src/lfx/run/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(execution): shared simple_graph fixture, reset_default_coordinator helper, real-executor loop tests, behavior assertions
  src/backend/tests/unit/agentic/services/test_flow_executor_uses_coordinator.py
  src/lfx/src/lfx/execution/__init__.py
  src/lfx/tests/unit/components/flow_controls/test_loop_events.py
  src/lfx/tests/unit/execution/conftest.py
  src/lfx/tests/unit/execution/test_coordinator.py
  src/lfx/tests/unit/execution/test_graph_arun_routes_through_coordinator.py
  src/lfx/tests/unit/execution/test_in_process_executor.py
  src/lfx/tests/unit/execution/test_partitioner.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lfx): atomic-swap Bundle reload pipeline + endpoint + CLI (LE-1018)
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/extensions.py
  src/lfx/src/lfx/cli/_extension_commands.py
  src/lfx/src/lfx/cli/_extension_reload_client.py
  src/lfx/src/lfx/extension/errors.py
  src/lfx/src/lfx/extension/loader/__init__.py
  src/lfx/src/lfx/extension/loader/_discovery.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/registry.py
  src/lfx/src/lfx/extension/reload.py
  src/lfx/tests/unit/extension/test_errors.py
  src/lfx/tests/unit/extension/test_reload.py
  src/lfx/tests/unit/extension/test_reload_cli.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(execution): wrap default singletons in _Defaults holder, drop noqas
  src/lfx/src/lfx/execution/__init__.py
Due: azure-pipelines.yml

File upload toast showing only ater successful upload
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(model-input): hide wrench when saved model's provider is configured (#12971)
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/__tests__/ModelInputComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/hooks/useProviderConfiguration.ts
  src/frontend/src/modals/modelProviderModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ui: simplify Tools empty state and rename actions to tools
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

ui: refine MCP Server tab layout and alignment
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpAuthSection.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpAutoInstallContent.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpFlowsSection.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

increase opendsstar to 1.0.25 to fix pydantic dependency conflict
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

vector stores: remove tool_mode=True for as_dataframe output
  src/lfx/src/lfx/base/vectorstores/model.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(execution): make executor seam pluggable via lfx services
  src/lfx/src/lfx/execution/__init__.py
  src/lfx/src/lfx/execution/registry.py
  src/lfx/src/lfx/services/deps.py
  src/lfx/src/lfx/services/executor/__init__.py
  src/lfx/src/lfx/services/executor/factory.py
  src/lfx/src/lfx/services/executor/service.py
  src/lfx/src/lfx/services/schema.py
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/tests/unit/execution/test_executor_service.py
  src/lfx/tests/unit/execution/test_registry.py
Due: azure-pipelines.yml

readd pandas roundtrip json
  src/lfx/tests/unit/fixtures/import_deferral_parity/__init__.py
  src/lfx/tests/unit/fixtures/import_deferral_parity/pandas_dataframe_roundtrip.json
  src/lfx/tests/unit/fixtures/import_deferral_parity/pandas_dataframe_roundtrip.snapshot.json
Due: azure-pipelines.yml

ruff style and checker
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/src/lfx/base/agents/messages_input_builder.py
  src/lfx/src/lfx/components/langchain_utilities/ibm_granite_middleware.py
  src/lfx/tests/unit/base/agents/test_events_create_agent.py
  src/lfx/tests/unit/base/agents/test_exception_formatting.py
  src/lfx/tests/unit/base/agents/test_graph_event_extractor.py
  src/lfx/tests/unit/base/agents/test_messages_input_builder.py
  src/lfx/tests/unit/base/agents/test_run_agent_create_agent.py
  src/lfx/tests/unit/components/langchain_utilities/test_ibm_granite_middleware.py
  src/lfx/tests/unit/components/langchain_utilities/test_tool_calling_create_agent.py
  src/lfx/tests/unit/components/langchain_utilities/test_tool_calling_middleware_wiring.py
  src/lfx/tests/unit/components/models_and_agents/test_agent_integration_fake_llm.py
Due: azure-pipelines.yml

fix(custom): address review of lazy validate.prepare_global_scope
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/lfx/src/lfx/custom/validate.py
  src/lfx/tests/unit/custom/component/test_validate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: troubleshoot desktop errors from telemetry (#11282)
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

fix: Duplicate lines rendered in the tracing view (#12944)
  src/frontend/src/pages/FlowPage/components/TraceComponent/FlowInsightsContent.tsx
  src/frontend/src/style/ag-theme-shadcn.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(field_typing): split string registry from class objects
  src/lfx/src/lfx/custom/validate.py
  src/lfx/src/lfx/field_typing/constants.py
  src/lfx/src/lfx/field_typing/names.py
  src/lfx/tests/unit/field_typing/test_lazy_imports.py
Due: azure-pipelines.yml

fix(frontend): render node dropdowns above build/notification overlays (#12973)
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/modelInputComponent/index.tsx
  src/frontend/src/constants/constants.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add guardrailws
  src/lfx/src/lfx/components/tools/filesystem.py
  src/lfx/tests/unit/components/tools/test_filesystem.py
Due: azure-pipelines.yml

docs: deprecate voice to voice websocket endpoint (#12970)
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Develop/concepts-voice-mode.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

add model provider config on model selection
  src/frontend/src/components/core/assistantPanel/components/__tests__/model-selector.test.tsx
  src/frontend/src/components/core/assistantPanel/components/model-selector.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: encode non-ASCII filenames in Content-Disposition headers (RFC 5987) (#12918)
  src/backend/base/langflow/api/utils/__init__.py
  src/backend/base/langflow/api/utils/core.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows_helpers.py
  src/backend/base/langflow/api/v1/projects_files.py
  src/backend/base/langflow/api/v2/files.py
  src/backend/tests/unit/api/test_api_utils.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/test_database.py
  src/frontend/src/controllers/API/queries/file-management/use-get-download-files.ts
  src/frontend/src/controllers/API/queries/flows/use-get-download-flows.ts
  src/frontend/src/utils/__tests__/parse-content-disposition-filename.test.ts
  src/frontend/src/utils/parse-content-disposition-filename.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): translate knowledge base table headers, status labels, and context menu
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/knowledgeBaseUploadModal/components/FilesPanel.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/statusConfig.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(deploy): remove stepper modal close button
  src/frontend/src/components/ui/__tests__/dialog.test.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/pages/MainPage/pages/deploymentsPage/components/deployment-stepper-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(i18n): translate run component tooltip and export modal button
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/exportModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

gh suggestions
  src/lfx/src/lfx/mcp/shell/subcommand_split.py
  src/lfx/tests/unit/mcp/shell/test_subcommand_split.py
  src/lfx/tests/unit/mcp/shell/test_validation_pipeline.py
Due: azure-pipelines.yml

fix: LangflowCompat -> LfxCompat
  src/lfx/src/lfx/extension/__init__.py
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/tests/unit/extension/test_cli.py
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
  src/lfx/tests/unit/extension/test_validate.py
Due: azure-pipelines.yml

Fix #11497: custom chat input ignored in API runs
  src/backend/tests/unit/graph/test_custom_chat_input_routing.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update KnowledgeBaseUploadModal.test.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/__tests__/KnowledgeBaseUploadModal.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Remove references to ticket
  src/lfx/src/lfx/cli/_extension_commands.py
  src/lfx/src/lfx/extension/__init__.py
  src/lfx/src/lfx/extension/errors.py
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/src/lfx/extension/schema.py
  src/lfx/src/lfx/extension/validate.py
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
  src/lfx/tests/unit/extension/test_validate.py
Due: azure-pipelines.yml

docs-1.10-release-notes-and-link-out-to-previous-versions
  docs/docs/Support/release-notes.mdx
  docs/versioned_docs/version-1.9.0/Support/release-notes.mdx
Due: azure-pipelines.yml

docs-remove-outdated-windows-upgrade-note
  docs/docs/Get-Started/get-started-installation.mdx
Due: azure-pipelines.yml

fix: encode maxItems constraint in schema
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
Due: azure-pipelines.yml

fix: deferred fields and schema version
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/src/lfx/extension/schema.py
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
Due: azure-pipelines.yml

Fix ruff errors
  src/lfx/tests/unit/extension/test_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
