Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix: prevent overwriting user-selected global variables in provider c… (#12217)
  .secrets.baseline
  src/backend/tests/unit/test_unified_models.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: replace grep -oP with sed for Node.js version extraction in Docker builds
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

Update test_unified_models.py
  src/backend/tests/unit/test_unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(docker): remove broken npm self-upgrade from Docker images
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

support indexes on postgres
  src/backend/base/langflow/alembic/versions/ef4b036b585d_add_session_metadata_column_to_message_.py
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: prevent path traversal in knowledge base bulk delete (#12243)
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixes for 1.8.2
  src/backend/base/langflow/api/v2/files.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/test_credential_resolution.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

update filtering
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix: session metadata migration consistency (#12328)
  src/backend/base/langflow/alembic/versions/ef4b036b585d_add_session_metadata_column_to_message_.py
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: prevent path traversal in knowledge base create endpoint
  src/backend/base/langflow/api/v1/knowledge_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add path traversal tests for knowledge base create endpoint
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add frontend tests and docstrings for CodeRabbit compliance
  docs/docs/Components/bundles-youdotcom.mdx
  src/frontend/src/icons/YouDotCom/YouDotCom.test.tsx
  src/lfx/src/lfx/components/youdotcom/youdotcom_contents.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_research.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_search.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add empty URL validation and InputValidationError in Contents component
  src/lfx/src/lfx/components/youdotcom/youdotcom_contents.py
Due: azure-pipelines.yml

fix: add docstrings, input validation, and comprehensive tests for coderabbit
  src/backend/tests/unit/components/bundles/youdotcom/test_youdotcom_contents.py
  src/backend/tests/unit/components/bundles/youdotcom/test_youdotcom_research.py
  src/backend/tests/unit/components/bundles/youdotcom/test_youdotcom_search.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_contents.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_research.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_search.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: add input validation per coderabbit feedback
  src/backend/tests/unit/components/bundles/youdotcom/test_youdotcom_contents.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_contents.py
  src/lfx/src/lfx/components/youdotcom/youdotcom_search.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: pin 133 unpinned action(s),extract 15 unsafe expression(s) to env vars
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/conventional-labels.yml
  .github/workflows/create-release.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/deploy-docs-draft.yml
  .github/workflows/deploy_gh-pages.yml
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/docker_test.yml
  .github/workflows/docs-update-openapi.yml
  .github/workflows/integration_tests.yml
  .github/workflows/jest_test.yml
  .github/workflows/lint-py.yml
  .github/workflows/nightly_build.yml
  .github/workflows/py_autofix.yml
  .github/workflows/python_test.yml
  .github/workflows/release-lfx.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/store_pytest_durations.yml
  .github/workflows/style-check-py.yml
  .github/workflows/template-tests.yml
  .github/workflows/typescript_test.yml
Due: azure-pipelines.yml

fix: prevent RCE via data parameter in build_public_tmp endpoint
  src/backend/base/langflow/api/v1/chat.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update uv.lock after merging release-1.9.0
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: handle command strings with arguments in MCP validation for frontend compatibility
  src/backend/base/langflow/api/v2/schemas.py
  src/backend/tests/unit/test_mcp_command_injection_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix #11497: custom chat input ignored in API runs
  src/backend/tests/unit/custom/custom_component/test_interface_flag_inference.py
  src/backend/tests/unit/graph/test_custom_chat_input_routing.py
  src/frontend/package-lock.json
  src/lfx/src/lfx/custom/custom_component/base_component.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/src/lfx/graph/vertex/base.py
  src/lfx/src/lfx/graph/vertex/vertex_types.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

change api to axios to avoid cors
  src/frontend/src/controllers/API/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Use plain axios for external GitHub and Discord API calls (#12347)
  src/frontend/src/controllers/API/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Add ephemeral file upload support (#12300)
  src/backend/base/langflow/api/v2/files.py
  src/backend/tests/unit/api/v2/test_files.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(core): Add environment variable fallback for provider API key resolution (#12288)
  src/backend/tests/unit/test_credential_resolution.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(ui): Add custom build error message transform hook (#12208)
  src/frontend/src/customization/utils/custom-build-error-transform.ts
  src/frontend/src/utils/buildUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: prevent path traversal in knowledge base create endpoint (#12337)
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/tests/unit/test_knowledge_bases_api.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(mcp): Stop sending API key as Bearer token in MCP client
  src/lfx/src/lfx/mcp/client.py
Due: azure-pipelines.yml

fix: handle missing clipboard in headless environments for langflow api-key command
  src/backend/base/langflow/__main__.py
  src/backend/tests/unit/test_cli.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update PyTorch to 2.6.0+ to fix torch.load() RCE vulnerability (#12323)
  pyproject.toml
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(i18n): move language selector from account menu to Settings > General
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/LanguageForm/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update to use "version" terminology for flows instead of outdated "history" verbage
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/database/models/deployment/crud.py
  src/backend/base/langflow/services/database/models/flow_history_deployment_attachment/__init__.py
  src/backend/base/langflow/services/database/models/flow_history_deployment_attachment/crud.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/__init__.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/crud.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

rebase on release-1.9.0 and align with lfx/services
  src/lfx/src/lfx/services/adapters/deployment/base.py
  src/lfx/src/lfx/services/adapters/deployment/schema.py
  src/lfx/src/lfx/services/adapters/deployment/service.py
  src/lfx/src/lfx/services/interfaces.py
Due: azure-pipelines.yml

deployment sync: extract helpers, server-side type filter, orphan detection
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/crud.py
  src/backend/tests/unit/api/v1/test_deployment_sync.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

checkout api handlers
  src/backend/base/langflow/api/v1/deployments.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

rename column to "provider_snapshot_id"
  src/backend/base/langflow/alembic/versions/c0d2ce43b315_add_flow_version_deployment_attachment_.py
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/crud.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

recover a little todo comment
  src/backend/base/langflow/api/v1/deployments.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add materialize_snapshots to deployment service protocol
  src/backend/base/langflow/api/v1/deployments.py
  src/backend/base/langflow/services/database/models/flow_version_deployment_attachment/model.py
  src/lfx/src/lfx/services/adapters/deployment/base.py
  src/lfx/src/lfx/services/adapters/deployment/schema.py
  src/lfx/src/lfx/services/adapters/deployment/service.py
  src/lfx/src/lfx/services/interfaces.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
