Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

test(a2a): e2e coverage for the Agent tab
  src/frontend/playwright.config.ts
  src/frontend/src/pages/FlowPage/components/AgentMainContent/components/AgentCardPanel.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/components/AgentTestConversation.tsx
  src/frontend/tests/assets/a2a/echo-agent.json
  src/frontend/tests/assets/a2a/human-input-agent.json
  src/frontend/tests/core/features/a2a-agent-tab.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: always show the Agent tab with live A2A eligibility
  .secrets.baseline
  src/frontend/src/components/core/flowBuilderWelcome/flow-builder-welcome.tsx
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  src/frontend/src/locales/en.json
  src/frontend/src/pages/FlowPage/components/AgentMainContent/components/AgentCardPanel.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/tests/core/features/a2a-agent-tab.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: prevent LangfuseResourceManager deepcopy failure in Agent components
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/tests/unit/services/tracing/test_langfuse_orphan_generation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: pass batch_size to add_documents instead of Cassandra.__init__
  src/lfx/src/lfx/components/cassandra/cassandra.py
Due: azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ruff): replace unused lambda args a/kw with _ to fix ARG005
  src/backend/tests/unit/services/tracing/test_langfuse_orphan_generation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(exa): modernize Exa Search onto exa-py and graduate it to the standalone lfx-exa bundle
  .secrets.baseline
  docs/docs/Components/bundles-exa.mdx
  pyproject.toml
  scripts/migrate/consolidate_bundles.py
  src/backend/base/langflow/locales/en.json
  src/backend/base/pyproject.toml
  src/bundles/exa/README.md
  src/bundles/exa/pyproject.toml
  src/bundles/exa/src/lfx_exa/__init__.py
  src/bundles/exa/src/lfx_exa/components/exa/__init__.py
  src/bundles/exa/src/lfx_exa/components/exa/exa_search.py
  src/bundles/exa/src/lfx_exa/extension.json
  src/bundles/exa/tests/test_exa_search_component.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/exa/exa_search.py
  src/lfx/src/lfx/components/exa/__init__.py
  src/lfx/tests/integration/extension/test_pilot_exa_upgrade.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update test durations
  src/backend/tests/.test_durations
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore(deps): 更新依赖配置以支持特定平台的包
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(models): 支持嵌入模型获取并优化模型工具功能
  .run/langflow.run.xml
  requests/embeddings.http
  src/lfx/src/lfx/base/models/model_utils.py
Due: azure-pipelines.yml

架构图
  .agents/skills/ui-ux-pro-max/SKILL.md
  .agents/skills/ui-ux-pro-max/data/_sync_all.py
  .agents/skills/ui-ux-pro-max/data/app-interface.csv
  .agents/skills/ui-ux-pro-max/data/charts.csv
  .agents/skills/ui-ux-pro-max/data/colors.csv
  .agents/skills/ui-ux-pro-max/data/design.csv
  .agents/skills/ui-ux-pro-max/data/draft.csv
  .agents/skills/ui-ux-pro-max/data/google-fonts.csv
  .agents/skills/ui-ux-pro-max/data/icons.csv
  .agents/skills/ui-ux-pro-max/data/landing.csv
  .agents/skills/ui-ux-pro-max/data/motion.csv
  .agents/skills/ui-ux-pro-max/data/products.csv
  .agents/skills/ui-ux-pro-max/data/react-performance.csv
  .agents/skills/ui-ux-pro-max/data/stacks/angular.csv
  .agents/skills/ui-ux-pro-max/data/stacks/astro.csv
  .agents/skills/ui-ux-pro-max/data/stacks/flutter.csv
  .agents/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
  .agents/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
  .agents/skills/ui-ux-pro-max/data/stacks/laravel.csv
  .agents/skills/ui-ux-pro-max/data/stacks/nextjs.csv
  .agents/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
  .agents/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
  .agents/skills/ui-ux-pro-max/data/stacks/react-native.csv
  .agents/skills/ui-ux-pro-max/data/stacks/react.csv
  .agents/skills/ui-ux-pro-max/data/stacks/shadcn.csv
  .agents/skills/ui-ux-pro-max/data/stacks/svelte.csv
  .agents/skills/ui-ux-pro-max/data/stacks/swiftui.csv
  .agents/skills/ui-ux-pro-max/data/stacks/threejs.csv
  .agents/skills/ui-ux-pro-max/data/stacks/vue.csv
  .agents/skills/ui-ux-pro-max/data/styles.csv
  .agents/skills/ui-ux-pro-max/data/typography.csv
  .agents/skills/ui-ux-pro-max/data/ui-reasoning.csv
  .agents/skills/ui-ux-pro-max/data/ux-guidelines.csv
  .agents/skills/ui-ux-pro-max/scripts/core.py
  .agents/skills/ui-ux-pro-max/scripts/design_system.py
  .agents/skills/ui-ux-pro-max/scripts/search.py
  docs/architecture/README.md
  models_endpoints_analysis.txt
  skills-lock.json
Due: azure-pipelines.yml

架构图
  .gitignore
Due: azure-pipelines.yml

添加agen目录的限制
  .gitignore
Due: azure-pipelines.yml

fix(frontend): HITL canvas card, input and scroll
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/__tests__/card-anchoring.test.tsx
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/__tests__/index.test.tsx
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/actionPickerComponent/__tests__/addFlow.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/actionPickerComponent/index.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/utils/__tests__/should-force-scroll.test.ts
  src/frontend/src/components/core/playgroundComponent/chat-view/utils/should-force-scroll.ts
  src/frontend/src/components/core/playgroundComponent/sliding-container/components/flow-page-sliding-container.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

add zindex on hitl node
  src/frontend/src/style/classes.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): close reset-environ auth race and warn on unisolated multi-worker
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/tests/unit/cli/test_serve.py
  src/lfx/tests/unit/cli/test_serve_app.py
  src/lfx/tests/unit/cli/test_serve_env_isolation_integration.py
  src/lfx/tests/unit/cli/test_serve_process_model.py
Due: azure-pipelines.yml

docs: agui peer review
  docs/docs/API-Reference/curl-examples/workflows-api/example-quickstart-background-poll.sh
  docs/docs/API-Reference/curl-examples/workflows-api/example-quickstart-sync.sh
  docs/docs/API-Reference/curl-examples/workflows-api/example-stream-agui-parse.sh
  docs/docs/API-Reference/javascript-examples/workflows-api/example-quickstart-background-poll.js
  docs/docs/API-Reference/javascript-examples/workflows-api/example-quickstart-stream-tokens.js
  docs/docs/API-Reference/javascript-examples/workflows-api/example-quickstart-sync.js
  docs/docs/API-Reference/javascript-examples/workflows-api/example-stream-agui-parse.js
  docs/docs/API-Reference/javascript-examples/workflows-api/example-stream-agui-request.js
  docs/docs/API-Reference/javascript-examples/workflows-api/example-stream-langflow-request.js
  docs/docs/API-Reference/python-examples/workflows-api/example-quickstart-sync.py
  docs/docs/API-Reference/python-examples/workflows-api/example-stream-agui-parse.py
  docs/docs/API-Reference/python-examples/workflows-api/example-stream-agui-request.py
  docs/docs/API-Reference/python-examples/workflows-api/example-stream-langflow-request.py
  docs/docs/API-Reference/workflows-api.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fix: refine Agent tab layout and card customization
  .secrets.baseline
  src/frontend/src/controllers/API/queries/a2a/__tests__/a2a-utils.test.ts
  src/frontend/src/controllers/API/queries/a2a/utils.ts
  src/frontend/src/locales/en.json
  src/frontend/src/pages/FlowPage/components/AgentMainContent/components/AgentCardPanel.tsx
  src/frontend/src/pages/FlowPage/components/AgentMainContent/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: reorder import statements for consistency
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeData.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix a11y(trace): fix WCAG AA contrast, ARIA tree widget, and hook decomposition for Trace Detail panel (#13777)
  src/frontend/src/components/core/codeTabsComponent/index.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanNode.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanTree.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/SpanNode.test.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/useSpanTree.test.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/spanNode.constants.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/types.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNode.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeActions.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeData.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanTree.ts
  src/frontend/src/style/index.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(lfx): document CLI HITL limits, warn non-TTY
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/run.py
  src/lfx/src/lfx/run/base.py
  src/lfx/tests/unit/run/test_hitl_noninteractive_warning.py
Due: azure-pipelines.yml

fix(a11y): fix traces page accessibility violations — rowgroup tabbable (#13744)
  src/frontend/src/components/core/codeTabsComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/__tests__/tableComponent.a11y.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/utils/applyRowTabIndices.ts
  src/frontend/src/components/ui/alert.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/pages/FlowPage/components/TraceComponent/FlowInsightsContent.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanNode.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanTree.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/FlowInsightsContent.a11y.test.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/SpanNode.test.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/useSpanTree.test.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/spanNode.constants.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/types.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNode.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeActions.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeData.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanTree.ts
  src/frontend/src/style/index.css
  src/frontend/tests/a11y/auth-pages.a11y.spec.ts
  src/frontend/tests/fixtures.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(frontend): fix shard click targets
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: reject HITL flows in nested flow runs
  docs/docs/Components/run-flow.mdx
  docs/features/durable-execution-hitl.md
  src/backend/base/langflow/helpers/flow.py
  src/lfx/README.md
  src/lfx/src/lfx/helpers/flow.py
  src/lfx/src/lfx/run/hitl.py
  src/lfx/tests/unit/helpers/test_run_flow_hitl_guard.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(a11y): link API key expiry label
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: hitl changes to traces, release notes, and workflows
  docs/docs/API-Reference/workflows-api.mdx
  docs/docs/Components/components-agents.mdx
  docs/docs/Develop/traces.mdx
  docs/docs/Flows/concepts-playground.mdx
  docs/docs/Support/release-notes.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

perf(lfx): drop networkx, use iterative Tarjan SCC for cycle detection
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/graph/graph/utils.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: update tests
  src/backend/tests/unit/template/utils/test_file_path_value.py
  src/backend/tests/unit/test_mcp_command_injection_security.py
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: agent tools changes for HITL
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Components/components-agents.mdx
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

chore: remove torchvision pin
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

improve run flow ux
  src/backend/tests/unit/base/tools/test_run_flow_error_surface.py
  src/lfx/src/lfx/base/tools/run_flow.py
  src/lfx/src/lfx/run/hitl.py
  src/lfx/tests/unit/base/tools/__init__.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add internal and external modes to the A2A Agent component
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/api/v1/test_a2a.py
  src/lfx/src/lfx/components/models_and_agents/a2a_agent.py
  src/lfx/src/lfx/custom/custom_component/custom_component.py
  src/lfx/src/lfx/helpers/__init__.py
  src/lfx/src/lfx/helpers/flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: upgrade lock files
  pyproject.toml
  src/frontend/package-lock.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: preview the remote agent card in the A2A component's external mode
  src/lfx/src/lfx/components/models_and_agents/a2a_agent.py
  src/lfx/tests/unit/components/models_and_agents/test_a2a_agent.py
Due: azure-pipelines.yml

chore: update package versions
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): raise on isError tool results
  src/backend/tests/unit/components/models_and_agents/test_mcp_component_cache.py
  src/backend/tests/unit/components/models_and_agents/test_mcp_component_output.py
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: add tls debug
  .github/workflows/typescript_test.yml
Due: azure-pipelines.yml

feat(exa): update Exa Search to the exa-py SDK and graduate it to the standalone lfx-exa bundle (#13968)
  .secrets.baseline
  docs/docs/Components/bundles-exa.mdx
  pyproject.toml
  scripts/migrate/consolidate_bundles.py
  src/backend/base/langflow/locales/en.json
  src/backend/base/pyproject.toml
  src/bundles/exa/README.md
  src/bundles/exa/pyproject.toml
  src/bundles/exa/src/lfx_exa/__init__.py
  src/bundles/exa/src/lfx_exa/components/exa/__init__.py
  src/bundles/exa/src/lfx_exa/components/exa/exa_search.py
  src/bundles/exa/src/lfx_exa/extension.json
  src/bundles/exa/tests/test_exa_search_component.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/exa/exa_search.py
  src/lfx/src/lfx/components/exa/__init__.py
  src/lfx/tests/integration/extension/test_pilot_exa_upgrade.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
