Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(api): skip an overlong line, ignore an unreadable run status, and test the edges
  src/backend/base/langflow/api/utils/migration_runs.py
  src/backend/tests/unit/api/utils/test_migration_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(api): prove the child's environment, and stop racing SIGINT and the grace period
  src/backend/base/langflow/api/utils/migration_runs.py
  src/backend/tests/unit/api/utils/test_migration_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): treat a process reaped mid-read as gone, and test what a dead worker leaves
  src/backend/base/langflow/api/utils/migration_runs.py
  src/backend/tests/unit/api/utils/test_migration_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(api): run migration commands as child processes that outlive a request
  src/backend/base/langflow/api/utils/migration_runs.py
  src/backend/tests/unit/api/utils/test_migration_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(scripts): cover encrypted store API keys through migrate()
  src/backend/tests/unit/scripts/test_migrate_secret_key.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(cli): add migration-preflight to refuse a migration that cannot succeed (#15327)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/cli/integrity.py
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(playground): keep new chats out of older sessions now that the session list is capped
  .secrets.baseline
  src/frontend/src/components/core/playgroundComponent/hooks/__tests__/use-session-manager.test.tsx
  src/frontend/src/components/core/playgroundComponent/hooks/use-session-manager.ts
  src/frontend/src/controllers/API/helpers/__tests__/check-duplicate-requests.test.ts
  src/frontend/src/controllers/API/helpers/check-duplicate-requests.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/IOModal/__tests__/playground-modal-new-chat.test.tsx
  src/frontend/src/modals/IOModal/playground-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(api): discard oversized migration output lines completely
  src/backend/base/langflow/api/utils/migration_runs.py
  src/backend/tests/unit/api/utils/test_migration_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: preserve source columns when merging tables (#15543)
  src/backend/tests/unit/components/processing/test_operations_component.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/processing/dataframe_operations.py
  src/lfx/src/lfx/components/processing/operations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(cli): reproduce schema read and storage lifecycle findings
  src/backend/tests/unit/cli/conftest.py
  src/backend/tests/unit/cli/test_integrity.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): name the row and its owner in a credentials problem
  src/backend/base/langflow/cli/integrity.py
  src/backend/tests/unit/cli/test_integrity.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): report an unreachable database as unreachable in the schema check
  src/backend/base/langflow/cli/integrity.py
  src/backend/tests/unit/cli/test_integrity.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): cap the knowledge bases the embedding models check lists
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(cli): report knowledge bases whose storage upgrade has not finished
  src/backend/base/langflow/cli/integrity.py
  src/backend/tests/unit/cli/test_integrity.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(cli): reach for an unopenable SQLite file, not a Postgres port, in the unreachable-database tests
  src/backend/tests/unit/cli/test_integrity.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): pass the default superuser check when the target keeps the account
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(cli): stop seeding the embedding models cap test with Chroma rows
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): distinguish schema reads and storage cleanup states
  src/backend/base/langflow/cli/integrity.py
  src/backend/base/langflow/cli/migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cli): report a source the version check cannot read instead of crashing
  src/backend/base/langflow/cli/migration_preflight.py
  src/backend/tests/unit/cli/test_migration_preflight.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(playground): discard stale session creation lookups
  src/frontend/src/components/core/playgroundComponent/hooks/__tests__/use-session-manager.test.tsx
  src/frontend/src/components/core/playgroundComponent/hooks/use-session-manager.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(playground): keep new chats out of older sessions now that the session list is capped (#15581)
  .secrets.baseline
  src/frontend/src/components/core/playgroundComponent/hooks/__tests__/use-session-manager.test.tsx
  src/frontend/src/components/core/playgroundComponent/hooks/use-session-manager.ts
  src/frontend/src/controllers/API/helpers/__tests__/check-duplicate-requests.test.ts
  src/frontend/src/controllers/API/helpers/check-duplicate-requests.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/modals/IOModal/__tests__/playground-modal-new-chat.test.tsx
  src/frontend/src/modals/IOModal/playground-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(playground): namespace the new chat session on the public Playground page
  src/frontend/src/modals/IOModal/__tests__/playground-modal-new-chat.test.tsx
  src/frontend/src/modals/IOModal/playground-modal.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: clarify analytics removal and bundle compatibility
  BUNDLE_API.md
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/bundles/google/src/lfx_google/components/google/_workspace_client.py
  src/bundles/microsoft/src/lfx_microsoft/base.py
  src/bundles/slack/src/lfx_slack/_base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(audio): load the voice worklet from a packaged asset
  src/frontend/src/customization/hooks/use-custom-start-recording.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/helpers/__tests__/audio-worklet-processor.test.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/helpers/audio-worklet-processor.js
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/helpers/streamProcessor.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/__tests__/use-start-recording.test.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/hooks/use-start-recording.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

build: remove the unused MCP Fetch development dependency
  docs/docs/Agents/mcp-client.mdx
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(lfx): run token usage and provider metrics callbacks inline
  src/lfx/src/lfx/base/agents/token_callback.py
  src/lfx/src/lfx/observability_llm_metrics.py
  src/lfx/tests/unit/base/agents/test_token_callback.py
  src/lfx/tests/unit/observability/test_llm_provider_metrics.py
Due: azure-pipelines.yml

perf(lfx): call the agent's token callback on the event loop
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: azure-pipelines.yml

perf(lfx): cache component class names per source
  src/lfx/src/lfx/custom/validate.py
  src/lfx/tests/unit/custom/component/test_validate.py
Due: azure-pipelines.yml

fix(lfx): bound class-name cache retention and cover eviction
  src/lfx/src/lfx/custom/validate.py
  src/lfx/tests/unit/custom/component/test_validate.py
Due: azure-pipelines.yml

test: cover run completion timestamps across failure paths
  src/backend/tests/unit/api/v1/test_a2a.py
  src/backend/tests/unit/api/v1/test_openai_responses_execution_policy.py
  src/backend/tests/unit/api/v1/test_run_completion_timestamp.py
  src/backend/tests/unit/api/v2/test_workflow_run_telemetry.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: align cache loader assertions with telemetry removal
  src/lfx/tests/unit/cli/test_script_loader.py
  src/lfx/tests/unit/extension/test_components_cache_integration.py
Due: azure-pipelines.yml

test: retain inert opt-out flag and cover MCP dispatch
  .secrets.baseline
  docs/docs/Develop/contributing-telemetry.mdx
  docs/docs/Develop/environment-variables.mdx
  src/backend/tests/conftest.py
  src/backend/tests/unit/agentic/mcp/test_fastmcp_settings_guards.py
  src/backend/tests/unit/api/v2/test_registration.py
  src/backend/tests/unit/test_telemetry.py
  src/lfx/src/lfx/services/settings/groups/telemetry.py
  src/lfx/src/lfx/services/telemetry/service.py
  src/lfx/tests/unit/mcp/test_server_telemetry_removed.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: block unsafe module reexports in assistant code scanning
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enforce credential egress policy across provider components
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  src/bundles/anthropic/pyproject.toml
  src/bundles/anthropic/src/lfx_anthropic/components/anthropic/anthropic.py
  src/bundles/anthropic/src/lfx_anthropic/extension.json
  src/bundles/anthropic/tests/test_provider_credential_egress.py
  src/bundles/azure/pyproject.toml
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai.py
  src/bundles/azure/src/lfx_azure/components/azure/azure_openai_embeddings.py
  src/bundles/azure/src/lfx_azure/extension.json
  src/bundles/azure/tests/test_provider_credential_egress.py
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx.py
  src/bundles/ibm/src/lfx_ibm/components/ibm/watsonx_embeddings.py
  src/bundles/ibm/src/lfx_ibm/extension.json
  src/bundles/ibm/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/aiml/aiml.py
  src/bundles/lfx-bundles/src/lfx_bundles/deepseek/deepseek.py
  src/bundles/lfx-bundles/src/lfx_bundles/groq/groq.py
  src/bundles/lfx-bundles/src/lfx_bundles/mistral/mistral_embeddings.py
  src/bundles/lfx-bundles/src/lfx_bundles/sambanova/sambanova.py
  src/bundles/lfx-bundles/tests/test_connector_ssrf.py
  src/bundles/lfx-bundles/tests/test_provider_credential_egress.py
  src/bundles/lfx-bundles/tests/test_ssrf_guarded_url_components.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(audit): guard the cursor, actor rule and sweep
  src/backend/base/langflow/services/audit/attribution.py
  src/backend/base/langflow/services/audit/query.py
  src/backend/base/langflow/services/audit/retention.py
  src/backend/base/langflow/services/task/audit_cleanup.py
  src/backend/tests/unit/services/audit/test_query.py
  src/backend/tests/unit/services/audit/test_retention.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: keep authorization decisions out of action audits
  docs/docs/Develop/environment-variables.mdx
  docs/features/application-audit-log.md
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/authz_route_dependencies.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/audit/details.py
  src/backend/base/langflow/services/audit/operations.py
  src/backend/base/langflow/services/audit/runs.py
  src/backend/base/langflow/services/audit/vocabulary.py
  src/backend/base/langflow/services/audit/writer.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/tests/unit/api/v1/test_audit_producers_flows.py
  src/backend/tests/unit/api/v1/test_audit_producers_projects.py
  src/backend/tests/unit/api/v1/test_audit_producers_runs.py
  src/backend/tests/unit/services/audit/test_operations.py
  src/backend/tests/unit/services/audit/test_runs.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: stop describing denials as audit events
  src/backend/base/langflow/services/audit/writer.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): keep refusals out of action audits and record project moves
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/audit/operations.py
  src/backend/base/langflow/services/authorization/fetch.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/authorization/refusal.py
  src/backend/tests/unit/api/v1/test_audit_producers_projects.py
  src/backend/tests/unit/services/audit/test_operations.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(api): tell a queue timeout apart from a write timeout
  src/backend/base/langflow/services/audit/writer.py
  src/backend/tests/unit/services/audit/test_writer_after_rollback.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
