Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat: add context menu functionality to edges (#11241)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/CustomEdges/index.tsx
  src/frontend/src/components/ui/context-menu.tsx
  src/frontend/tests/core/unit/customEdgesComponent.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-11.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix tests sticky notes
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/tests/core/integrations/Research Translation Loop.spec.ts
  src/frontend/tests/core/unit/sticky-notes-constants.spec.ts
  src/frontend/tests/extended/features/sticky-notes-dimensions.spec.ts
  src/frontend/tests/utils/select-gpt-model.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

modular-base-dependencies
  docs/docs/Develop/install-custom-dependencies.mdx
Due: azure-pipelines.yml

resolve conflicts
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

syntax-and-clarification
  docs/docs/Develop/install-custom-dependencies.mdx
Due: azure-pipelines.yml

add-release-note
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

release-note
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

add openai api key
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: revert back to working state
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

chire: code rabbit refinements
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix: properly skip test when skip flags are set
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: use same logic for clearEdges and detect broken edges (#11236)
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: include jpg in docling remote valid extensions (#11002)
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/docling/docling_remote.py
Due: azure-pipelines.yml

fix: Enhance extract_loop_output to handle multiple message formats
  src/lfx/src/lfx/base/flow_controls/loop_utils.py
Due: azure-pipelines.yml

chore: upgrade pyproject versions (#11249)
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add loading state to prevent duplicate flow creation on click (#11017)
  src/frontend/src/modals/templatesModal/components/GetStartedComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateCardComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateCategoryComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateGetStartedCardComponent/index.tsx
  src/frontend/src/modals/templatesModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update Vibe Flow PRD and minor API router formatting
  docs/PRD_Vibe_Flow.md
  src/backend/base/langflow/agentic/api/router.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fail fast
  scripts/build_component_index.py
Due: azure-pipelines.yml

Add real-time duration updates for thinking and tool-use
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/thinking-message.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix tests, fail fast
  scripts/build_component_index.py
  src/backend/tests/unit/test_component_index_hash_history.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff
  scripts/build_component_index.py
  src/backend/tests/unit/test_component_index_hash_history.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Correctly strip out hash history when loading components from index
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Add tests for the hash history in comps
  src/backend/tests/unit/test_component_index_hash_history.py
  src/backend/tests/unit/test_initial_setup.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: use self hosted ephemeral runner
  .github/workflows/ci.yml
  .github/workflows/docker-build-v2.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-nightly-build.yml
  .github/workflows/docker_test.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/typescript_test.yml
Due: azure-pipelines.yml

chore: add actionlint for selfhosted runners
  .github/actionlint.yaml
Due: azure-pipelines.yml

fix: skip nightly test when skip flags are set
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

chore: code rabbit refinements stable
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

fix research translation loop
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: nightly temporalio dep (#11251)
  .github/workflows/cross-platform-test.yml
  .github/workflows/nightly_build.yml
Due: azure-pipelines.yml

Hide delete button for default session
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/chat-header.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-more-menu.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

bump-docusuaurus-to-3.9.2
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
