Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix(ci): start patch-release RCs at rc0 when the SDK is unchanged
  .github/workflows/ci-scripts-test.yml
  .github/workflows/release.yml
  .secrets.baseline
  scripts/ci/test_release_rc_number.py
  scripts/ci/test_release_workflow.py
Due: azure-pipelines.yml

fix(cloudflare): keep built embeddings picklable
  .github/langchain-community-migration.md
  src/bundles/lfx-bundles/src/lfx_bundles/cloudflare/cloudflare.py
  src/bundles/lfx-bundles/src/lfx_bundles/cloudflare/cloudflare_common.py
  src/bundles/lfx-bundles/tests/test_community_migration.py
Due: azure-pipelines.yml

fix(ci): start patch-release RCs at rc0 when the SDK is unchanged (#15022)
  .github/workflows/ci-scripts-test.yml
  .github/workflows/release.yml
  .secrets.baseline
  scripts/ci/test_release_rc_number.py
  scripts/ci/test_release_workflow.py
Due: azure-pipelines.yml

feat(integrations): load bundle capability manifests (#14920)
  .github/workflows/ci-scripts-test.yml
  .github/workflows/extension-migration-checks.yml
  BUNDLE_API.md
  design/dedicated-integrations/connection-contract.md
  design/dedicated-integrations/schema/capability_matrix.schema.json
  docs/docs/Lfx/extensions-manifest.mdx
  scripts/ci/check_integration_bundle_floors.py
  scripts/ci/test_check_integration_bundle_floors.py
  src/lfx/src/lfx/extension/__init__.py
  src/lfx/src/lfx/extension/bundle_registry.py
  src/lfx/src/lfx/extension/errors.py
  src/lfx/src/lfx/extension/integration_compat.py
  src/lfx/src/lfx/extension/integration_conflicts.py
  src/lfx/src/lfx/extension/integration_manifest.py
  src/lfx/src/lfx/extension/loader/__init__.py
  src/lfx/src/lfx/extension/loader/_orchestrator.py
  src/lfx/src/lfx/extension/loader/_startup.py
  src/lfx/src/lfx/extension/loader/_types.py
  src/lfx/src/lfx/extension/manifest.py
  src/lfx/src/lfx/extension/reload.py
  src/lfx/src/lfx/extension/validate.py
  src/lfx/src/lfx/integrations/__init__.py
  src/lfx/src/lfx/integrations/capabilities.py
  src/lfx/src/lfx/interface/components.py
  src/lfx/tests/unit/extension/loader/test_types.py
  src/lfx/tests/unit/extension/test_errors.py
  src/lfx/tests/unit/extension/test_integration_manifest.py
  src/lfx/tests/unit/extension/test_schema.py
  src/lfx/tests/unit/integrations/test_contracts.py
Due: azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(migrations): re-parent the connections migration onto the merged head
  src/backend/base/langflow/alembic/versions/f3b6a9d2e4c1_add_connections.py
  src/backend/tests/unit/alembic/test_connection_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(integrations): move the database resolver onto the final resolver contract
  src/backend/base/langflow/services/connection/service.py
  src/backend/tests/unit/services/connection/__init__.py
  src/backend/tests/unit/services/connection/test_database_resolver.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(integrations): mark the database connection resolver ready
  src/backend/base/langflow/services/connection/service.py
  src/backend/tests/unit/services/connection/test_database_resolver.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

perf(integrations): bound connection resolution to owned, instance, and visible rows
  src/backend/base/langflow/services/connection/service.py
  src/backend/tests/unit/services/connection/test_database_resolver.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(migrations): cover per-owner and instance uniqueness of connection handles
  src/backend/tests/unit/alembic/test_connection_migration.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(memory-base): reclaim Memory Bases on flow cascade deletion
  src/backend/base/langflow/api/utils/flow_utils.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/services/flow/flow_runner.py
  src/backend/base/langflow/services/memory_base/flow_cleanup.py
  src/backend/base/langflow/services/memory_base/ingestion.py
  src/backend/base/langflow/tests/api/v1/test_deployment_guard_delete_endpoints.py
  src/backend/tests/unit/api/v1/test_projects.py
  src/backend/tests/unit/test_memory_base_flow_cleanup.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: rebuild conflict review to the Figma design
  src/frontend/src/components/core/flowConflict/CanvasBanner.tsx
  src/frontend/src/components/core/flowConflict/ChangeRow.tsx
  src/frontend/src/components/core/flowConflict/ConflictBanner.tsx
  src/frontend/src/components/core/flowConflict/ConflictDialogFooter.tsx
  src/frontend/src/components/core/flowConflict/ConflictResolveRow.tsx
  src/frontend/src/components/core/flowConflict/DuplicateFlowModal.tsx
  src/frontend/src/components/core/flowConflict/LoadLatestDialog.tsx
  src/frontend/src/components/core/flowConflict/__tests__/flowConflict.a11y.test.tsx
  src/frontend/src/components/ui/badge.tsx
  src/frontend/src/contexts/__tests__/authContext-login-fix.test.tsx
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/hooks/flows/conflict-actions.ts
  src/frontend/src/hooks/flows/use-autosave-flow.ts
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/src/utils/flow-diff.ts
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/regression/conflict-dialog-shot.spec.ts
  src/frontend/tests/core/regression/multi-edit-crowd.spec.ts
  src/frontend/tests/core/regression/multi-edit-three-exits.spec.ts
  src/frontend/tests/core/regression/multi-edit-two-people-exits.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

revert: move load latest back to the banner
  src/frontend/src/components/core/flowConflict/ConflictBanner.tsx
  src/frontend/src/components/core/flowConflict/ConflictDialogFooter.tsx
  src/frontend/src/components/core/flowConflict/DuplicateFlowModal.tsx
  src/frontend/src/components/core/flowConflict/LoadLatestDialog.tsx
  src/frontend/src/components/core/flowConflict/__tests__/flowConflict.a11y.test.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/tests/core/regression/conflict-dialog-shot.spec.ts
  src/frontend/tests/core/regression/multi-edit-crowd.spec.ts
  src/frontend/tests/core/regression/multi-edit-three-exits.spec.ts
  src/frontend/tests/core/regression/multi-edit-two-people-exits.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(mcp): honor explicit SSE mode and treat HTTP 400 as SSE-fallback signal
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/lfx/src/lfx/base/mcp/util.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(bundles): add Serply search extension bundle
  pyproject.toml
  scripts/ci/release_inventory_contract.json
  scripts/ci/test_release_inventory.py
  src/bundles/serply/README.md
  src/bundles/serply/pyproject.toml
  src/bundles/serply/src/lfx_serply/__init__.py
  src/bundles/serply/src/lfx_serply/components/serply/__init__.py
  src/bundles/serply/src/lfx_serply/components/serply/serply_search.py
  src/bundles/serply/src/lfx_serply/extension.json
  src/bundles/serply/tests/test_serply_search_component.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(bundles): send Serply query as a query string and clamp min results
  src/bundles/serply/src/lfx_serply/components/serply/serply_search.py
  src/bundles/serply/tests/test_serply_search_component.py
Due: azure-pipelines.yml

fix(bundles): floor lfx-serply at the lfx 1.13 line
  src/bundles/serply/pyproject.toml
Due: azure-pipelines.yml

fix(bundles): give the Serply tool a distinct name and clearer errors
  src/bundles/serply/README.md
  src/bundles/serply/src/lfx_serply/components/serply/serply_search.py
  src/bundles/serply/tests/test_serply_search_component.py
Due: azure-pipelines.yml

feat(bundles): list Serply in the sidebar, docs, and migration table
  docs/docs/Components/bundles-serply.mdx
  docs/docs/Lfx/extensions-bundle-list.mdx
  docs/docs/_partial-bundle-graduated-install.mdx
  docs/sidebars.js
  src/frontend/src/utils/__tests__/sidebarBundles.test.ts
  src/frontend/src/utils/styleUtils.ts
  src/lfx/src/lfx/extension/migration/migration_table.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(tasks): stop awaiting Celery's synchronous revoke result
  src/backend/base/langflow/services/task/backends/celery.py
  src/backend/base/langflow/services/task/service.py
  src/backend/tests/unit/api/v2/test_workflow.py
  src/backend/tests/unit/services/tasks/test_task_service_revoke.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(graph): scope branch inactivation resets
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/lfx/src/lfx/graph/checkpoint/builder.py
  src/lfx/src/lfx/graph/checkpoint/resume.py
  src/lfx/src/lfx/graph/checkpoint/schema.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/tests/unit/graph/checkpoint/test_resume.py
  src/lfx/tests/unit/graph/checkpoint/test_schema.py
  src/lfx/tests/unit/graph/test_branch_inactivation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: link the Serply bundle page relatively from the bundle list
  docs/docs/Lfx/extensions-bundle-list.mdx
Due: azure-pipelines.yml

test: clean frontend test hygiene
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/__tests__/FlowMenu.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/HeaderMenu/__tests__/HeaderMenu.test.tsx
  src/frontend/src/components/core/canvasControlsComponent/__tests__/CanvasControlsDropdown.behaviors.test.tsx
  src/frontend/src/components/core/canvasControlsComponent/__tests__/HelpDropdown.test.tsx
  src/frontend/src/components/core/editFlowSettingsComponent/__tests__/EditFlowSettings.test.tsx
  src/frontend/src/components/core/flowSettingsComponent/__tests__/FlowSettingsComponent.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sortableListComponent/reproduce_issue.test.tsx
  src/frontend/src/modals/exportModal/__tests__/ExportModal.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/FlowVersionSidebarContent-export.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/FlowVersionSidebarContent-store.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFilterComponent.test.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/__tests__/nodeToolbar-focused.test.tsx
  src/frontend/src/utils/__tests__/streaming-bug-simulation.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(frontend): keep auto-login auth when the session probe answers late
  src/frontend/src/components/authorization/playgroundAuthGate/__tests__/playground-auth-gate-session-probe.test.tsx
  src/frontend/src/components/authorization/playgroundAuthGate/index.tsx
  src/frontend/src/controllers/API/queries/auth/session-probe.ts
  src/frontend/src/pages/AppInitPage/__tests__/app-init-page-late-session-probe.test.tsx
  src/frontend/src/pages/AppInitPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

revert: put load latest back inside the dialog
  src/frontend/src/components/core/flowConflict/ConflictBanner.tsx
  src/frontend/src/components/core/flowConflict/ConflictDialogFooter.tsx
  src/frontend/src/components/core/flowConflict/DuplicateFlowModal.tsx
  src/frontend/src/components/core/flowConflict/LoadLatestDialog.tsx
  src/frontend/src/components/core/flowConflict/__tests__/flowConflict.a11y.test.tsx
  src/frontend/src/locales/de.json
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/locales/fr.json
  src/frontend/src/locales/ja.json
  src/frontend/src/locales/pt.json
  src/frontend/src/locales/zh-Hans.json
  src/frontend/tests/core/regression/conflict-dialog-shot.spec.ts
  src/frontend/tests/core/regression/multi-edit-crowd.spec.ts
  src/frontend/tests/core/regression/multi-edit-three-exits.spec.ts
  src/frontend/tests/core/regression/multi-edit-two-people-exits.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(assistant): restore Ollama support in the Langflow Assistant (#15005)
  src/backend/base/langflow/agentic/api/router.py
  src/backend/tests/unit/agentic/api/test_assistant_context_secretless_provider.py
  src/backend/tests/unit/agentic/api/test_iterations_limit_forwarding.py
  src/backend/tests/unit/base/models/test_provider_variable_value.py
  src/lfx/src/lfx/base/models/model_utils.py
  src/lfx/src/lfx/base/models/unified_models/__init__.py
  src/lfx/src/lfx/base/models/unified_models/credentials.py
  src/lfx/src/lfx/base/models/unified_models/provider_queries.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(graph): harden scoped branch-inactivation release (#14966)
  src/backend/tests/unit/api/test_build_stopped_branch_race.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/tests/unit/graph/test_branch_inactivation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge): honour column flags typed into the Column Configuration table
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/services/deployment_artifacts/builder.py
  src/backend/tests/unit/components/files_and_knowledge/test_ingestion.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact_dependencies.py
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
  src/lfx/src/lfx/helpers/base_model.py
  src/lfx/tests/unit/helpers/test_base_model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): render boolean table columns as toggles
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/__tests__/tableComponent.columnConfig.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/__tests__/tableBooleanColumns.test.ts
  src/frontend/src/utils/utils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(structured-output): trim whitespace when reading the As List flag
  src/lfx/src/lfx/components/models_and_agents/structured_output/schema_preprocessing.py
  src/lfx/tests/unit/components/models_and_agents/structured_output/test_schema_preprocessing.py
Due: azure-pipelines.yml

refactor(deps): migrate initial LangChain Community integrations (#15020)
  .github/langchain-community-migration.md
  pyproject.toml
  scripts/ci/bundle_profile_locks/enterprise-hardened.lock.json
  scripts/ci/bundle_profiles.json
  scripts/migrate/consolidate_bundles.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/components/vectorstores/test_chroma_vector_store_component.py
  src/backend/tests/unit/test_security_dependency_floors.py
  src/bundles/cohere/pyproject.toml
  src/bundles/cohere/src/lfx_cohere/extension.json
  src/bundles/cohere/tests/test_cohere_community_migration.py
  src/bundles/google/pyproject.toml
  src/bundles/google/src/lfx_google/components/google/google_drive.py
  src/bundles/google/src/lfx_google/extension.json
  src/bundles/google/tests/test_drive_community_migration.py
  src/bundles/ibm/pyproject.toml
  src/bundles/ibm/src/lfx_ibm/components/ibm/db2_vector.py
  src/bundles/ibm/src/lfx_ibm/components/ibm/db2_vector_utils.py
  src/bundles/ibm/src/lfx_ibm/components/ibm/db2vs.py
  src/bundles/ibm/src/lfx_ibm/extension.json
  src/bundles/ibm/tests/test_db2_vector.py
  src/bundles/ibm/tests/test_db2_vector_utils.py
  src/bundles/ibm/tests/test_db2vs.py
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/apify/apify_actor.py
  src/bundles/lfx-bundles/src/lfx_bundles/chroma/chroma.py
  src/bundles/lfx-bundles/src/lfx_bundles/cloudflare/cloudflare.py
  src/bundles/lfx-bundles/src/lfx_bundles/cloudflare/cloudflare_common.py
  src/bundles/lfx-bundles/src/lfx_bundles/codeagents/starter_projects/Structured Data Analysis Agent.json
  src/bundles/lfx-bundles/src/lfx_bundles/needle/needle.py
  src/bundles/lfx-bundles/tests/test_community_migration.py
  src/bundles/oracle/pyproject.toml
  src/bundles/oracle/src/lfx_oracle/components/oracle/oraclevs.py
  src/bundles/oracle/src/lfx_oracle/extension.json
  src/lfx/pyproject.toml
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/langchain_utilities/fake_embeddings.py
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(tasks): stop awaiting Celery's synchronous revoke result (#15026)
  src/backend/base/langflow/services/task/backends/celery.py
  src/backend/base/langflow/services/task/service.py
  src/backend/tests/unit/api/v2/test_workflow.py
  src/backend/tests/unit/services/tasks/test_task_service_revoke.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(frontend): keep auto-login auth when the session probe answers late (#15028)
  src/frontend/src/components/authorization/playgroundAuthGate/__tests__/playground-auth-gate-session-probe.test.tsx
  src/frontend/src/components/authorization/playgroundAuthGate/index.tsx
  src/frontend/src/controllers/API/queries/auth/session-probe.ts
  src/frontend/src/pages/AppInitPage/__tests__/app-init-page-late-session-probe.test.tsx
  src/frontend/src/pages/AppInitPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(graph): keep Component.stop() branches inactive while a sibling completes (#15029)
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/tests/unit/api/test_build_stopped_branch_race.py
  src/lfx/src/lfx/graph/checkpoint/builder.py
  src/lfx/src/lfx/graph/checkpoint/resume.py
  src/lfx/src/lfx/graph/checkpoint/schema.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/tests/unit/graph/checkpoint/test_resume.py
  src/lfx/tests/unit/graph/checkpoint/test_schema.py
  src/lfx/tests/unit/graph/test_branch_inactivation.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(responses): stream failed agent tool calls as function_call items
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/tests/unit/api/v1/test_openai_responses_tool_errors.py
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/tests/unit/base/agents/test_events_handlers.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: add migration rehearsal fixtures
  scripts/migration_rehearsal/README.md
  scripts/migration_rehearsal/seed_instance.py
Due: azure-pipelines.yml

fix(responses): decide tool outcome by output and redact delegated tool errors
  src/backend/base/langflow/api/utils/execution_errors.py
  src/backend/base/langflow/api/v1/openai_responses.py
  src/backend/tests/unit/api/v1/test_openai_responses_tool_errors.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(lfx): percent-encode "/" in database connection passwords
  src/backend/base/langflow/utils/connection_string_parser.py
  src/backend/tests/unit/utils/test_connection_string_parser.py
  src/lfx/src/lfx/utils/connection_string_parser.py
  src/lfx/tests/unit/utils/test_connection_string_parser.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge): honour Vectorize/Identifier flags typed into the column table (#15030)
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/services/deployment_artifacts/builder.py
  src/backend/tests/unit/components/files_and_knowledge/test_ingestion.py
  src/backend/tests/unit/services/deployment_artifacts/test_project_artifact_dependencies.py
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/__tests__/tableComponent.columnConfig.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/__tests__/tableBooleanColumns.test.ts
  src/frontend/src/utils/utils.ts
  src/lfx/src/lfx/_assets/component_index.json
  src/lfx/src/lfx/components/files_and_knowledge/knowledge.py
  src/lfx/src/lfx/components/models_and_agents/structured_output/schema_preprocessing.py
  src/lfx/src/lfx/helpers/base_model.py
  src/lfx/tests/unit/components/models_and_agents/structured_output/test_schema_preprocessing.py
  src/lfx/tests/unit/helpers/test_base_model.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): keep passwordless connection URLs intact
  src/lfx/src/lfx/utils/connection_string_parser.py
  src/lfx/tests/unit/utils/test_connection_string_parser.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
