Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

feat: schemas for pluggable deployment service (#11979)
  src/lfx/src/lfx/services/deployment/__init__.py
  src/lfx/src/lfx/services/deployment/base.py
  src/lfx/src/lfx/services/deployment/exceptions.py
  src/lfx/src/lfx/services/deployment/schema.py
  src/lfx/src/lfx/services/deployment/service.py
  src/lfx/src/lfx/services/interfaces.py
  src/lfx/tests/unit/services/deployment/__init__.py
  src/lfx/tests/unit/services/deployment/test_deployment_exceptions.py
  src/lfx/tests/unit/services/deployment/test_deployment_schema.py
Due: azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update nightly hash history for v1.8.0.dev75
  src/lfx/src/lfx/_assets/nightly_hash_history.json
Due: azure-pipelines.yml

update langflow to use the new deployment schemas
  scripts/deployment_create_e2e.py
  scripts/deployment_update_e2e.py
  src/backend/base/langflow/api/v1/deployment.py
  src/backend/base/langflow/services/deployment/watsonx_orchestrate.py
  src/backend/base/langflow/services/deployment_router/service.py
  src/backend/tests/unit/api/v1/test_deployments_pagination_sync.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
  src/lfx/src/lfx/services/deployment/__init__.py
  src/lfx/src/lfx/services/deployment/base.py
  src/lfx/src/lfx/services/deployment/exceptions.py
  src/lfx/src/lfx/services/deployment/schema.py
  src/lfx/src/lfx/services/deployment/service.py
  src/lfx/src/lfx/services/interfaces.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix db migrations
  src/backend/base/langflow/alembic/versions/2b9c4d8e7a11_add_snapshot_id_to_history_deployment_attachment.py
  src/backend/base/langflow/alembic/versions/4c72488864c6_add_deployment_table.py
  src/backend/base/langflow/alembic/versions/6fbba5893c57_add_deployment_provider_account_table.py
  src/backend/base/langflow/alembic/versions/7d327cfafab6_add_flow_history_table.py
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: Add langflow-stepflow package
  pyproject.toml
  src/langflow-stepflow/pyproject.toml
  src/langflow-stepflow/src/langflow_stepflow/__init__.py
  src/langflow-stepflow/src/langflow_stepflow/exceptions.py
  src/langflow-stepflow/src/langflow_stepflow/translation/__init__.py
  src/langflow-stepflow/src/langflow_stepflow/translation/dependency_analyzer.py
  src/langflow-stepflow/src/langflow_stepflow/translation/known_components.py
  src/langflow-stepflow/src/langflow_stepflow/translation/node_processor.py
  src/langflow-stepflow/src/langflow_stepflow/translation/schema_mapper.py
  src/langflow-stepflow/src/langflow_stepflow/translation/stepflow_tweaks.py
  src/langflow-stepflow/src/langflow_stepflow/translation/translator.py
  src/langflow-stepflow/src/langflow_stepflow/worker/__init__.py
  src/langflow-stepflow/src/langflow_stepflow/worker/__main__.py
  src/langflow-stepflow/src/langflow_stepflow/worker/base_executor.py
  src/langflow-stepflow/src/langflow_stepflow/worker/component_tool.py
  src/langflow-stepflow/src/langflow_stepflow/worker/core_executor.py
  src/langflow-stepflow/src/langflow_stepflow/worker/custom_code_executor.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/__init__.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/base.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/base_model.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/dataframe.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/langflow_types.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/string_coercion.py
  src/langflow-stepflow/src/langflow_stepflow/worker/handlers/tool_wrapper.py
  src/langflow-stepflow/tests/conftest.py
  src/langflow-stepflow/tests/unit/__init__.py
  src/langflow-stepflow/tests/unit/test_base_executor.py
  src/langflow-stepflow/tests/unit/test_core_executor.py
  src/langflow-stepflow/tests/unit/test_dependency_analyzer.py
  src/langflow-stepflow/tests/unit/test_handlers.py
  src/langflow-stepflow/tests/unit/test_langflow_type_handlers.py
  src/langflow-stepflow/tests/unit/test_schema_mapper.py
  src/langflow-stepflow/tests/unit/test_stepflow_tweaks.py
  src/langflow-stepflow/tests/unit/test_tool_wrapper_handler.py
  src/langflow-stepflow/tests/unit/test_translator.py
  src/langflow-stepflow/tests/unit/test_type_converter.py
  src/langflow-stepflow/tests/unit/test_udf_executor.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Create Index.html
  Index.html
Due: azure-pipelines.yml

fix: Sanitize database credentials in error messages (#11621)
  src/lfx/src/lfx/services/settings/base.py
  src/lfx/src/lfx/utils/util_strings.py
  src/lfx/tests/unit/utils/test_database_url_sanitization.py
Due: azure-pipelines.yml

fix unit tests
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/custom/component/test_concurrent_tool_invocation.py
Due: azure-pipelines.yml

ci: add lfx paths to CI path filters (#11212)
  .github/changes-filter.yaml
Due: azure-pipelines.yml

fix: Improve message formatting in DeploymentNotConfiguredError
  src/lfx/src/lfx/services/deployment/exceptions.py
Due: azure-pipelines.yml

fix: Change ValueError to TypeError for invalid flow nodes and edges
  src/lfx/src/lfx/services/deployment/schema.py
Due: azure-pipelines.yml

fix: Add noqa comments to suppress ARG002 warnings for unused function arguments
  src/lfx/src/lfx/services/deployment/service.py
Due: azure-pipelines.yml

fix: Update exception raising in tests to improve clarity and suppress linting warnings
  src/lfx/tests/unit/services/deployment/test_deployment_exceptions.py
Due: azure-pipelines.yml

feat: add secret key rotation script and documentation (#10978)
  .gitignore
  SECURITY.md
  scripts/migrate_secret_key.py
  src/backend/tests/unit/scripts/__init__.py
  src/backend/tests/unit/scripts/test_migrate_secret_key.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Change TypeError to ValueError so pydantic recognizes the error
  src/lfx/src/lfx/services/deployment/schema.py
Due: azure-pipelines.yml

fix ruff style and checker
  pyproject.toml
  src/lfx/src/lfx/services/deployment/exceptions.py
  src/lfx/src/lfx/services/deployment/schema.py
  src/lfx/tests/unit/services/deployment/test_deployment_exceptions.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Re-fetch PR for fresh author_association in community label workflow
  .github/workflows/community-label.yml
Due: azure-pipelines.yml

fix: Resolve ruff check failures in lfx deployment service (#11992)
  src/lfx/src/lfx/services/deployment/exceptions.py
  src/lfx/src/lfx/services/deployment/schema.py
  src/lfx/src/lfx/services/deployment/service.py
  src/lfx/tests/unit/services/deployment/test_deployment_exceptions.py
Due: azure-pipelines.yml

feat: add validation for token_usage field in ResultDataResponse
  src/backend/base/langflow/api/v1/schemas.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: enable stream_usage in OpenAI model tests
  src/backend/tests/unit/components/languagemodels/test_openai_model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: upgrade axios to ^1.12.0 to address PVR0686555 vulnerability
  src/frontend/package-lock.json
  src/frontend/package.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs-troubleshoot-mcp-proxy-header-keys
  docs/docs/Agents/mcp-server.mdx
  docs/docs/Support/troubleshooting.mdx
Due: azure-pipelines.yml

fix: update sqlmodel dependency version to 0.0.37
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

component-release-notes
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fix: enhance migration validation tests and add schema verification
  src/backend/tests/unit/alembic/test_existing_migrations.py
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix migration path and some merge conflicts
  src/backend/base/langflow/alembic/versions/7d327cfafab6_add_flow_history_table.py
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: disable dangerous deserialization by default in FAISS component
  src/lfx/src/lfx/components/FAISS/faiss.py
Due: azure-pipelines.yml

fix: update expected tables and refine SQLite diff filtering in migration tests
  src/backend/tests/unit/alembic/test_migration_execution.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

ruff
  src/backend/base/langflow/alembic/versions/7d327cfafab6_add_flow_history_table.py
  src/backend/base/langflow/api/v1/flow_version.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/services/database/models/flow_version/crud.py
  src/backend/base/langflow/services/database/models/flow_version/model.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: Update ButtonSendWrapper to handle building state and improve button functionality
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/button-send-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/input-wrapper.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: add ondelete=CASCADE to TraceBase.flow_id to match migration
  src/backend/base/langflow/services/database/models/traces/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

style: fix line too long in TraceBase.flow_id
  src/backend/base/langflow/services/database/models/traces/model.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
