Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

docs: allow rest tweaks to mcp tools component (#10833)
  docs/docs/Agents/mcp-client.mdx
  docs/docs/Agents/mcp-component-astra.mdx
Due: azure-pipelines.yml

fix: build-lfx from test-cross-platform needs
  .github/workflows/release.yml
Due: azure-pipelines.yml

fix market research test
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: fix Market Research Template test (#11235)
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Use same logic for clearEdges and detect broken edges
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/reactflowUtils.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix market research input found
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test: Improve api key input reliability with retry mechanism (#11237)
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

added doc link support
  src/frontend/src/controllers/API/queries/models/use-get-model-providers.ts
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderList.tsx
  src/frontend/src/modals/modelProviderModal/components/types.ts
  src/lfx/src/lfx/base/models/unified_models.py
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

cherry-pick changes
  .secrets.baseline
  src/backend/base/langflow/api/utils/__init__.py
  src/backend/base/langflow/api/utils/core.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/services/test_storage_parse_file_path.py
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/utils/__tests__/format-file-name.test.ts
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/utils/format-file-name.tsx
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore(release): Bump version to 1.7.2 (#11208)
  pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

change langflow base version
  src/backend/base/pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: publish amd fe/be images
  .github/workflows/docker-build-v2.yml
Due: azure-pipelines.yml

add fallback to tavily api key
  src/frontend/tests/core/integrations/Market Research.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs-peer-review
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/docs/Develop/jwt-authentication.mdx
Due: azure-pipelines.yml

fix jest test message order
  src/frontend/src/modals/IOModal/components/chatView/__tests__/message-ordering-regression.test.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: add context menu functionality to edges and integrate Radix UI context menu components
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/CustomEdges/index.tsx
  src/frontend/src/components/ui/context-menu.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Make chat avatars always visible; cleanup css
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message-logo.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/user-message.tsx
  src/frontend/src/components/core/playgroundComponent/sliding-container/components/flow-page-sliding-container.tsx
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix id
  src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/agents/altk_base_agent.py
  src/lfx/src/lfx/base/agents/events.py
  src/lfx/src/lfx/components/datastax/astradb_assistant_manager.py
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/src/lfx/schema/message.py
Due: azure-pipelines.yml

chore: update package-lock.json after adding context menu for edges
  src/frontend/package-lock.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(mcp-frontend): Improve test reliability and reduce code duplication (#11232)
  src/frontend/src/components/core/parameterRenderComponent/components/mcpComponent/index.tsx
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/extended/features/mcp-server-starter-projects.spec.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/utils/open-add-mcp-server-modal.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor: standardize IBM WatsonX icon references and quote style
  src/lfx/src/lfx/base/models/watsonx_constants.py
Due: azure-pipelines.yml

Apply suggestions from code review
  docs/docs/Components/python-interpreter.mdx
Due: azure-pipelines.yml

docs: pass variable input to python interpreter component (#11217)
  docs/docs/Components/python-interpreter.mdx
Due: azure-pipelines.yml

test: update ComposIO and connect tools tests to ensure correct edge interactions
  src/frontend/tests/extended/regression/generalBugs-shard-11.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: temporalio dep missing for macos-amd64
  .github/workflows/cross-platform-test.yml
Due: azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor: standardize quote style and update LLM section label in ModelSelection
  src/frontend/src/modals/modelProviderModal/__tests__/ModelSelection.test.tsx
  src/frontend/src/modals/modelProviderModal/components/ModelSelection.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Address JSON Patch code review feedback
  .claude/settings.local.json
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/api/v1/test_flows.py
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/frontend/tests/core/features/jsonPatchOptimization.spec.ts
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Add versioned hash to component index
  scripts/build_component_index.py
  src/backend/tests/unit/test_component_index_hash_history.py
  src/lfx/src/lfx/_assets/component_index.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fixes the model provider streching the page
  src/frontend/src/pages/SettingsPage/pages/ModelProvidersPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fixes border not being fully hidden
  src/frontend/src/modals/modelProviderModal/components/ModelProvidersContent.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

chore: pin pydantic-ai version dependent on system
  .github/workflows/cross-platform-test.yml
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: Change CORS headers example to use array syntax
  docs/docs/Develop/api-keys-and-authentication.mdx
Due: azure-pipelines.yml

chore: add ci solution again
  .github/workflows/cross-platform-test.yml
  pyproject.toml
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
