Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

fix(ci): anchor langflow-base version extraction in nightly docker build
  .github/workflows/docker-nightly-build.yml
Due: azure-pipelines.yml

fix(ci): anchor langflow-base version extraction in nightly docker build (1.10.1) (#13593)
  .github/workflows/docker-nightly-build.yml
Due: azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(test): gate models.dev background refresh out of tests
  .secrets.baseline
  src/backend/base/langflow/main.py
  src/backend/tests/conftest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(test): gate models.dev background refresh out of tests (#13596)
  .secrets.baseline
  src/backend/base/langflow/main.py
  src/backend/tests/conftest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(test): gate models.dev background refresh out of tests (main) (#13597)
  .secrets.baseline
  src/backend/base/langflow/main.py
  src/backend/tests/conftest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(test): gate models.dev background refresh out of tests (1.10.1) (#13598)
  .secrets.baseline
  src/backend/base/langflow/main.py
  src/backend/tests/conftest.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): allow pre-releases when pinning the nightly in migration validation
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(ci): allow pre-releases when pinning the nightly in migration validation (#13599)
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(ci): allow pre-releases when pinning the nightly in migration validation (1.11.0) (#13600)
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(ci): allow pre-releases when pinning the nightly in migration validation (1.10.1) (#13601)
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix: limit public flow endpoint from displaying private flow streams
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs(scripts): add Claude Agent SDK subscription example script
  scripts/claude_sdk_subscription.py
Due: azure-pipelines.yml

feat(lothal): add context manager (build_messages) — Story 0.2
  src/backend/base/langflow/lothal/context.py
  src/backend/tests/unit/lothal/__init__.py
  src/backend/tests/unit/lothal/test_context.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lothal): add modular LLM caller with Claude Agent SDK provider (Story 0.1)
  src/backend/base/langflow/lothal/llm/__init__.py
  src/backend/base/langflow/lothal/llm/base.py
  src/backend/base/langflow/lothal/llm/caller.py
  src/backend/base/langflow/lothal/llm/errors.py
  src/backend/base/langflow/lothal/llm/providers/__init__.py
  src/backend/base/langflow/lothal/llm/providers/claude.py
  src/backend/base/langflow/lothal/llm/registry.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/lothal/__init__.py
  src/backend/tests/unit/lothal/test_llm_caller.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): scope nightly migration-test pre-releases to the langflow stack
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(ci): scope nightly migration-test pre-releases to the langflow stack (#13603)
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(ci): scope nightly migration-test pre-releases to the langflow stack (1.11.0) (#13604)
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(ci): scope nightly migration-test pre-releases to the langflow stack (1.10.1) (#13605)
  .github/workflows/db-migration-validation.yml
Due: azure-pipelines.yml

fix(lothal): normalize provider registry keys; mark example script executable
  scripts/claude_sdk_subscription.py
  src/backend/base/langflow/lothal/llm/registry.py
  src/backend/tests/unit/lothal/test_llm_caller.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lothal): add phase router (process_turn) — Story 0.3
  src/backend/base/langflow/lothal/engines/__init__.py
  src/backend/base/langflow/lothal/router.py
  src/backend/tests/unit/lothal/test_router.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

LE-1439
  src/backend/base/langflow/services/background_execution/factory.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/tests/unit/services/background_execution/test_service.py
  src/backend/tests/unit/services/background_execution/test_standalone_slice.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ci): attach GitHub releases to the dispatched v-prefixed tag
  .github/workflows/release-lfx.yml
  .github/workflows/release.yml
Due: azure-pipelines.yml

fix(ci): create GitHub releases on the dispatched v-prefixed tag
  .github/workflows/release-lfx.yml
  .github/workflows/release.yml
Due: azure-pipelines.yml

feat(lothal): public landing page at / (Epic 0.5)
  src/frontend/src/components/authorization/authAdminGuard/index.tsx
  src/frontend/src/components/authorization/authLoginGuard/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/pages/lothal/Landing/__tests__/Landing.test.tsx
  src/frontend/src/pages/lothal/Landing/index.tsx
  src/frontend/src/routes.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: enhance accessibility testing with JSON report aggregation and new tests
  a11y-test-usage.md
  src/frontend/.achecker.yml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/ui/__tests__/checkbox.a11y.test.tsx
  src/frontend/src/setupTests.ts
  src/frontend/src/utils/a11y-test.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/utils/aggregate-a11y-reports.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ci): resolve validate-version output in release-lfx changelog link
  .github/workflows/release-lfx.yml
Due: azure-pipelines.yml

fix(ci): create GitHub releases on the dispatched v-prefixed tag (1.10.1) (#13609)
  .github/workflows/release-lfx.yml
  .github/workflows/release.yml
Due: azure-pipelines.yml
