Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

fix: use session exec in telemetry writer
  src/backend/base/langflow/services/telemetry_writer/service.py
  src/backend/tests/unit/services/telemetry_writer/test_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: use session exec in telemetry writer (#13821)
  src/backend/base/langflow/services/telemetry_writer/service.py
  src/backend/tests/unit/services/telemetry_writer/test_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: remove hardcoded default superuser password
  .secrets.baseline
  docs/docs/API-Reference/python-examples/api-users/reset-password.py
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/versioned_docs/version-1.10.0/API-Reference/python-examples/api-users/reset-password.py
  docs/versioned_docs/version-1.10.0/Develop/api-keys-and-authentication.mdx
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/auth/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/conftest.py
  src/backend/tests/locust/README.md
  src/backend/tests/locust/langflow_setup_test.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/services/auth/test_auth_service.py
  src/backend/tests/unit/test_auth_settings.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_login.py
  src/backend/tests/unit/test_settings_initialization_order.py
  src/backend/tests/unit/test_setup_superuser_flow.py
  src/lfx/src/lfx/services/settings/auth.py
  src/lfx/src/lfx/services/settings/constants.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: avoid py314 crewai starter imports
  src/backend/base/langflow/initial_setup/starter_projects/__init__.py
  src/backend/tests/unit/api/v1/test_starter_projects.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: harden legacy superuser credential handling
  .secrets.baseline
  docs/docs/Develop/api-keys-and-authentication.mdx
  docs/docs/Support/release-notes.mdx
  docs/versioned_docs/version-1.10.0/Develop/api-keys-and-authentication.mdx
  docs/versioned_docs/version-1.10.0/Support/release-notes.mdx
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/auth/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/locust/langflow_setup_test.py
  src/backend/tests/unit/services/auth/test_auth_service.py
  src/backend/tests/unit/test_setup_superuser_flow.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: handle invalid session auth tokens
  .secrets.baseline
  src/backend/base/langflow/api/v1/login.py
  src/backend/tests/unit/test_login.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update superuser CI paths
  .secrets.baseline
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/services/utils.py
  src/frontend/playwright.config.ts
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/shareable-playground-persistence.spec.ts
  src/frontend/tests/core/features/user-flow-state-cleanup.spec.ts
  src/frontend/tests/core/regression/general-bugs-remove-session-after-logout.spec.ts
  src/frontend/tests/utils/add-new-user-and-loggin.ts
  src/frontend/tests/utils/constants/texts.ts
  src/frontend/tests/utils/login-langflow.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: disable mem0 telemetry by default
  .secrets.baseline
  scripts/lint/check_component_env_writes.py
  src/backend/tests/unit/components/bundles/mem0/test_mem0_component.py
  src/lfx/src/lfx/components/mem0/mem0_chat_memory.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: disable mem0 telemetry by default (#13824)
  .secrets.baseline
  scripts/lint/check_component_env_writes.py
  src/backend/tests/unit/components/bundles/mem0/test_mem0_component.py
  src/lfx/src/lfx/components/mem0/mem0_chat_memory.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: restore bundles that are now published
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: torchvision
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

flip torchvision sign
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: restore bundles that are now published (#13825)
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add TwelveLabs Video Search component
  src/backend/tests/unit/components/bundles/twelvelabs/test_twelvelabs_components.py
  src/bundles/lfx-bundles/src/lfx_bundles/twelvelabs/__init__.py
  src/bundles/lfx-bundles/src/lfx_bundles/twelvelabs/video_search.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(cache): improve sweep task management in AsyncInMemoryCache
  src/backend/base/langflow/services/cache/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: initial rbac and sso content
  docs/docs/Develop/authorization.mdx
  docs/docs/Develop/external-authentication.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

test: remove duplicate Playwright e2e coverage (#13819)
  src/frontend/tests/core/features/store-shard-2.spec.ts
  src/frontend/tests/extended/features/minimize.spec.ts
  src/frontend/tests/extended/features/outdated-message.spec.ts
  src/frontend/tests/extended/features/output-modal-copy-button.spec.ts
  src/frontend/tests/extended/regression/general-bugs-minimize-state-error.spec.ts
  src/frontend/tests/extended/regression/general-bugs-move-flow-from-folder.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: add additional packages gated by python 3.14
  docs/versioned_docs/version-1.10.0/Support/release-notes.mdx
Due: azure-pipelines.yml

feat: add accessibility scan reports
  .agents/skills/ibm-a11y-automation/SKILL.md
  scripts/a11y_scan.py
Due: azure-pipelines.yml

docs: add a11y scan route map
  scripts/a11y_scan_routes.md
Due: azure-pipelines.yml

fix(api): keep simple_run_flow returning RunResponse, project v1 at the HTTP boundary
  src/backend/base/langflow/api/v1/endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: add langflow-extra-providers package for OpenAI-compatible providers
  langflow-extra-providers/.gitignore
  langflow-extra-providers/README.md
  langflow-extra-providers/langflow_extra_providers/__init__.py
  langflow-extra-providers/langflow_extra_providers/__main__.py
  langflow-extra-providers/langflow_extra_providers/config.py
  langflow-extra-providers/langflow_extra_providers/hook.py
  langflow-extra-providers/langflow_extra_providers/patch.py
  langflow-extra-providers/pyproject.toml
Due: azure-pipelines.yml

fix(api): echo requested flow identifier in v2 workflow 404 reframes
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_host.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/lfx/src/lfx/workflow/host.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test(a11y): add manifest-backed scans
  .agents/skills/ibm-a11y-automation/SKILL.md
  .github/workflows/a11y-scan.yml
  scripts/a11y/a11y_routes.json
  scripts/a11y/a11y_scan.py
  scripts/a11y/a11y_scan_routes.md
  scripts/a11y_scan_routes.md
  src/frontend/package.json
  src/frontend/tests/a11y/README.md
  src/frontend/tests/a11y/core-pages.a11y.spec.ts
  src/frontend/tests/a11y/static-routes.a11y.spec.ts
  src/frontend/tests/utils/build-a11y-html-report.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): reset factory-registered flag on ServiceManager teardown
  src/lfx/src/lfx/services/manager.py
  src/lfx/tests/unit/services/test_service_manager.py
Due: azure-pipelines.yml

fix(lfx): register VariableService in serve so request-scoped global_vars resolve
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/components/models_and_agents/mcp_component.py
  src/lfx/tests/unit/cli/test_serve_app.py
Due: azure-pipelines.yml

ci(a11y): summarize scans by route
  .github/workflows/a11y-scan.yml
  src/frontend/package.json
  src/frontend/tests/utils/build-a11y-job-summary.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor(lfx): rework lfx serve worker/concurrency flags
  src/lfx/pyproject.toml
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/_serve_help.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/serve_gunicorn.py
  src/lfx/src/lfx/cli/serve_preloaded_app.py
  src/lfx/tests/unit/cli/test_serve.py
  src/lfx/tests/unit/cli/test_serve_env_isolation_integration.py
  src/lfx/tests/unit/cli/test_serve_process_model.py
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: Add accessibility scan reports (#13812)
  .agents/skills/ibm-a11y-automation/SKILL.md
  .github/workflows/a11y-scan.yml
  scripts/a11y/a11y_routes.json
  scripts/a11y/a11y_scan.py
  scripts/a11y/a11y_scan_routes.md
  src/frontend/package.json
  src/frontend/tests/a11y/README.md
  src/frontend/tests/a11y/core-pages.a11y.spec.ts
  src/frontend/tests/a11y/static-routes.a11y.spec.ts
  src/frontend/tests/utils/build-a11y-html-report.mjs
  src/frontend/tests/utils/build-a11y-job-summary.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(test): prefix unused lambda args for ruff ARG005
  src/backend/tests/unit/test_unified_models.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Fix share policy refresh and owner permissions
  src/backend/base/langflow/api/v1/authz_me.py
  src/backend/base/langflow/api/v1/authz_shares.py
  src/backend/base/langflow/services/authorization/__init__.py
  src/backend/base/langflow/services/authorization/guards.py
  src/backend/base/langflow/services/authorization/utils.py
  src/backend/tests/unit/api/v1/test_authz_admin_routes.py
  src/backend/tests/unit/api/v1/test_authz_share_routes.py
  src/lfx/src/lfx/services/authorization/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update Playwright version to 1.60.0 and enhance a11y scan options
  .github/workflows/a11y-scan.yml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/tests/a11y/auth-pages.a11y.spec.ts
  src/frontend/tests/fixtures.ts
  src/frontend/tests/utils/types.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(test): keep fixture args destructured
  src/frontend/tests/fixtures.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(lfx): warn on --timeout with single worker; drop dead limit-concurrency env
  src/lfx/README.md
  src/lfx/src/lfx/cli/_running_commands.py
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/tests/unit/cli/test_serve.py
Due: azure-pipelines.yml

fix: have images default auto_login to false
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/build_and_push_with_extras.Dockerfile
Due: azure-devops/cicd.yaml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
