Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

chore: remove internal ticket references from code (#13073)
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/helpers/test_flow_helpers.py
  src/backend/tests/unit/test_endpoints.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

test: pin OpenSearch backend filter=None drop behavior
  src/backend/tests/unit/base/knowledge_bases/test_opensearch_backend.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(i18n): add missing useTranslation hook to SidebarTrigger component
  src/frontend/src/components/ui/sidebar.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: enhance Redis job queue service with maxlen configuration for xadd
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enhance job ownership retrieval in RedisJobQueueService
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: improve job ownership handling in cleanup_job method
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(knowledge-base): KB UI polish — drawer + row dropdown (#13069)
  src/frontend/src/modals/knowledgeBaseUploadModal/components/IngestionHistoryPanel.tsx
  src/frontend/src/modals/knowledgeBaseUploadModal/components/__tests__/IngestionHistoryPanel.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/__tests__/KnowledgePageDrawerOutsideClick.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/IngestionRunsSection.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/components/__tests__/KnowledgeBaseDrawer.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/__tests__/knowledgeBaseColumns.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: optimize TTL management in RedisJobQueueService
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: improve event handling in flow response management
  src/backend/base/langflow/api/build.py
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enhance RedisQueueWrapper with startup grace period and stream observation
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: implement cleanup for old cross-worker job queues in RedisJobQueueService
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enhance job handling in JobQueueService with guarded task execution
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: improve client disconnection handling in create_flow_response
  src/backend/base/langflow/api/build.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enhance RedisQueueWrapper to manage initial read state and buffer behavior
  src/backend/base/langflow/services/job_queue/service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

add manage files to assistant
  docs/features/langflow-assistant-mcp.md
  src/backend/base/langflow/agentic/api/files_router.py
  src/backend/base/langflow/agentic/api/schemas.py
  src/backend/base/langflow/agentic/flows/LangflowAssistant.json
  src/backend/base/langflow/agentic/flows/__init__.py
  src/backend/base/langflow/agentic/flows/flow_builder_assistant.py
  src/backend/base/langflow/agentic/flows/translation_flow.py
  src/backend/base/langflow/agentic/helpers/sse.py
  src/backend/base/langflow/agentic/services/assistant_service.py
  src/backend/base/langflow/agentic/services/file_events.py
  src/backend/base/langflow/agentic/services/flow_types.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/tests/unit/agentic/api/test_files_endpoint.py
  src/backend/tests/unit/agentic/flows/test_flow_builder_assistant.py
  src/backend/tests/unit/agentic/flows/test_translation_flow_intents.py
  src/backend/tests/unit/agentic/services/test_assistant_service_documents.py
  src/backend/tests/unit/agentic/services/test_file_events.py
  src/frontend/src/components/core/assistantPanel/assistant-panel.types.ts
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-file-card.test.tsx
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-input.test.tsx
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-message.test.tsx
  src/frontend/src/components/core/assistantPanel/components/__tests__/file-content-modal.test.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-file-card.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-input.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-message.tsx
  src/frontend/src/components/core/assistantPanel/components/file-content-modal.tsx
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat-file-events.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/use-assistant-chat.ts
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/agentic/types.ts
  src/frontend/src/controllers/API/queries/agentic/use-post-assist-stream.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

update documentation about file
  docs/features/langflow-assistant-mcp.md
  src/frontend/src/controllers/API/queries/agentic/use-file-content.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

MB enhancement: Added agent pre-processing features to ingestion, can act as an LLM judge to gate ingestion based on system prompt.
  src/backend/base/langflow/alembic/versions/mb01b2c3d4e5_add_preprocessing_output.py
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/memories.py
  src/backend/base/langflow/services/database/models/memory_base/model.py
  src/backend/base/langflow/services/memory_base/document_builders.py
  src/backend/base/langflow/services/memory_base/embedding_helpers.py
  src/backend/base/langflow/services/memory_base/ingestion.py
  src/backend/base/langflow/services/memory_base/preprocessing.py
  src/backend/base/langflow/services/memory_base/service.py
  src/backend/base/langflow/services/memory_base/task.py
  src/backend/tests/unit/test_memory_base_preprocessing.py
  src/backend/tests/unit/test_memory_base_task.py
  src/backend/tests/unit/test_memory_bases.py
  src/frontend/package-lock.json
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update mb01b2c3d4e5_add_preprocessing_output.py
  src/backend/base/langflow/alembic/versions/mb01b2c3d4e5_add_preprocessing_output.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: clarify RedisQueueWrapper behavior in tests for buffer state and no-op operations
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: update dependencies in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Add agent preprocessing to perform compaction/gating for MemoryBases (#12975)
  src/backend/base/langflow/alembic/versions/mb01b2c3d4e5_add_preprocessing_output.py
  src/backend/base/langflow/api/utils/kb_helpers.py
  src/backend/base/langflow/api/v1/memories.py
  src/backend/base/langflow/services/database/models/memory_base/model.py
  src/backend/base/langflow/services/memory_base/document_builders.py
  src/backend/base/langflow/services/memory_base/embedding_helpers.py
  src/backend/base/langflow/services/memory_base/ingestion.py
  src/backend/base/langflow/services/memory_base/preprocessing.py
  src/backend/base/langflow/services/memory_base/service.py
  src/backend/base/langflow/services/memory_base/task.py
  src/backend/tests/unit/test_memory_base_preprocessing.py
  src/backend/tests/unit/test_memory_base_task.py
  src/backend/tests/unit/test_memory_bases.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(job_queue): cross-worker cancel via Redis pub/sub + configurable startup grace
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/job_queue/factory.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/tests/unit/test_redis_job_queue_service.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(job_queue): close three cross-worker cancel corner cases
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

refactor(job_queue): address self-review of cross-worker cancel
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/job_queue/factory.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/tests/unit/test_redis_job_queue_service.py
  src/lfx/src/lfx/services/settings/base.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

chore: apply npm audit fix (lockfile only)
  package-lock.json
Due: azure-pipelines.yml

fix: Lazy loading of policies deps
  src/backend/tests/unit/components/models_and_agents/policies/test_policies_component.py
  src/lfx/src/lfx/components/models_and_agents/policies_component.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version and project name
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: enhance RedisQueueWrapper and job queue handling for improved cancellation and buffer management
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

reasoning thinking v0
  docs/features/langflow-assistant-mcp.md
  src/backend/base/langflow/agentic/flows/flow_builder_assistant.py
  src/backend/base/langflow/agentic/flows/translation_flow.py
  src/backend/tests/unit/agentic/flows/test_flow_builder_assistant.py
  src/backend/tests/unit/agentic/helpers/test_sse.py
  src/frontend/src/components/core/assistantPanel/assistant-panel.tsx
  src/frontend/src/components/core/assistantPanel/assistant-panel.types.ts
  src/frontend/src/components/core/assistantPanel/components/__tests__/assistant-plan-card.test.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-flow-preview.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-message.tsx
  src/frontend/src/components/core/assistantPanel/components/assistant-plan-card.tsx
  src/frontend/src/components/core/assistantPanel/hooks/__tests__/use-assistant-chat.test.ts
  src/frontend/src/components/core/assistantPanel/hooks/use-assistant-chat.ts
  src/frontend/src/controllers/API/queries/agentic/__tests__/use-post-assist-stream.test.ts
  src/frontend/src/controllers/API/queries/agentic/types.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/lfx/src/lfx/graph/flow_builder/component.py
  src/lfx/tests/unit/test_flow_builder_tools.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

flow builder improvement
  src/lfx/src/lfx/mcp/flow_builder_tools.py
Due: azure-pipelines.yml

Auto-create write parents and reject unsafe glob patterns
  src/lfx/src/lfx/components/tools/filesystem.py
  src/lfx/tests/unit/components/tools/test_filesystem.py
Due: azure-pipelines.yml

fix(ui): inject hidden DialogTitle in dialog-with-no-close for a11y
  src/frontend/src/components/ui/dialog-with-no-close.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

perf(flow): avoid PageComponent re-renders on helper-line mousemove
  src/frontend/src/pages/FlowPage/components/PageComponent/components/helper-lines.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/helperLinesStore.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

test(e2e): re-add Vector Store RAG integration tests for KnowledgeBase template
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/vector-store-conections.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat: regression bucket (#12948)
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/workflows/regression-stub.yml
  RELEASE.md
  regressions/1.10.x.yaml
  regressions/1.9.x.yaml
  regressions/README.md
Due: azure-pipelines.yml

feat(job_queue): propagate client disconnect via signal_cancel for cross-worker builds
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/tests/unit/test_redis_job_queue_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml
