Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

.azure-pipelines/backend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Backend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/backend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

.azure-pipelines/frontend-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build Frontend Image
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - template: templates/frontend-build-template.yml
      parameters:
        CONTAINER_NAME: $(IMAGE_NAME)
        DOCKERFILE_PATH: $(DOCKERFILE_PATH)
  ...

azure-devops/cicd.yaml:
  stages:
  - stage: Test
    displayName: Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/test-template.yml
  - stage: BuildBackend
    displayName: Build Backend Image
  ...

azure-devops/frontend-cicd.yaml:
  stages:
  - stage: Test
    displayName: Frontend Test and Validate
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/frontend-test-template.yml
  - stage: Build
    displayName: Build Frontend Image
  ...

azure-devops/pipelines/azure-pipelines-backend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Backend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunBackendTests
      displayName: Run Backend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
  ...

azure-devops/pipelines/azure-pipelines-frontend.yml:
  stages:
  - stage: Test
    displayName: Test and Validate Frontend
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: RunFrontendTests
      displayName: Run Frontend Tests and Linting
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: __default
    jobs:
    - job: Job
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: CmdLine@2
        displayName: Clone GitHub and Push to Azure DevOps
        inputs:
          script: 'echo "Cloning GitHub repo..."
  
  ...

docs: add back nextplaid bundle to release notes
  docs/docs/Support/release-notes.mdx
Due: azure-pipelines.yml

fix: share release candidate version selection
  .github/workflows/docker-build-v2.yml
  .github/workflows/release.yml
  .secrets.baseline
  scripts/ci/langflow_pre_release_tag.py
  scripts/ci/test_langflow_pre_release_tag.py
Due: azure-pipelines.yml

a11y: fix WCAG AA contrast and icon accessibility violations
  src/frontend/src/components/core/codeTabsComponent/index.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/style/index.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

a11y: refactor Trace panel into focused hooks with ARIA tree and WCAG fixes
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanNode.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/SpanTree.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/SpanNode.test.tsx
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/useSpanTree.test.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/spanNode.constants.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/types.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNode.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeActions.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanNodeData.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/useSpanTree.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: review comments addressed
  .github/workflows/docker-build-v2.yml
  .github/workflows/release.yml
  scripts/ci/test_langflow_pre_release_tag.py
Due: azure-pipelines.yml

fix: release candidate version selection (#13776)
  .github/workflows/docker-build-v2.yml
  .github/workflows/release.yml
  .secrets.baseline
  scripts/ci/langflow_pre_release_tag.py
  scripts/ci/test_langflow_pre_release_tag.py
Due: azure-pipelines.yml

fix(a11y): add accessible names and hide decorative icons in LangflowCounts (#13731)
  src/frontend/src/components/core/appHeaderComponent/components/__tests__/langflow-counts.a11y.test.tsx
  src/frontend/src/components/core/appHeaderComponent/components/langflow-counts.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

improve the lint of the testcase
  src/frontend/src/components/common/paginatorComponent/__tests__/PaginatorComponent.test.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/__tests__/add-folder-button.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: ensure VITE_BASENAME base path always ends with / and strip trailing slash before API URL construction
  src/frontend/src/customization/config-constants.ts
  src/frontend/vite.config.mts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: harden get_messages — whitelist order_by and fix limit=0 bypass
  src/backend/base/langflow/api/v1/monitor.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update version for nightly
  pyproject.toml
  src/backend/base/pyproject.toml
  src/lfx/pyproject.toml
  src/sdk/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Added in-memory service for bare LFX and service registry for memory service switch based on evnironment.
  src/backend/base/langflow/services/memory/__init__.py
  src/backend/base/langflow/services/memory/factory.py
  src/backend/base/langflow/services/memory/service.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/services/test_memory_service_dispatch.py
  src/lfx/src/lfx/memory/__init__.py
  src/lfx/src/lfx/services/deps.py
  src/lfx/src/lfx/services/initialize.py
  src/lfx/src/lfx/services/memory/__init__.py
  src/lfx/src/lfx/services/memory/base.py
  src/lfx/src/lfx/services/memory/factory.py
  src/lfx/src/lfx/services/memory/service.py
  src/lfx/src/lfx/services/schema.py
  src/lfx/tests/unit/memory/test_memory.py
  src/lfx/tests/unit/memory/test_memory_dispatch.py
  src/lfx/tests/unit/services/test_memory_service.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

gh suggestions
  src/backend/base/langflow/alembic/versions/c7412b389256_hitl_suspended_status_and_pause_resume_.py
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/background_execution/runner.py
  src/backend/base/langflow/services/background_execution/service.py
  src/backend/base/langflow/services/jobs/service.py
  src/backend/tests/unit/api/test_build_pause_seam.py
  src/backend/tests/unit/services/background_execution/test_runner.py
  src/lfx/src/lfx/graph/checkpoint/builder.py
  src/lfx/src/lfx/graph/checkpoint/resume.py
  src/lfx/src/lfx/graph/checkpoint/schema.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/tests/unit/graph/checkpoint/test_graph_pause.py
  src/lfx/tests/unit/graph/checkpoint/test_resume.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

gh suggestions fixes
  src/backend/base/langflow/alembic/versions/a1f4c9d27b30_add_job_checkpoints_table.py
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/checkpoint/store.py
  src/backend/base/langflow/services/database/models/jobs/model.py
  src/backend/tests/unit/api/test_resume_rerun_predecessors.py
  src/backend/tests/unit/services/background_execution/test_service.py
  src/frontend/src/controllers/API/agui/run-flow-bridge.ts
  src/lfx/src/lfx/graph/checkpoint/resume.py
  src/lfx/src/lfx/graph/graph/base.py
  src/lfx/tests/unit/graph/checkpoint/test_resume.py
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: HITL badge persistence and resume sync
  src/backend/base/langflow/services/jobs/service.py
  src/frontend/src/components/core/chatComponents/HumanInputCard.tsx
  src/frontend/src/controllers/API/agui/__tests__/human-input-card.test.ts
  src/frontend/src/controllers/API/agui/__tests__/use-restore-canvas-hitl.test.ts
  src/frontend/src/controllers/API/agui/human-input-card.ts
  src/frontend/src/controllers/API/agui/run-flow-bridge.ts
  src/frontend/src/controllers/API/agui/use-restore-canvas-hitl.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: suppress build toast on HITL resume
  src/frontend/src/components/core/chatComponents/HumanInputCard.tsx
  src/frontend/src/components/core/chatComponents/__tests__/HumanInputCard.test.tsx
  src/frontend/src/controllers/API/agui/run-flow-bridge.ts
  src/frontend/src/pages/FlowPage/components/TraceComponent/TraceHitlBar.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

docs: move mcp and compatibility, add prewarm
  docs/docs/Lfx/lfx-compatibility.mdx
  docs/docs/Lfx/lfx-mcp.mdx
  docs/docs/Lfx/lfx-overview.mdx
  docs/docs/Lfx/lfx-prewarm.mdx
  docs/sidebars.js
Due: azure-pipelines.yml

docs: fix relative link
  docs/docs/Lfx/lfx-overview.mdx
Due: azure-pipelines.yml

refactor(lfx): extract v2 workflow contract layer into lfx.workflow
  src/backend/base/langflow/api/v2/workflow.py
  src/backend/base/langflow/api/v2/workflow_background.py
  src/backend/base/langflow/api/v2/workflow_execution.py
  src/backend/base/langflow/api/v2/workflow_public.py
  src/backend/base/langflow/api/v2/workflow_reconstruction.py
  src/backend/base/langflow/api/v2/workflow_validation.py
  src/backend/tests/unit/api/v2/test_output_event_parity.py
  src/backend/tests/unit/api/v2/test_workflow_agui.py
  src/lfx/src/lfx/workflow/__init__.py
  src/lfx/src/lfx/workflow/adapters/__init__.py
  src/lfx/src/lfx/workflow/adapters/agui.py
  src/lfx/src/lfx/workflow/adapters/langflow.py
  src/lfx/src/lfx/workflow/agui_translator.py
  src/lfx/src/lfx/workflow/converters.py
  src/lfx/tests/unit/workflow/__init__.py
  src/lfx/tests/unit/workflow/adapters/__init__.py
  src/lfx/tests/unit/workflow/adapters/test_agui_adapter.py
  src/lfx/tests/unit/workflow/adapters/test_langflow_adapter.py
  src/lfx/tests/unit/workflow/adapters/test_registry.py
  src/lfx/tests/unit/workflow/test_agui_translator.py
  src/lfx/tests/unit/workflow/test_converters.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: resolve biome errors on HITL-touched frontend files
  src/frontend/src/CustomNodes/GenericNode/components/HumanInputNodeBadge/__tests__/index.test.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/core/chatComponents/__tests__/HumanInputCard.test.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/types/zustand/flow/index.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: deepcopy output fallback and settings field count
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/custom/custom_component/component.py
  src/lfx/tests/unit/services/settings/test_settings_composition.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: deepcopy output fallback and settings field count
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Structured Data Analysis Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(lfx serve): v2 workflow endpoints (sync + stream) on lfx serve
  .secrets.baseline
  src/lfx/src/lfx/cli/common.py
  src/lfx/src/lfx/cli/serve_app.py
  src/lfx/src/lfx/cli/serve_workflow.py
  src/lfx/tests/unit/cli/test_serve_workflow.py
Due: azure-pipelines.yml

fix: degrade gracefully when caching unpicklable values in RedisCache
  src/backend/base/langflow/services/cache/service.py
  src/backend/tests/unit/services/cache/test_redis_cache.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: evict stale Redis entry when skipping an unserializable cache write
  src/backend/base/langflow/services/cache/service.py
  src/backend/tests/unit/services/cache/test_redis_cache.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs: clarify bundle differences
  docs/docs/Components/components-bundles.mdx
Due: azure-pipelines.yml

test: mock check_and_handle_pause in build cancel test
  .agents/skills/frontend-testing/SKILL.md
  .agents/skills/frontend-testing/references/mocking.md
  src/backend/tests/unit/test_redis_job_queue_service.py
  src/frontend/jest.setup.js
  src/frontend/tests/extended/features/edit-tools.spec.ts
Due: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(security): block socket/urllib network egress in component code scanner
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(bundles): relocate notdiamond + vlmrun into lfx-bundles
  src/backend/base/langflow/locales/en.json
  src/bundles/lfx-bundles/pyproject.toml
  src/bundles/lfx-bundles/src/lfx_bundles/notdiamond/__init__.py
  src/bundles/lfx-bundles/src/lfx_bundles/notdiamond/notdiamond.py
  src/bundles/lfx-bundles/src/lfx_bundles/vlmrun/__init__.py
  src/bundles/lfx-bundles/src/lfx_bundles/vlmrun/vlmrun_transcription.py
  src/lfx/src/lfx/components/__init__.py
  src/lfx/src/lfx/components/notdiamond/__init__.py
  src/lfx/src/lfx/components/vlmrun/__init__.py
  src/lfx/src/lfx/extension/migration/migration_table.json
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

docs(lfx): correct dependency-preflight scope to lfx run only
  src/lfx/src/lfx/utils/flow_requirements.py
Due: azure-pipelines.yml

fix: gate litellm off Python 3.14 so pip install langflow resolves
  src/backend/base/pyproject.toml
  uv.lock
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): resolve import-alias and wildcard-import scanner bypasses
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(security): flag dotted submodule access (urllib.request/http.client)
  src/backend/base/langflow/agentic/helpers/code_security.py
  src/backend/tests/unit/agentic/helpers/test_code_security.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat: Serve Langflow at a custom subpath using LANGFLOW_ROOT_PATH
  src/frontend/src/customization/config-constants.ts
  src/frontend/vite.config.mts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml
