Repository langflow-ai/langflow: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-cicd.yaml, .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/backend-cicd.yaml: any of: src/backend, docker/backend, pyproject.toml, uv.lock, .azure-pipelines/backend-cicd.yaml, .azure-pipelines/templates/*backend*, .azure-pipelines/templates/release-template.yml
  .azure-pipelines/frontend-cicd.yaml: any of: src/frontend, docker/frontend, .azure-pipelines/frontend-cicd.yaml, .azure-pipelines/templates/*frontend*, .azure-pipelines/templates/release-template.yml
  azure-devops/cicd.yaml: any of: src/backend, src/frontend, docker, pyproject.toml, uv.lock, azure-devops
  azure-devops/frontend-cicd.yaml: any of: src/frontend, docker/frontend, azure-devops/frontend-cicd.yaml, azure-devops/templates/*frontend*, azure-devops/templates/release-template.yml, azure-devops/templates/security-template.yml
  azure-devops/pipelines/azure-pipelines-backend.yml: any of: src/backend, pyproject.toml, uv.lock, docker/backend, azure-devops/pipelines/azure-pipelines-backend.yml
  azure-devops/pipelines/azure-pipelines-frontend.yml: any of: src/frontend, docker/frontend, azure-devops/pipelines/azure-pipelines-frontend.yml
  azure-pipelines.yml: any file but: azure-pipelines.yml

logging fix
  src/lfx/src/lfx/components/models_and_agents/semantic_tools_filter.py
Due: azure-pipelines.yml

remove auto focus and tooltip from dialogs
  src/frontend/src/components/ui/__tests__/dialog.test.tsx
  src/frontend/src/components/ui/badge.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/components/ui/select.tsx
  src/frontend/src/modals/IOModal/components/chat-view-wrapper.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Fix test: update dependency checks to use indices instead of tool names
  src/backend/tests/unit/components/models_and_agents/test_semantic_tools_filter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

change toggle to eye icon on controls
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAdvancedToggleCellRender/VisibilityToggleButton.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAdvancedToggleCellRender/__tests__/VisibilityToggleButton.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAdvancedToggleCellRender/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: Custom Component Generator Template contains broken URLs returning 404 errors (#11866)
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/lfx/tests/data/starter_projects_1_6_0/Custom Component Generator.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

feat(ui): Replace Show column toggle with eye icon in advanced dialog (#12028)
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAdvancedToggleCellRender/VisibilityToggleButton.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAdvancedToggleCellRender/__tests__/VisibilityToggleButton.test.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAdvancedToggleCellRender/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix(ui): Prevent auto-focus and tooltip on dialog close button (#12027)
  src/frontend/src/components/ui/__tests__/dialog.test.tsx
  src/frontend/src/components/ui/badge.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/components/ui/select.tsx
  src/frontend/src/modals/IOModal/components/chat-view-wrapper.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/sourceChunksPage/SourceChunksPage.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix testcase
  src/frontend/src/pages/FlowPage/components/TraceComponent/__tests__/TraceDetailView.test.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

fix: reset button (#12024)
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/EditShortcutButton/helpers.ts
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/EditShortcutButton/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/__tests__/EditShortcutButton.helpers.test.ts
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/__tests__/EditShortcutButton.test.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(frontend): added new test for file upload
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/tests/core/regression/general-bugs-invalid-json-upload.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

feat(frontend): added new test for file upload
  src/frontend/src/pages/MainPage/hooks/use-on-file-drop.ts
  src/frontend/tests/core/regression/general-bugs-invalid-json-upload.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Revert to main for other files
  src/backend/base/langflow/alembic/versions/59a272d6669a_ensure_trace_flow_id_cascade.py
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/services/database/models/traces/model.py
  src/backend/base/langflow/services/tracing/formatting.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

More reversions
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-header/components/session-selector.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/button-send-wrapper.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-input/components/input-wrapper.tsx
  src/lfx/src/lfx/_assets/stable_hash_history.json
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

style: convert double quotes to single quotes in addMcpServerModal component
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/baseModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

refactor langflow deployment adapters
  src/backend/base/langflow/api/v1/deployment.py
  src/backend/base/langflow/services/adapters/__init__.py
  src/backend/base/langflow/services/adapters/deployment/__init__.py
  src/backend/base/langflow/services/adapters/deployment/context.py
  src/backend/base/langflow/services/adapters/deployment/watsonx_orchestrate.py
  src/backend/base/langflow/services/deployment/__init__.py
  src/backend/base/langflow/services/deployment/base.py
  src/backend/base/langflow/services/deployment/exceptions.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/services/deployment/test_watsonx_orchestrate.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix(ui): add error handling for invalid JSON uploads via upload button (#11985)
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-on-file-drop.ts
  src/frontend/tests/core/regression/general-bugs-invalid-json-upload.spec.ts
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

style: format Loop component description to comply with line length limits
  .secrets.baseline
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/lfx/src/lfx/components/flow_controls/loop.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: MCP Server Modal Improvements (#12017)
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/baseModal/index.tsx
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update starter templates
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

Update unified_models.py
  src/lfx/src/lfx/base/models/unified_models.py
Due: azure-pipelines.yml

remove deployment router service
  src/lfx/src/lfx/services/deployment_router/__init__.py
  src/lfx/src/lfx/services/deployment_router/base.py
  src/lfx/src/lfx/services/deployment_router/context.py
  src/lfx/src/lfx/services/deployment_router/exceptions.py
  src/lfx/src/lfx/services/deployment_router/registry.py
  src/lfx/src/lfx/services/deployment_router/service.py
Due: azure-pipelines.yml

refactor(ui): Replace raw Tailwind color classes with project design tokens
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/ListItem.tsx
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/__tests__/color-picker-buttons.test.tsx
  src/frontend/src/CustomNodes/NoteNode/components/color-picker-buttons.tsx
  src/frontend/src/CustomNodes/NoteNode/components/select-items.tsx
  src/frontend/src/components/common/animatedNumbers/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/border-trail.tsx
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/add-folder-button.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/upload-folder-button.tsx
  src/frontend/src/components/core/jsonEditor/index.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/__tests__/chat-message.test.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/bot-message.tsx
  src/frontend/src/components/core/playgroundComponent/chat-view/chat-messages/components/thinking-message.tsx
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/session-selector.tsx
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/modals/fileManagerModal/components/dragFilesComponent/index.tsx
  src/frontend/src/modals/modelProviderModal/components/ProviderConfigurationForm.tsx
  src/frontend/src/modals/saveChangesModal/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateGetStartedCardComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/SelectionMenuComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/toolbarSelectItem/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpAutoInstallContent.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/__tests__/knowledgeBaseColumns.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/statusConfig.ts
  src/frontend/src/style/applies.css
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml

Update ingestion.py
  src/lfx/src/lfx/components/files_and_knowledge/ingestion.py
Due: azure-pipelines.yml

fix: improve test quality for SemanticToolsFilterComponent
  src/backend/tests/unit/components/models_and_agents/test_semantic_tools_filter.py
Due: .azure-pipelines/backend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/pipelines/azure-pipelines-backend.yml, azure-pipelines.yml

fix: knowledge Base Table — Row Icon Appears Clipped/Cut for Some Entries (#12009)
  src/frontend/src/pages/MainPage/pages/knowledgePage/config/knowledgeBaseColumns.tsx
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
Due: .azure-pipelines/frontend-cicd.yaml, azure-devops/cicd.yaml, azure-devops/frontend-cicd.yaml, azure-devops/pipelines/azure-pipelines-frontend.yml, azure-pipelines.yml
